<style>
  .dualmultiselect label {
    margin: 10px;
  }

  .dualmultiselect .btn {
    margin: 10px;
  }

  .dualmultiselect .pool {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 250px;
    overflow-y: scroll;
  }

  .dualmultiselect .pool ul {
    list-style: none;
    padding-left: 0px;
  }

  .dualmultiselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
  }

  .dualmultiselect .pool ul li a:hover {
    text-decoration: none;
  }

  .confirm {
    background-color: #f5efef;
    margin-top: 30px;
    padding: 20px;
  }

  .filterrow {
    margin: 10px;
  }

</style>





<div class="row" ng-show="$ctrl.muestrafiltrotrabajos">
    <div class="col-md-6">
        <label>Selecciona tipo de servicio</label>
        <select class="form-control" ng-model="$ctrl.tipserTrabajo" ng-change="$ctrl.getTrabajos($ctrl.tipserTrabajo.Clv_TipSerPrincipal, $ctrl.tipoOrden.tipo)" 	ng-options="v.Concepto for v in $ctrl.Tiposervicios track by v.Clv_TipSerPrincipal" >
          <option value="">Selecciona</option>
        </select>
    </div>
    <div class="col-md-6">
        <label>Selecciona tipo de servicio</label>
        <select class="form-control" ng-model="$ctrl.tipoOrden"  ng-change="$ctrl.getTrabajos($ctrl.tipserTrabajo.Clv_TipSerPrincipal, $ctrl.tipoOrden.tipo)"	ng-options="v.nombre for v in $ctrl.tipoOrdenList track by v.tipo" >
          <option value="">Selecciona</option>
        </select>
        
    </div>
</div> 


<!--tabla de filtros-->

<div class="dualmultiselect row" ng-show="!$ctrl.muestraservicios && !muestrafiltrotrabajos">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <input class="form-control" placeholder="{{$ctrl.options.filterPlaceHolder}}" ng-model="searchTerm">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
     <button class="btn btn-default btn-sm" id="reset" ng-click="$ctrl.reset()" ><i class="fa fa-refresh"  aria-hidden="true"></i> Volver a elegir</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <label>{{$ctrl.options.labelAll}}</label><br>
      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.transfer($ctrl.options.items, $ctrl.options.selectedItems, -1)">Seleccionar Todo </button>
      <div class="pool">
        <ul>
          <li ng-click=" $ctrl.transfer($ctrl.options.items, $ctrl.options.selectedItems, $ctrl.options.items.indexOf(item))" ng-repeat="item in $ctrl.options.items | filter: searchTerm | orderBy: $ctrl.options.orderProperty">
            <a href="">{{item[$ctrl.options.labelShow]}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <label>{{$ctrl.options.labelSelected}}</label><br>
      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.transfer($ctrl.options.selectedItems, $ctrl.options.items, -1)">
      Deseleccionar Todo </button>
      <div class="pool">
        <ul>
          <li ng-click=" $ctrl.transfer($ctrl.options.selectedItems, $ctrl.options.items, $ctrl.options.selectedItems.indexOf(item))"
            ng-repeat="item in $ctrl.options.selectedItems | orderBy: $ctrl.options.orderProperty">
            <a href="">{{item[$ctrl.options.labelShow]}}</a>
          </li>
        </ul>
      </div>
      <button type="button" ng-disabled="$ctrl.options.selectedItems.length == 0" ng-click="$ctrl.next($ctrl.report)" ty class="btn btn-primary ">Siguiente</button>
    </div>
  </div>
</div>

<div class="row" ng-show="$ctrl.muestraservicios">

  <div class="col-md-12">
    <label>Selecciona tipo de servicios</label>
    <select class="form-control" ng-model="$ctrl.servicioPerm" ng-options="v.Concepto for v in $ctrl.Tiposervicios track by v.Clv_TipSerPrincipal">
      <option value="">Selecciona</option>
    </select>
  </div>

  <div class="col-md-12">
    <button class="btn btn-warning" ng-click="$ctrl.next($ctrl.report)">Aceptar</button>
  </div>
</div>
</div>
