<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Cajas</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a> > <a href="#" class="paginaActiva"> Catálogos > Generales Empresa</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm"  permission permission-only="'cajasAdd'" ui-sref="home.catalogos.nuevacaja" title="Crear nuevo registro"><i class="fa fa-plus"></i> NUEVO</button>
    </div>
  </div>
  <div class="card-body">
    <div class="card" style="padding: 10px;">
      <div class="col-md-12">
        <div class="col-md-12">
          <header><b><i class="fa fa-search"></i> Buscar Caja:</b></header>
        </div>
      </div>
      <div class="col-md-12">
        <br>
      </div>
      <div class="col-md-12">
        <div class="col-md-1">
          <label><b>Region:</b></label>
        </div>
        <div class="col-md-3">
          <select name="SltPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-change="$ctrl.buscar(3)" ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania">
            <option value="">Selecciona Región</option>
          </select>
        </div>
        <div class="col-md-offset-1 col-md-3">
          <div class="input-group">
            <input type="number" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave">
            <div class="input-group-btn">
              <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(0);" title="Buscar por clave "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
          <div class="input-group">
            <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.Caja" placeholder="Nombre de caja">
            <div class="input-group-btn">
              <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(1);" title="Buscar por nombre "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="15%"><b>Clave</b></th>
                <th width="40%"><b>Descripcion</b></th>
                <th width="20%"><b>IP</b></th>
                <th width="25%" colspan="3"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.cajas|itemsPerPage:7">
                <td>{{ X.Clave}}</td>
                <td>{{ X.Descripcion }}</td>
                <td>{{ X.IpMaquina }}</td>
                <td>
                  <td><button type="button" class="btn btn-primary btn-xs" ui-sref="home.catalogos.detalle({ id: X.Clave })" title="Consultar caja"><i class="fa fa-eye"></i> CONSULTA</button></td>
                  <td><button type="button" class="btn btn-warning btn-xs" ui-sref="home.catalogos.editarcaja({ id: X.Clave })"  title="Editar caja "><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                  <td><!--<button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenDeleteCaja(X)" title="Elimina caja "><i class="fa fa-trash"></i> ELIMINAR</button>--></td>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" >
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>