<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Calles</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Calles</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenAddCalle()" permission permission-only="'callesAdd'" title="Crear una Calle Nueva"><i class="fa fa-plus"></i> NUEVA CALLE</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchCalle" class="form-control input-sm" ng-model="$ctrl.SearchCalle" placeholder="Buscar Calle">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="70%"><b>Nombre de la Calle</b></th>
                            <th width="20%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.CalleList|filter:$ctrl.SearchCalle|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_Calle }}</td>
                            <td>{{ X.NOMBRE }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewCalle(X.Clv_Calle)" title="Consultar Calle"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'callesUpdate'" ng-click="$ctrl.OpenUpdateCalle(X.Clv_Calle)" title="Editar Calle"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.CalleList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>