<div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
          <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Clasificación de problemas </strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogos</a>
            </small>
          </header>
          <div class="tools">
            <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenAdd(1,{})" title="Nueva clasificación"><i class="fa fa-plus"></i> Nueva clasificación</button>
          </div>
        </div>
        <div class="card-body">
                <div class="col-md-12">
                        <div class="col-md-3" style="text-align:right">
                            <div class="input-group">
                                <input type="text" name="InpSearchBanco" class="form-control input-sm" ng-model="$ctrl.Search" placeholder="Buscar clasificación">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-2" style="text-align:right">
                        </div>
                    </div>
          <div class="row">            
            <br>
           
            <div class="col-md-12">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th><b>Clave</b></th>
                      <th><b>Descripción</b></th>
                      <th  colspan="2"><b>Acciones</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr dir-paginate="X in $ctrl.lista|filter:$ctrl.Search|itemsPerPage:7">
                      <td>{{ X.clvProblema}}</td>
                      <td>{{ X.descripcion }}</td>                     
                      <td><button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.OpenAdd(2,X)" title="Editar Motivo"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>                     
                    </tr>
                  </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
                  <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
                  </dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>