<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Clientes</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Clientes</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'clientesAdd'" ui-sref="home.catalogos.cliente_nuevo" title="Crear un cliente nuevo"><i class="fa fa-plus"></i> nuevo cliente</button>
			</div>
		</div>
    </div>
    <div class="card-body">
        <div class="panel-group" id="accordion3">
			<div class="card panel">
                <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
					<header><i class="fa fa-search"></i> Buscar Cliente</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
                <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading><i class="md md-content-paste"></i> Contrato</uib-tab-heading>
                                <br>
                                <form name="FormSearchContrato" angular-validator-submit="$ctrl.GetClienteList(1)" novalidate angular-validator autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <b>Ingrese el número de contrato:</b>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <input type="text" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Contrato" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty"
                                                        required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un contrato.'" placeholder="#">
                                            </div>
                                            <div class="col-md-2" style="text-align:center">
                                                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12 note">
                                                <small>El número de contrato está formado por 2 grupos de números con un guion intermedio p.e. (1234-1)</small>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading><i class="fa fa-user"></i> Nombre</uib-tab-heading>
                                <br>
                                <form name="FormSearchNombre" angular-validator-submit="$ctrl.GetClienteList(2)" novalidate angular-validator autocomplete="off">
                                    <div class="row">                                            
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <b>Nombre: </b>
                                                <input type="text" name="InpNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" validate-on="dirty"
                                                        required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un nombre.'" placeholder="Nombre del cliente">
                                            </div>
                                            <div class="col-md-2"> 
                                                <b>Segundo Nombre: </b>
                                                <input type="text" name="InpSegundoN" class="form-control input-sm" ng-model="$ctrl.SegundoN" validate-on="dirty"
                                                        required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un nombre.'" placeholder="Segundo nombre"> 
                                            </div> 
                                            <div class="col-md-2"> 
                                                <b>Apellido Paterno: </b>  
                                                <input type="text" name="InpApellidoP" class="form-control input-sm" ng-model="$ctrl.ApellidoP" validate-on="dirty"
                                                       required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un nombre.'" placeholder="A. paterno"> 
                                            </div> 
                                            <div class="col-md-2"> 
                                                <b>Apellido Materno:</b>
                                                <input type="text" name="InpApellidoM" class="form-control input-sm" ng-model="$ctrl.ApellidoM" validate-on="dirty"
                                                       required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un nombre.'" placeholder="A. materno"> 
                                            </div>
                                            <div class="col-md-4">
                                                <br>
                                                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                            </div>
                                        </div> 
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading><i class="fa fa-home"></i> Ubicación</uib-tab-heading>
                                <br>
                                <form name="FormSearchDireccion" angular-validator-submit="$ctrl.GetClienteList(3)" novalidate angular-validator autocomplete="off">
                                    <div class="row">                                        
                                        <form name="FormSearchPlaza" angular-validator-submit="$ctrl.GetClienteList(0)" novalidate angular-validator autocomplete="off">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <b>Region:</b>
                                                        <select type="text" name="SltPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" validate-on="dirty" required required-message="'Obligatorio'" ng-change="$ctrl.GetEstadoList()">
                                                            <option value="">Selecciona region</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>Estado:</b>
                                                        <select name="SltEstado" class="form-control input-sm" ng-model="$ctrl.Estado" ng-options="E.Nombre for E in $ctrl.EstadoList track by E.Clv_Estado" ng-change="$ctrl.GetCiudadMunicipio()" validate-on="dirty" invalid-message="'Obligatorio'">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>Ciudad:</b>
                                                        <select name="CiuMun" class="form-control input-sm" ng-model="$ctrl.CiuMun" ng-options="CM.Nombre for CM in $ctrl.CiudadMunicipioList track by CM.Clv_Ciudad" ng-change="$ctrl.GetLocalidad()" validate-on="dirty" validator="($ctrl.Estado.Clv_Estado == 0) || ($ctrl.Estado.Clv_Estado > 0 && ($ctrl.CiuMun != undefined || $ctrl.CiuMun != null))" invalid-message="'Obligatorio'">
                                                            <option value="">Selecciona cuidad</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>Localidad:</b>
                                                        <select name="SltLocalida" class="form-control input-sm" ng-model="$ctrl.Localidad" ng-options="L.NOMBRE for L in $ctrl.LocalidadList track by L.Clv_Localidad" ng-change="$ctrl.GetColonia()" validate-on="dirty" validator="($ctrl.Estado.Clv_Estado == 0) || ($ctrl.Estado.Clv_Estado > 0 && ($ctrl.Localidad != undefined || $ctrl.Localidad != null))" invalid-message="'Obligatorio'">
                                                            <option value="">Selecciona localidad</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>       
                                    <div class="row">
                                            <div class="col-md-3">
                                                <b>Colonia:</b>
                                                <select name="SltColonia" class="form-control input-sm" ng-model="$ctrl.Colonia" ng-options="C.Nombre for C in $ctrl.ColoniaList track by C.CLV_COLONIA" ng-change="$ctrl.GetCalle()" validate-on="dirty" validator="($ctrl.Estado.Clv_Estado == 0) || ($ctrl.Estado.Clv_Estado > 0 && ($ctrl.Colonia != undefined || $ctrl.Colonia != null))" invalid-message="'Obligatorio'">
                                                    <option value="">Selecciona colonia</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Calle:</b>
                                                <select name="SltCalle" class="form-control input-sm" ng-model="$ctrl.Calle" ng-options="C.Nombre for C in $ctrl.CalleList track by C.Clv_Calle" validate-on="dirty" validator="($ctrl.Estado.Clv_Estado == 0) || ($ctrl.Estado.Clv_Estado > 0 && ($ctrl.Calle != undefined || $ctrl.Calle != null))" invalid-message="'Obligatorio'">
                                                    <option value="">Selecciona calle</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Número:</b>    
                                                <input name="InpNumero" type="text" class="form-control input-sm" ng-model="$ctrl.Numero" maxlength="10" placeholder="#">
                                            </div>
                                            <br>
                                            <div class="col-md-3" style="text-align:center">
                                                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                            </div>
                                    </div>
                                 </form>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
			</div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><b><small>Contrato</small></b></th>
                        <th><b><small>Nombre completo</small></b></th>
                        <th><b><small>Domicilio</small></b></th>
                        <th><b><small>Colonia</small></b></th>
                        <th><b><small>Ciudad</small></b></th>
                        <th><b><small>Teléfono</small></b></th>
                        <th><b><small>¿Internet?</small></b></th>
                        <th colspan="2"><b><small>Acciones</small></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="$ctrl.SinRegistros">
                        <td class="text-center" colspan="10">SIN REGISTROS</td>
                    </tr>
                    <tr dir-paginate="X in $ctrl.ClienteList|itemsPerPage:5" ng-show="$ctrl.ConRegistros">
                        <td><small>{{ X.ContratoCom }}</small></td>
                        <td ng-if="X.SegundoNombre != null && X.Apellido_Materno != null"><small>{{ X.Nombre + ' ' + X.SegundoNombre + ' ' + X.Apellido_Paterno + ' ' + X.Apellido_Materno }}</small></td>
                        <td ng-if="X.SegundoNombre != null && X.Apellido_Materno == null"><small>{{ X.Nombre + ' ' + X.SegundoNombre + ' ' + X.Apellido_Paterno }}</small></td>
                        <td ng-if="X.SegundoNombre == null && X.Apellido_Materno != null"><small>{{ X.Nombre + ' ' + X.Apellido_Paterno + ' ' + X.Apellido_Materno }}</small></td>
                        <td ng-if="X.SegundoNombre == null && X.Apellido_Materno == null"><small>{{ X.Nombre + ' ' + X.Apellido_Paterno }}</small></td>
                        <td><small>{{ X.Calle }} #{{ X.NUMERO }} {{ X.NumInt }}</small></td>
                        <td><small>{{ X.Col }}</small></td>
                        <td><small>{{ X.Cd_Mun }}</small></td>
                        <td><small>{{ X.TELEFONO }}</small></td>
                        <td ng-if="X.SoloInternet == false"><small>{{ 'No' }}</small></td>
                        <td ng-if="X.SoloInternet == true"><small>{{ 'Si' }}</small></td>
                        <td><a type="button" class="btn btn-info btn-xs"  ui-sref="home.catalogos.cliente_detalle({ id: X.CONTRATO })" permission permission-only="'clientesSelect'" title="Consultar Cliente"><i class="fa fa-eye"></i> CONSULTAR</a></td>
                        <td><a type="button" class="btn btn-warning btn-xs"  ui-sref="home.catalogos.cliente_editar({ id: X.CONTRATO })" permission permission-only="'clientesUpdate'" title="Editar Cliente"><i class="fa fa-pencil-square-o"></i> EDITAR</a></td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-top:-40px;">
                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ClienteList.length > 0">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>