<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Colonias</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Colonias</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'coloniasAdd'" ui-sref="home.catalogos.colonia_nuevo" title="Crear una Colonia nueva"><i class="fa fa-plus"></i> NUEVA COLONIA</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchColonia" class="form-control input-sm" ng-model="$ctrl.SearchColonia" placeholder="Buscar Colonia">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Clave</b></th>
                            <th width="70%"><b>Nombre de la colonia</b></th>
                            <th width="20%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="3">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.ColoniaList|filter:$ctrl.SearchColonia|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_Colonia }}</td>
                            <td>{{ X.Nombre }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ui-sref="home.catalogos.colonia_detalle({ id: X.Clv_Colonia })" title="Consultar Colonia"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'coloniasUpdate'" ui-sref="home.catalogos.colonia_editar({ id: X.Clv_Colonia })" title="Editar Colonia"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ColoniaList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>