<style>
    .NC {
        position: absolute;
        top: 84px;
        left: 188px;
        white-space: nowrap;
        width: 198px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }

    .EC {
        position: absolute;
        top: 155px;
        left: 386px;
        white-space: nowrap;
        width: 65px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }

    .OC {
        position: absolute;
        top: 155px;
        left: 118px;
        white-space: nowrap;
        width: 65px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }

    .SC{
        position: absolute;
        top: 226px;
        left: 188px;
        white-space: nowrap;
        width: 198px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }

    .N {
        position: absolute;
        top: 123px;
        left: 273px;
    }

    .E {
        position: absolute;
        top: 150px;
        left: 347px;
    }

    .O {
        position: absolute;
        top: 150px;
        left: 194px;
    }

    .S {
        position: absolute;
        top: 181px;
        left: 273px;
    }

    .tooltip.customClass .tooltip-inner {
          width: 700px;
    }
    
</style>
<form name="FormEntregaEfectivo" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
        <h4 class="modal-title"><i class="fa fa-home"></i> EntregaCalles</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <fieldset ng-disabled="ctrl.View">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <h5 class="text-primary">Calles</h5>
                    </div>
                    <div class="col-md-12">
                        <label><b>Norte:</b></label>
                    </div>
                    <div class="col-md-10">
                        <select name="SlcNorte" class="form-control input-sm" ng-model="ctrl.Norte"
                        ng-options="N.Nombre disable when (N.Clv_Calle == ctrl.Sur.Clv_Calle) || (N.Clv_Calle == ctrl.Este.Clv_Calle)  || (N.Clv_Calle == ctrl.Oeste.Clv_Calle) for N in ctrl.CalleListN track by N.Clv_Calle">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="RdoOrientacion" ng-model="ctrl.Orientacion" value="N" ng-change="ctrl.SetPosicion()"><span><small></small></span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label><b>Sur:</b></label>
                    </div>
                    <div class="col-md-10">
                        <select name="SlcSur" class="form-control input-sm" ng-model="ctrl.Sur"
                            ng-options="S.Nombre disable when (S.Clv_Calle == ctrl.Norte.Clv_Calle) || (S.Clv_Calle == ctrl.Este.Clv_Calle)  || (S.Clv_Calle == ctrl.Oeste.Clv_Calle) for S in ctrl.CalleListS track by S.Clv_Calle">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="RdoOrientacion" ng-model="ctrl.Orientacion" value="S" ng-change="ctrl.SetPosicion()"><span><small></small></span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label><b>Este:</b></label>
                    </div>
                    <div class="col-md-10">
                        <select name="SlcEste" class="form-control input-sm" ng-model="ctrl.Este"
                        ng-options="E.Nombre disable when (E.Clv_Calle == ctrl.Norte.Clv_Calle) || (E.Clv_Calle == ctrl.Sur.Clv_Calle)  || (E.Clv_Calle == ctrl.Oeste.Clv_Calle) for E in ctrl.CalleListE track by E.Clv_Calle">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="RdoOrientacion" ng-model="ctrl.Orientacion" value="E" ng-change="ctrl.SetPosicion()"><span><small></small></span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label><b>Oeste:</b></label>
                    </div>
                    <div class="col-md-10">
                        <select name="SlcOeste" class="form-control input-sm" ng-model="ctrl.Oeste"
                        ng-options="O.Nombre disable when (O.Clv_Calle == ctrl.Norte.Clv_Calle) || (O.Clv_Calle == ctrl.Este.Clv_Calle)  || (O.Clv_Calle == ctrl.Sur.Clv_Calle) for O in ctrl.CalleListO track by O.Clv_Calle">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="RdoOrientacion" ng-model="ctrl.Orientacion" value="O" ng-change="ctrl.SetPosicion()"><span><small></small></span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label><b>Referencias:</b></label>
                        <textarea name="TxaReferencias" class="form-control input-sm" rows="3" ng-model="ctrl.Referencias"></textarea>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <img ng-src="{{ ctrl.FileCorquis }}" width="100%">
                        <img ng-class="ctrl.Orientacion" ng-src="{{ ctrl.FileHouse }}" width="5%">
                        <!--<label ng-if="ctrl.Norte != undefined && ctrl.Norte != null" class="N">{{ctrl.Norte.Nombre}}</label>
                        <label ng-if="ctrl.Sur != undefined && ctrl.Sur != null" class="S">{{ctrl.Sur.Nombre}}</label>
                        <label ng-if="ctrl.Este != undefined && ctrl.Este != null" class="E">{{ctrl.Este.Nombre}}</label>
                        <label ng-if="ctrl.Oeste != undefined && ctrl.Oeste != null" class="O">{{ctrl.Oeste.Nombre}}</label>-->

                        <label class="NC">{{ctrl.Norte.Nombre}}</label>
                        <!--<button type="button" class="NC" tooltip-trigger="'focus'" uib-tooltip-template="'myTooltipTemplate.html'" tooltip-class="customClass" tooltip-placement="left">N</button>-->
                        <label class="SC">{{ctrl.Sur.Nombre}}</label>
                        <label class="EC">{{ctrl.Este.Nombre}}</label>
                        <label class="OC">{{ctrl.Oeste.Nombre}}</label>

                        <!--<iframe ng-src="{{ ctrl.FileName }}" style="width: 100%; height: 450px;"></iframe>-->
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar" ng-if="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>
<script type="text/ng-template" id="myTooltipTemplate.html">
    <span>
        {{ctrl.Norte.Nombre}}
        <!--<p style="font-size:10px;" ng-repeat="X in $ctrl.trabajosTabla ">
            {{X.Descripcion}} {{X.Accion}}
        </p>-->
    </span>
</script>