<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo descuentos combo</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			    <button type="button" class="btn btn-primary btn-sm" permission permission-only="'descuentoscomboAdd'" ui-sref="home.catalogos.comboNuevo" title="Crear una nuevo combo"><i class="fa fa-plus"></i> NUEVO</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchRed" class="form-control input-sm" ng-model="$SearchRed" placeholder="Buscar Combo">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-9">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-7 col-md-offset-3">
                <table class="table" style="font-size:16px;">
                    <thead>
                        <tr>
                            <th ><b>Combo</b></th>
                         
                            <th colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!$ctrl.list">
							<td class="text-center" colspan="5">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.list|filter:$SearchRed|itemsPerPage:7" >
                            <td>{{ X }}</td>
                            
                            
                            <td><button type="button" class="btn btn-info btn-xs" ui-sref="home.catalogos.comboDetalle({ id: X})" title="Consultar combo"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'descuentoscomboUpdate'" ui-sref="home.catalogos.comboEdita({ id: X})" title="Editar combo"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <!--
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenDeleteRed(X.Clv_Red)" title="Eliminar Red"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                            -->
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.RedList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>