<form name="FormDistribuidor" angular-validator-submit="$ctrl.SaveDistribuidor()" novalidate angular-validator autocomplete="off">
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
            </small>
        </header>
        <div class="tools">
            <button type="submit" ng-show="!$ctrl.block" class="btn btn-primary btn-sm" ng-click="$ctrl.Submit = true" title="Guardar empresa"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
			<button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.catalogos.distribuidores" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
		</div>
    </div>
    <div class="card-body">
        <fieldset ng-disabled="$ctrl.block">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary text-center">Datos Fiscales</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Nombre Completo:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>RFC:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpNombre" type="text" class="form-control input-sm" ng-model="$ctrl.Nombre" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpNombre.$touched && FormDistribuidor.InpNombre.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpNombre.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpRFC" type="text" class="form-control input-sm" ng-model="$ctrl.RFC"  validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpRFC.$touched && FormDistribuidor.InpRFC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpRFC.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Calle:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Entre calles:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpCalle" type="text" class="form-control input-sm" ng-model="$ctrl.Calle" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpCalle.$touched && FormDistribuidor.InpCalle.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpCalle.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpCalles" type="text" class="form-control input-sm" ng-model="$ctrl.Calles" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpCalles.$touched && FormDistribuidor.InpCalles.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpCalles.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Número Exterior:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Número Interior:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpNumExt" type="text" class="form-control input-sm" ng-model="$ctrl.NumExt" maxlength="6" validate-on="dirty" required required-message="''" invalid-message="'Inválido, Ingresa 6 dígitos.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpNumExt.$touched && FormDistribuidor.InpNumExt.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpNumExt.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpNumInt" type="text" class="form-control input-sm" ng-model="$ctrl.NumInt" maxlength="6" invalid-message="'Inválido, Ingresa 6 dígitos.'">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Código Postal:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Colonia:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpCP" type="text" class="form-control input-sm" ng-model="$ctrl.CP" maxlength="5" ng-pattern="/^\d{5}$/" validate-on="dirty" required required-message="''" invalid-message="'Inválido, Ingresa 5 dígitos.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpCP.$touched && ($ctrl.CP == null || $ctrl.CP == '' || $ctrl.CP == undefined)) || ($ctrl.Submit == true && ($ctrl.CP == null || $ctrl.CP == '' || $ctrl.CP == undefined))">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpColonia" type="text" class="form-control input-sm" ng-model="$ctrl.Colonia" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpColonia.$touched && FormDistribuidor.InpColonia.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpColonia.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Localidad:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>País:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpLocalidad" type="text" class="form-control input-sm" ng-model="$ctrl.Localidad" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpLocalidad.$touched && FormDistribuidor.InpLocalidad.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpLocalidad.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpPais" type="text" class="form-control input-sm" ng-model="$ctrl.Pais" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpPais.$touched && FormDistribuidor.InpPais.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpPais.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Municipio:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Estado:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpMunicipio" type="text" class="form-control input-sm" ng-model="$ctrl.Municipio" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpMunicipio.$touched && FormDistribuidor.InpMunicipio.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpMunicipio.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpEstado" type="text" class="form-control input-sm" ng-model="$ctrl.Estado" validate-on="dirty" required required-message="''">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpEstado.$touched && FormDistribuidor.InpEstado.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpEstado.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Teléfono 1:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Teléfono 2:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpTelefono" type="text" class="form-control input-sm" ui-mask="(999)999-9999" ui-mask-placeholder="" ng-model="$ctrl.Telefono" validate-on="dirty" required required-message="''" invalid-message="'Inválido, Ingresa 10 dígitos.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpTelefono.$touched && FormDistribuidor.InpTelefono.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpTelefono.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpTelefono2" type="text" class="form-control input-sm" ui-mask="(999)999-9999" ui-mask-placeholder="" ng-model="$ctrl.Telefono2" validate-on="dirty" required required-message="''" invalid-message="'Inválido, Ingresa 10 dígitos.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpTelefono2.$touched && FormDistribuidor.InpTelefono2.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpTelefono2.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Email:</small></b>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpEmail" type="email" class="form-control input-sm" ng-model="$ctrl.Email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" validate-on="dirty" invalid-message="'Inválido, Ingresa un correo válido.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpEmail.$touched && FormDistribuidor.InpEmail.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpEmail.$invalid)"></span>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary text-center">Datos Comerciales</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" ng-if="$ctrl.ShowDPD">
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" name="CbxDPForm" ng-model="$ctrl.DPForm" ng-change="$ctrl.DupliForm()" ng-disabled="!(FormDistribuidor.InpNombre.$valid && FormDistribuidor.InpRFC.$valid &&
                                                                                                                                             FormDistribuidor.InpCalle.$valid && FormDistribuidor.InpCalles.$valid &&
                                                                                                                                             FormDistribuidor.InpNumExt.$valid && FormDistribuidor.InpCP.$valid &&
                                                                                                                                             FormDistribuidor.InpColonia.$valid && FormDistribuidor.InpLocalidad.$valid &&
                                                                                                                                             FormDistribuidor.InpPais.$valid && FormDistribuidor.InpMunicipio.$valid &&
                                                                                                                                             FormDistribuidor.InpEstado.$valid && FormDistribuidor.InpTelefono.$valid &&
                                                                                                                                             FormDistribuidor.InpEmail.$valid)">
                                <span>Igualar Domicilio.</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Nombre:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Calle:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpNombreDC" type="text" class="form-control input-sm" ng-model="$ctrl.NombreDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpNombreDC.$touched && FormDistribuidor.InpNombreDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpNombreDC.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpCalleDC" type="text" class="form-control input-sm" ng-model="$ctrl.CalleDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpCalleDC.$touched && FormDistribuidor.InpCalleDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpCalleDC.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <b><small>Número Interior:</small></b>
                        </div>
                        <div class="col-md-4">
                            <b><small>Número Exterior:</small></b>
                        </div>
                        <div class="col-md-4">
                            <b><small>CP:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input name="InpNumeroDC" type="text" class="form-control input-sm" ng-model="$ctrl.NumeroInDC"  maxlength="6" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpNumeroDC.$touched && FormDistribuidor.InpNumeroDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpNumeroDC.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-4">
                            <input name="InpNumeroExDC" type="text" class="form-control input-sm" ng-model="$ctrl.NumeroEXDC"  maxlength="6" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpNumeroExDC.$touched && FormDistribuidor.InpNumeroExDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpNumeroExDC.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-4">
                            <input name="InpCPDC" type="text" class="form-control input-sm" ng-model="$ctrl.CPDC"  maxlength="5" ng-pattern="/^\d{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 dígitos.'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpCPDC.$touched && FormDistribuidor.InpCPDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpCPDC.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Colonia:</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Localidad:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpColoniaDC" type="text" class="form-control input-sm" ng-model="$ctrl.ColoniaDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpColoniaDC.$touched && FormDistribuidor.InpColoniaDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpColoniaDC.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpLocalidadDC" type="text" class="form-control input-sm" ng-model="$ctrl.LocalidadDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpLocalidadDC.$touched && FormDistribuidor.InpLocalidadDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpLocalidadDC.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p><b><small>Municipio:</small></b></p>
                        </div>
                        <div class="col-md-6">
                            <p><b><small>Estado:</small></b></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpMunicipioDC" type="text" class="form-control input-sm" ng-model="$ctrl.MunicipoDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpMunicipioDC.$touched && FormDistribuidor.InpMunicipioDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpMunicipioDC.$invalid)">Obligatorio</span>
                        </div>
                        <div class="col-md-6">
                            <input name="InpEstadoDC" type="text" class="form-control input-sm" ng-model="$ctrl.EstadoDC" validate-on="dirty" required required-message="'Obligatorio'">
                            <span class="text-danger" ng-if="(FormDistribuidor.InpEstadoDC.$touched && FormDistribuidor.InpEstadoDC.$invalid) || ($ctrl.Submit == true && FormDistribuidor.InpEstadoDC.$invalid)">Obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary text-center">Datos de Contacto</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <b>Responsable General</b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Nombre</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Teléfono</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpNombreRG" type="text" class="form-control input-sm" ng-model="$ctrl.nombrecont" validate-on="dirty" required-message="'Obligatorio'">
                        </div>
                        <div class="col-md-6">
                            <input name="InpTelefonoRG" type="text" class="form-control input-sm" ng-model="$ctrl.telefonocont" ui-mask="(999)999-9999" validate-on="dirty"  required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 10 dígitos.'"
                            ng-requir>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <b><small>Celular</small></b>
                        </div>
                        <div class="col-md-6">
                            <b><small>Email:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input name="InpCelularRG" type="text" class="form-control input-sm" ng-model="$ctrl.celularcont" ui-mask="(999)999-9999" validate-on="dirty"  required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 10 dígitos.'"> 
                        </div>
                        <div class="col-md-6">
                            <input name="InpEmailRG" type="text" class="form-control input-sm" ng-model="$ctrl.emailcont"  validate-on="dirty" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" invalid-message="'Inválido, Ingresa un correo válido'">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <b><small>Responsable Comercial:</small></b>
                        </div>
                        <div class="col-md-4">
                            <b><small>Responsable de Operaciones:</small></b>
                        </div>
                        <div class="col-md-4">
                            <b><small>Responsable de Atención:</small></b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input name="InpNombreRC" type="text" class="form-control input-sm" ng-model="$ctrl.respcomcont" validate-on="dirty" required-message="'Obligatorio'">
                        </div>
                        <div class="col-md-4">
                            <input name="InpNombreRO" type="text" class="form-control input-sm" ng-model="$ctrl.respopcont" validate-on="dirty" required-message="'Obligatorio'">
                        </div>
                        <div class="col-md-4">
                            <input name="InpNombreRA" type="text" class="form-control input-sm" ng-model="$ctrl.resatencont" validate-on="dirty" required-message="'Obligatorio'">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</form>