<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Empresas</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'empresasAdd'" ui-sref="home.catalogos.distribuidor_nuevo" title="Crear una empresa nueva"><i class="fa fa-plus"></i> NUEVA empresa</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchDistribuidor" class="form-control input-sm" ng-model="$ctrl.SearchDistribuidor" placeholder="Buscar empresa">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="70%"><b>Nombre de la Empresa</b></th>
                            <th width="20%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!$ctrl.ViewList">
							<td class="text-center" colspan="5">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.distribuidores|filter:$ctrl.SearchDistribuidor|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            <td>{{ X.Clv_Plaza }}</td>
                            <td>{{ X.Nombre }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ui-sref="home.catalogos.detalle_distribuidor({ id: X.Clv_Plaza })" title="Consultar empresa"><i class="fa fa-eye"></i> consultar</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'empresasUpdate'" ui-sref="home.catalogos.distribuidor_editar({ id: X.Clv_Plaza })" title="Editar empresa"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'empresasDelete'" ng-click="$ctrl.OpenDeleteDistribuidor(X)" title="Eliminar empresa"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" >
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>