<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Estados</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Estados</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'estadosAdd'" ng-click="$ctrl.OpenAddEstado()" title="Crear un estado nuevo"><i class="fa fa-plus"></i> NUEVO ESTADO</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="SearchEstado" class="form-control input-sm" ng-model="$ctrl.SearchEstado" placeholder="Buscar Estado">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Clave</b></th>
                            <th width="60%"><b>Nombre del Estado</b></th>
                            <th width="30%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.EstadoList|filter:$ctrl.SearchEstado|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_Estado }}</td>
                            <td>{{ X.Nombre }}</td>
                            <!-- <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewEstado(X.Clv_Estado)" title="Consultar Estado"><i class="fa fa-eye"></i> Consultar</button></td> -->
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'estadosUpdate'" ng-click="$ctrl.OpenUpdateEstado(X.Clv_Estado)" title="Editar Estado"><i class="fa fa-pencil-square-o"></i> Editar</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'estadosDelete'" ng-click="$ctrl.OpenDeleteEstado(X.Clv_Estado)" title="Eliminar Estado"><i class="fa fa-trash"></i> Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.EstadoList.length > 0">
					</dir-pagination-controls>
				</div>
                <br>
            </div>
        </div>
    </div>
</div>