<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo IP</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo IP</a>
            </small>
        </header>
        <div class="tools">
            <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.redes_detalle({ id: $ctrl.IdRed })" title="Salir" ng-if="$ctrl.IdRed > 0 && $ctrl.Mod == 1"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
            <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.redes_editar({ id: $ctrl.IdRed })" title="Salir" ng-if="$ctrl.IdRed > 0 && $ctrl.Mod == 0"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-1">
                    <b>Red:</b>
                </div>
                <div class="col-md-2">
                    <select name="SlcRed" class="form-control input-sm" ng-model="$ctrl.Red" ng-options="R.IPRed for R in $ctrl.RedList track by R.IdRed" ng-change="$ctrl.GetList()">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-offset-1 col-md-1">
                    <b>IP:</b>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" name="InpSearchIP" class="form-control input-sm" ng-model="$ctrl.SearchIP" placeholder="Buscar">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="7%"><b>Id</b></th>
                            <th width="10%"><b>IP</b></th>
                            <th width="10%"><b>Status</b></th>
                            <th width="18%"><b>Ultima Fecha de Asignación</b></th>
                            <th width="18%"><b>Ultima Fecha de Liberación</b></th>
                            <th width="17%"><b>Ultimo Cliente Asignado</b></th>
                            <th width="20%" ng-if="$ctrl.blockC"><b>Acciones</b></th>
                            <th width="20%" colspan="2" ng-if="$ctrl.blockE"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!$ctrl.ViewList">
							<td class="text-center" colspan="8">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.IPList|filter:$ctrl.SearchIP|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            <td>{{ X.IdIP }}</td>
                            <td>{{ X.IP_ALL }}</td>
                            <td ng-if="X.Status == 'D'">Disponible</td>
                            <td ng-if="X.Status == 'A'">Asignada</td>
                            <td>{{ X.UltimaFechaAsignacion }}</td>
                            <td>{{ X.UltimaFechaLiberacion }}</td>
                            <td>{{ X.UltimoClienteAsignado }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewIP(X.IdIP)" title="Consultar IP"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'ipsUpdate'" ng-click="$ctrl.OpenUpdateIP(X.IdIP)" title="Editar IP" ng-if="$ctrl.blockE"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.IPList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>