<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Localidades</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Localidades</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'localidadesAdd'" ng-click="$ctrl.OpenAddLocalidad()" title="Crear una Localidad nueva"><i class="fa fa-plus"></i> NUEVA LOCALIDAD</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSeacrhLocalidad" class="form-control input-sm" ng-model="$ctrl.SearchLocalidad" placeholder="Buscar Localidad">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="60%"><b>Nombre de la localidad</b></th>
                            <th width="30%" colspan="3"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="5">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.LocalidadList|filter:$ctrl.SearchLocalidad|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_Localidad }}</td>
                            <td>{{ X.Nombre }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewLocalidad(X.Clv_Localidad)" title="Consultar Localidad"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'localidadesUpdate'" ng-click="$ctrl.OpenUpdateLocalidad(X.Clv_Localidad)" title="Editar Localidad"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'localidadesDelete'" ng-click="$ctrl.OpenDeleteLocalidad(X)" title="Eliminar Localidad"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>