<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar Tipo de Servicio - {{ ctrl.IdTipoServicio }}</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar el tipo de servicio?</b></p>
    <p><b>Tipo Servicio:</b> {{ ctrl.TipoServicio }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteTipoServicio()" title="Eliminar Servicio"><i class="fa fa-trash"></i> Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>