<form name="FormEstado" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
        <div class="modal-header">
            <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
            <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
        </div>
        <div class="modal-body">
            <fieldset ng-disabled="ctrl.View">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">                      
                        <div class="col-md-8">
                                <p><b>Nombre de la clasificación:</b></p>
                            <input type="text" name="InpEstado" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.clasificacion" validate-on="dirty" required required-message="'Obligatorio'">
                        </div>
                        <div class="col-md-4">
                                <p><b>Activo:</b></p>
                                <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" ng-model="ctrl.activo" ><span>Activo</span>
                                    </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm" title="Guardar clasificación"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
        </div>
    </form>