<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar Motivo de Cancelación - {{ ctrl.Clave }}</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar el Motivo de Cancelación de Factura?</b></p>
    <p><b>Nombre Motivo:</b> {{ ctrl.Descripcion }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.DeleteMotivoF()" title="Elimina motivo "><i class="fa fa-trash"></i> ELIMINAR</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>