<style type="text/css">
    .table-scroll {
        height:150px;
        overflow:auto;
    }
</style>
<form name="FormCobros" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i class="fa fa-usd"></i> Tarifa Comercial</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <fieldset ng-disabled="!ctrl.Edit">
            <div class="col-md-12">
                <div class="col-md-5">
                    <label><b>Contratación</b></label>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="InpContratacion" class="form-control input-sm" ng-model="ctrl.Contratacion" min="0" validate-on="dirty" invalid-message="'Inválido'">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <label><b>Mensualidad:</b></label>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="InpMensualidad" class="form-control input-sm" ng-model="ctrl.Mensualidad" min="0" validate-on="dirty" invalid-message="'Inválido'">
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="ctrl.InpRenta">
                <div class="col-md-5">
                    <label><b>Renta:</b></label>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="InpRenta" class="form-control input-sm" ng-model="ctrl.Renta" min="0" validate-on="dirty" invalid-message="'Inválido'">
                    </div>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-xs" title="Guardar" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.Delete()" title="Eliminar" ng-if="ctrl.BtnDelete"><i class="fa fa-trash"></i> Eliminar</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>