<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Contratos con similitudes</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b><small>Contrato</small></b></th>
                            <th><b><small>Nombre completo</small></b></th>
                            <th><b><small>Domicilio</small></b></th>
                            <th><b><small>Colonia</small></b></th>
                            <th><b><small>Identificación</small></b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ctrl.SimilitudList">
                            <td><small>{{ X.ContratoCom }}</small></td>
                            <td><small>{{ X.Nombre }} {{ X.SegundoNombre }} {{ X.Apellido_Paterno }} {{ X.Apellido_Materno }}</small></td>
                            <td><small>{{ X.Calle }} #{{ X.NUMERO }} {{ X.Num_Int }}</small></td>
                            <td><small>{{ X.Colonia }}</small></td>
                            <td><small>{{ X.Descripcion }}</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.SaveCliente()" title="Guardar Cliente"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Rechazar Cliente"><i class="glyphicon glyphicon-log-out"></i> Rechazar</button>
</div>