<form name="FormAddDescuentoServicio" angular-validator-submit="ctrl.AddDescuentoServicio()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"></i> Descuento Cliente</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <small><b>Descuento(Pesos):</b> $</small>
                </div>
                <div class="col-md-5">
                    <input type="number" name="InpDescuento" class="form-control input-sm" ng-model="ctrl.Descuento" min="0" validator="ctrl.Descuento > 0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-xs" title="Guardar Descuento"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-danger btn-xs" title="Eliminar Descuento" ng-click="ctrl.DeleteDescuentoServicio()" ng-disabled="ctrl.ConDescuento"><i class="fa fa-trash"></i> Eliminar</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>