<form name="FormTipoServicio" angular-validator-submit="ctrl.SaveTipoServicio()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdTipoServicio }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <fieldset ng-disabled="ctrl.InpDis">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-12">
                        <p><b>Nombre del Tipo Servicio:</b></p>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="InpTipoServicio" class="form-control input-sm" ng-model="ctrl.TipoServicio" validate-on="dirty" required required-message="'Obligatorio'">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Tipo Servicio" ng-show="!ctrl.InpDis"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>