<style type="text/css">
    .table-scroll {
        height:500px;
        overflow:auto;  
        margin-top:20px;
    }
</style>
<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-cogs"></i> Configuracón Servicio - {{ ctrl.Clv_Servicio }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <b>Empresa:</b>
            </div>
            <div class="col-md-6">
                <select name="SlcDistribuidor" class="form-control input-sm" ng-model="ctrl.Distribuidor" ng-options="D.Nombre for D in ctrl.DistribuidorList track by D.clv_plaza" ng-change="ctrl.GetRelComEstCiu()">
                    <option value="">Selecciona</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <p><b>Áreas de presencia de la empresa</b></p>
            </div>
            <div class="col-md-1">
                <b>Servicio:</b>
            </div>
            <div class="col-md-3" ng-show="ctrl.ShowRel">
                <select name="SlcServicio1" class="form-control input-sm" ng-model="ctrl.Servicio1" ng-options="S.Descripcion for S in ctrl.Servicio1List track by S.Clv_Servicio" ng-disabled="ctrl.View">
                    <option value="">Selecciona</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <table class="table table-scroll">
                    <thead>
                        <tr>
                            <th><b>Región</b></th>
                            <th><b>Estado</b></th>
                            <th><b>Municipio</b></th>
                            <th><b></b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ctrl.RelComEstCiuList">
                            <td><small style="font-size:10px">{{ X.NomCompania }}</small></td>
                            <td><small style="font-size:10px">{{ X.NomEstado }}</small></td>
                            <td><small style="font-size:10px">{{ X.NomCiudad }}</small></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs" title="Seleccionar" ng-click="ctrl.GetSerRelComEstCiu1(X)" ng-if="X.Select == false"><i class="fa fa-check"></i></button>
                                <button type="button" class="btn btn-info btn-xs" title="Seleccionar" ng-click="ctrl.GetSerRelComEstCiu1(X)" ng-if="X.Select == true"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 table-scroll" ng-show="ctrl.ShowRel">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>Servicio</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ctrl.Servicio2List">
                            <td><small style="font-size:10px">{{ X.Descripcion }}</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="text-align:center" ng-show="ctrl.ShowRel">
                <fieldset ng-disabled="ctrl.View">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-xs" title="Agrega a la Región seleccionada" ng-click="ctrl.AddServicioPlaza()" ng-disabled="ctrl.Servicio1 == undefined || ctrl.Distribuidor == undefined" ng-show="!ctrl.View">Agregar</button>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-xs" title="Elimina de la Región seleccionada" ng-click="ctrl.DeleteServicioPlaza()" ng-disabled="(ctrl.Servicio2List == undefined || ctrl.Servicio2List == '') || ctrl.Servicio1 != undefined" ng-show="!ctrl.View">Eliminar</button>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-xs" title="Agrega a todas las plazas" ng-click="ctrl.AddServicioPlazaTodas()" ng-show="!ctrl.View">Agregar<br/>todas las<br/>Plazas</button>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-xs" title="Elimina de todas las plazas" ng-click="ctrl.DeleteServicioPlazaTodas()" ng-show="!ctrl.View">Eliminar<br/>de todas las<br/>Plazas</button>
                </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>