<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="{{ ctrl.Icono }}"></i> {{ ctrl.Titulo }} {{ ctrl.IdReferencia }}</h4>
</div>
<form name="FormUpdateRefPersonal" angular-validator-submit="ctrl.UpdateRefPersonal()" novalidate angular-validator autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
               <div class="col-md-12">
                    <b>Nombre:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <input type="text" name="InpNombreRef" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.NombreRef" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>
            <div class="col-md-12">
               <div class="col-md-12">
                    <b>Teléfono:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <input type="text" name="InpTelefonoRef" class="form-control input-sm" ng-model="ctrl.TelefonoRef" ui-mask="(999)999-9999" validate-on="dirty" validator="ctrl.TelefonoRef > 0" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa minimo 10 dígitos.'">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Email:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <input type="email" name="InpEmailRef" class="form-control input-sm" ng-model="ctrl.EmailRef" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" validate-on="dirty" invalid-message="'Inválido'">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Dirección:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <textarea name="InpDireccionRef" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" rows="4" ng-model="ctrl.DireccionRef" validate-on="dirty" required required-message="'Obligatorio'"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-sm" title="Guardar Referencia"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>