<form name="FormConcepto" angular-validator-submit="ctrl.SaveConcepto()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.CLV_LLAVE }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" ng-show="ctrl.Clv_TipoCobro == 1 && (ctrl.TipoConcepto.Clave == 1 || ctrl.TipoConcepto.Clave == 2)"><!--1(1,2) 2(x) 3(x)-->
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="CbxAplicatodos" ng-model="ctrl.AplicaTodos" ng-true-value="'Y'" ng-false-value="'N'"><span class="text-danger">Aplicar a todos los tipos de cobro</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Concepto:</b>
                </div>
                <div class="col-md-10">
                    <select name="SlcTipoConcepto" class="form-control input-sm" ng-model="ctrl.TipoConcepto" ng-options="TC.Concepto for TC in ctrl.TipoConceptoList track by TC.Clave" ng-change="ctrl.SetTipoConepto()" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="" ng-disabled="true">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.Clv_TipSer == 2">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4 class="text-primary"><b>Precios del servicio:</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Precio:</b>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="Precio" class="form-control input-sm" ng-model="ctrl.Precio" min="0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-if="ctrl.Clv_TipSer == 2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.Clv_TipSer != 2">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4 class="text-primary"><b>Precios del servicio:</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="text-align:center;">
                    <b>Nueva</b>
                </div>
                <div class="col-md-6" style="text-align:center;" ng-if="ctrl.TipoConcepto.Clave == 0">
                    <b>Con servicio</b><!-- 1(1) 2(1) 3(1) -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Principal:</b>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="InpPrincipal" class="form-control input-sm" ng-model="ctrl.Principal" min="0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Adicional:</b>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="number" name="InpAdicionalN1" class="form-control input-sm" ng-model="ctrl.AdicionalN1" min="0" validate-on="dirty" invalid-message="'Inválido.'">
                    </div>
                </div>
                <!--
                <div class="col-md-2" ng-if="ctrl.TipoConcepto.Clave == 1">
                    <b>Adicional:</b>
                </div>
                <div class="col-md-4" ng-if="ctrl.TipoConcepto.Clave == 1">
                    <input type="number" name="InpAdicionalS1" class="form-control input-sm" ng-model="ctrl.AdicionalS1" min="0" validate-on="dirty" invalid-message="'Inválido.'">
                </div>
                -->
            </div>
            <!--
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Adicional:</b>
                </div>
                <div class="col-md-4">
                    <input type="number" name="InpAdicionalN2" class="form-control input-sm" ng-model="ctrl.AdicionalN2" min="0" validate-on="dirty" invalid-message="'Inválido.'">
                </div>
                <div class="col-md-2" ng-if="ctrl.TipoConcepto.Clave == 1">
                    <b>Adicional:</b>
                </div>
                <div class="col-md-4" ng-if="ctrl.TipoConcepto.Clave == 1">
                    <input type="number" name="InpAdicionalS2" class="form-control input-sm" ng-model="ctrl.AdicionalS2" min="0" validate-on="dirty" invalid-message="'Inválido.'">
                </div>
            </div>
            -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4 class="text-primary"><b>Periodo de vigencia:</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Inicio:</b>
                </div>
                <div class="col-md-4">
                    <input type="date" name="InpFechaInicio" class="form-control input-sm" ng-model="ctrl.FechaInicio" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Invalido'">
                </div>
                <div class="col-md-2">
                    <b>Final:</b>
                </div>
                <div class="col-md-4">
                    <input type="date" name="InpFechaFinal" class="form-control input-sm" ng-model="ctrl.FechaFinal" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Invalido'">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <b>Día Inicial:</b>
                </div>
                <div class="col-md-4">
                    <input type="number" name="DiaInicial" class="form-control input-sm" ng-model="ctrl.DiaInicial" validate-on="dirty" min="0" max="31" validator="ctrl.DiaInicial < ctrl.DiaFinal" required required-message="'Obligatorio'" invalid-message="'Inválido, debe ser menor al día final.'">
                </div>
                <div class="col-md-2">
                    <b>Día Final:</b>
                </div>
                <div class="col-md-4">
                    <input type="number" name="DiaFinal" class="form-control input-sm" ng-model="ctrl.DiaFinal" validate-on="dirty" min="1" max="32" validator="ctrl.DiaFinal > ctrl.DiaInicial" required required-message="'Obligatorio'" invalid-message="'Inválido, debe ser mayor al día inicial.'">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4 class="text-primary"><b>Opciones:</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled" ng-if="ctrl.Clv_TipoCobro == 1 || (ctrl.Clv_TipoCobro == 2 && ctrl.TipoConcepto.Clave != 4) || (ctrl.Clv_TipoCobro == 3)"><!-- 1(a) 2(1235) 3(12345) -->
                        <input type="checkbox" name="CbxVigente" ng-model="ctrl.Vigente" ng-true-value="'Y'" ng-false-value="'N'"><span class="text-danger">Vigente</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled" ng-if="(ctrl.Clv_TipoCobro == 1 && ctrl.TipoConcepto.Clave == 1) || ctrl.Clv_TipoCobro == 2 && (ctrl.TipoConcepto.Clave != 3 && ctrl.TipoConcepto.Clave != 4) || ctrl.Clv_TipoCobro == 3 && (ctrl.TipoConcepto.Clave == 1 || ctrl.TipoConcepto.Clave == 5)"><!-- 1(1) 2(125) 3(15) -->
                        <input type="checkbox" name="CbxSeCobraMensualidad" ng-model="ctrl.SeCobraMensualidad" ng-true-value="'Y'" ng-false-value="'N'"><span class="text-danger">Se cobra mensualidad</span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled" ng-if="(ctrl.Clv_TipoCobro == 1 &&  ctrl.TipoConcepto.Clave == 4) || (ctrl.Clv_TipoCobro == 3 &&  ctrl.TipoConcepto.Clave == 4) || ctrl.TipoConcepto.Clave == 1 || ctrl.TipoConcepto.Clave == 5"><!-- 1(145) 2(15) 3(145) -->
                        <input type="checkbox" name="CbxAplicaComision" ng-model="ctrl.AplicaComision" ng-true-value="'Y'" ng-false-value="'N'"><span class="text-danger">Aplica comisión</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled" ng-if="(ctrl.Clv_TipoCobro == 1 && ctrl.TipoConcepto.Clave != 2) || ctrl.Clv_TipoCobro == 2 && (ctrl.TipoConcepto.Clave != 2 && ctrl.TipoConcepto.Clave != 4) || ctrl.Clv_TipoCobro == 3 && (ctrl.TipoConcepto.Clave != 2 && ctrl.TipoConcepto.Clave != 3)"> <!-- 1(1345) 2(135) 3(145) -->
                        <input type="checkbox" name="CbxGeneraOrden" ng-model="ctrl.GeneraOrden" ng-true-value="'Y'" ng-false-value="'N'" ng-change="ctrl.SetOrden()"><span class="text-danger">Genera orden</span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled" ng-if="(ctrl.Clv_TipoCobro == 1 || ctrl.Clv_TipoCobro == 3) && (ctrl.TipoConcepto.Clave != 2) || ctrl.Clv_TipoCobro == 2 && (ctrl.TipoConcepto.Clave != 2 && ctrl.TipoConcepto.Clave != 4)"><!-- 1(1345) 2(135) 3(1345) -->
                        <input type="checkbox" name="CbxAvanzaMes" ng-model="ctrl.AvanzaMes" ng-true-value="'Y'" ng-false-value="'N'"><span class="text-danger">Avanza mes</span>
                    </label>
                </div>
                <div class="col-md-6" ng-if="ctrl.ShowOrden">
                    <select name="SlcTrabajo" class="form-control input-sm" ng-model="ctrl.Trabajo" ng-options="T.Descripcion for T in ctrl.TrabajoList track by T.Clv_Trabajo" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.Clv_TipoCobro == 1 && (ctrl.TipoConcepto.Clave != 1 && ctrl.TipoConcepto.Clave != 3) || ctrl.Clv_TipoCobro == 2 && (ctrl.TipoConcepto.Clave != 4) || ctrl.Clv_TipoCobro == 3"><!-- 1(245) 2(1235) 3(12345) -->
            <div class="col-md-12">
                <div class="col-md-2">
                    <h4 class="text-primary"><b>Promoción:</b></h4>
                </div>
                <div class="col-md-10">
                    <select name="SlcPromocion" class="form-control input-sm" ng-model="ctrl.Promocion">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="sumit" class="btn btn-primary btn-sm" title="Guardar Concepto"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>