<form name="FormMotivo" angular-validator-submit="ctrl.SaveMotivo()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <fieldset ng-disabled="ctrl.blockForm">
        <div class="modal-body">   
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <b><small>Clave:</small></b>
                </div>
                <div class="col-md-9">
                    <input name="InpClave" type="number" class="form-control input-sm" ng-model="ctrl.Clave" ng-disabled="ctrl.Disable">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b><small>Motivo:</small></b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <input name="InpDescripcion" type="text" class="form-control input-sm" ng-model="ctrl.Descripcion"  validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>
        </div>
        <br>
        </div>
    </fieldset>
    <div class="modal-footer">
        <button type="submit" ng-disabled="ctrl.blocksave" class="btn btn-primary btn-sm" title="Guardar Motivo de Cancelación"><i class="glyphicon glyphicon-floppy-disk"></i> GUARDAR</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>