<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar registro - {{ ctrl.IdEstado }}</h4>
</div>
<div class="modal-body">
    <p>¿Realmente desea eliminar el registro?</p>
    <p><b>Nombre Caja:</b> {{ ctrl.descripcion }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteEstado()" title="Eliminar Caja">Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>
