<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar Registro - {{ ctrl.IdCalle }}</h4>
</div>
<div class="modal-body">
    <p>¿Realmente desea eliminar la Calle?</p>
    <p><b>Nombre Calle:</b> {{ ctrl.Calle }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteCalle()" title="Eliminar Calle">Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>