<form name="FormTipoColonia" angular-validator-submit="ctrl.SaveTipoColonia()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdTipoColonia }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-12">
                    <p><b>Nombre del Tipo Colonia:</b></p>
                </div>
                <div class="col-md-12">
                    <input type="text" name="InpTipoColonia" class="form-control input-sm" ng-model="ctrl.TipoColonia" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Tipo Colonia" ng-show="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>