<style type="text/css">
    .table-scroll {
        height:150px;
        overflow:auto;
    }
</style>
<form name="FormLocalidad" angular-validator-submit="ctrl.SaveLocalidad()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-3">
                    <b><small>Nombre Localidad:</small></b>
                </div>
                <div class="col-md-7">
                    <input type="text" name="InpLocalidad" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.Localidad" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.ShowSave">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <fieldset ng-disabled="ctrl.ShowUpdate">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-3">
                    <b><small>Ciudad:</small></b>
                </div>
                <div class="col-md-5">
                    <select name="SltCiudad" class="form-control input-sm" ng-model="ctrl.Ciudad" ng-options="C.Nombre for C in ctrl.CiudadLista track by C.Clv_Ciudad">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-2 text-center">
                    <button type="button" class="btn btn-success btn-xs" title="Agregar Relación con la Ciudad" ng-click="ctrl.AddEstMun()">Agregar</button>
                </div>
            </div>
            </fieldset>
        </div>
        <br>
        <div class="row">
            <fieldset ng-disabled="ctrl.ShowUpdate">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-10 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%"><b>Clave</b></th>
                                <th width="80%"><b>Ciudad</b></th>
                                <th width="10%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!ctrl.ViewList">
                                <td colspan="3" class="text-center">SIN REGISTROS</td>
                            </tr>
                            <tr ng-repeat="X in ctrl.RelLocalidadList" ng-show="ctrl.ViewList">
                                <td>{{ X.clv_ciudad }}</td>
                                <td>{{ X.Nombre }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="ctrl.DeleteEstMun(X.clv_ciudad)"><i class="fa fa-trash"></i> Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </fieldset>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Localidad" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> {{ ctrl.BtnCanTitulo }}</button>
    </div>
</form>