<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Confirmar</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar esta referencia del cliente?</b></p>
    <p><b>Id:</b> {{ ctrl.IdReferencia }}</p>
    <p><b>Nombre:</b> {{ ctrl.NombreRef }}</p>
    <p><b>Teléfono:</b> {{ ctrl.TelefonoRef }}</p>
    <p><b>Email</b> {{ ctrl.EmailRef }}</p>
    <p><b>Dirección:</b> {{ ctrl.DireccionRef }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeletRefPersonal()" title="Eliminar Referencia Personal"><i class="fa fa-trash"></i> Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>