<style type="text/css">
    .table-scroll {
        height:140px;
        overflow:auto;
    }
</style>
<form name="FormCalle" angular-validator-submit="ctrl.SaveCalle()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <b><small>Nombre de la Calle:</small></b>
                </div>
                <div class="col-md-10">
                    <input name="InpCalle" type="text" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.Calle" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.DisableAdd">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4 class="text-primary"><b>Relación de la Calle - Colonias</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b><small>Estado:</small></b>
                </div>
                <div class="col-md-3">
                    <b><small>Ciudad:</small></b>
                </div>
                <div class="col-md-3">
                    <b><small>Localidad:</small></b>
                </div>
                <div class="col-md-3">
                    <b><small>Colonia:</small></b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select name="SltEstado" class="form-control input-sm" ng-model="ctrl.Estado" ng-options="E.Nombre for E in ctrl.EstadoList track by E.Clv_Estado" ng-change="ctrl.GetCiudadList()" ng-disabled="ctrl.Disable">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="SltCiudad" class="form-control input-sm" ng-model="ctrl.Municipio" ng-options="M.Nombre for M in ctrl.CiudadList track by M.Clv_Ciudad" ng-change="ctrl.GetLocalidadList()" ng-disabled="ctrl.Disable">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="InpLocalidad" class="form-control input-sm" ng-model="ctrl.Localidad" ng-options="L.NOMBRE for L in ctrl.LocalidadList track by L.Clv_Localidad" ng-change="ctrl.GetColoniaList()" ng-disabled="ctrl.Disable">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="SltColonia" class="form-control input-sm" ng-model="ctrl.Colonia" ng-options="C.Nombre for C in ctrl.ColoniaList track by C.CLV_COLONIA" ng-disabled="ctrl.Disable">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-9 col-md-3 text-center">
                    <button type="button" class="btn btn-success btn-xs" title="Agregar Relación" ng-click="ctrl.AddRelCalle()" ng-disabled="(ctrl.Estado == undefined || ctrl.Estado == '') || (ctrl.Municipio == undefined || ctrl.Municipio == '') || (ctrl.Localidad == undefined || ctrl.Localidad == '') || (ctrl.Colonia == undefined || ctrl.Colonia == '')">Agregar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row" >
            <div class="col-md-12">
                <div class="col-md-12 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="22%"><b>Estado</b></th>
                                <th width="22%"><b>Ciudad</b></th>
                                <th width="22%"><b>Localidad</b></th>
                                <th width="22%"><b>Colonia</b></th>
                                <th width="12%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in ctrl.RelCalleList">
                                <td>{{ X.estado }}</td>
                                <td>{{ X.ciudad }}</td>
                                <td>{{ X.localidad }}</td>
                                <td>{{ X.colonia }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Relación" ng-click="ctrl.DeleteRelCalle(X)"><i class="fa fa-trash"></i> Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Calle" ng-disabled="ctrl.DisableAdd" ng-show="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>