<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Motivos de Reimpresión de Factura</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogos</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'motivosreimpresionfacturaAdd'" ng-click="$ctrl.AddMotivoReimpFact()" title="Crear Nuevo Motivo de Reimpresión de Factura"><i class="fa fa-plus"></i> NUEVO MOTIVO</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <h4><b><i class="fa fa-search"></i> Buscar Motivo:</b></h4>
        </div>
      </div>
      <div class="col-md-12">
          <div class="col-md-1">
            <b>Clave:</b>
          </div>
          <div class="col-md-3" style="text-align:right">
            <div class="input-group">
              <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetMotivoReimpresionFList(0);" title="Buscar por Clave"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
              </span>
            </div>
          </div>
        <div class="col-md-offset-1 col-md-1">
          <b>Descripción</b>
        </div>
        <div class="col-md-3" style="text-align:right">
          <div class="input-group">
            <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.descripcion" placeholder="Descripción">
            <span class="input-group-btn">
              <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetMotivoReimpresionFList(1);" title="Buscar por Descripción"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th ><b>Clave</b></th>
                <th ><b>Descripción</b></th>
                <th colspan="2"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.MotivoReimpresionFList|itemsPerPage:7">
                <td>{{ X.Clv_motivo}}</td>
                <td>{{ X.Descripcion }}</td>
               
                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'motivosreimpresionfacturaUpdate'" ng-click="$ctrl.UpdateMotivoReimpFact(X.Clv_motivo)" title="Editar Motivo de Reimpresión de Factura"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'motivosreimpresionfacturaDelete'" ng-click="$ctrl.EliminarMotivoReimpFact(X.Clv_motivo)" title="Elimina Motivo de Reimpresión de Factura"><i class="fa fa-trash"></i> ELIMINAR</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>