<form name="FormLocalidad" angular-validator-submit="$ctrl.SaveCaja()" novalidate angular-validator autocomplete="off">
  <div class="card" style="margin-top:10px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.Titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>><a href="#" class="paginaActiva"> Catálogos > Generales Empresa > Cajas</a></small>
      </header>
      <div class="tools">
        <button title="Guardar encuesta" class="btn btn-primary btn-sm" type="submit" ng-disabled="$ctrl.block" ><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
        <button title="Cancelar cambios" class="btn btn-default btn-sm" type="button" ui-sref="home.catalogos.cajas"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-offset-2 col-md-8">
        <div class="col-md-6 ">
          <div class="col-md-12">
            <label><b>Región:</b></label>
            <select class="form-control " name="plaza" validate-on="dirty" ng-model="$ctrl.plaza" ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania" ng-change="$ctrl.GetSucursales(0)" ng-disabled="$ctrl.block" required-message="'Este campo es obligatorio.'" required>
              <option value="">Selecciona</option>
            </select>
          </div>
          <div class="col-md-12">
            <br>
          </div>
          <div class="col-md-12">
            <label>Descripcion:</label> 
            <input class="form-control" ng-disabled="$ctrl.block" name="descripcion" ng-model="$ctrl.descripcion">            
          </div>
          <div class="col-md-12">
            <br>
          </div>
          <div class="col-md-12">
            <label>Ip Maquina:</label>
            <input class="form-control" ng-disabled="$ctrl.block" placeholder="EJEMPLO-PC" name="ip" validate-on="dirty" validator="$ctrl.ValidaIPMaquina()"  ng-model="$ctrl.ip" required required-message="'Este campo es obligatorio.'" invalid-message="'Invalido, ya existe'">
          </div>
          <div class="col-md-12">
            <br>
          </div>
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              <strong>Atencion!</strong> Ingresa en el apartado IP de maquina el nombre de tu maquina,
              para tener acceso a facturación y facturación corporativa 
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <label>Sucursal:</label>           
            <select class="form-control" ng-disabled="$ctrl.block" name="sucursal" validate-on="dirty" ng-model="$ctrl.sucursal" ng-options="v.Nombre for v in $ctrl.sucursales track by v.Clv_Sucursal" required-message="'Este campo es obligatorio.'" required>
              <option value="">Selecciona</option>
            </select>
          </div>
          <div class="col-md-12">
            <br>
          </div>
          <div class="col-md-12">
            <label class="col-md-5 control-label blod">Imprime Tickets:</label>
            <div class="col-md-7">
              <label class="checkbox-inline checkbox-styled">
                <input type="checkbox" value="option3" ng-disabled="$ctrl.block" name="tickets" ng-model="$ctrl.ticket"><span></span>
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-5 control-label blod"> Impresora térmica:</label>
            <div class="col-md-7">
              <label class="checkbox-inline checkbox-styled">
                <input type="checkbox" ng-disabled="$ctrl.block" ng-model="$ctrl.termica" name="termica" value="option3"><span></span>
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <br>
          </div>
          <div class="col-md-12">
            <p class="text-danger">Factura fiscal</p>
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-9">
                  <label class="radio-inline radio-styled">
                    <input type="radio" ng-disabled="$ctrl.block" name="fact" ng-model="$ctrl.factura" value="n"><span>Factura Normal</span>
                  </label>
                  <label class="radio-inline radio-styled">
                    <input type="radio"ng-disabled="$ctrl.block" name="fact" ng-model="$ctrl.factura" value="t"><span>Ticket</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
<!--
  <div class="modal-header">
    <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
  </div>
  <fieldset ng-disabled="ctrl.blockForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <b><small>Plaza :</small></b>
          <aria-label>Plaza nombre</aria-label>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <p><b><small>Clave:</small></b></p>
          </div>
          <div class="col-md-3">
            <p><b><small>Descripcion:</small></b></p>
          </div>
          <div class="col-md-3">
            <p><b><small>Ip de la maquina:</small></b></p>
          </div>
          <div class="col-md-3">
            <p><b><small>Sucursal:</small></b></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <input name="InpClave" type="text" class="form-control input-sm" ng-model="$ctrl.Nombre" validate-on="dirty" required required-message="'Obligatorio'">
          </div>
          <div class="col-md-3">
            <input name="InpDescripcion" type="text" class="form-control input-sm" ng-model="$ctrl.Clv_Sucursal" validate-on="dirty">
          </div>
          <div class="col-md-3">
            <input name="InpIP" type="text" class="form-control input-sm" ng-model="$ctrl.IP" validate-on="dirty" required required-message="'Obligatorio'"
              placeholder="192.168.('60').25">
          </div>
          <div class="col-md-3">
            <select name="SltSucursal" class="form-control input-sm" ng-model="$ctrl.Plaza" title="Seleccione la sucursal" ng-options="P.razon_social for P in $ctrl.plazas track by P.id_compania">
                                <option value="">Selecciona la sucursal</option>
                                   </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <p><b><small>Selecciona:</small></b></p>
          </div>
          <div class="col-md-6">
            <p><b><small>Factura Fiscal:</small></b></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <label class="radio-inline radio-styled" width="100px">
                        <input type="radio"  ng-checked="$ctrl.ImpOp == '1'" name="RdoMatriz" ng-model="$ctrl.ImpOp"  value="S" style="width:40px; height:40px;"><span><small>Imprime Tickets:</small></span>
                </label>
            <label class="radio-inline radio-styled" width="100px">
                       <input type="radio"  ng-checked="$ctrl.ImpOp == '0'"  name="RdoMatriz" ng-model="$ctrl.ImpOp" value="N"><span><small>Impresora Termica:</small></span>       
                 </label>
          </div>
          <div class="col-md-6">
            <label class="radio-inline radio-styled" width="100px">
                         <input type="radio"  ng-checked="$ctrl.Ffiscal == '1'" name="RdoFiscal" ng-model="$ctrl.Ffiscal"  value="S" style="width:40px; height:40px;"><span><small>Factura Normal</small></span>
                 </label>
            <label class="radio-inline radio-styled" width="100px">
                       <input type="radio"  ng-checked="$ctrl.Ffiscal == '0'"  name="RdoFiscal" ng-model="$ctrl.Ffiscal" value="N"><span><small>Ticket:</small></span>
                </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="modal-footer">
    <td><button type="submit" ng-disabled="ctrl.blocksave" class="btn btn-primary btn-xs" ng-click="ctrl.SaveCaja()" title="Guardar Registro"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button></td>
    <td><button type="submit" ng-disabled="ctrl.blockcancel" class="btn btn-warning btn-xs" ng-click="ctrl.cancel()" title="Cancelar cambios"><i class="glyphicon glyphicon-floppy-remove"></i> Cancelar</button></td>
    <td><button type="submit" ng-disabled="$ctrl.blockreturn" class="btn btn-default btn-xs" ng-click="ctrl.cancel()" title="Regresar"><i class="glyphicon glyphicon-hand-left"></i> Regresar</button></td>
  </div>
</form>-->