<form name="FormPlaza" angular-validator-submit="$ctrl.SavePlaza()" novalidate angular-validator autocomplete="off">
  <div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
        <br>
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">{{ $ctrl.Titulo }}</a>
        </small>
      </header>
      <div class="tools">
        <button type="submit" class="btn btn-primary btn-sm" ng-if="$ctrl.ShowBtnSave" ng-disabled="$ctrl.block" title="Guardar Región" ng-show="!$ctrl.block"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.catalogos.plazas" title="Cancelar cambios x"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
    </div>
    <div class="card-body">
      <fieldset ng-disabled="$ctrl.block">
        <div class="col-md-12">
          <div class="col-md-6">
            <h4 class="text-primary text-center"><b>Datos de la Región</b></h4>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Empresa:</small></b>
                <select name="SltDistribuidor" class="form-control input-sm" ng-model="$ctrl.distribuidor" ng-options="item as item.Nombre for item in $ctrl.distribuidores track by item.Clv_Plaza" validate-on="dirty" required required-message="'Obligatorio'">
                  <option value="">Selecciona</option>
              </select>
              </div>
              <div class="col-md-6">
                <b><small>Nombre de la Región:</small></b>
                <input name="InpPlaza" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Razonsocial" validate-on="dirty" required required-message="'Obligatorio'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Calle:</small></b>
                <input name="InpCalle" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Calle" validate-on="dirty" required
                  required-message="'Obligatorio'">
              </div>
              <div class="col-md-6">
                <b><small>Entre calles:</small></b>
                <input name="InpCalles" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Calles" validate-on="dirty" required
                  required-message="'Obligatorio'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Número Exterior:</small></b>
                <input name="InpNumExt" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.NumExt" maxlength="6" validate-on="dirty"
                  required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 6 dígitos.'">
              </div>
              <div class="col-md-6">
                <b><small>Número Interior:</small></b>
                <input name="InpNumInt" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.NumInt" maxlength="6" invalid-message="'Inválido, Ingresa 6 dígitos.'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Colonia:</small></b>
                <input name="InpColonia" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Colonia" validate-on="dirty"
                  required required-message="'Obligatorio'">

              </div>
              <div class="col-md-6">
                <b><small>Código Postal:</small></b>
                <input name="InpCP" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.CP" maxlength="5" ng-pattern="/^\d{5}$/"
                  validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 dígitos.'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Localidad:</small></b>
                <input name="InpLocalidad" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Localidad" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
              <div class="col-md-6">
                <b><small>Municipio:</small></b>
                <input name="InpMunicipio" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Municipio" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Estado:</small></b>
                <select name="InpEstado" type="text" class="form-control input-sm" ng-model="$ctrl.EstadoRegion" required required-message="'Obligatorio'" ng-options="item as item.Nombre for item in $ctrl.estados track by item.Clv_Estado " >
                  <option value="">Selecciona</option>
                </select>
              <!--   <input name="InpEstado" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Estado" validate-on="dirty" required
                  required-message="'Obligatorio'"> -->
              </div>
              <div class="col-md-6">
                <b><small>País:</small></b>
                <input name="InpPais" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Pais" validate-on="dirty" required
                  required-message="'Obligatorio'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Contacto:</small></b>
                <input name="InpContacto" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Contacto" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
              <div class="col-md-6">
                <b><small>Teléfono 1:</small></b>
                <input name="InpTelefono" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.Telefono" validate-on="dirty" validator="$ctrl.detplaza.Telefono > 0" ui-mask="(999)999-9999" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 10 dígitos.'">
              </div>
              <div class="col-md-6">
                <b><small>Email:</small></b>
                <input name="InpEmail" type="email" class="form-control input-sm" ng-model="$ctrl.detplaza.Email" validate-on="dirty" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" invalid-message="'Inválido, Ingresa un correo válido.'">
              </div>
              <div class="col-md-6">
                <label class="checkbox-inline checkbox-styled">
                  <input type="checkbox" name="ivafronterizo" ng-model="$ctrl.detplaza.ivaFrontera" ><span>Iva fronterizo</span>
                </label>
              </div>
            </div>
          </div>
          <!--datos de plaza-->
          <!--datos de almacen-->
          <div class="col-md-6">
            <div class="col-md-6">
                <h4 class="text-primary text-center"><b>Datos de almacén</b></h4>
            </div>
            <div class="col-md-6">
                <label class="checkbox-inline checkbox-styled">
                    <input type="checkbox" name="igualar" ng-change="$ctrl.igualarDomicilio()" ng-model="$ctrl.igualar" ><span>Igualar domicilio</span>
                  </label>
            </div>
            
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Calle:</small></b>
                <input name="InpCalleAlm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.CalleAlmacen" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
              <div class="col-md-3">
                <b><small>Número:</small></b>
                <input name="InpNumeroAlm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.NumIntAlmacen" maxlength="6"
                  validate-on="dirty" required required-message="'Obligatorio'" placeholder="Número">
              </div>
              <div class="col-md-3">
                <b><small>CP:</small></b>
                <input name="InpCPALm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.CPAlmacen" maxlength="5" ng-pattern="/^\d{5}$/"
                  validate-on="dirty" required required-message="'Obligatorio'" placeholder="CP" invalid-message="'Inválido, Ingresa 5 dígitos.'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Colonia:</small></b>
                <input name="InpColoniaAlm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.ColoniaAlmacen" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
              <div class="col-md-6">
                <b><small>Localidad:</small></b>
                <input name="InpLocalidadAlm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.LocalidadAlmacen" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b><small>Municipio:</small></b>
                <input name="InpMunicipioAlm" type="text" class="form-control input-sm" ng-model="$ctrl.detplaza.MunicipioAlmacen" validate-on="dirty"
                  required required-message="'Obligatorio'">
              </div>
              <div class="col-md-6">
                <b><small>Estado:</small></b>
                <select name="SltEstadoPla" type="text" class="form-control input-sm" ng-model="$ctrl.estadoselect" ng-options="item as item.Nombre for item in $ctrl.estados track by item.Clv_Estado" ng-change="$ctrl.ObtenCiudades()">
                  <option value="">Selecciona</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <br>
              <h4 class="text-primary text-center"><b>Relación Estado-Ciudad</b></h4>
              <div class="col-md-12">
                <div class="col-md-5">
                  <p><b><small>Estado:</small></b></p>
                  <select name="SltEstadoPla" type="text" class="form-control input-sm" ng-model="$ctrl.estado2select" 
                  ng-disabled="!$ctrl.Clv_plaza > 0"
                  ng-options="item as item.Nombre for item in $ctrl.estados track by item.Clv_Estado"
                    ng-change="$ctrl.ObtenCiudades()">
                                </select>
                </div>
                <div class="col-md-5">
                  <p><b><small>Ciudades:</small></b></p>
                  <select name="SltCiudadPla" type="text"
                  ng-disabled="!$ctrl.Clv_plaza > 0"
                   class="form-control input-sm" ng-model="$ctrl.CiudadPla" ng-options="item as item.nombre for item in $ctrl.ciudades track by item.Clv_Ciudad">
                                    <option value="">Selecciona</option>
                                </select>
                </div>
                <div class="col-md-2">
                  <br>
                  <button type="button" class="btn btn-success btn-xs" ng-disabled="!$ctrl.Clv_plaza > 0" title="Agregar Ciudad" ng-click="$ctrl.agregaRelacion()"><i class="fa fa-plus"></i> Agregar</button>
                </div>
              </div>
              <div class="col-md-12 " style="overflow-y: scroll; max-height: 300px;">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="45%"><b>Estado</b></th>
                      <th width="45%"><b>Ciudad</b></th>
                      <th width="10%"><b>Acciones</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="X in $ctrl.relaciones">
                      <td>{{ X.Estado }}</td>
                      <td>{{ X.Nombre }}</td>
                      <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.EliminaRelacion(X)"><i class="fa fa-trash"></i> Eliminar</button></td>
                    </tr>
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>
          <!--datos de almacen-->
        </div>
      </fieldset>
    </div>
  </div>
</form>
