<style>
    .dualmultiselect label {
        margin: 10px;
    }
    .dualmultiselect .btn-info {
        margin: 5px;
    }
    .dualmultiselect .btn-warning {
        margin: 5px;
    }
    .dualmultiselect .pool {
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        height: 240px;
        overflow-y: scroll;
    }
    .dualmultiselect .pool ul {
        list-style: none;
        padding-left: 0px;
    }
    .dualmultiselect .pool ul li {
        width: 100%;
        padding: 4px 8px 4px 4px;
        border-bottom: 1px dotted #CFCFCF;
    }
    .dualmultiselect .pool ul li a:hover {
        text-decoration: none;
    }
</style>
<form name="FormRedes" angular-validator-submit="$ctrl.SaveRedes()" novalidate angular-validator autocomplete="off">
    <div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }} {{ $ctrl.IdRed }}</strong>
                <br>
                <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">{{ $ctrl.Titulo }} {{ $ctrl.IdRed }}</a>
                </small>
            </header>
            <div class="tools">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="" title="Guardar Red" ng-if="!$ctrl.BlockBtnSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.redes" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-1">
                        <b>Nombre red:</b>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="InpNombreRed" class="form-control inpuit-sm" ng-model="$ctrl.NombreRed" ng-pattern="/^[a-zA-Z0-9]*$/" validator="$ctrl.NombreRed != undefined && $ctrl.NombreRed != null && $ctrl.NombreRed != ''" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.BlockNombreRed">
                    </div>
                    <div class="col-md-1">
                        <!--<button type="button" class="btn btn-primary btn-xs" title="Guardar Nombre de Red"><i class="fa fa-save"></i> Guardar</button>-->
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                        <button type="button" class="btn btn-success btn-md btn-block" ui-sref="home.catalogos.red_ip({mod:$ctrl.Mod, id:$ctrl.IdRed})" title="Ver la lista de IPs en la Red" ng-disabled="!$ctrl.Block"><i class="fa fa-external-link" ></i> Lista de IP</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-1">
                        <b>IP Red:</b>
                    </div>
                    <div class="col-md-6">
                    <div class="col-md-2">
                        <input type="number" name="InpIP1" class="form-control input-sm" ng-model="$ctrl.IP1" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP1 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.Block">
                    </div>
                    <div class="col-md-2">
                         <input type="number" name="InpIP2" class="form-control input-sm" ng-model="$ctrl.IP2" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP2 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.Block">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpIP3" class="form-control input-sm" ng-model="$ctrl.IP3" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP3 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.Block">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpIP4" class="form-control input-sm" ng-model="$ctrl.IP4" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP4 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.Block">
                    </div>
                    <div class="col-md-1 text-center" style="font-size:22px;">
                        /
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpMask" class="form-control input-sm" ng-model="$ctrl.Mask" min="0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'" ng-disabled="$ctrl.Block">
                    </div>
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <!--<button type="button" class="btn btn-success btn-md btn-block" ui-sref="home.catalogos.red_ip({mod:$ctrl.Mod, id:$ctrl.IdRed})" title="Ver la lista de IPs en la Red" ng-disabled="!$ctrl.Block"><i class="fa fa-external-link" ></i> Lista de IP</button>-->
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <fieldset ng-disabled="$ctrl.View">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-10">
                         <uib-tabset active="$ctrl.TabActive">
                            <uib-tab index="0" ng-if="$ctrl.BlockTab1">
                                <uib-tab-heading>
                                    Empresa
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="DD in $ctrl.RelRedDistribuidorDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ DD.Nombre }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedDistribuidor(3, DD.Clv_Plaza);" title="Agregar Empresa"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedDistribuidor(1, 0);" title="Agregar todos los Empresa" ng-disabled="$ctrl.BlockDistribuidorDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedDistribuidor(2, 0);" title="Quitar todos los Empresa" ng-disabled="$ctrl.BlockDistribuidorInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="DI in $ctrl.RelRedDistribuidorIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedDistribuidor(4, DI.ClvPlaza);" title="Quitar Empresa"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ DI.Nombre }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1" ng-if="$ctrl.BlockTab2">
                                <uib-tab-heading>
                                    Región
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="PD in $ctrl.RelRedPlazaDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;" ng-show="!$ctrl.BlockPlazaDis">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ PD.razon_social }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedPlaza(3, PD.IdCompania);" title="Agregar Región"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                            <!--
                                                            <div class="col-md-12 text-center" style="padding-top: 20%;" ng-show="$ctrl.BlockPlazaDis">
                                                                <h5>No hay Distribuidores incluidos</h5>
                                                            </div>
                                                            -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedPlaza(1, 0);" title="Agregar todos los Plazas" ng-disabled="$ctrl.BlockPlazaDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedPlaza(2, 0);" title="Quitar todos los Plazas" ng-disabled="$ctrl.BlockPlazaInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="PI in $ctrl.RelRedPlazaIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedPlaza(4, PI.IdCompania);" title="Quitar Región"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ PI.razon_social }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="2" ng-if="$ctrl.BlockTab3">
                                <uib-tab-heading>
                                    Estado
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="ED in $ctrl.RelRedEstadoDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;" ng-show="!$ctrl.BlockEstadoDis">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ ED.Nombre }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedEstado(3, ED.Clv_Estado);" title="Agregar Estado"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                            <!--
                                                            <div class="col-md-12 text-center" style="padding-top: 20%;" ng-show="$ctrl.BlockEstadoDis">
                                                                <h5>No hay Plazas incluidas</h5>
                                                            </div>
                                                            -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedEstado(1, 0);" title="Agregar todos los Estados" ng-disabled="$ctrl.BlockEstadoDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedEstado(2, 0);" title="Quitar todos los Estados" ng-disabled="$ctrl.BlockEstadoInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="EI in $ctrl.RelRedEstadoIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedEstado(4, EI.Clv_Estado);" title="Quitar Estado"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ EI.Nombre }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="3" ng-if="$ctrl.BlockTab4">
                                <uib-tab-heading>
                                    Ciudad
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="CD in $ctrl.RelRedCiudadDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;" ng-show="!$ctrl.BlockCiudadDis">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ CD.Nombre }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedCiudad(3, CD.Clv_Ciudad);" title="Agregar Ciudad"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                            <!--
                                                            <div class="col-md-12 text-center" style="padding-top: 20%;" ng-show="$ctrl.BlockCiudadDis">
                                                                <h5>No hay Estados incluidos</h5>
                                                            </div>
                                                            -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedCiudad(1, 0);" title="Agregar todos los Ciudades" ng-disabled="$ctrl.BlockCiudadDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedCiudad(2, 0);" title="Quitar todos los Ciudades" ng-disabled="$ctrl.BlockCiudadInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="CI in $ctrl.RelRedCiudadIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedCiudad(4, CI.Clv_Ciudad);" title="Quitar Ciudad"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ CI.Nombre }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="4" ng-if="$ctrl.BlockTab5">
                                <uib-tab-heading>
                                    Localidad
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="LD in $ctrl.RelRedLocalidadDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;"  ng-show="!$ctrl.BlockLocalidadDis">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ LD.Nombre }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedLocalidad(3, LD.Clv_Localidad);" title="Agregar Localidad"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                            <!--
                                                            <div class="col-md-12 text-center" style="padding-top: 20%;" ng-show="$ctrl.BlockLocalidadDis">
                                                                <h5>No hay Ciudades incluidas</h5>
                                                            </div>
                                                            -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedLocalidad(1, 0);" title="Agregar todos los Localidades" ng-disabled="$ctrl.BlockLocalidadDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedLocalidad(2, 0);" title="Quitar todos los Localidades" ng-disabled="$ctrl.BlockLocalidadInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="LI in $ctrl.RelRedLocalidadIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedLocalidad(4, LI.Clv_Localidad);" title="Quitar Localidad"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="5">
                                <uib-tab-heading>
                                    Medio
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="MD in $ctrl.RelRedMedioDisList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ MD.Descripcion }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.UpdateRelRedMedio(3, MD.IdMedio);" title="Agregar Medio"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="$ctrl.UpdateRelRedMedio(1, 0);" title="Agregar todos los Medios" ng-disabled="$ctrl.BlockMedioDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.UpdateRelRedMedio(2, 0);" title="Quitar todos los Medios" ng-disabled="$ctrl.BlockMedioInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="MI in $ctrl.RelRedMedioIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.UpdateRelRedMedio(4, MI.IdMedio);" title="Quitar Medio"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ MI.Descripcion }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                         </uib-tabset>
                    </div>
                </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>