<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Redes</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Redes</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			    <button type="button" class="btn btn-primary btn-sm" permission permission-only="'redesAdd'" ui-sref="home.catalogos.redes_nuevo" title="Crear una red nueva"><i class="fa fa-plus"></i> NUEVA RED</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchRed" class="form-control input-sm" ng-model="$SearchRed" placeholder="Buscar Red">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-9">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="20%"><b>IP Red</b></th>
                            <th width="20%"><b>Mask</b></th>
                            <th width="30%"><b>Nombre</b></th>
                            <th width="20%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!$ctrl.ViewList">
							<td class="text-center" colspan="5">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.RedList|filter:$SearchRed|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            <td>{{ X.IdRed }}</td>
                            <td>{{ X.IPRed }}</td>
                            <td>{{ X.mask }}</td>
                            <td>{{ X.NombreRed }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ui-sref="home.catalogos.redes_detalle({ id: X.IdRed})" title="Consultar Red"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'redesUpdate'" ui-sref="home.catalogos.redes_editar({ id: X.IdRed})" title="Editar Red"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <!--
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenDeleteRed(X.Clv_Red)" title="Eliminar Red"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                            -->
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.RedList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>