<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Renta de Aparatos</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm"  ui-sref="home.catalogos.aparatosrentanuevo"
                  title="Crear una Servcio Nuevo"><i class="fa fa-plus"></i> NUEVO</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchServicio" class="form-control input-sm" ng-model="$ctrl.SearchServicio" placeholder="Buscar">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>                            
              <div class="col-md-3" style="text-align:right">
                     
                    <select name="SlcTipoServicio" class="form-control input-sm" ng-model="$ctrl.servicio" ng-change="$ctrl.buscar()" ng-options="T.Concepto for T in $ctrl.servicios track by T.Clv_TipSer">
                        <option value="" >Todos</option>
                    </select>
			    </div> 
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="30%"><b>Tipo Servicio</b></th>
                            <th width="30%"><b>Paquete</b></th>
                            <th width="30%" colspan="3"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr dir-paginate="X in $ctrl.lista|filter:$ctrl.SearchServicio|itemsPerPage:7" >
                            <td>{{ X.Id }}</td>
                            <td>{{ X.TipoServicio }}</td>
                            <td>{{ X.servicio }}</td>                            
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'serviciosUpdate'" ui-sref="home.catalogos.aparatosrentaedita({ id:X.Id })" title="Editar"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'serviciosDelete'" ng-click="$ctrl.elimina(X)" title="Eliminar Servicio"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
					</dir-pagination-controls>
				</div>
                <br>
            </div>
        </div>
    </div>
</div>