<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Nueva tarifa de Aparatos</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"  ui-sref="home.catalogos.aparatosrenta" >cancelar</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        
    <div class="col-md-6"> 
      <form name="FormPlaza" angular-validator-submit="$ctrl.guardaRelacion()" novalidate angular-validator autocomplete="off">      
        <div class="col-md-12">
                <b>Tipo de Servicio:</b>
                <select name="SlcTipoServicio"
                validate-on="dirty" required
                required-message="'Obligatorio'"
                 class="form-control input-sm" ng-change="$ctrl.GetMuestraServiciosRentas()" ng-model="$ctrl.servicio" ng-options="T.Concepto for T in $ctrl.servicios track by T.Clv_TipSer">
                    <option value="" >Selecciona</option>
                </select>
        </div>
        <div class="col-md-12">           
                <b>Servicio:</b>
                <select name="servicio" 
                validate-on="dirty" required
                required-message="'Obligatorio'"
                class="form-control input-sm" ng-change="$ctrl.muestraAparatos()" ng-model="$ctrl.paquete"  ng-options="T.Descripcion for T in $ctrl.paquetes track by T.Clv_Servicio">
                    <option value="" >Selecciona</option>
                </select>
        </div>
        <div class="col-md-12">
            <h4>Aparatos</h4>
        </div>
        <div class="col-md-12" style="overflow-y:scroll; max-height:200px;">
                <table class="table">
                        <thead>
                            <th>Articulo</th>
                            <th>Aplicado</th>                   
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in $ctrl.articulos">
                                <td>{{x.Descripcion}}</td>
                                <td>
                                <label class="checkbox-inline checkbox-styled checkbox-warning">
                                    <input type="checkbox" ng-model="x.Bnd" value="option3" checked=""><span></span>
                                </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                        <button class="btn btn-warning btn-sm" type="submit" ><i class="fa fa-save"></i> Guardar Relación con el equipo</button>
                </div>
            </form>
            </div>
            <div class="col-md-6" >
                <form name="FormPlaza" angular-validator-submit="$ctrl.agregaVigencia()" novalidate angular-validator autocomplete="off">      
                    <div class="col-md-12">
                        <h4>Periodo de Vigencia</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            A partir de:
                        </div>
                       <div class="col-md-4">
                          <select class="form-control input-sm"
                          validate-on="dirty" required
                          required-message="'Obligatorio'"
                          ng-disabled="$ctrl.IdCostoAp==0"
                          name="mesInicial"
                          ng-model="$ctrl.mesInicial">
                              <option value="01">Enero</option>
                              <option value="02">Febrero</option>
                              <option value="03">Marzo</option>
                              <option value="04">Abril</option>
                              <option value="05">Mayo</option>
                              <option value="06">Junio</option>
                              <option value="07">Julio</option>
                              <option value="08">Agosto</option>
                              <option value="09">Septiembre</option>
                              <option value="10">Octubre</option>
                              <option value="11">Noviembre</option>
                              <option value="12">Diciembre</option>
                          </select>
                       </div>
                       <div class="col-md-4">
                            <select class="form-control input-sm"
                            validate-on="dirty" required
                            ng-disabled="$ctrl.IdCostoAp==0"
                            required-message="'Obligatorio'"
                            name="anioInicial"
                            ng-model="$ctrl.anioInicial">
                                <option value="2018">2018</option>
                                <option value="2018">2019</option>
                                <option value="2018">2020</option>
                                <option value="2018">2021</option>
                                <option value="2018">2022</option>
                                <option value="2018">2023</option>
                                <option value="2018">2024</option>
                                <option value="2018">2025</option>
                            </select>
                       </div>
                       <div class="col-md-4">
                            Hasta:
                        </div>
                       <div class="col-md-4">
                          <select class="form-control input-sm"
                          validate-on="dirty" required
                          ng-disabled="$ctrl.IdCostoAp==0"
                          required-message="'Obligatorio'"
                          name="mesFinal"
                          ng-model="$ctrl.mesFinal">
                              <option value="01">Enero</option>
                              <option value="02">Febrero</option>
                              <option value="03">Marzo</option>
                              <option value="04">Abril</option>
                              <option value="05">Mayo</option>
                              <option value="06">Junio</option>
                              <option value="07">Julio</option>
                              <option value="08">Agosto</option>
                              <option value="09">Septiembre</option>
                              <option value="10">Octubre</option>
                              <option value="11">Noviembre</option>
                              <option value="12">Diciembre</option>
                          </select>
                       </div>
                       <div class="col-md-4">
                            <select class="form-control input-sm" 
                            validate-on="dirty" required
                            required-message="'Obligatorio'"
                            ng-disabled="$ctrl.IdCostoAp==0"
                            name="anioFinal"
                            ng-model="$ctrl.anioFinal">
                                <option value="2018">2018</option>
                                <option value="2018">2019</option>
                                <option value="2018">2020</option>
                                <option value="2018">2021</option>
                                <option value="2018">2022</option>
                                <option value="2018">2023</option>
                                <option value="2018">2024</option>
                                <option value="2018">2025</option>
                            </select>
                       </div>
                       <div class="col-md-4"></div>
                       <div class="col-md-4">
                          Dia Inicial <input type="number"
                          validate-on="dirty" required
                          name="diaInicial"
                          ng-disabled="$ctrl.IdCostoAp==0"
                          required-message="'Obligatorio'"
                          invalid-message="'Inválido'"
                          min="1" max="31" ng-model="$ctrl.diaInicial" class="form-control input-sm"> 
                       </div>
                       <div class="col-md-4">
                          Dia Final <input type="number" 
                          validate-on="dirty" required
                          name="diaFinal"
                          ng-disabled="$ctrl.IdCostoAp==0"
                          required-message="'Obligatorio'"
                          invalid-message="'Inválido'"
                          min="1" max="31" ng-model="$ctrl.diaFinal" class="form-control input-sm"> 
                       </div>
                       <div class="col-md-12">
                           <h4 class="text-center text-danger">Tarifas</h4>
                       </div>
                       <div class="col-md-12">                  
                        <div class="col-md-4">
                            <center><label>Costo del equipo</label></center>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                                <input type="number" min="0"    
                                name="costoEquipo"
                                validate-on="dirty" required
                                ng-disabled="$ctrl.IdCostoAp==0"
                                required-message="'Obligatorio'" ng-model="$ctrl.costoEquipo"  class="form-control input-sm"> 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <center><label>Renta Principal</label></center>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                                <input type="number" min="0"   
                                style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Dollar_Sign.svg/1200px-Dollar_Sign.svg.png) no-repeat scroll 7px 7px;
                                padding-left:30px;" 
                                name="rentaPrincipal"
                                ng-disabled="$ctrl.IdCostoAp==0"
                                validate-on="dirty" required
                                required-message="'Obligatorio'" ng-model="$ctrl.rentaPrincipal" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <center>
                               <button class="btn btn-success btn-sm" ng-disabled="$ctrl.IdCostoAp==0" type="submit">Agregar</button>
                            </center>
                            </div>
                       </div>
                    </div>
        
                    <div class="col-md-12">
                        <table class="table">
                           <thead>
                               <th>Dia Inicial</th>
                               <th>Dia Final</th>
                               <th>Inicial Mes/Año</th>
                               <th>Final Mes/Año</th>
                               <th>Costo Equipo</th>
                               <th>Renta Principal</th>
                               <th>Opciones</th>
                           </thead>
                           <tbody>
                               <tr ng-repeat="x in $ctrl.vigencias">
                                   <td>{{x.DIA_INICIAL}}</td>
                                   <td>{{x.DIA_FINAL}}</td>
                                   <td>{{x.Periodo_Inicial}}</td>
                                   <td>{{x.Periodo_Final}}</td>
                                   <td>{{x.CostoArticulo | currency}}</td>
                                   <td>{{x.RentaPrincipal | currency}}</td>
                                   <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.eliminaVigencia(x)">Eliminar</button></td>
                               </tr>
                           </tbody>
        
                        </table>
                    </div>
                    </form>
               </div> 
        </div>
             
</div>