<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Servicios</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Servicios</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" permission permission-only="'serviciosAdd'" ui-sref="home.catalogos.servicio_nuevo({ id: $ctrl.TipoServicio.Clv_TipSerPrincipal })" ng-disabled="$ctrl.TipoServicio == undefined" title="Crear una Servcio Nuevo"><i class="fa fa-plus"></i> NUEVO SERVICIO</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchServicio" class="form-control input-sm" ng-model="$ctrl.SearchServicio" placeholder="Buscar Servicio">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-2 text-right">
                    <b>Tipo de Servcio:</b>
                </div>
                <div class="col-md-3" style="text-align:right">
                    <select name="SlcTipoServicio" class="form-control input-sm" ng-model="$ctrl.TipoServicio" ng-options="T.Concepto for T in $ctrl.TipoServicioList track by T.Clv_TipSerPrincipal" ng-change="$ctrl.GetServiciosList()">
                        <option value="" ng-disabled="true">Selecciona</option>
                    </select>
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="10%"><b>Clave</b></th>
                            <th width="50%"><b>Descripción</b></th>
                            <th width="30%" colspan="3"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="5">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.ServicioList|filter:$ctrl.SearchServicio|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_Servicio }}</td>
                            <td>{{ X.Clv_Txt }}</td>
                            <td>{{ X.Descripcion }}</td>
                            <td><button type="button" class="btn btn-info btn-xs"  ui-sref="home.catalogos.servicio_detalle({ id: X.Clv_Servicio })" title="Consultar Servicio"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'serviciosUpdate'" ui-sref="home.catalogos.servicio_editar({ id: X.Clv_Servicio })" title="Editar Servicio"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'serviciosDelete'" ng-click="$ctrl.OpenDeleteServicio(X)" title="Eliminar Servicio"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ServicioList.length > 0">
					</dir-pagination-controls>
				</div>
                <br>
            </div>
        </div>
    </div>
</div>