<style type="text/css">
    .nav-tabs{
        float:left;
    }
    .contect-tabs{
        float:left;
    }
    .table-scroll {
        height:150px;
        overflow:auto;
    }
</style>

<form name="FormServicios" angular-validator-submit="$ctrl.SaveServicios()" novalidate angular-validator autocomplete="off">
    <div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
                <br>
                <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a>
                </small>
            </header>
            <div class="tools">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="" title="Guardar Servicio" ng-show="!$ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.servicios" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="CbxCobroMensual" ng-model="$ctrl.CobroMensual" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetTipoCobro()" ng-disabled="$ctrl.View"><span>Cobro Mensual</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="CbxPrincipal" ng-model="$ctrl.Principal" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetClvEquiNet()" ng-disabled="$ctrl.View"><span>Principal</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                            <input type="checkbox" name="CbxAplicaComision" ng-model="$ctrl.AplicaComision" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="$ctrl.View"><span>Aplica Comisión</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                            <input type="checkbox" name="CbxGeneraOrden" ng-model="$ctrl.GeneraOrden" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetOrden()" ng-disabled="$ctrl.View"><span>Genera Orden</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="Cbxdolares" ng-model="$ctrl.dolares"  ng-disabled="$ctrl.View"><span>Servicio en dolares</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-if="$ctrl.Clv_Servicio > 0 && $ctrl.Principal == 'Y'" ng-click="$ctrl.OpenConfigurar()" title="Agregar Configuración"><i class="fa fa-cogs"></i> Configuración</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p><b>Clave:</b></p>
                    </div>
                    <div class="col-md-2">
                        <p ng-if="$ctrl.HideCobroMensual == true"><b>Precio:</b></p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Descripción:</b></p>
                    </div>
                    <div class="col-md-3">
                        <p ng-show="$ctrl.ShowOrden"><b>Trabajo:</b></p>
                    </div>
                    <div class="col-md-2">
                        <p ng-show="$ctrl.ShowClaveEquivalente"><b>Clave Equivalente:</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <input type="text" name="InpClave" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="$ctrl.Clave" maxlength="5" ng-pattern="/^[a-zA-Z0-9]{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 caracteres.'" ng-disabled="$ctrl.Disable">
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                            <input type="number" name="InpPrecio" class="form-control input-sm" ng-model="$ctrl.Precio" ng-if="$ctrl.HideCobroMensual == true" min="1" maxlength="10" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un precio.'" ng-disabled="$ctrl.View">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="InpDescripcion" class="form-control input-sm" ng-model="$ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.View">
                    </div>
                    <div class="col-md-3">
                        <select name="SlcTrabajo" class="form-control input-sm" ng-model="$ctrl.Trabajo" ng-options="T.Descripcion for T in $ctrl.TrabajoList track by T.Clv_Trabajo" ng-if="$ctrl.ShowOrden == true" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.View">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-2" ng-if="$ctrl.ShowClaveEquivalente">
                        <input type="text" name="InpClaveEquivalente" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="$ctrl.ClaveEquivalente"  maxlength="5" ng-pattern="/^[a-zA-Z0-9]{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 caracteres.'" ng-if="$ctrl.ShowClaveEquivalente" ng-disabled="$ctrl.View">
                    </div>
                    <div class="col-md-2" ng-if="$ctrl.ShowClaveEquivalenteNet">
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-if="$ctrl.ShowClaveEquivalenteNet" ng-click="$ctrl.OpenClvEquivalente()" title="Claves Equivalentes"><i class="fa fa-exchange"></i> Clave Equivalente</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" ng-show="($ctrl.ShowCobroMensual && $ctrl.Clv_Servicio > 0) || $ctrl.ShowCobroMensual">
                    <div class="col-md-12">
                        <uib-tabset active="$ctrl.ActiveTab">
                            <uib-tab index="0" ng-show="($ctrl.ShowCobroMensual && $ctrl.Clv_Servicio > 0) || !$ctrl.ShowCobroMensual">
                                <uib-tab-heading>
                                    Detalle del Servicio
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <b>Tipo de cobro:</b>
                                        </div>
                                        <div class="col-md-4">
                                            <select name="SlcTipoCobro" class="form-control input-sm" ng-model="$ctrl.TipoCobro" ng-options="C.DESCRIPCION for C in $ctrl.TipoCobroList track by C.CLV_TIPOCLIENTE" ng-change="$ctrl.GetTarifa()">
                                                <option value="" ng-disabled="true">Selecciona</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <fieldset ng-disabled="$ctrl.View">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="row" ng-if="$ctrl.TipoCobro != Undefined">
                                                <div class="col-md-12">
                                                    <div class="col-md-10" style="text-align:center">
                                                        <b>Conceptos para tipo de cobro {{ $ctrl.TipoCobro.DESCRIPCION }}</b>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary btn-sm" title="Agregar un concepto" ng-click="$ctrl.OpenAddConcepto($ctrl.TipoCobro.CLV_TIPOCLIENTE, $ctrl.Clv_Servicio)" ng-show="!$ctrl.View"><i class="fa fa-plus"></i> Agregar Concepto</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <br>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-12 table-scroll">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th><b>Concepto</b></th>
                                                                    <th><b>Precio</b></th>
                                                                    <th><b>Adicional</b></th>
                                                                    <th><b>Vigencia</b></th>
                                                                    <th><b>Avanza mes</b></th>
                                                                    <th><b>Comisión</b></th>
                                                                    <th><b>Orden</b></th>
                                                                    <th><b>Servicio al Cliente</b></th>
                                                                    <th colspan="2"><b>Acciones</b></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="X in $ctrl.TarifaList">
                                                                    <td>{{ X.CONCEPTO }}</td>
                                                                    <td>{{ X.PRECIO | currency}}</td>
                                                                    <td>{{ X.Precio_Adicional | currency}}</td>
                                                                    <td ng-if="X.Vigente == true">Si</td>
                                                                    <td ng-if="X.Vigente == false">No</td>
                                                                    <td ng-if="X.BRINCA_MES == true">Si</td>
                                                                    <td ng-if="X.BRINCA_MES == false">No</td>
                                                                    <td ng-if="X.Aplica_Comision == true">Si</td>
                                                                    <td ng-if="X.Aplica_Comision == false">No</td>
                                                                    <td ng-if="X.Genera_Orden == true">Si</td>
                                                                    <td ng-if="X.Genera_Orden == false">No</td>
                                                                    <td>{{ X.TRABAJO }}</td>
                                                                    <td><button type="button" class="btn btn-warning btn-xs" title="Editar Concepto" ng-click="$ctrl.OpenUpdateConcepto(X.CLV_LLAVE, $ctrl.TipoCobro.CLV_TIPOCLIENTE, X.CONCEPTO)"><i class="fa fa-pencil-square-o"></i> Editar</button></td>
                                                                    <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Concepto" ng-click="$ctrl.OpenDeleteConcepto(X, $ctrl.TipoCobro.CLV_TIPOCLIENTE, $ctrl.Clv_Servicio)"><i class="fa fa-trash"></i> Eliminar</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </fieldset>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    Puntos de Descuento
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:center">
                                            <b>Descuento por pronto pago y pago a meses</b>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-if="($ctrl.ShowCobroMensual && $ctrl.Clv_Servicio > 0) || $ctrl.ShowCobroMensual">
                                    <fieldset ng-disabled="$ctrl.View">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <p><b>Puntos por pronto pago:</b></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><b>Puntos de 3 a 5 meses:</b></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><b>Puntos de 6 a 11 meses:</b></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><b>Puntos por más de 11 meses:</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <input type="number" name="ImpProntoPago" class="form-control input-sm" ng-model="$ctrl.ProntoPago" min="0" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses35" class="form-control input-sm" ng-model="$ctrl.Meses35" min="0" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses611" class="form-control input-sm" ng-model="$ctrl.Meses611" min="0" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses11" class="form-control input-sm" ng-model="$ctrl.Meses11" min="0" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                    </div>
                                    </fieldset>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
        </div>
    </div>
</form>