<form name="FormSucursal" angular-validator-submit="$ctrl.SaveSucursal()" novalidate angular-validator autocomplete="off">
  <div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
        <br>
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>><a href="#" class="paginaActiva"> Catalogos > Generales Empresa > Sucursales</a>
        </small>
      </header>
      <div class="tools">
        <button type="submit" ng-disabled="$ctrl.blocksave" class="btn btn-primary btn-sm" title="Guardar Sucursal"><i class="fa fa-save"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.sucursales" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
    </div>
    <fieldset ng-disabled="$ctrl.blockForm">
      <div class="card-body">
        <br>
        <div class="col-md-4">
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Región:</b></label>
            <div class="col-md-9">
              <select class="form-control input-sm" name="plaza" validate-on="dirty" 
              ng-model="$ctrl.plaza" ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania"
                required-message="'Este campo es obligatorio.'" required>
                <option value="">Selecciona</option>
                   </select>
            </div>
          </div>
          <!--<div class="col-md-12">
            <label class="col-md-3 control-label blod">Clave:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="clave" ng-model="$ctrl.clave" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>-->
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Descripcion:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="descripcion" ng-model="$ctrl.descripcion" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>IP:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="ip" ng-model="$ctrl.ip" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Impresora Facturas Fiscales:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="impresoraff" ng-model="$ctrl.impresoraff" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Serie:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="serie" ng-model="$ctrl.serie" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Ultimo folio usado:</b></label>
            <div class="col-md-9">
              <input type="number" class="form-control input-sm" name="folio" ng-model="$ctrl.folio" validate-on="dirty" min="0" required-message="'Este campo es obligatorio.'" required invalid-message="'Invalido'">
            </div>
          </div>
          <div class="col-md-12">
          <div class="col-md-12">
            <div class="checkbox checkbox-inline checkbox-styled">
              <label>
                <input name="ChkMatriz" type="checkbox" ng-model="$ctrl.Matriz"><span><b>Es matriz</b></span>
              </label>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Impresora Tarjetas:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="tarjetas" ng-model="$ctrl.tarjetas" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Impresora Contratos:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="contratos" ng-model="$ctrl.contratos" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Impresora Tickets:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="tickets" ng-model="$ctrl.tickets" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Horario de Atención:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="atencion" ng-model="$ctrl.atencion" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Referencia Bancaria:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="referencia" ng-model="$ctrl.referencia" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Contacto:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="contacto" ng-model="$ctrl.contacto" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Email:</b></label>
            <div class="col-md-9">
              <input type="email" name="Inpemail" class="form-control input-sm" ng-model="$ctrl.email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" validate-on="dirty" invalid-message="'Inválido, Ingresa un correo válido'">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="text-primary">Dirección de sucursal</h4>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Calle:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="calle" ng-model="$ctrl.calle" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Número:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="numero" ng-model="$ctrl.numero" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Número interior:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="numeroInt" ng-model="$ctrl.numeroInt" 
                >
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Colonia:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="colonia" ng-model="$ctrl.colonia" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>C.P:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="inpcp" ng-model="$ctrl.cp" maxlength="5" validate-on="dirty" ng-pattern="/^\d{5}$/" validator="$ctrl.cp > 0" required required-message="'Este campo es obligatorio.'" invalid-message="'Inválido, Ingresa 5 dígitos.'">
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Municipio:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="municipio" ng-model="$ctrl.municipio" validate-on="dirty" required-message="'Este campo es obligatorio.'" required>
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Teléfono:</b></label>
            <div class="col-md-9">
              <input type="text"  class="form-control input-sm" name="telefono" ng-model="$ctrl.telefono" validate-on="dirty" validator="$ctrl.telefono > 0" ui-mask="(999)999-9999" required required-message="'Este campo es obligatorio.'" invalid-message="'Número de teléfono invalido.'">
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-md-3 control-label blod"><b>Ciudad:</b></label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="ciudad" ng-model="$ctrl.ciudad" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>