<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Sucursales</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a> > <a href="#" class="paginaActiva"> Catálogos > Generales Empresa</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'sucursalesAdd'" ui-sref="home.catalogos.sucursal_nueva" title="Crear una Región nueva "><i class="glyphicon glyphicon-plus"></i> NUEVA SUCURSAL</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion3">
          <div class="card panel">
            <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
              <header><b><i class="fa fa-search"></i> Buscar Sucursal</b></header>
              <div class="tools">
                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
            <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <select name="SltPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-change="$ctrl.buscar(2)" aria-placeholder="Seleccione la Región" ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania">
                        <option value="">Selecciona Región</option>
                      </select>
                    </div>
                    <div class="col-md-offset-1 col-md-3">
                      <div class="input-group">
                        <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(0);" title="Buscar por nombre "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3">
                      <div class="input-group">
                      <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.descripcion" placeholder="Descripcion">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(1);" title="Buscar por nombre "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="10%"><b>Clave</b></th>
                <th width="70%"><b>Nombre de la sucursal</b></th>
                <th width="30%" colspan="2"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.suscursales|itemsPerPage:7">
                <td>{{ X.Clv_Sucursal}}</td>
                <td>{{ X.Nombre }}</td>
                <td>
                  <button type="button" class="btn btn-info btn-xs" ui-sref="home.catalogos.SucursalDetalle({ id: X.Clv_Sucursal })" title="Consultar caja"><i class="fa fa-eye"></i> CONSULTA</button>
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-xs" permission permission-only="'sucursalesUpdate'" ui-sref="home.catalogos.sucursal_editar({ id: X.Clv_Sucursal })" title="Editar caja "><i class="fa fa-pencil-square-o"></i> EDITAR</button>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>