<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Tipos de servicios</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Tipos de servicios</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			    <button type="button" class="btn btn-primary btn-sm" permission permission-only="'tiposerviciosAdd'" ng-click="$ctrl.OpenAddTipoServicio()" title="Crear un tipo de servicio nuevo"><i class="glyphicon glyphicon-floppy-disk"></i> NUEVO TIPO DE SERVICIO</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchTipoServicio" class="form-control input-sm" ng-model="$ctrl.SearchTipoServicio" placeholder="Buscar Tipo de servicio">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="60%"><b>Nombre del tipo de servicio</b></th>
                            <th width="30%" colspan="3"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.TipoServicioList|filter:$ctrl.SearchTipoServicio|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clv_TipSer }}</td>
                            <td>{{ X.Concepto }}</td>
                        <!--     <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewTipoServicio(X.Clv_TipSer)" title="Consultar Tipo de Servicio"><i class="fa fa-eye"></i> CONSULTAR</button></td> -->
                            <td><button type="button" class="btn btn-warning btn-xs"  permission permission-only="'tiposerviciosUpdate'" ng-click="$ctrl.OpenUpdateTipoServicio(X.Clv_TipSer)" title="Editar Tipo de Servicio"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs"  permission permission-only="'tiposerviciosDelete'" ng-click="$ctrl.OpenDeleteTipoServicio(X.Clv_TipSer)" title="Eliminar Tipo de Servicio"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.TipoServicioList.length > 0">
					</dir-pagination-controls>
				</div>
                <br>
            </div>
        </div>
    </div>
</div>