<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Tipos de colonias</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Tipos de colonias</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'tiposdecoloniasAdd'" ng-click="$ctrl.OpenAddTipoColonia()" title="Crear un tipo de colonia nuevo"><i class="fa fa-plus"></i> NUEVO TIPO DE COLONIA</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" name="InpSearchTipoColonia" class="form-control input-sm" ng-model="$ctrl.SearchTipoColonia" placeholder="Buscar Tipo de colonia">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Clave</b></th>
                            <th width="60%"><b>Nombre</b></th>
                            <th width="30%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.SinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <tr dir-paginate="X in $ctrl.TipoColoniaList|filter:$ctrl.SearchTipoColonia|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                            <td>{{ X.Clave }}</td>
                            <td>{{ X.Concepto }}</td>
                           <!--  <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenViewTipoColonia(X.Clave)" title="Consultar Tipo de Colonia"><i class="fa fa-eye"></i> CONSULTAR</button></td> -->
                            <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'tiposdecoloniasUpdate'" ng-click="$ctrl.OpenUpdateTipoColonia(X.Clave)" title="Editar Tipo de Colonia"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            <td><button type="button" class="btn btn-danger btn-xs"  permission permission-only="'tiposdecoloniasDelete'" ng-click="$ctrl.OpenDeleteTipoColonia(X.Clave)" title="Eliminar Tipo de Colonia"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.TipoColoniaList.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    </div>
</div>