<style type="text/css">
    .table-scroll {
        height:150px;
        overflow:auto;  
        margin-top:20px;
    }
</style>

<style>
    .dualmultiselect label {
        margin: 10px;
    }
    .dualmultiselect .btn-info {
        margin: 5px;
    }
    .dualmultiselect .btn-warning {
        margin: 5px;
    }
    .dualmultiselect .pool {
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        height: 240px;
        overflow-y: scroll;
    }
    .dualmultiselect .pool ul {
        list-style: none;
        padding-left: 0px;
    }
    .dualmultiselect .pool ul li {
        width: 100%;
        padding: 4px 8px 4px 4px;
        border-bottom: 1px dotted #CFCFCF;
    }
    .dualmultiselect .pool ul li a:hover {
        text-decoration: none;
    }
</style>
<form name="FormCartera" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
     </div>
     <div class="modal-body">
            <div class="dualmultiselect">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h4 class="text-center"><b>{{ ctrl.title }} Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.List" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddObj(L, 1)">
                                    <b>{{ L.Nombre }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <br>
                        <br>
                        <br>
                        <br>
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.Todo(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.Todo(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <h4 class="text-center"><b>{{ ctrl.title }} Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.ListInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddObj(LI, 2)">
                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" ng-disabled="ctrl.ListInc.length == 0" title="Siguiente" ng-click="ctrl.Next()"><i class="glyphicon glyphicon-floppy-disk"></i> Siguiente</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
    
</form>