<div class="card animated fadeIn" style="margin-top:20px;">
    
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Bonificaciones</strong>
          <br />
          <small class="text-muted" style="font-size:14px; margin-left:10px;">
            <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
        </header>
        <div class="tools">
    
        </div>
      </div>
    
      <div class="card-body">
          <div class="col-md-5" ng-show="$ctrl.showfilters" >
            <div class="row">
                <h4>Selecciona Fechas</h4>   
                <div class="col-md-6">
                    <label>fecha Inicial</label>
                      <input type="date"
                      name="fechainicio"
                       ng-model="$ctrl.fechainicio" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Fecha Inicial</label>
                      <input type="date"
                      name="fechafin"
                       ng-model="$ctrl.fechafin" class="form-control">
                </div>
            </div>
                    
             <div class="row">
               <h4>Estatus de Bonificaciones</h4>
                <div class="col-md-6">
                    <label class="radio-inline radio-styled">
                      <input type="radio" name="checkqueja" ng-model="$ctrl.estatus" value="A">
                      <span>Aplicado</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="radio-inline radio-styled">
                      <input type="radio" name="checkqueja" ng-model="$ctrl.estatus" value="S">
                      <span>Sin Aplicar</span>
                    </label>
                  </div>
             </div>
              
              
              <div class="row">
                <div class="col-md-5">
                  <br>
                    <button class="btn btn-warning btn-block" ng-click="$ctrl.aceptar()">Generar Reporte</button>
                </div>
                
              </div>
            </div>
            <div class="col-md-5" ng-show="!$ctrl.showfilters">
                <filtros-reporte  report="$ctrl.report"
                order="$ctrl.order" 
                responseparams="$ctrl.responseparams"
                showfilters="$ctrl.showfilters">          
               </filtros-reporte>
            </div>
        <div class="col-md-7" > 
            <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                <iframe ng-src="{{$ctrl.url}}" id="reporteID" style="width:100%; height:100%;"></iframe>
              </div>       
        </div>         
      </div>
    </div>
    