<div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte de Cortes de Tickets</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación>Reporte de Cortes de Tickets</small>

		</header>
	</div>
	<div class="section-body">
		<div class="col-md-4 card">
			<div style="height:90%;">
				<div class="row">
					<div class="col-md-8 col-md-offset-2"><br>
						<span class="form-control">Seleccione la opción del Reporte</span>
						<select class="form-control" ng-model="$ctrl.selectedMenu" ng-change="$ctrl.menuChange()" ng-options="v.Nombre for v in $ctrl.selectMenu track by v.Clv_Vendedor"></select>
					</div>
				</div>
				<div class="row" ng-show="$ctrl.showMenus">
					<div class="card-body">
						<button type="button" class="btn btn-primary btn-block btn-sm" disabled style="color:black;">Catalogo de {{ $ctrl.selectedMenu.Nombre }}</button>
						<button type="button" ng-repeat="x in $ctrl.subMenu" class="btn btn-block ink-reaction btn-flat btn-default btn-block btn-sm" ng-click="$ctrl.secuenciaReporte(x.Reporte)">{{ x.Reporte }}</button> 
					</div>
				</div>
				<div class="row" ng-show="$ctrl.showMenus">
					<div class="col-md-12" >
                           <center>
							<span>Ordenar Reporte Por:</span>
							<label class="checkbox-inline checkbox-styled" >
					            <input type="checkbox" ng-model="$ctrl.ordenarStatus"><span>Status</span>
					        </label><br>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row" ng-show="$ctrl.showReporte">
				<div style="padding-left:20px; padding-right:20px; padding-top:10px; height:600px;">
					<iframe id="reporteID" style="width:100%; height:100%;"></iframe>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.showPlazas">
				<div style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">{{ $ctrl.titulo }} <br> Regiones</h4>
					<multi-select options="$ctrl.plazasObj"> </multi-select>
					<br/>
					<p class="text-right">
						<button class="btn btn-default btn-sm" ng-click="$ctrl.backPlazas()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atras</button>
						<button class="btn btn-primary btn-sm" ng-click="$ctrl.okPlazas()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
					</p>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.showDistribuidores">
				<div style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">{{ $ctrl.titulo }}<br> Empresas</h4>
					<multi-select options="$ctrl.distribuidoresObj"> </multi-select>
					<br/>
					<p class="text-right">
						<button class="btn btn-default btn-sm" ng-click="$ctrl.cancelarPanel()">Cancelar</button>
						<button class="btn btn-primary btn-sm" ng-click="$ctrl.okDistribuidores()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
					</p>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.showGeneralDate">
				<div style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">{{ $ctrl.titulo }} <br>Fechas</h4>
					
					<div class="col-md-6 col-md-offset-1">
						<div class="col-md-9">
							<label class="form-control">Fecha Inicial del Reporte</label>
							<input type="date" id="test_date" date-input class="form-control" ng-model="$ctrl.fechaInicio">
						</div>
					</div>
					<div class="col-md-5">
						<div class="col-md-9">
							<label class="form-control">Fecha Final del Reporte</label>
							<input type="date" id="ffinal" date-input class="form-control" ng-model="$ctrl.fechaFinal">
						</div>
					</div>

					<div class="row" ng-show="$ctrl.showEscojeCaja">
						<br><br>
						<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
							<label class="form-control">Escoge tu Caja</label>
							<select id="cajasSelect" class="form-control" ng-model="$ctrl.selectedCaja" ng-options="v.NOMBRE for v in $ctrl.cajas track by v.CLV_USUARIO"></select>
						</div>
					</div>
					<div class="row" ng-show="$ctrl.showEscojeCajero">
						<br><br>
						<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
							<label class="form-control">Escoge tu Cajero(a)</label>
							<select id="usuarioSelect" class="form-control" ng-model="$ctrl.selectedUsuario" ng-options="v.NOMBRE for v in $ctrl.usuarios track by v.CLV_USUARIO"></select>
						</div>
					</div>
					<div class="row" ng-show="$ctrl.showEscojeSucursal">
						<br><br>
						<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
							<label class="form-control">Escoge el nombre de la Sucursal</label>
							<select id="sucursalSelect" class="form-control" ng-model="$ctrl.selectedSucursal" ng-options="v.NOMBRE for v in $ctrl.sucursales track by v.CLV_SUCURSAL"></select>
						</div>
					</div>
					<div class="row" ng-show="$ctrl.showEscojeVendedor">
						<br><br>
						<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
							<label class="form-control">Escoge el Vendedor</label>
							<select id="vendedorSelect" class="form-control" ng-model="$ctrl.selectedVendedor" ng-options="v.Nombre for v in $ctrl.vendedores track by v.Clv_Vendedor"></select>
						</div>
					</div>
					<div class="row" ng-show="$ctrl.showResumen">
						<div class="col-md-4 col-md-offset-5" style="margin-top: 20px;">
							<label class="checkbox-inline checkbox-styled">
			                        <input type="checkbox" ng-model="$ctrl.resumen"><span>Resumen</span>
			                    </label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="padding-right:30px; padding-top:30px;">
							<p class="text-right" >
								<button class="btn btn-default btn-sm" ng-click="$ctrl.backFechaGeneral()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atras</button>
								<button class="btn btn-primary btn-sm" ng-click="$ctrl.generarReporte()">Generar Reporte</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
