<div class="card animated fadeIn" style="margin-top:20px;">
    
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reporte Acumulado de Clientes e Ingresos</strong>
          <br />
          <small class="text-muted" style="font-size:14px; margin-left:10px;">
            <i class="fa fa-home" aria-hidden="true"></i> Reportes </small>
        </header>
        <div class="tools">
    
        </div>
      </div>
    
      <div class="card-body">
        <div class = "col-md-5"">
            
          <div class = "row" ng-show="$ctrl.showOpcionReporte" >            
              <span class="form-control" ng-disabled="$ctrl.blocklabel">Seleccione la opción del Reporte</span>
              <select class="form-control" ng-model="$ctrl.selectedMenu" ng-change="$ctrl.menuChange()" ng-options="v.reportName for v in $ctrl.selectMenu track by v.reportId">
                <option value="">Selecciona</option>
              </select>
          </div>


          <div ng-show="$ctrl.showfilters" >
            <div class="row" ng-show="$ctrl.showfecha">
                <h4>Selecciona Fecha</h4>   
                <div class="col-md-6">
                    <label>Fecha Inicial</label>
                      <input type="date"
                      name="fechainicio"
                      ng-model="$ctrl.fechainicio" class="form-control" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>
                   
          
            <div class="row">
              <br>
              <div class="col-md-5">
            
                    <button class="btn btn-warning btn-block" ng-click="$ctrl.aceptar()">Generar Reporte</button>
         
              </div>  
              <div class="col-md-5">
              
                    <button class="btn btn-warning btn-block" ng-click="$ctrl.cancelar()">Cancelar</button>
              </div> 

            </div>
          </div>

            <div ng-show="!$ctrl.showfilters">
                <filtros-reporte  report="$ctrl.report"
                order="$ctrl.order" 
                responseparams="$ctrl.responseparams"
                showfilters="$ctrl.showfilters">          
               </filtros-reporte>
            </div>

        </div>        
        <div class="col-md-7" > 
            <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                <iframe ng-src="{{$ctrl.FileName}}" id="reporteID" style="width:100%; height:100%;"></iframe>
              </div>       
        </div>         
      </div>
    </div>
    