<div class="card animated fadeIn" style="margin-top:20px;">
    
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reporte de Ingreso por Sucursal y Plaza</strong>
          <br />
          <small class="text-muted" style="font-size:14px; margin-left:10px;">
            <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
        </header>
        <div class="tools">
    
        </div>
      </div>
    
      <div class="card-body">
          <div class="col-md-5" ng-show="$ctrl.showfilters" >
            <div class="row">
                <h4>Selecciona Fechas</h4>   
                <div class="col-md-6">
                    <label>Fecha Inicial</label>
                      <input type="date" name="fechainicio" ng-model="$ctrl.fechainicio" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Fecha Final</label>
                      <input type="date" name="fechafin" ng-model="$ctrl.fechafin" class="form-control">
                </div>
            </div>
                    
             <div class="row">
              
             </div>
              
              
              <div class="row">
                <div class="col-md-5">
                  <br>
                    <button class="btn btn-warning btn-block" ng-click="$ctrl.aceptar()">Generar Reporte</button>
                </div>
                
              </div>
            </div>
            <div class="col-md-5" ng-show="!$ctrl.showfilters">
                <filtros-reporte  report="$ctrl.report" order="$ctrl.order" 
                                  responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">          
               </filtros-reporte>
            </div>
        <div class="col-md-7" > 
            

            <div class="panel-body">
                  <uib-tabset active="active">
                      <uib-tab index="0">
                                <uib-tab-heading>
                                    <i class="fa fa-building"></i> Ingresos y Retiro de Efectivo
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    
                                    <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                                       <!--  <iframe ng-src="{{$ctrl.url}}" id="reporteID" style="width:100%; height:100%;"></iframe> -->
                                       <iframe ng-src="{{ $ctrl.FileName1 }}"  style="width: 100%; height: 100%;"></iframe>
                                    </div> 
                                                            
                                </div>
                       </uib-tab>
                       <uib-tab index="1">
                                <uib-tab-heading>
                                    <i class="fa fa-user"></i> Cobranza Cruzada
                                </uib-tab-heading>
                                <br>
                                <div class="row">                                   
                                    <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                                        <iframe ng-src="{{$ctrl.FileName2}}"  style="width:100%; height:100%;"></iframe>
                                    </div>
                                </div>
                       </uib-tab>
                       <uib-tab index="2">
                                <uib-tab-heading>
                                    <i class="md md-content-paste"></i> Entrega de Dinero
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                                        <iframe ng-src="{{$ctrl.FileName3}}"  style="width:100%; height:100%;"></iframe>
                                    </div>
                                   
                        </div>
                        </uib-tab>
                </uib-tabset>
                  
            </div>      
        </div>         
      </div>
    </div>
    