<style>
.btn-P {
  position: absolute;
  margin-top: 7%;
  margin-left: 90%;
  z-index: 1;
  text-align: center;
}
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reporte de ordenes de servicio</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
    </header>
    <div class="tools">
    </div>
  </div>

  <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search"  data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
  <div class="card-body">
      <pageslide ps-open="$ctrl.rptpanel" ps-size="95%" width="100%" height="100%" >
          <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.rptpanel = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
          <iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe>
      </pageslide>
    <div class="col-md-5">
        <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
            <div class="row">
                  <h5>Estatus del Reporte:<h5>
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">
                        <input type="radio" name="checkESTATUS" ng-model="$ctrl.estatus" value="E">
                        <span> Ejecutadas</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">
                        <input type="radio" name="checkESTATUS" ng-model="$ctrl.estatus" value="P">
                        <span>Pendientes</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">
                        <input type="radio" name="checkESTATUS" ng-model="$ctrl.estatus" value="V">
                        <span>Con Visita </span>
                      </label>
                    </div>
                  </div>
                </div>

      <div class="row">
        <br>
        <h5>Busqueda Por:</h5>
      </div>

      <div class="row">
        <div class="col-md-4">Número de Orden:</div>
        <div class="col-md-4">
          <label>Inicial:</label>
          <input type="number" class="form-control input-sm" ng-model="$ctrl.NumOrdIni" placeholder="# Inicial">
        </div>
        <div class="col-md-4">
          <label>Final:</label>
          <input type="number" class="form-control input-sm" ng-model="$ctrl.NumOrdFin" placeholder="# Final">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">Fecha de Solicitud:</div>
        <div class="col-md-4">
          <label>Desde:</label>
          <input type="date" class="form-control input-sm" ng-model="$ctrl.FechaOrdIni">
        </div>
        <div class="col-md-4">
          <label>Hasta:</label>
          <input type="date" class="form-control input-sm" ng-model="$ctrl.FechaOrdFin">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">Fecha de Ejecución:</div>
        <div class="col-md-4">
          <label>Desde:</label>
          <input type="date" class="form-control input-sm" ng-model="$ctrl.FechaEjeIni">
        </div>
        <div class="col-md-4">
          <label>Hasta:</label>
          <input type="date" class="form-control input-sm" ng-model="$ctrl.FechaEjeFin">
        </div>
      </div>

      <div class="row">
        <br>
        <div class="col-md-4">Servicios:</div>
        <div class="col-md-8">
         <select name="SlcTrabajo" class="form-control input-sm" ng-model="$ctrl.servicio" ng-options="item as item.descripcion for item in $ctrl.TrabajoList track by item.clv_trabajo">
           <option value="">Selecciona servicio</option>
         </select>
        </div>
      </div>

      <div class="row">
          <h5>Ordenar Reporte:<h5>
          <div class="col-md-12">
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="0">
                <span>Colonia</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="1">
                <span>Colonia y Calle</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="2">
                <span>Fecha Solicitud</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <br>
          <h5>Imprimir Reporte:<h5>
          <div class="col-md-12">
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checktipoImpresion" ng-model="$ctrl.tipoImpresion" value="0">
                <span>Imprimir Listado</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checktipoImpresion" ng-model="$ctrl.tipoImpresion" value="1">
                <span>Imprimir Ordenes</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline radio-styled">
                <input type="radio" name="checktipoImpresion" ng-model="$ctrl.tipoImpresion" value="2">
                <span>Imprimir Simplificado</span>
              </label>
            </div>
          </div>
        </div>
      
      </form>
    </div>

    <div class="col-md-6 col-md-offset-1 ">
      <filtros-reporte report="$ctrl.report" order="$ctrl.order" responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
      </filtros-reporte>
      <div class="row">
        <br>
        <div class="col-md-6">
            <button class="btn btn-warning btn-block" ng-disabled="!$ctrl.showfilters && ($ctrl.NumOrdIni == undefined || $ctrl.NumOrdFin == undefined || $ctrl.NumOrdIni == 0 || $ctrl.NumOrdFin == 0 || ($ctrl.NumOrdFin < $ctrl.NumOrdIni))" ng-click="$ctrl.GetReport()"><i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default btn-block" type="button" onclick="location.reload();" ><i class="fa fa-repeat" aria-hidden="true"></i> Volver Elegir</button>
        </div>
      </div>
    </div>

  </div>
</div>
