<div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte Factura Global</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reporte Factura Global</small>

		</header>
	</div>
	<div class="section-body">
        <div class="col-md-4">
            <div class="col-md-12">
                <label>Resumen de Factura Global por:</label>
                <select name="SlcTipo" class="form-control input-sm" ng-model="$ctrl.Tipo" ng-options="item as item.label for item in $ctrl.TipoList track by item.id">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <label>Distribuidor:</label>
                <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="item as item.label for item in $ctrl.DistribuidorList track by item.id">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <input type="date" name="InpFecha" class="form-control input-sm" ng-model="$ctrl.Fecha">
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success btn-md" ng-click="$ctrl.GetReporte()">Generar Reporte</button>
            </div>
            <div class="col-md-12">
                <br>
            </div>
        </div>
		<div class="col-md-8">
			<div class="row" ng-show="$ctrl.showReporte">
				<div style="padding-left:20px; padding-right:20px; padding-top:10px; height:600px;">
					<iframe id="reporteID" style="width:100%; height:100%;"></iframe>
				</div>
			</div>

		</div>
	</div>
</div>
