<style>
.btn-P {
    position: absolute;
    margin-top: 7%;
    margin-left: 90%;
    z-index: 1;
    text-align: center;
}
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Reportes Interfaz de Aparatos</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			</div>
		</div>
    </div>
    <div class="card-body">
        <pageslide ps-open="$ctrl.OpenReporte" ps-size="95%" width="100%" height="100%">
                <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.OpenReporte = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
                <iframe src="{{$ctrl.FileName}}" width="100%" height="100%" ps-zindex="9999"></iframe>
        </pageslide>
        <div class="row">
            <form name="FormReporte" angular-validator-submit="$ctrl.GetReprote()" novalidate angular-validator autocomplete="off">
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Empresa:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select class="form-control input-sm" name="SlcDistribuidor" ng-model="$ctrl.distribuidor" ng-change="$ctrl.GetPlazaList()" ng-options="item as item.Nombre for item in $ctrl.Distribuidores track by item.Clv_Plaza" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Región:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select class="form-control input-sm" name="SlcPlaza" ng-model="$ctrl.plaza" ng-options="item as item.razon_social for item in $ctrl.Plazas track by item.id_compania" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Tecnología:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select class="form-control input-sm" name="SlcServicio" ng-model="$ctrl.servicio" ng-options="item as item.Concepto for item in $ctrl.Servicios track by item.Clv_TipSer" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Tipo de Servicio:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select class="form-control input-sm" name="SlcMedio" ng-model="$ctrl.tecnologia" ng-options="item as item.Descripcion for item in $ctrl.tecnologias track by item.IdMedio" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona tipo tecnologia</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Fecha Solicitud:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <input type="date" class="form-control input-sm" name="InpFecha" ng-model="$ctrl.fechasolicitud" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Fecha Valida.'">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 text-center">
                    <button type="submit" class="btn btn-primary btn-sm" title="Generar Reporte"><i class="fa fa-print"></i> Generar Reporte</button>
                </div>
            </div>

            <!--
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <b>Contrato:</b>
                </div>
                <div class="col-md-6">
                    <b>Orden:</b>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.contrato">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.clvorden">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <br>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <b>MAC Address:</b>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.mac">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12">
                    <br>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12 text-center">
                </div>
            </div>
            -->
            </form>
        </div>
    </div>
</div>