<style type="text/css">
  .custom {
    height: 25px;
    font-size: 10px;
    padding: 0px;
    padding-left: 20px;
  }

  .btn-P {
		position: absolute;
		margin-top: 7%;
		margin-left: 90%;
		z-index: 1;
		text-align: center;
	}

</style>

<div class="card animated fadeIn" style="margin-top:20px;">

  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reportes Varios</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
    </header>
    <div class="tools">

    </div>
  </div>

  <div class="card-body">

      <pageslide ps-open="$ctrl.rptpanel" ps-size="95%" width="100%" height="100%" > 
          <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.rptpanel = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
          <iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe> 
      </pageslide> 
			
    <div class="col-md-4">
       
        <div class="row">
            <strong>Seleccione el Tipo de Servicio: </strong>
            <select class="form-control input-sm" id="selectServicioDigitalInternet" ng-model="$ctrl.ServicioDigitalInternet" 
            ng-change="$ctrl.cambiaServicio($ctrl.ServicioDigitalInternet);"
              ng-options="v.Concepto for v in $ctrl.tipoServicios track by v.Clv_TipSer">
            </select>
          </div>
          <div class="row">
            <br>
              <strong>Seleccione el Reporte: </strong>           
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()" value="DESCONECTADOS" ><span>Desconectados</span>
                     </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="SUSPENDIDOS" ><span>Suspendidos</span>               
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="ALCORRIENTE" ><span>Al corriente</span>
                   </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="ADELANTADOS" ><span>Adelantados</span>
                        </label>
                  </div>
           <!--        <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CONTRAPRINC" ><span>Contrataciones principales</span>
                        </label>
                  </div> -->
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CONTRATACIONES" ><span>Contrataciones</span>
                        </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PORPAGAR" ><span>Por Pagar</span>
                        </label>
                  </div>
      
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="INSTALACIONES" ><span>Instalaciones</span>
                        </label>
                  </div>
      
              </div>
              <div class="col-md-6">
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CANCELACIONES" ><span>Cancelaciones</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PORINSTALAR" ><span>Por instalar</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="FUERAAREA" ><span>Fuera de area</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="PAQUETECORTESIA" ><span>Paquetes de cortesía</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="CIUDAD" ><span>Ciudad</span>
                        </label>
                  </div>
                  <div class="col-sm-12">
                      <label class="radio-inline radio-styled radio-primary">               
                          <input type="radio" name="reportes" ng-model="$ctrl.Reporte" ng-change="$ctrl.getFilters()"  value="RESCOLYSTATUS" ><span>Resumen por colonia y status</span>
                        </label>
                  </div>
      
              </div>

          </div>
        
        <div class="row">
          <br>
            <div class="col-md-12">
              <strong>Ordenar reporte por: </strong>
            </div>
            <div class="col-md-6">
              <div class="radio radio-styled radio-info">
                <label>
                  <input type="radio" ng-model="$ctrl.ordenRadio" value="1">
                  <span>Contrato</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="radio radio-styled radio-info">
                <label>
                  <input type="radio" ng-model="$ctrl.ordenRadio" value="2">
                  <span>Colonia y calle</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12" ng-if="$ctrl.ServicioDigitalInternet.Clv_TipSer === 2">
            <div class="col-md-4">
              <strong>Filtrar por:</strong>
            </div>
            <div class="col-md-8">
              <label class="checkbox-inline checkbox-styled">
                <input type="checkbox" id="soloInternet" ng-model="$ctrl.soloInter" class=" filled-in chk-col-amber">
                <span>Solo internet</span>
              </label>
            </div>    
          </div>    
    </div>
    <div class="col-md-8" ng-show="$ctrl.showfilters" >
 <!--       -->
      <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
         
        <div class="col-md-12" ng-if="$ctrl.Reporte === 'CIUDAD' || $ctrl.Reporte === 'RESCOLYSTATUS'">
            <h4>Selecciona el estatus del cliente</h4>
          <div class="col-md-12">      
            <div class="col-md-3" ng-repeat="x in $ctrl.listaStatus">
                <div class="checkbox checkbox-styled">
                    <label>                     
                      <input type="checkbox" ng-change="$ctrl.bloqueaMotivo()" ng-model="x.selected">
                      <span>{{x.nombre}}</span>
                    </label>
                  </div>
            </div>
          </div>
          <div class="col-md-6" >
              <label>Selecciona el motivo de cancelación </label>
               <select class="form-control" ng-model="$ctrl.motivo" ng-disabled="$ctrl.motivoBloqueado" ng-change="$ctrl.bloqueaMotivo()"
                ng-options="P.Descripcion for P in $ctrl.MotivoCancelacionList track by P.Clv_motivo">
                <option value="">--Selecciona--</option> 
              </select> 
              <br>
          </div>

          <div class="row">
            <div class="col-md-8">
                <label class="checkbox-inline checkbox-styled">
                  <input type="checkbox" ng-model="$ctrl.buscarPor" ng-change="$ctrl.bloqueaMotivo()" class=" filled-in chk-col-amber">
                  <span>Buscar por mes que adeudan y año</span>
                </label>
            </div>  
            <div class="col-md-4"></div>
            <br>
          </div>

          <div class = "row" id="panelBuscarPor" ng-if="$ctrl.buscarPor">
            <div class="col-md-4">
              <label>Buscar por el mes que sea </label>
                <select class="form-control" ng-model="$ctrl.selectedOpMes" ng-options="P.opMesName for P in $ctrl.selectOpMes track by P.opMesId" ng-change="$ctrl.bloqueaMotivo()">                
                </select> 
            </div>
            <div class="col-md-4">
              <label>Mes que adeuda </label>
                <select class="form-control" ng-model="$ctrl.selectedMes" ng-options="v.mesName for v in $ctrl.selectMes track by v.mesId" validate-on="dirty" required-message="'Obligatorio'" ng-change="$ctrl.bloqueaMotivo()">
                   <option value="">--Selecciona--</option> 
                </select>
              </select> 
            </div>
            <div class="col-md-4">
                <label> Año </label>
                <input type="number" name="InpAnio" class="form-control input-sm" ng-model="$ctrl.Anio" validate-on="dirty" required-message="'Obligatorio'" ng-change="$ctrl.bloqueaMotivo()">
            </div>
          </div>
          
          
        </div>

         <div class="col-md-12" ng-if="$ctrl.Reporte === 'INSTALACIONES' ||
         $ctrl.Reporte === 'CONTRATACIONES' ||
         $ctrl.Reporte === 'CANCELACIONES' ||
         $ctrl.Reporte === 'FUERAAREA' ">
          
            <strong>Atencion !</strong> Selecciona un rango de fechas para el reporte.
      
          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha Inicial:</label>
           
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input type="date" class="form-control input-sm" placeholder="Fecha de Inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"  ng-model="$ctrl.fechainicio"  ng-change="$ctrl.anioPorPagar()" >
           
          </div>

          <div class="col-md-6">
            <label>
              <i class="md md-today"></i> Fecha Final:</label>
            
              <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
              </span>
              <input type="date" class="form-control input-sm" placeholder="Fecha de Inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"  ng-model="$ctrl.fechafin" ng-change="$ctrl.anioPorPagar()" >
          
          </div>

          <div class="row" ng-if="$ctrl.Reporte === 'CANCELACIONES' " >
            <div class="col-md-6">
              <label>Motivo de Cancelación </label>
               <select class="form-control" ng-model="$ctrl.motivo"  ng-change="$ctrl.anioPorPagar()" ng-options="P.Descripcion for P in $ctrl.MotivoCancelacionList track by P.Clv_motivo" validate-on="dirty" required required-message="'Obligatorio'">
                 <option value="">-- Selecciona el motivo de cancelación -- </option> 
              </select> 
            </div>
          </div>


        </div> 

         <div class="col-md-12" ng-if="$ctrl.Reporte === 'PORPAGAR' ">
          
            <div class="col-md-6">
                <label> <i class="md md-today"></i> Último mes:</label> 
                <select class="form-control" ng-model="$ctrl.selectedMes" ng-change="$ctrl.anioPorPagar()" ng-options="v.mesName for v in $ctrl.selectMes track by v.mesId"
                  validate-on="dirty" required required-message="'Obligatorio'">
                <!--   <option value="">Selecciona un Mes</option> -->
                </select>
            </div>                        
        
            <div class="col-md-6">
              <label> <i class="md md-today"></i> Año:</label>
               <input type="text" name="InpAnio" class="form-control input-sm" ng-change="$ctrl.anioPorPagar()" ng-model="$ctrl.Anio" placeholder ="Ingresa el Año" validate-on="dirty" required-message="'Obligatorio'">
          </div>
        </div> 

        <div class="col-md-12 text-center">
              <br>
              <br>
              <h4 class="text-primary"> <b>Selecciona el Tipo de Reporte</b></h4>
              <br>
              <div class="col-md-12">
                  <label class="radio-inline radio-styled">
                      <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="1">
                      <span>Imprimir Reporte</span>
                    </label>
                   <!--  <label class="radio-inline radio-styled">
                      <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="2">
                      <span>Resumen</span>
                    </label> -->
              </div>
             
              <div class="col-md-12"  ng-if="$ctrl.bloquearGeneraRep === 'desbloquear'">
                <br>
                  <button class="btn btn-warning " type="submit"><i class="fa fa-line-chart" aria-hidden="true" >                    
                  </i> Generar Reporte</button>
              </div>
              <div class="col-md-12">
                <br>
                  <button class="btn btn-warning " ng-click="$ctrl.cancelar()"><i class="fa fa-line-chart" aria-hidden="true"></i> Cancelar</button>
              </div>
        
        
        </div>
        

      </form>
    </div>

    <div class="col-md-8" >
   
      <div class="col-md-12" ng-show="!$ctrl.showfilters">
            <filtros-reporte report="$ctrl.report" order="$ctrl.order" 
            tipserv="$ctrl.ServicioDigitalInternet.Clv_TipSer"
            responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
            </filtros-reporte>
      </div>
    </div>
   </div>
</div>
