<style>
  .btn-P {
		position: absolute;
		margin-top: 7%;
		margin-left: 90%;
		z-index: 1;
		text-align: center;
	}
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reportes de Falla</strong>
          <br />
          <small class="text-muted" style="font-size:14px; margin-left:10px;">
            <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
        </header>
        <div class="tools">
          </div>
      </div>   

      <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search"  data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a> 
      <div class="card-body">
          <pageslide ps-open="$ctrl.rptpanel" ps-size="95%" width="100%" height="100%">
              <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.rptpanel = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
              <iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe>
          </pageslide>
          <div class="col-md-5">
              <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>

                <div class="row">
                    <h5>Estatus del Reporte:</h5>
                      <div class="col-md-12">
                        <div class="col-md-3">
                          <label class="radio-inline radio-styled">
                            <input type="radio" ng-model="$ctrl.ejecutada" value="0">
                            <span>Ejecutadas</span>
                          </label>
                        </div>              
                        <div class="col-md-3">
                          <label class="radio-inline radio-styled">
                            <input type="radio" ng-model="$ctrl.pendiente" value="0">
                            <span>Pendientes</span>
                         </label>
                        </div>
                        <div class="col-md-3">
                          <label class="radio-inline radio-styled">
                            <input type="radio" ng-model="$ctrl.visita" value="0">
                            <span>Con Visita</span>
                          </label>
                        </div>
                        <div class="col-md-3">
                          <label class="radio-inline radio-styled">
                            <input type="radio" ng-model="$ctrl.proceso" value="0">
                            <span>Proceso</span>
                          </label>
                        </div>
                      </div>
                </div>

                <div class="row">
                  <br>
                    <h5>Busqueda Por:</h5>
                </div>

                <div class="row">                         
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">                      
                        <input type="radio" ng-model="$ctrl.checkcontrato" ng-change="$ctrl.contrato=''" value="0"><span>Contrato</span>
                      </label>                 
                    </div>
                    <div class="col-md-4">
                      <input type="text" placeholder="# Contrato" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                           ng-disabled="!$ctrl.checkcontrato" ng-required="$ctrl.checkcontrato"
                           name="contrato" ng-model="$ctrl.contrato" class="form-control input-sm">
                      </div> 
                </div>

                <div class="row">
                    <br>
                      <div class="col-md-4">
                        <label class="radio-inline radio-styled">                      
                          <input type="radio" ng-model="$ctrl.checkrangoOrden" ng-change="$ctrl.clvOrdenInicio=0;$ctrl.clvOrdenFin=0 " value="0" >
                          <span>Numero Reportes:</span>
                        </label>
                      </div>                 
                      <div class="col-md-4">
                        <label>Inicial:</label>
                        <input type="number" ng-disabled="!$ctrl.checkrangoOrden" ng-model="$ctrl.clvOrdenInicio" class="form-control input-sm"
                             ng-required="$ctrl.checkrangoOrden" validate-on="dirty" placeholder="# Inicial" required-message="'Este campo es obligatorio.'">
                      </div>
                      <div class="col-md-4">
                          <label>Final:</label>
                        <input type="number" ng-disabled="!$ctrl.checkrangoOrden" ng-model="$ctrl.clvOrdenFin" class="form-control input-sm"
                             ng-required="$ctrl.checkrangoOrden" validate-on="dirty" placeholder="# Final" required-message="'Este campo es obligatorio.'">
                      </div>          
                </div>   
                
                <div class="row">  
                    <br>             
                      <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                          <input type="radio" ng-model="$ctrl.checkFechaSol" ng-change="$ctrl.fechasolInicial='';$ctrl.fechasolFinal='' " value="0">
                          <span>Fecha Solicitud:</span>
                        </label>           
                      </div>
                      <div class="col-md-4">
                        <label></i> Desde:</label>                   
                          <input type="date" class="form-control input-sm" ng-required="$ctrl.checkFechaSol"
                               ng-disabled="!$ctrl.checkFechaSol" placeholder="Fecha de inicio" validate-on="dirty" 
                               required-message="'Este campo es obligatorio.'" ng-model="$ctrl.fechasolInicial">
                      </div>
                      <div class="col-md-4">
                        <label>Hasta:</label>
                          <input class="form-control input-sm" type="date" ng-disabled="!$ctrl.checkFechaSol" ng-model="$ctrl.fechasolFinal" 
                               placeholder="Fecha de inicio" validate-on="dirty" ng-required="$ctrl.checkFechaSol" required-message="'Este campo es obligatorio.'">
                      </div>
                </div>

                <div class="row">
                  <br>
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">
                        <input type="radio" ng-model="$ctrl.checkFechaEje" ng-change="$ctrl.fechaejeInicial='';$ctrl.fechaejeFinal='' " value="0">
                        <span>Fecha Ejecucion:</span>
                      </label>                                 
                    </div>
                    <div class="col-md-4">
                      <label> Desde:</label>                   
                        <input class="form-control input-sm" ng-disabled="!$ctrl.checkFechaEje" ng-required="$ctrl.checkFechaEje" placeholder="Fecha de inicio"
                           type="date" validate-on="dirty" ng-model="$ctrl.fechaejeInicial" required required-message="'Este campo es obligatorio.'">
                    </div>
                    <div class="col-md-4">
                      <label> Hasta:</label>  
                        <input class="form-control input-sm" ng-required="$ctrl.checkFechaEje" ng-disabled="!$ctrl.checkFechaEje" type="date" placeholder="Fecha de inicio"
                           validate-on="dirty" required required-message="'Este campo es obligatorio.'" ng-model="$ctrl.fechaejeFinal" >
                    </div>
                </div>

                <div class="row">
                  <br>
                    <div class="col-md-3">
                      <label class="radio-inline radio-styled">
                        <input type="radio" ng-model="$ctrl.checkServicio" value="0">
                        <span>Servicios:</span>
                      </label>                  
                    </div>
                    <div class="col-md-9">
                      <select class="form-control input-sm" ng-disabled="!$ctrl.checkServicio" ng-model="$ctrl.trabajo"
                              ng-options="v.DESCRIPCION for v in $ctrl.trabajosQuejas track by v.CLV_TRABAJO"
                              ng-required="$ctrl.checkServicio" validate-on="dirty" required-message="'Este campo es obligatorio.'"  >
                        <option value="">Selecciona el servicio del cliente</option>
                      </select>
                    </div> 
                </div>

                <div class="row">
                  <br>
                    <div class="col-md-3">
                      <label class="radio-inline radio-styled">
                        <input type="radio" ng-model="$ctrl.checkDepartamento" value="0">
                        <span>Departamentos: </span>
                      </label>       
                    </div>
                    <div class="col-md-9">
                      <select class="form-control input-sm" ng-disabled="!$ctrl.checkDepartamento" ng-model="$ctrl.departamento" ng-required="$ctrl.checkDepartamento"
                              ng-options="v.nombre for v in $ctrl.departamentosList track by v.tipo" validate-on="dirty" required-message="'Este campo es obligatorio.'">
                        <option value="">Selecciona el departamento</option>
                      </select>
                    </div> 
                </div>

                <div class="row">
                  <br>
                    <div class="col-md-3">
                      <label class="radio-inline radio-styled">
                        <input type="radio" ng-model="$ctrl.checkProblema" ng-change="$ctrl.problema=''" value="0">
                          <span>Problemas:</span>
                      </label>               
                    </div>
                    <div class="col-md-9">
                      <select class="form-control input-sm" ng-disabled="!$ctrl.checkProblema" ng-model="$ctrl.problema" validate-on="dirty"
                              ng-required="$ctrl.checkProblema" required-message="'Este campo es obligatorio.'"
                              ng-options="item as item.descripcion for item in $ctrl.Problemas track by item.clvProblema ">
                          <option value="">Selecciona el problema</option>
                      </select>
                    </div>
                </div>
  
                <div class="row">
                  <br>
                  <h5>Ordenar Reporte:</h5>
                  <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="checkorden" ng-model="$ctrl.ordenrepOrdenes" value="0">
                            <span>Colonia</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="checkorden" ng-model="$ctrl.ordenrepOrdenes" value="1">
                            <span>Colonia y Calle</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="checkorden" ng-model="$ctrl.ordenrepOrdenes" value="2">
                            <span>Fecha Solicitud</span>
                        </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <h5>Imprimir Tipo de Reporte:</h5>
                    <div class="col-md-12">             
                      <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                          <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="0"><span>Listado</span>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio-inline radio-styled">
                          <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="1"><span>Listado Detallado</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline radio-styled">
                        <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="2"><span>Reportes</span>
                      </label>
                    </div> 
                  </div>                              
                </div>  

            </form>     
          </div>

          <div class="col-md-6 col-md-offset-1" >
                <filtros-reporte  report="$ctrl.report" order="$ctrl.order" responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">          
                </filtros-reporte>
                <div class="row">
                  <br>
                  <div class="col-md-6">
                      <button class="btn btn-warning btn-block" ng-disabled="!$ctrl.showfilters" ng-click="$ctrl.GetReport()">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
                  </div>
                  <div class="col-md-6">
                      <button class="btn btn-default btn-block" type="button" onclick="location.reload();" ><i class="fa fa-repeat" aria-hidden="true"></i> Volver Elegir</button>
                  </div>
                </div>
            </div> 
          
         </div>
       </div>