<style>
.btn-P {
  position: absolute;
  margin-top: 7%;
  margin-left: 90%;
  z-index: 1;
  text-align: center;
}
</style>


<div class="card animated fadeIn" style="margin-top:20px;">
    
      <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
          <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reporte de Entregas Parciales</strong>
          <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
        </header>
      <div class="tools">
    </div>
    </div>
    
      <div class="card-body">
        <pageslide ps-open="$ctrl.rptpanel" ps-size="95%" width="100%" height="100%" >
            <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.rptpanel = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
            <iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe>
        </pageslide>          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="col-md-12">
                   <div class="col-md-6">
                       <label>Selecciona Fecha inicial</label>
                        <input type="date" class="form-control" ng-model="$ctrl.fechainicio" >
                   </div>
                   <div class="col-md-6">
                        <label>Selecciona Fecha final</label>
                         <input type="date" class="form-control" ng-model="$ctrl.fechafin" >
                    </div>
               </div>
               <div class="col-md-12">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">{{ $ctrl.titulo }}<br></h4>
					          <multi-select options="$ctrl.cajerosObj"> </multi-select>
					          <br/>
					          <p class="text-right">
						        <button class="btn btn-primary btn-sm" ng-click="$ctrl.aceptar()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				          	</p>
               </div>
            </div>    
      </div>    
  </div>
</div>