<div class="card animated fadeIn" style="margin-top:20px;">
        
          <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
              <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Relación de ingresos por concepto</strong>
              <br />
              <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
            </header>
            <div class="tools">
        
            </div>
          </div>
        
          <div class="card-body">
            <div class="col-md-5">
                <form angular-validator-submit="$ctrl.aceptar()" name="contratoForm" novalidate angular-validator>
              <h4>Selecciona Fecha</h4>
              <div class="col-md-6">
                  <label>fecha Inicial</label>
                    <input type="date"
                    name="fechainicio"
                    ng-required="true"
                    required-message="Selecciona"
                     ng-model="$ctrl.fechainicio" class="form-control">
              </div>
              <div class="col-md-6">
                  <label>Fecha Inicial</label>
                    <input type="date"
                    name="fechafin"
                     ng-model="$ctrl.fechafin" class="form-control">
              </div>
              <div class="col-md-12">
                  <filtros-reporte report="$ctrl.report" order="$ctrl.order"  responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
                  </filtros-reporte>            
              </div>
              <div class="col-md-12">
                  <div class="col-md-6 col-offset-6">
                  
                      <button class="btn btn-danger btn-block" ng-disabled="!$ctrl.showfilters" type="submit" >Generar Reporte</button>
                  </div>
              
              </div>
                </form>
            </div>
            <div class="col-md-7">
                <div class="row">
                  <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
                    <iframe ng-src="{{$ctrl.url}}" id="reporteID" style="width:100%; height:100%;"></iframe>
                  </div>
                </div>
              </div>            
          </div>
        </div>
