<div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reporte de Cortes Especiales</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes</small>

		</header>
	</div>
    <div class="row">
        <div class="col-md-4">
            <div class="card panel" style="height:90%;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <span class="form-control">Seleccione la opción del reporte</span>
                        <select class="form-control"
                            ng-model="$ctrl.selectedMenu"
                            ng-change="$ctrl.menuChange()"
                            ng-options="v.Nombre for v in $ctrl.selectMenu track by v.Clv_Vendedor"></select>
                    </div>
                </div>
                <div class="row" ng-show="$ctrl.showMenus">
                    <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block btn-sm" disabled style="color:black;">Catalogo de {{ $ctrl.selectedMenu.Nombre }}</button>
                    <button type="button" ng-repeat="x in $ctrl.subMenu" class="btn btn-block ink-reaction btn-flat btn-primary btn-block btn-sm" ng-click="$ctrl.secuenciaReporte(x.Reporte)">{{ x.Reporte }}</button>
                    </div>
                </div>
                <div class="row" ng-show="$ctrl.showMenus">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <span>Ordenar Reporte Por:</span><br>
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox"  ng-model="$ctrl.ordenarStatus"><span>Status</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" ng-show="$ctrl.showGeneral">
                <div style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección General</h4>
                    <multi-select options="$ctrl.sucursalesObj"></multi-select>
                    <br/>
                    <p class="text-right">
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary btn-sm" ng-click="$ctrl.okSucursales()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </p>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showSucursales">
                <div style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección por Sucursal</h4>
                    <multi-select options="$ctrl.sucursalesObj"></multi-select>
                    <br/>
                    <p class="text-right">
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary btn-sm" ng-click="$ctrl.okSucursales()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </p>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showGeneralFacturas">
                <div style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección General de Facturas Fiscales</h4>
                    <multi-select options="$ctrl.sucursalesObj"> </multi-select>
                    <br/>
                    <p class="text-right">
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary btn-sm" ng-click="$ctrl.okSucursales()">Aceptar <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </p>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showGeneralDate">
                <div style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Fechas del Reporte</h4>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="col-md-9">
                            <label class="form-control">Fecha Inicial del Reporte</label>
                            <input type="date" id="finicial" date-input class="form-control" ng-model="$ctrl.fechaInicio">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-9">
                            <label class="form-control">Fecha Final del Reporte</label>
                            <input type="date" id="ffinal" date-input class="form-control" ng-model="$ctrl.fechaFinal">
                        </div>
                    </div>
                    <div class="row" ng-show="$ctrl.showResumen">
                        <div class="col-md-4 col-md-offset-5" style="margin-top: 20px;">
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" ng-model="$ctrl.resumen"><span>Resumen</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <br><br><br>
                        <p class="text-right" style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.backFechaGeneral()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atras</button>
                            <button class="btn btn-primary btn-sm" ng-click="$ctrl.generarReporte($ctrl.secuencia, $ctrl.resumen)">Generar Reporte</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showReporte">
              <div style="padding-left:10px; padding-right: 10px;">
                  <iframe  id="reporteID" style="width: 100%; height: 800px;"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
