<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Reporte de Mantenimiento</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			</div>
		</div>
    </div>
    <div class="card-body">
       <div class="col-md-5">
          <div class="col-md-12 text-center">
               <h4 class="text-info">Elige los filtros para generar el reporte</h4>
          </div>
          <div class="col-md-12">
              <div class="col-md-4">
                    <label class="checkbox-inline checkbox-styled checkbox-warning">
                            <input type="checkbox" ng-model="$ctrl.ejecutados"  checked=""><span>Ejecutados</span>
                        </label>
              </div>
              <div class="col-md-4">
                    <label class="checkbox-inline checkbox-styled checkbox-warning">
                            <input type="checkbox" ng-model="$ctrl.pendientes" checked=""><span>Pendientes</span>
                        </label>
              </div>
              <div class="col-md-4">
                    <label class="checkbox-inline checkbox-styled checkbox-warning">
                            <input type="checkbox" ng-model="$ctrl.proceso"  checked=""><span>Proceso</span>
                        </label>
              </div>
            
          </div>
        <div class="col-md-12">
           <div class="col-md-4">
               <br>
               <label>#Reporte</label>
            </div>
            <div class="col-md-4">
               <label>No.Inicial</label>
               <input type="number" ng-model="$ctrl.numeroInicio" class="form-control">
            </div>
            <div class="col-md-4">
                <label>No.Final</label>
                <input type="number" ng-model="$ctrl.numeroFin"  class="form-control">
            </div>
        </div>
        <div class="col-md-12">
                <div class="col-md-4">
                    <br>
                    <label>Fecha Solicitud</label>
                 </div>
                 <div class="col-md-4">
                    <label>Inicial</label>
                    <input type="date" class="form-control" ng-model="$ctrl.fechasolIni">
                 </div>
                 <div class="col-md-4">
                     <label>Final</label>
                     <input type="date" class="form-control" ng-model="$ctrl.fechasolFin">
                 </div>
             </div>
             <div class="col-md-12">
                    <div class="col-md-4">
                        <br>
                        <label>Fecha Ejecución</label>
                     </div>
                     <div class="col-md-4">
                        <label>Inicial</label>
                        <input type="date" class="form-control" ng-model="$ctrl.fechaejeIni">
                     </div>
                     <div class="col-md-4">
                         <label>Final</label>
                         <input type="date" class="form-control" ng-model="$ctrl.fechaejeFin">
                     </div>
                 </div>
             <div class="col-md-12">
                    <div class="col-md-4">
                        <br>
                            <b>Clasificación del problema</b>
                    </div>
                    <div class="col-md-8">
                           <br>
                            <select class="form-control input-sm" ng-model="$ctrl.Problema" ng-options="item as item.descripcion for item in $ctrl.Problemas track by item.clvProblema"
                                    name="problema" required-message="'Este campo es obligatorio.'" required validate-on="dirty">
                            </select>
                          </div>
             </div>
             <div class="col-md-12">
                    <div class="col-md-4">
                        <br>
                            <b>Tipo solución</b>
                    </div>
                    <div class="col-md-8">    
                        <br>                        
                              <select 
                                      class="form-control input-sm" 
                                      name="solucion" required-message="'Este campo es obligatorio.'"                                     
                                      validate-on="dirty" ng-model="$ctrl.Trabajo"
                                      ng-options="item as item.DESCRIPCION for item in $ctrl.Trabajos track by item.CLV_TRABAJO"
                                      >
                                  <option value="">Selecciona</option>
                              </select>
                          </div>
             </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <label>Tipo Reporte</label>
                </div>
            </div>
            <div class="col-md-12">
            <div class="col-md-6">
                <label class="radio-inline radio-styled" width="100px">
                    <input type="radio" name="RdoStatusOrdSer" ng-model="$ctrl.TipoR" value="D" style="width:40px; height:40px;"><span><small>Detalle</small></span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="radio-inline radio-styled" width="100px">
                    <input type="radio" name="RdoStatusOrdSer" ng-model="$ctrl.TipoR" value="R" style="width:40px; height:40px;"><span><small>Resumen</small></span>
                </label>
            </div>
             <div class="col-md-12">
                 <br>
                 <button class="btn btn-warning" ng-click="$ctrl.generaReporte()"> Generar reporte</button>
             </div>
            </div>
       </div>
       <div class="col-md-6">
            <a href="{{$ctrl.url}}" target="_blank" class="btn btn-default-bright btn-block">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i> Ver reporte en pantalla completa </a>
            <iframe src="{{$ctrl.url}}" width="700px;" height="500px;" ps-zindex="9999"></iframe>
       </div>


    </div>