<style type="text/css">
	.scrollDiv {
	  height: 360px;
	  overflow: auto;
	  overflow-x: hidden;
	}
	.btn-P {
		position: absolute;
		margin-top: 7%;
		margin-left: 90%;
		z-index: 1;
		text-align: center;
	}
  </style>
<div class="card" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Reportes Por Ciudad y Cartera</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación > Reportes Por Ciudad y Cartera</small>
		</header>
		<div class="tools">
			<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenAddCartera()" ng-disabled="$ctrl.servicio == null || $ctrl.servicio == undefine" title="Generar Nueva Cartera"><i class="fa fa-print"></i> Nueva Cartera</button>
		</div>
	</div>
	<div class="card-body">
		<pageslide ps-open="$ctrl.OpenReporte" ps-size="95%" width="100%" height="100%">
			<button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.OpenReporte = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
			<iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe>
		</pageslide>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<label><b>Selecciona servicio</b></label>
				</div>
				<div class="col-md-3">
					<select ng-model="$ctrl.servicio" class="form-control input-sm" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSer" ng-change="$ctrl.SetServicio()">
						<option value="" > - Selecciona  - </option>			          
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-12">
					<br>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-12">
					<label><b>Buscar Carteras ya existentes</b></label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-2">
					<label><b>Selecciona fecha</b></label>
				</div>
				<div class="col-md-3">
					<select ng-model="$ctrl.fecha" class="form-control input-sm" ng-change="$ctrl.CambioFecha()">
						<option value="" > - Selecciona  - </option>
						<option ng-repeat="a in $ctrl.fechas" value="{{a}}" >{{a}}</option>
					</select>
				</div>
				<div class="col-md-1">
					<label><b>Empresa</b></label>
				</div>
				<div class="col-md-3">
					<select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="D.Nombre for D in $ctrl.DistribuidorList track by D.Clv_Plaza" ng-change="$ctrl.CambioFecha()">
							<option value="">Seleciona</option>
					</select>
				</div>
				<div class="col-md-3">
					<br>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12 scrollDiv">
						<table class="table">
								<thead>
									<tr>
										<th><b>Compania</b></th>
										<th><b>Región</b></th>
										<th><b>Periodo</b></th>							
										<th><b>Opciones</b></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in $ctrl.lista">
										<td>{{x.Distribuidor}}</td>
										<td>{{x.Region}}</td>
										<td>{{x.Periodo}}</td>
										<td>
											<button class="btn btn-warning btn-xs" ng-click="$ctrl.ObtenerReporte(x)">ver reporte</button>
										</td> 
									</tr>
								</tbody>
						</table>
				</div>
			</div>
		</div>
		<!--
		<div class="col-md-5">
			<div style="height:90%;">
				<h4 class="text-center">Opciones</h4>
				<hr>
				<label><b>Selecciona servicio</b></label>
				<select ng-model="$ctrl.servicio" class="form-control" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSer">
			           <option value="" > - Selecciona  - </option>			          
			         </select>
				<br>
				<label><b>Selecciona fecha</b></label>
				<select ng-model="$ctrl.fecha" class="form-control" ng-change="$ctrl.CambioFecha()">
					<option value="" > - Selecciona  - </option>
					<option ng-repeat="a in $ctrl.fechas" value="{{a}}" >{{a}}</option>
				</select>
				     <br>
				     <center>
					    <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenAddCartera()"
					       ng-disabled="$ctrl.servicio == null || $ctrl.servicio == undefine" title="Generar Nueva Cartera"><i class="fa fa-print"></i> Nueva Cartera</button>
					  </center>
					<br>
				 <div class="col-md-12" >
					 <div class="col-md-12 scrollDiv">
							<table class="table">
									<thead>
										<th>Compania/Región</th>								
										<th>Opciones</th>
									</thead>
									<tbody>
										<tr ng-repeat="x in $ctrl.lista">
										  <td><b>{{x.Distribuidor}}</b><br>{{x.Region}}</td> 
											<td>
											  <button class="btn btn-warning btn-xs" ng-click="$ctrl.ObtenerReporte(x)">ver reporte</button>
											</td> 
										</tr>
									</tbody>
							</table>
					 </div>
				 </div>--<
				<!-- <div class="form-group">
					<label class="col-sm-3 control-label">Selecciona el tipo de reporte</label>
					<div class="col-sm-9">
						<div class="radio radio-styled radio-info">
							<label>
								<input type="radio" ng-model="$ctrl.TipoReporte"  value="cartera">
								<span>Reporte de Cartera</span>
			                </label>
						</div>
						<div class="radio radio-styled radio-info">
							<label>
								<input type="radio" ng-model="$ctrl.TipoReporte" value="ciudad">
			                    <span>Reporte por Ciudad</span>
			                 </label>
						</div>
					</div>
				</div>
				<br>
				<button ng-click="$ctrl.ObtenReporte();" class="btn btn-block btn-warning">Obtener reporte</button> -->
			<!--</div>
		</div>
		
		<div class="col-md-7">
			<div class="row">
				<div style="padding-left:20px; padding-right:20px; padding-top:10px; height:600px;">
					<iframe src="{{$ctrl.url}}" style="width:100%; height:100%;">
				</div>
			</div>
		</div>-->
	</div>
</div>