<style>
  .btn-P {
		position: absolute;
		margin-top: 7%;
		margin-left: 90%;
		z-index: 1;
		text-align: center;
	}
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Area técnica Atención Telefónica</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
    </header>
    <div class="tools">
    </div>
  </div>

  <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search"  data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
    <div class="card-body">
      <pageslide ps-open="$ctrl.rptpanel" ps-size="95%" width="100%" height="100%">
          <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.rptpanel = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
          <iframe src="{{$ctrl.url}}" width="100%" height="100%" ps-zindex="9999"></iframe>
      </pageslide>
      <div class="col-md-5">
      <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
        
        <div class="row">
          <h5>Tipos de Servicios:</h5>
          <div class="col-md-12">
            <select class="form-control input-sm" ng-model="$ctrl.tiposervicio" ng-change="$ctrl.getTrabajosQuejas()"
                    name="tiposervicio" ng-options="v.Concepto for v in $ctrl.Tiposervicios track by v.Clv_TipSerPrincipal"
                    ng-required="true" validate-on="dirty" required-message="'Este campo es obligatorio.'">
              <option value="">Selecciona tipo de servicio</option>
            </select>
          </div>
        </div>

        <div class="row">
            <h5>Busqueda Por:</h5>
        </div>

        <div class="row">
            <div class="col-md-12">Llamadas Telefónicas:</div>
              <div class="col-md-12">
                <div class="col-md-4">
                  <label class="radio-inline radio-styled">
                    <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="1">
                    <span> Sin Reporte</span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="radio-inline radio-styled">
                    <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="2">
                    <span> Con Reporte</span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="radio-inline radio-styled">
                    <input type="radio" name="checktiporep" ng-model="$ctrl.tiporeporteord" value="3">
                    <span> Con y Sin Reporte</span>
                  </label>
                </div>
              </div>
        </div>

        <div class="row">
            <br>
            <div class="col-md-4"><label>Usuarios:</label></div>
              <div class="col-md-8">
                <select class="form-control input-sm" ng-model="$ctrl.usuario" ng-options="v.Nombre for v in $ctrl.usuarios track by v.Clave"
                        validate-on="dirty" name="usuario" required-message="'Este campo es obligatorio.'">
                  <option value="">Selecciona usuario</option>
                </select>
              </div>
        </div>

        <div class="row">
            <br>
            <div class="col-md-4">Número de Llamada:</div>
            <div class="col-md-4">
              <label>Inicial:</label>
              <input type="number" name="clvLlamadaInicio" ng-model="$ctrl.clvLlamadaInicio" class="form-control input-sm"
                     placeholder="# Inicial" validate-on="dirty" required-message="'Este campo es obligatorio.'">
            </div>
            <div class="col-md-4">
              <label>Final:</label>
              <input type="number" name="clvLlamadaFin" ng-model="$ctrl.clvLlamadaFin" class="form-control input-sm"
                     placeholder="# Final" validate-on="dirty" required-message="'Este campo es obligatorio.'">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">Fecha de Solicitud:</div>
              <div class="col-md-4">
                  <label>Desde:</label>    
                <input class="form-control input-sm" name="checkFechaSol" type="date" placeholder="Fecha de inicio" 
                       validate-on="dirty" required-message="'Este campo es obligatorio.'" ng-model="$ctrl.fechasolInicial">
              </div>
              <div class="col-md-4">
                  <label>Hasta:</label>
                <input class="form-control input-sm" name="checkFechaSol" type="date" placeholder="Fecha de inicio"
                     validate-on="dirty" required-message="'Este campo es obligatorio.'" ng-model="$ctrl.fechasolFinal">
              </div>
        </div>

        <div class="row">
          <br>
            <div class="col-md-3">Servicios:</div>
              <div class="col-md-9">
                <select class="form-control input-sm" ng-model="$ctrl.servicio" name="servicio"
                    ng-options="v as v.DESCRIPCION for v in $ctrl.trabajosQuejas track by v.CLV_TRABAJO"
                    validate-on="dirty" required-message="'Este campo es obligatorio.'">
                  <option value="">Selecciona servicio del cliente</option>
                </select> 
              </div>             
        </div>

        <div class="row">
          <br>
          <div class="col-md-6">
              <label>Contrato: </label>
              <input class="form-control input-sm" validate-on="dirty" ng-model="$ctrl.contrato"
                     placeholder="# Contrato" name="contrato" required-message="'Este campo es obligatorio.'">
          </div>
          <div class="col-md-6" ng-show="$ctrl.tiporeporteord=='2'">
              <label>Reporte: </label>
              <input class="form-control input-sm" name="reporte" validate-on="dirty" 
                     placeholder="# Reporte" ng-model="$ctrl.reporte" required-message="'Este campo es obligatorio.'">
          </div>
          <div class="col-md-12" ng-show="$ctrl.tiporeporteord=='2'">
            <h5>Estatus del Reporte:</h5>
              <div class="col-md-4">
                <label class="radio-inline radio-styled">
                  <input type="radio" name="checkqueja" ng-model="$ctrl.tipoqueja" value="E">
                  <span>Ejecutada</span>
                  </label>
              </div>
              <div class="col-md-4">
                <label class="radio-inline radio-styled">
                <input type="radio" name="checkqueja" ng-model="$ctrl.tipoqueja" value="P">
                <span>Pendiente</span>
                </label>
               </div>
              <div class="col-md-4">
                <label class="radio-inline radio-styled">
                <input type="radio" name="checkqueja" ng-model="$ctrl.tipoqueja" value="V">
                <span>Visita</span>
                </label>
              </div>
            </div>
        </div>

        <div class="row">
            <h5>Ordenar Reporte:<h5>
             <div class="col-md-12">
               <div class="col-md-4">
                 <label class="radio-inline radio-styled">
                   <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="0">
                   <span>Contrato</span>
                 </label>
               </div>
               <div class="col-md-4">
                 <label class="radio-inline radio-styled">
                   <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="1">
                   <span>Fecha Solicitud</span>
                 </label>
               </div>
               <div class="col-md-4" ng-if="$ctrl.tiporeporteord=='2'">
                 <label class="radio-inline radio-styled">
                   <input type="radio" name="checkordtiporep" ng-model="$ctrl.tiporeporte" value="2">
                   <span>Reporte</span>
                 </label>
               </div>
            </div>
         </div>

       </form>
      </div>

      <div class="col-md-6 col-md-offset-1" >
        <!--ng-show="!$ctrl.showfilters"-->
        <filtros-reporte  report="$ctrl.report" order="$ctrl.order" responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">          
        </filtros-reporte>
          <div class="row">
            <br>
            <div class="col-md-6">
              <button class="btn btn-warning btn-block" ng-disabled="!$ctrl.showfilters" ng-click="$ctrl.GetReport()">
                <i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-default btn-block" type="button" onclick="location.reload();" ><i class="fa fa-repeat" aria-hidden="true"></i> Volver Elegir</button>
            </div>
          </div>
      </div> 

  </div>
</div>