<div class="card animated fadeIn" style="margin-top:20px;">
  
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Antigüedad de Órdenes y Reportes</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
      </header>
      <div class="tools">
  
      </div>
    </div>
  
    <div class="card-body">
    <div class="col-md-5" ng-show="$ctrl.showfilters" >

          <div class="row  text-center">
            <br>
            <br>
            <h4 class="text-primary"> <b>Selecciona el Tipo de Reporte</b></h4>
            <br>
              <div class="row text-center">
                <label><b>Antigüedad de Órdenes y Reportes Ejecutados</b></label>
                <br>
                <label class="radio-inline radio-styled ">
                  <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="1">
                  <span>Detalle en horas</span>
                </label>
                <label class="radio-inline radio-styled">
                  <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="2">
                  <span>Resumen en horas</span>
                </label> 
              </div>
              <div class="row text-center">
              <br>
              </div>
              <div class="row text-center">
                <label><b>Atraso de Órdenes y Reportes Pendientes</b></label> 
                <br>
                <label class="radio-inline radio-styled" >
                  <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" ng-click="$ctrl.buscarPor()" value="3">
                  <span>Detalle en días</span>
                </label>
                <label class="radio-inline radio-styled">
                  <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" ng-click="$ctrl.buscarPor()" value="4">
                  <span>Resumen en días</span>
                </label> 
              </div>
           </div>
        <br>
        <br>

        <div class="row">         
          <div class="col-md-12">
            <strong> <b>Buscar por: </b> </strong>             
          </div>
           <br>
          <div class="col-md-6">
            <div class="radio radio-styled radio-info">
              <label>
                <input type="radio" ng-model="$ctrl.opcionFecha" value="0">
                <span>Fecha de Solicitud</span>
              </label>
            </div>
          </div>
          <div class="col-md-6" ng-if="$ctrl.tiporeporte <=2 ">
            <div class="radio radio-styled radio-info">
              <label>
                <input type="radio" ng-model="$ctrl.opcionFecha" value="1">
                <span>Fecha de Ejecución</span>
              </label>
            </div>
          </div>
        </div>

          <div class="row"> 
              <br>
              <div class="col-md-12">
                <strong><b> Rango de Fechas: </b></strong>
              </div>
              <div class="col-md-6">
                  <label>Fecha Inicial</label>
                    <input type="date" name="fechainicio" ng-model="$ctrl.fechainicio" class="form-control">
              </div>
              <div class="col-md-6">
                  <label>Fecha Final</label>
                    <input type="date" name="fechafin" ng-model="$ctrl.fechafin" class="form-control">
              </div>
          </div>
           <br>
           
           <div class="row">              
           </div>


            
            
            <div class="col-md-12 text-center">              
                <br>
                  <button class="btn btn-warning" ng-click="$ctrl.aceptar()"> </i> Generar Reporte</button>  
            </div>


          </div>
          <div class="col-md-5" ng-show="!$ctrl.showfilters">
              <filtros-reporte  report="$ctrl.report" order="$ctrl.order" 
                                responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">          
             </filtros-reporte>
          </div>
      <div class="col-md-7" > 
          

          <div class="panel-body">
            <div style="padding-left:20px; padding-right:20px; padding-top:10px; height:500px;">
              <!--  <iframe ng-src="{{$ctrl.url}}" id="reporteID" style="width:100%; height:100%;"></iframe> -->
              <iframe ng-src="{{ $ctrl.FileName1 }}"  style="width: 100%; height: 100%;"></iframe>
            </div>       
          </div>      
      </div>         
    </div>
  </div>
  