<div class="card animated fadeIn" style="margin-top:20px;">
        
          <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
              <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Reporte listado de actividades del técnico</strong>
              <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Reportes</small>
            </header>
            <div class="tools">
        
            </div>
          </div>
        
          <div class="card-body">
    
           <!--    <pageslide ps-open="$ctrl.rptpanel" ps-size="1000px" >
                  <iframe src="{{$ctrl.url}}" width="1000px;" height="800px;" ps-zindex="9999"></iframe>
              </pageslide> -->
     
         <!--      <div class="row"> -->
                
            <div class="col-md-5" ng-show="!$ctrl.showfilters">
                <filtros-reporte report="$ctrl.report" order="$ctrl.order"  responseparams="$ctrl.responseparams" showfilters="$ctrl.showfilters">
                </filtros-reporte>            
            </div>
    
                  <div class="col-md-5" ng-show="$ctrl.showfilters" style="margin-top:30px;" >
                      <form angular-validator-submit="$ctrl.GetReport()" name="contratoForm" novalidate angular-validator>
                          <div class="col-md-12">                         
                                <h4 class="text-info">Selecciona los filtros para generar el reporte</h4><br>
                                <div class="col-md-12">
                                    <label><i class="md md-today"></i> Fecha Inicial:</label>
                                    <div class="input-group">                            
                                      <input class="form-control" type="date" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                                        ng-model="$ctrl.fechainicio" >
                                    </div>
                                </div>
                        
                              <div class="col-md-12">
                                  <label> <i class="md md-today"></i> Fecha final:</label>
                                  <div class="input-group">                           
                                    <input class="form-control " type="date" placeholder="Fecha de inicio" validate-on="dirty" required required-message="'Este campo es obligatorio.'"
                                      ng-model="$ctrl.fechafin" >
                                  </div>
                                  
                              </div>   
                          </div>
                         
                          <div class="col-md-12">
                            <br>
                              <label><b>Tipo de orden</b></label><br>
                              <label class="radio-inline radio-styled">
                              <input type="radio" name="inlineRadioOptions" ng-model="$ctrl.tiporeporte" value="0"><span>Ordenes</span>
                              </label>
                              <label class="radio-inline radio-styled">
                                <input type="radio" name="inlineRadioOptions"  ng-model="$ctrl.tiporeporte"  value="1"><span>Reportes de Falla</span>
                              </label>
                              <label class="radio-inline radio-styled">
                                    <input type="radio" name="inlineRadioOptions"  ng-model="$ctrl.tiporeporte"  value="2"><span>Ambas</span>
                                  </label>
                          </div>
                       
                       <div class="col-md-12">
                          <br>
                          <br>
                          <div class="col-md-6">
                              <button class="btn btn-warning btn-block"><i class="fa fa-line-chart" aria-hidden="true"></i> Generar Reporte</button>
                          </div>
                          <div class="col-md-6">
                              <button class="btn btn-default btn-block" type="button" onclick="location.reload();" ><i class="fa fa-repeat" aria-hidden="true"></i> Volver Elegir</button>
                          </div>
                        </div>
                      </form>
                  </div>
    
                  <div class="col-md-7">
                        <a href="{{$ctrl.url}}" target="_blank" class="btn btn-default-bright btn-block">
                                <i class="fa fa-external-link-square" aria-hidden="true"></i> Ver reporte en pantalla completa </a>
                        <iframe src="{{$ctrl.url}}" width="700px;" height="500px;" ps-zindex="9999"></iframe>
                  </div>
              </div>
          </div>
    <!-- </div> -->
    
    </div>