<style>
  h4, .h4 {
    font-size: 17px;    
    font-weight: 400;
}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
          <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Autorización gastos</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
              <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
              <a href="#" class="paginaActiva">Gastos</a>
            </small>
          </header>
          <div class="tools">
            <div class="btn-group">
                <button title="Regresar" type="button" ui-sref="home.gastos.autorizaciongastos" class="btn btn-default-bright btn-sm" name="button"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
            </div>
          </div>
        </div>
        <div class="card-body">          
         <div class="row">
           <div class="col-md-4">
             
             
             <div class="col-md-12 card">  
               <div class="card-body">
                  <h4 style=" padding: 5px;color: #0f6086;"><b>Solicitud de Gasto # {{$ctrl.gasto.IdGasto}}</b></h4>         
                  <h4><b>Descripción:</b> # {{$ctrl.gasto.DescripcionGasto}}</h4>
                  <h4><b>Fecha:</b> {{$ctrl.gasto.Fecha2}}</h4>
                  <h4><b>Usuario que solicitó:</b> {{$ctrl.gasto.usuario.Clv_Usuario}}</h4>
                  <hr>
                  <h4><b>Compania:</b> {{$ctrl.gasto.distribuidor.Nombre}}</h4>
                  <h4><b>Región:</b> {{$ctrl.gasto.plaza.Razonsocial}}</h4>
                  <h4><b>Ciudad:</b> {{$ctrl.gasto.ciudad.Nombre}}</h4>
                  <h4><b>Clasificación:</b> {{$ctrl.gasto.clasificacion.Descripcion}}</h4>
                  <h4><b>Departamento:</b> {{$ctrl.gasto.departamento.Descripcion}}</h4>
                </div>     
               
             </div>
            
           </div>
           <div class="col-md-8" >
           
             <div class="col-md-12 card">
               <div class="card-body">
                 <div class="row">
                   <div class="col-md-8">
                      <h4>Conceptos</h4>
                   </div>
                   <div class="col-md-4">
                      <div class="checkbox checkbox-styled">
                          <label>
                            <input type="checkbox" value="" ng-model="$ctrl.checkAutoriza" ng-change="$ctrl.autorizarConceptos()">
                            <span>Autorizar/Desautorizar todos</span>
                          </label>
                        </div>
                   </div>
                 </div>
                 
                  
  
                  <div class="row" style="max-height:400px; overflow-y:scroll;">
                      <table class="table">
                          <thead>
                             <th>Clave</th>
                             <th>Descripcion</th>
                             <th>Importe</th>
                             <th>Estatus</th>
                             <th>Autorizado</th>
                             <th>Fecha Autorización</th>
                             <th>Usuario Autorizó</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in $ctrl.detalle" style="font-size: 12px;">
                              <td>{{x.IdDetalle}}</td>
                              <td>{{x.Descripcion}}<br>
                                  <span class="text-primary">{{x.observaciones}}</span>
                              </td>
                              <td>{{x.Importe | currency}}</td>
                              <td>
                                <label ng-if="x.Status=='P'">Por Autorizar</label>
                                <label ng-if="x.Status=='A'">Autorizado</label>                                
                              </td>
                              <td ng-if="x.Editable==true">                                
                                <button ng-if="x.Status=='P'" ng-click="x.Status='A';$ctrl.calculaMonto();" class="btn btn-xs btn-default">Autorizar</button>
                                <button ng-if="x.Status=='A'" ng-click="x.Status='P';$ctrl.calculaMonto();" class="btn btn-xs btn-success">Autorizado</button>
                             </td>
                             <td ng-if="x.Editable==false">                            
                                <button  class="btn btn-xs btn-default-bright" style="color:rgb(42, 172, 42);"><b>Autorizado</b></button>
                             </td>
                              
                           <td>{{x.fechaautorizacion}}</td>
                            <td>{{x.usuarioAutorizo.Clv_Usuario}}</td>
                            </tr>
                          </tbody>
                        </table>
                   </div>            
                   <div class="row">
                     <div class="col-md-6">
                       <h4><b>Total Autorizado: </b>{{$ctrl.montoauto | currency}}</h4>
                     </div>
                     <div class="col-md-6">
                        <h4><b>Conceptos Autorizados: </b>{{$ctrl.cantauto}}</h4>
                        
                     </div>
                   </div>
                   <div class="row">
                      <div class="col-md-5 col-md-offset-7">
                        <br>
                        <button ng-click="$ctrl.guardar()"
                        ng-disabled="$ctrl.cantauto==0 "
                        class="btn btn-block btn-primary"><i class="fa fa-save"></i> Autorizar conceptos </button>
                      </div>
                   </div>
               </div>
                
             </div>
             
            
           </div>
         </div>
        </div>
      </div>
      