
<style>
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 4px;
    line-height: 1.846153846;
    vertical-align: top;
    font-size: 11px;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}
.conceptos-autorizados{
   width: 500px;  
   
   position:  fixed;
   bottom: 10px;
   right: 10px;
   -webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.34);
-moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.34);
box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.34);
}

</style>
<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Autorización de gastos</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
        <a href="#" class="paginaActiva">Gastos</a>
      </small>
    </header>
    <div class="tools">     
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header>
            <i class="fa fa-search"></i> Buscar</header>
          <div class="tools">
            <a class="btn btn-icon-toggle">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">                     
                <div class="row">
                  <div class="col-md-3">
                    <label for="">Empresa</label>
                    <select class="form-control input-sm" ng-change="$ctrl.obtienePlazas()" ng-options="item as item.Nombre for item in $ctrl.empresas track by item.Clv_Plaza"
                      ng-model="$ctrl.empresa">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="">Región</label>
                    <select class="form-control input-sm" ng-model="$ctrl.region" ng-change="$ctrl.getSucursales()" ng-options="item as item.razon_social for item in $ctrl.regiones track by item.id_compania">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                      <label><b>Sucursal:</b></label>
                  <select name="Sucursal" ng-change="$ctrl.GetConceptos()" class="form-control input-sm" ng-model="$ctrl.sucursal" ng-options="C.Nombre for C in $ctrl.sucursales track by C.Clv_Sucursal" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                      <option value="">Todas las sucursales</option>
                  </select>
                 </div>      
                  <div class="col-md-3">
                      <label for="">Clasificaciones</label>
                      <select class="form-control input-sm" ng-model="$ctrl.clasificacion" ng-change="$ctrl.GetConceptos()" ng-options="item as item.Descripcion for item in $ctrl.clasificaciones track by item.Clv_Clasificacion">
                        <option value="">todas las clasificaciones</option>
                      </select>
                    </div>
                      
                
                </div>  
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Tipo de Gasto</label>
                        <select class="form-control input-sm" ng-model="$ctrl.tipo" ng-change="$ctrl.GetConceptos()" >
                          <option value="">Todos los tipos</option>
                          <option value="1">Fijo</option>
                          <option value="0">Extraordinario</option>
                        </select>
                      </div>   
                    <div class="col-md-3">
                        <label>Fecha Inicio</label>
                        <input type="date" class="form-control input-sm" ng-model="$ctrl.fechaInicio">
                      </div>
                      <div class="col-md-3">
                          <label>Fecha Fin</label>
                          <input type="date" class="form-control input-sm" ng-model="$ctrl.fechaFin">
                        </div>
                      <div class="col-md-2">
                            <br>
                            <button class="btn btn-info btn-xs" ng-click="$ctrl.GetConceptos()">
                              <i class="fa fa-search"></i> Buscar</button>
                      </div>
                </div>           
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <th># Solicitud</th>
          <th>Región</th>
          <th>Sucursal</th>
          <th>Fecha</th>
          <th>Clasificación</th>
          <th>Tipo</th>
          <th>Concepto</th>
          <th>Importe</th>          
          <th>Autorizó</th>  
          <th>Opciones</th>        
        </thead>
        <tbody>
          <tr dir-paginate="X in $ctrl.conceptos|itemsPerPage:10">
            <td>{{X.IdGasto}}</td>
            <td>{{X.compania}}</td>
            <td>{{X.sucursal.Nombre}}</td>
            <td>{{X.FechaCorta}}</td>
            <td>{{X.Clasificacion}}</td>
            <td >{{X.TIPO}}</td>           
            <td>{{X.Descripcion}}</td>
            <td>{{X.Importe | currency}}</td>          
            <td></td>
            <td ng-if="$ctrl.usuarioCorporativo">              
          <!--     <button  ng-if="X.Status == 'A'"  disabled class="btn btn-success btn-xs"> Autorizado </button>
              <button  ng-if="X.Status == 'P'"  ng-click="$ctrl.autorizar(X)"  class="btn btn-success btn-xs"> Autorizar </button> -->
              <label ng-if="X.Status == 'P'" class="checkbox-inline checkbox-styled checkbox-info">
                <input  ng-if="X.Status == 'P'" type="checkbox"  ng-model="X.selected" ng-change="$ctrl.autConceptos(X,$index)"><span> Autorizar</span>
              </label>
            </td>
        </tr>
        </tbody>
      </table>
      <br>
      <div style="margin-top:-40px;">
        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
</div>


 
  <div class="panel-group conceptos-autorizados" id="accordionres">

    <div class="card panel">
      <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordionres" data-target="#accordionres-1"
        aria-expanded="false">
        <header style="padding: 25px 24px !important;">
          <b>Conceptos Autorizados:</b> <b>{{$ctrl.conceptosAutorizados.length}}</b>
          <button style="margin-left:15px;" class="btn btn-success btn-sm" ng-click="$ctrl.autorizar()"><i class="fa fa-check"></i> Autorizar</button>
        </header>
        <div class="tools">
           
          <a class="btn btn-icon-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
      <div id="accordionres-1" class="collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
              <div class="col-md-12 " style="max-height:">
                  <table class="table" >
                      <thead>                  
                          <th>Sucursal</th>                      
                          <th>Clasificación</th>
                          <th>Tipo</th>
                          <th>Concepto</th>
                          <th>Importe</th>  
                          <th>opcion</th>                           
                        </thead>
                        <tbody>
                            <tr ng-repeat=" X in $ctrl.conceptosAutorizados">    
                              
                                <td>{{X.sucursal.Nombre}}</td>                           
                                <td>{{X.Clasificacion}}</td>
                                <td >{{X.TIPO}}</td>           
                                <td>{{X.Descripcion}}</td>
                                <td>{{X.Importe | currency}}</td> 
                                <td><button ng-click="$ctrl.eliminaConcepto(X.IdDetalle)" class="btn ink-reaction btn-icon-toggle btn-xs btn-danger"><i class="fa fa-trash"></i></button></td                   
                            </tr>
                        </tbody>
                  </table>                
              </div>   
              <div class="col-md-12">
                
              </div>            
              
        </div>
      </div>
    </div>
    <div class="col-md-12">
      
    </div>
  </div>

</div>
<!-- <div class="col-md-12">  
  <div class="col-md-6 col-md-offset-6">
    <button class="btn btn-success btn-sm"><i class="fa fa-check"></i> Autorizar</button>
  </div>
</div> -->

