<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
      padding: 5px 4px;
      line-height: 1.846153846;
      vertical-align: top;
      font-size: 12px;
      border-top: 1px solid rgba(189, 193, 193, 0.2);
  }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Gastos</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Gastos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenCatGastoAdd()" title="Crear un gasto"><i class="fa fa-plus"></i> NUEVO GASTO</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="InpSearchCatGasto" class="form-control input-sm" ng-model="$ctrl.SearchCatGasto" placeholder="Buscar Categoría de gastos">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
			</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="9%"><b>Clave</b></th>
                                <th width="14%"><b>Descripción</b></th>
                                <th width="14%"><b>Clasificación</b></th>
                                <th width="9%"><b>Importe</b></th>
                                <th width="9%"><b>Tipo</b></th>
                                <th width="14%"><b>Departamento</b></th>
                                <th colspan="2" width="21%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--
                            <tr ng-show="!$ctrl.ViewList">
                                <td class="text-center" colspan="4">SIN REGISTROS</td>
                            </tr>
                            <tr dir-paginate="X in $ctrl.CatGastoList|filter:$ctrl.SearchCatGasto|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            -->
                            <tr dir-paginate="X in $ctrl.categorias|filter:$ctrl.SearchCatGasto|itemsPerPage:7">
                                <td>{{ X.Clv_CateGasto }}</td>
                                <td>{{ X.Descripcion }}</td>
                                <td>{{ X.DescripcionClas }}</td>
                                <td>{{ X.Importe  | currency }}</td>
                                <td ng-if="X.Fijo == 1">Fijo</td>
                                <td ng-if="X.Fijo == 0">Extraordinario</td>
                                <td>{{ X.DescripcionDpto }}</td>
                                
                                <td><button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.OpenCatGastoUpdate(X)" title="Editar Categoría de gastos"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenCatGastoDelete(X)" title="Eliminar Categoría de gastos"><i class="fa fa-pencil-square-o"></i> ELIMINAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" >
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>