<form name="FormLocalidad" angular-validator-submit="ctrl.SaveClasGasto()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.ShowSave">
        <div class="row">            
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-3">
                    <label><b>Descripción:</b></label>
                </div>
                <div class="col-md-9">
                    <input type="text" name="InpDescripcion" class="form-control input-sm" ng-model="ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>            
          
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6">
                        <label><b>Clasificación:</b></label>
                    <select name="SlcClasificacion" class="form-control input-sm" ng-model="ctrl.clasificacion" ng-options="c.Descripcion for c in ctrl.clasificaciones track by c.Clv_Clasificacion" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Seleciona</option>
                    </select>
                </div>
                <div class="col-md-6">

                        <div class="col-md-6">
                                <label><b> Tipo:</b></label><br>
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="RdoFijo"  ng-model="ctrl.Fijo" value="S"><span>Fijo</span>
                            </label>
                        </div>
                        <div class="col-md-6">
                                <br>
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="RdoFijo" ng-model="ctrl.Fijo" value="N"><span>Extraordinario</span>
                            </label>
                        </div>
                      
                </div>
            </div>
            
           
            <div class="col-md-10 col-md-offset-1">
                
                   
                <div class="col-md-6">
                        <label><b>Departamento:</b></label>
                    <select name="SlcDepartamento" class="form-control input-sm" ng-model="ctrl.departamento" ng-options="D.Descripcion for D in ctrl.departamentos track by D.IdDpto" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Seleciona</option>
                    </select>
                </div>
                <div class="col-md-6">
                        <label><b>Importe:</b></label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                            <input type="text" 
                            ng-disabled="ctrl.Fijo == 'N'"
                            name="InpImporte" 
                            class="form-control input-sm"
                            ng-model="ctrl.Importe"
                            validate-on="blur"
                            ng-required="!ctrl.Fijo == 'N'" required-message="'Obligatorio'"
                            ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" 
                            invalid-message = "'Ingresa un importe correcto'"
                            min="1">
                        </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Categoría de Gastos" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> {{ ctrl.BtnCanTitulo }}</button>
    </div>
</form>