<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Clasificación de gastos</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Gastos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm"
                permission permission-only="'clasificaciondegastosAdd'"
                ng-click="$ctrl.OpenClasGastoAdd()" title="Crear una Clasificación de Gasto Nueva"><i class="fa fa-plus"></i> NUEVA </button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="InpSearchClaGasto" class="form-control input-sm" ng-model="$ctrl.SearchClaGasto" placeholder="Buscar Clasificación de Gasto">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
			</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="15%"><b>Clave</b></th>
                                <th width="60%"><b>Descripción</b></th>
                                <th colspan="2" width="25%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr dir-paginate="X in $ctrl.clasificaciones|filter:$ctrl.SearchClaGasto|itemsPerPage:7"  >
                                <td>{{ X.Clv_Clasificacion }}</td>
                                <td>{{ X.Descripcion }}</td>
                                
                                <td><button type="button"
                                    permission permission-only="'clasificaciondegastosUpdate'"
                                    class="btn btn-warning btn-xs" ng-click="$ctrl.OpenClasGastoUpdate(X)" title="Editar Clasificación de Gastos"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenClasGastoDelete(X)" title="Eliminar Clasificación de Gastos"><i class="fa fa-pencil-square-o"></i> ELIMINAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.clasificaciones.length > 0" pagination-id="ClaGastoList">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>