<form name="FormLocalidad" angular-validator-submit="ctrl.SaveClasGasto()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">           
            <div class="col-md-12">
                <div class="col-md-12">
                    <label><b>Descripción:</b></label>
                </div>
                <div class="col-md-12">
                    <input type="text" name="Descripcion" class="form-control input-sm" ng-model="ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.ShowSave">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Clasificación de Gastos" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> {{ ctrl.BtnCanTitulo }}</button>
    </div>
</form>