<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Areas Administrativas</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Gastos</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenDepartamentoAdd()" title="Crear una AREA"><i class="fa fa-plus"></i> NUEVO AREA</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="InpSearchDepartamento" class="form-control input-sm" ng-model="$ctrl.SearchDepartamento" placeholder="Buscar Departamentos">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
			</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="15%"><b>Clave</b></th>
                                <th width="30%"><b>Descripción</b></th>                               
                                <th colspan="2" width="25%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--
                            <tr ng-show="!$ctrl.ViewList">
                                <td class="text-center" colspan="4">SIN REGISTROS</td>
                            </tr>
                            <tr dir-paginate="X in $ctrl.DepartamentoList|filter:$ctrl.SearchDepartamento|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            -->
                            <tr dir-paginate="X in $ctrl.departamentos|filter:$ctrl.SearchDepartamento|itemsPerPage:7"  >
                                <td>{{ X.IdDpto }}</td>
                                <td>{{ X.Descripcion }}</td>                               
                                <td><button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.OpenDepartamentoUpdate(X)" title="Editar Departamentos"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenDepartamentoDelete(X)" title="Eliminar Departamentos"><i class="fa fa-pencil-square-o"></i> ELIMINAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.DepartamentoList.length > 0" pagination-id="DepartamentoList">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>