
<style>
    /*.dualmultiselect label {
        margin: 10px;
    }*/
    /*.dualmultiselect input {
        margin: -10px;
    }*/
    .dualmultiselect .btn-info {
        margin: 5px;
    }
    .dualmultiselect .btn-warning {
        margin: 5px;
    }
    .dualmultiselect .pool {
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        height: 400px;
        overflow-y: scroll;
    }
    .dualmultiselect .pool ul {
        list-style: none;
        padding-left: 0px;
    }
    .dualmultiselect .pool ul li {
        width: 100%;
        /*padding: 4px 8px 4px 4px;*/
        border-bottom: 1px dotted #CFCFCF;
    }
    .dualmultiselect .pool ul li a:hover {
        text-decoration: none;
    }
</style>
<form name="FormSolicitud" angular-validator-submit="$ctrl.SaveSolicitud()" novalidate angular-validator autocomplete="off">
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Title }} {{ $ctrl.NombreCompleto }} {{ $ctrl.IdCliente }}</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Clientes</a>
            </small>
        </header>
        <div class="tools">
            <button type="submit" class="btn btn-primary btn-sm" title="Guardar Solicitud" ng-if="!$ctrl.ShowSave3"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
            <button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.gastos.gastos" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary text-center">Datos de Solicitud</h4>
                        </div>
                    </div>                  
                    <div class="col-md-12">                        
                        <div class="col-md-12">
                                <label><b>Descripción:</b></label>
                            <input type="text" name="InpDescripcion" class="form-control input-sm" ng-model="$ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave">
                        </div>
                    </div>
                    <div class="col-md-12">                       
                        <div class="col-md-12">
                                <label><b>Empresa:</b></label>
                            <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="D.Nombre for D in $ctrl.DistribuidorList track by D.Clv_Plaza" ng-change="$ctrl.GetPlazaList()" validate-on="dirty" required required-message="'Obligatorio'"  ng-disabled="$ctrl.ShowSave1">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">                        
                        <div class="col-md-12">
                                <label><b>Región:</b></label>
                            <select name="SlcRegion" class="form-control input-sm" ng-model="$ctrl.Region" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" ng-change="$ctrl.GetEstadoList()" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">                       
                        <div class="col-md-12">
                                <label><b>Estado:</b></label>
                            <select name="SlcEstado" class="form-control input-sm" ng-model="$ctrl.Estado" ng-options="E.Nombre for E in $ctrl.EstadoList track by E.Clv_Estado" ng-change="$ctrl.GetCiudadList()" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">                        
                        <div class="col-md-12">
                                <label><b>Ciudad:</b></label>
                            <select name="SlcCiudad" class="form-control input-sm" ng-model="$ctrl.Ciudad" ng-options="C.Nombre for C in $ctrl.CiudadList track by C.Clv_Ciudad" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">                        
                            <div class="col-md-12">
                                    <label><b>Sucursal:</b></label>
                                <select name="Sucursal" class="form-control input-sm" ng-model="$ctrl.Sucursal" ng-options="C.Nombre for C in $ctrl.sucursales track by C.Clv_Sucursal" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                                    <option value="">Seleciona</option>
                                </select>
                            </div>
                        </div>
                    <div class="col-md-12">
                         <div class="col-md-4">
                                <label><b>Tipo:</b></label>
                             <label class="radio-inline radio-styled">
                                <input type="radio" name="RdoFijo" ng-model="$ctrl.Fijo" value="S" ng-change="$ctrl.GetGastosList()" ng-disabled="$ctrl.ShowSave2"><span>Fijo</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                             <label class="radio-inline radio-styled">
                                <input type="radio" name="RdoFijo" ng-model="$ctrl.Fijo" value="N" ng-change="$ctrl.GetGastosList()" ng-disabled="$ctrl.ShowSave2"><span>Extraordinario</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                         <div class="col-md-12">
                                <label><b>Departamento:</b></label>
                            <select name="SlcDepartamento" class="form-control input-sm" ng-model="$ctrl.Departamento" ng-options="D.Descripcion for D in $ctrl.DepartamentoList track by D.IdDpto" validate-on="dirty" required required-message="'Obligatorio'" ng-change="$ctrl.GetGastosList()" ng-disabled="$ctrl.ShowSave2">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">                        
                        <div class="col-md-12">
                                <label><b>Clasificación:</b></label>
                            <select name="SlcClasGasto" class="form-control input-sm" ng-model="$ctrl.ClasGasto" ng-options="CG.Descripcion for CG in $ctrl.ClasGastoList track by CG.Clv_Clasificacion" validate-on="dirty" required required-message="'Obligatorio'" ng-change="$ctrl.GetGastosList()" ng-disabled="$ctrl.ShowSave2">
                                <option value="">Seleciona</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-7 text-left" ng-if="!$ctrl.ShowSave">
                    <p class="text-danger"><b>Nota:</b> Para agregar o remover un concepto, posiciónate en él y da clic</p>
                </div>
                <div class="col-md-5 text-right" ng-if="!$ctrl.ShowSave">
                    <label class="checkbox-inline checkbox-styled" ng-if="!$ctrl.ShowSave">
                        <input type="checkbox" name="CbxPrimerMen" ng-model="$ctrl.AddAll" ng-click="$ctrl.AddAllC()" ng-if="!$ctrl.ShowSave" ng-disabled="$ctrl.ShowSave2"><span><small>Agregar Todos</small></span>
                    </label>
                </div>
                <div class="dualmultiselect">
                    <div class="col-md-6">
                        <h4 class="text-center text-primary"><b>Conceptos Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="G in $ctrl.GastosList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:12px; cursor:pointer;">
                                <div class="col-md-12" style="padding-top: 3%;"  ng-click="$ctrl.AddGastoSolicitud(G, 1);" >
                                    <b><a href="">{{ G.Descripcion }}</a></b>                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-9" ng-if="G.Fijo == true"  style="padding-top: 3%;"><b style="color:green;" >Fijo</b></div>
                                    <div class="col-md-9" ng-if="G.Fijo == false" style="padding-top: 3%;"><b style="color:blue;">Extraordinario</b></div>
                                    <!--<div class="col-md-3" ng-if="G.Fijo == false" style="padding-top: 3%;"></div>-->
                                    <div class="col-md-3" style="padding-top: 3%;"><b>{{ G.Importe | currency }}</b></div>
                                </div>
                                <!-- <div ng-if="G.Fijo == true" class="col-md-3" style="padding-top: 3%;" >
                                    <b style="color:green;" >Fijo</b>
                                </div>
                                <div ng-if="G.Fijo == false" class="col-md-3" style="padding-top: 3%;">
                                    <b style="color:blue;">No Fijo</b>
                                </div>
                                <div class="col-md-2" style="padding-top: 3%;">
                                    <b>{{ G.Importe | currency }}</b>
                                </div> -->
                                <!--
                                <div class="col-md-2">
                                    <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="$ctrl.AddGastoSolicitud(G, 1);" ng-disabled="$ctrl.ShowSave3" title="Agregar Concepto" ng-disabled="$ctrl.ShowSave3"><i class="md-chevron-right"></i></button>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center text-primary"><b>Conceptos Incluidos</b></h4>        
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="GI in $ctrl.GastosIncList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:12px; cursor:pointer;">
                                <!--<div class="col-md-2">
                                    <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="$ctrl.AddGastoSolicitud(GI, 0);" title="Quitar Concepto" ng-disabled="GI.Status == 'A' || GI.Aplicada == true || $ctrl.ShowSave3"><i class="md-chevron-left"></i></button> 
                                </div>-->
                                <div class="col-md-12" style="padding-top: 3%;" ng-click="$ctrl.AddGastoSolicitud(GI, 0);" >
                                    <b><a href="">{{ GI.Descripcion }}</a></b>                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4" ng-if="GI.Fijo == true" style="padding-top: 3%;"> <b style="color:green;">Fijo</b></div>
                                    <div class="col-md-4" ng-if="GI.Fijo == false" style="padding-top: 3%;"> <b style="color:blue;">Extraordinario</b></div>
                                    <div class="col-md-4" ng-if="GI.Status == 'P'" style="padding-top: 3%;"> <b style="color:red;">Pendiente</b></div>
                                    <div class="col-md-4" ng-if="GI.Status == 'A'" style="padding-top: 3%;"> <b style="color: #2196f3;">Autorizado</b></div>
                                    <!--<div class="col-md-3"  style="padding-top: 3%;"></div>-->                                   
                                    <!--<div class="col-md-4" style="padding-top: 3%;" ng-if="$ctrl.Fijo == 'S'"><b>{{ GI.Importe | currency }}</b></div>-->
                                    <!--<div ng-if="$ctrl.Fijo == 'N'" class="col-md-4" >-->
                                    <div class="col-md-4">
                                        <span class="input-group-addon" style="    
                                        position: absolute;
                                        padding-left: 0;
                                        padding-right: 0px;
                                        margin-right: 50px;"><i class="fa fa-usd fa-lg"></i></span>
                                            <div class="input-group" style="margin-left: 15px;
                                            position: relative;
                                            display: table;
                                            border-collapse: separate;">                                                  
                                                        <input type="text" 
                                                        ng-disabled="GI.Status == 'A' || GI.Aplicada == true || $ctrl.ShowSave3"
                                                        name="InpImporte{{GI.Clv_CateGasto}}" 
                                                        class="form-control input-sm"
                                                        ng-model="GI.Importe"
                                                        validate-on="blur"
                                                        required required-message="'Obligatorio'"
                                                        ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" 
                                                        invalid-message = "'No válido'"                                               
                                                        min="1">
                                                    </div>


                                       <!--  <input type="number" name="InpImporte{{GI.Clv_CateGasto}}" ng-model="GI.Importe" class="form-control input-sm" min="1" validate-on="dirty" required required-message="''" invalid-message="''" ng-disabled="GI.Status == 'A' || GI.Aplicada == true || $ctrl.ShowSave3"> -->
                                    </div>
                                    <div class="col.md-12">
                                        <input type="text" class="form-control input-sm"  ng-model="GI.observaciones" placeholder="Observaciones">
                                       <!--  <button class="btn btn-xs btn-flat"><i class="fa fa-eye"></i>Obs</button> -->
                                    </div>
                                </div>
<!-- 
                                <div ng-if="$ctrl.Fijo == 'S'" class="col-md-7 text-left" style="padding-top: 3%;">
                                    <strong><b >{{ GI.Descripcion }}</b></strong>
                                </div>
                                <div ng-if="$ctrl.Fijo == 'N'" class="col-md-6 text-left" style="padding-top: 3%;">
                                    <strong><b>{{ GI.Descripcion }}</b></strong>
                                </div>
                                <div ng-if="GI.Fijo == true" class="col-md-3 text-right" style="padding-top: 3%;">
                                    <b style="color:green;">Fijo</b>
                                </div>
                                <div ng-if="GI.Fijo == false" class="col-md-3 text-right" style="padding-top: 3%;">
                                    <b  style="color:blue;">No Fijo</b>
                                </div>
                                <div ng-if="$ctrl.Fijo == 'S'" class="col-md-2 text-right" style="padding-top: 3%;">
                                    <strong><b>{{ GI.Importe  | currency }}</b></strong>                                    
                                </div>
                                <div ng-if="$ctrl.Fijo == 'N'" class="col-md-3 text-right" style="padding-top: 3%;">
                                    <input type="number" name="InpImporte{{GI.Clv_CateGasto}}" ng-model="GI.Importe" class="form-control input-sm" min="1" validate-on="dirty" required required-message="''" invalid-message="''" ng-disabled="GI.Status == 'A' || GI.Aplicada == true || $ctrl.ShowSave3">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>