<style>
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 4px;
    line-height: 1.846153846;
    vertical-align: top;
    font-size: 11px;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Solicitud de gastos</strong>
        <br>
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
          <a href="#" class="paginaActiva">Gastos</a>
        </small>
      </header>
      <div class="tools">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" ui-sref="home.gastos.gastosnuevo" title="Crear Nueva Solicitud de Gasto"><i class="fa fa-plus"></i> NUEVA SOLICITUD DE GASTO</button>
          </div>
      </div>
    </div>
    <div class="card-body">
      <div class="panel-group" id="accordion3">
        <div class="card panel">
          <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
            aria-expanded="false">
            <header>
              <i class="fa fa-search"></i> Buscar solicitud</header>
              <div class="tools">
                <a class="btn btn-icon-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
              </div>
          </div>
          

          <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
               <!--  <div class="row">
                    <div class="col-md-2">
                      <label for=""><b># Solicitud</b></label>
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.solicitud">
                    </div>
                    <div class="col-md-2">
                      <label for=""><b># Autorización</b></label>
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.autorizacion">
                    </div>
                    <div class="col-md-3">
                      <label for=""><b>Departamentos</b></label>
                      <select class="form-control input-sm" ng-model="$ctrl.departamento" ng-change="$ctrl.buscar()" ng-options="item as item.Descripcion for item in $ctrl.departamentos track by item.IdDpto">
                        <option value="">selecciona</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <br>
                      <button class="btn btn-info btn-sm" ng-click="$ctrl.buscar()">
                        <i class="fa fa-search"></i> Buscar</button>
                    </div>
                  </div> -->
                <div class="row">
                    <div class="col-md-1">
                        <label for=""><b># Solicitud</b></label>
                        <input type="number" class="form-control input-sm" ng-model="$ctrl.solicitud">
                      </div>
                      <div class="col-md-1">
                          <br>
                          <button class="btn btn-info btn-xs" ng-click="$ctrl.buscar()">
                            <i class="fa fa-search"></i> Buscar</button>
                        </div>
                    <div class="col-md-3">
                      <label for=""><b>Empresa</b></label>
                      <select class="form-control input-sm" ng-change="$ctrl.obtienePlazas()" ng-options="item as item.Nombre for item in $ctrl.empresas track by item.Clv_Plaza"
                        ng-model="$ctrl.empresa">
                        <option value="">selecciona</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <label for=""><b>Región</b></label>
                      <select class="form-control input-sm" ng-model="$ctrl.region" ng-change="$ctrl.obtieneEstados()" ng-options="item as item.razon_social for item in $ctrl.regiones track by item.id_compania">
                        <option value="">selecciona</option>
                      </select>
                    </div>

                   <!--  <div class="col-md-2">
                      <label for=""><b>Estados</b></label>
                      <select class="form-control input-sm" ng-model="$ctrl.estado" ng-change="$ctrl.obtieneCiudades()" ng-options="item as item.Nombre for item in $ctrl.estados track by item.Clv_Estado">
                        <option value="">selecciona</option>
                      </select>
                    </div> -->
                    <div class="col-md-2">
                        <label><b>Sucursal:</b></label>
                    <select name="Sucursal" ng-change="$ctrl.buscar()" class="form-control input-sm" ng-model="$ctrl.sucursal" ng-options="C.Nombre for C in $ctrl.sucursales track by C.Clv_Sucursal" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="$ctrl.ShowSave1">
                        <option value="">Seleciona</option>
                    </select>
                   </div>
                   <div class="col-md-2">
                      <label for=""><b>Departamentos</b></label>
                      <select class="form-control input-sm" ng-model="$ctrl.departamento" ng-change="$ctrl.buscar()" ng-options="item as item.Descripcion for item in $ctrl.departamentos track by item.IdDpto">
                        <option value="">selecciona</option>
                      </select>
                    </div>
                   <!--  <div class="col-md-2">
                      <label for="">Ciudad</label>
                      <select class="form-control input-sm" ng-model="$ctrl.ciudad" ng-options="item as item.nombre for item in $ctrl.ciudades track by item.Clv_Ciudad">
                        <option value="">selecciona</option>
                      </select>
                    </div> -->
                    <!-- <div class="col-md-2">
                      <br>
                      <button class="btn btn-info btn-sm" ng-click="$ctrl.buscar()">
                        <i class="fa fa-search"></i> Buscar</button>
                    </div> -->
                  </div>
                </div>
              </div> 
         
          </div>
        </div>
      

  
      <div class="row">
        <table class="table">
          <thead>
            <th>#solicitud</th>
            <th>Estatus</th>         
            <th>Región</th>
            <th>Ciudad</th>
            <th>Sucursal</th>
            <th>Departamento</th>
            <th>Fecha</th>
            <th>Importe</th>
            <th>Importe Autorizado</th>
            <th colspan="3">Opciones</th>
          </thead>
          <tbody>
            <tr dir-paginate="X in $ctrl.solicitudes|itemsPerPage:5">
              <td>{{X.IdGasto}}</td>
              <td>{{X.estatus}}</td>             
              <td>{{X.plaza.Razonsocial}}</td>
              <td>{{X.ciudad.Nombre}}</td>
              <td>{{X.sucursal.Nombre}}</td>
              <td>{{X.departamento.Descripcion}}</td>
              <td>{{X.Fecha2}}</td>
              <td>{{X.Importe | currency}}</td>
              <td>{{X.ImporteAutorizado | currency}}</td>
              <td>              
                <button               
                ui-sref="home.gastos.gastosconsultar({ id:X.IdGasto})"
                class="btn btn-info btn-xs">
                  <i class="fa fa-eye"></i> Detalle</button>
              </td>
              <td>              
                <button
                ng-disabled="X.estatus==='AUTORIZADO'"
                ui-sref="home.gastos.gastoseditar({ id:X.IdGasto})"
                class="btn btn-warning btn-xs">
                  <i class="fa fa-pencil"></i> Editar</button>
              </td>
              <td> 
                 <!--  ng-disabled="!X.Editable"   -->         
                 <button
                         
                 ui-sref="home.gastos.aplicaciondetalle({ id:X.IdGasto})"
                 class="btn btn-success btn-xs">
                   <i class="fa fa-check"></i> Aplicar</button>
               </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div style="margin-top:-40px;">
          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>