<style>
        
           b{
               font-size:13px;
           }
       
           .controlreporte{
               margin-bottom:15px;
           }
       </style>
       <div class="card animated fadeIn" style="margin-top:20px;">
         <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
           <header>
             <strong style="font-weight:bold; border:none; margin-left:10px;">Solicitud de Gastos pendientes de Aplicar</strong>
             <br>
             <small class="text-muted" style="font-size:14px; margin-left:10px;">
               <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
               <a href="#" class="paginaActiva">Gastos</a>
             </small>
           </header>
           <div class="tools"></div>
         </div>
       
         <div class="card-body">
       
           <div class="row">
       
             <div class="col-md-4">
       
               <div class="col-md-12 controlreporte">
                   <div class="col-md-4">
                       <label><b>Empresa:</b></label>
                   </div>
                   <div class="col-md-8">
                       <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Empresa" ng-options="D.Nombre for D in $ctrl.DistribuidorList track by D.Clv_Plaza"
                       ng-change="$ctrl.GetPlazaList()" validate-on="dirty" required required-message="'Obligatorio'">
                       <option value="">Seleciona</option>
                       </select>
                   </div>
               </div>
               
               <div class="col-md-12 controlreporte">
                   
                   <div class="col-md-4">
                       <label> <b>Región:</b></label>
                   </div>
                   <div class="col-md-8">
                       <select name="SlcRegion" class="form-control input-sm" ng-model="$ctrl.Region" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania"
                       ng-change="$ctrl.GetEstadoList()" validate-on="dirty" required required-message="'Obligatorio'">
                       <option value="">Seleciona</option>
                       </select>
                   </div>
                </div>
       
                <div class="col-md-12 controlreporte">
                    
                       <div class="col-md-4">
                         <label><b>Estado:</b></label>
                       </div>
                       <div class="col-md-8">
                         <select name="SlcEstado" class="form-control input-sm" ng-model="$ctrl.Estado" ng-options="E.Nombre for E in $ctrl.EstadoList track by E.Clv_Estado"
                           ng-change="$ctrl.GetCiudadList()" validate-on="dirty" required required-message="'Obligatorio'">
                           <option value="">Todos los estados</option>
                         </select>
                       </div>
               </div>
       
       
               <div class="col-md-12 controlreporte">
                       <div class="col-md-4">
                         <label><b>Ciudad:</b></label>
                       </div>
                       <div class="col-md-8">
                         <select name="SlcCiudad" class="form-control input-sm" ng-model="$ctrl.Ciudad" ng-options="C.Nombre for C in $ctrl.CiudadList track by C.Clv_Ciudad"
                           validate-on="dirty" required required-message="'Obligatorio'">
                           <option value="">todas las ciudades</option>
                         </select>
                       </div>
                     </div>
       
                     <div class="col-md-12 controlreporte">
                           <div class="col-md-4">
                             <label>
                               <b>Clasificación:</b>
                             </label>
                           </div>
                           <div class="col-md-8">
                             <select name="SlcCiudad" class="form-control input-sm" ng-model="$ctrl.clasificacion" ng-options="C.Descripcion for C in $ctrl.clasificaciones track by C.Clv_Clasificacion"
                               validate-on="dirty" required required-message="'Obligatorio'">
                               <option value="">Todos</option>
                             </select>
                           </div>
                         </div>
                  
       
               <div class="col-md-12 controlreporte">
                   <div class="col-md-4">
                       <label><b>Departamentos:</b></label>
                   </div>
                   <div class="col-md-8">
                       <select name="SlcCiudad" class="form-control input-sm" ng-model="$ctrl.departamento" ng-options="C.Descripcion for C in $ctrl.departamentos track by C.IdDpto"
                       validate-on="dirty" required required-message="'Obligatorio'">
                       <option value="">Todos</option>
                       </select>
                   </div>
               </div>
               <div class="col-md-12">
                   <div class="col-md-6">
                     <label>Fecha Inicio</label>
                    <input type='text' id="fechaInicio" data-language='es' name="fechaInicio" ng-model="$ctrl.fechaInicio" class="datepicker-here form-control" data-position="right top" />
                   </div>
                   <div class="col-md-6">
                      <label>Fecha Fin</label>
                    <input type='text' id="fechaFin"  data-language='es' name="fechaFin" ng-model="$ctrl.fechaFin" class="datepicker-here form-control" data-position="right top" />
                   </div>
                 </div>
       
               <div class="col-md-12 controlreporte">
                   <br>
                   <button class="btn btn-primary" ng-click="$ctrl.generar()"> Generar Reporte</button>
               </div>
           </div>
           <div class="col-md-5">
                   <iframe src="{{$ctrl.url}}" width="750" height="500"></iframe>
           </div>
           
         </div>
       </div>
       