<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> {{ ctrl.Titulo }}</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar la {{ ctrl.Tipo }}?</b></p>
    <p><b>Clave:</b> {{ ctrl.Clave }}</p>
    <p><b>Descripción:</b> {{ ctrl.Descripcion }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.Delete()" title="{{ ctrl.Titulo }}"><i class="fa fa-trash"></i> Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>