<div class="modal-header">
<button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
<h4 class="modal-title">¡Atencion!</h4>
</div>
<div class="modal-body">
  <h2 class="text-center">{{ctrl.pregunta}}</h2>
</div>
<div class="modal-footer">
<button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
<button class="btn btn-default btn-sm"  type="button"  ng-click="ctrl.cancel()" >Cancelar</button>
</div>

