<style>
    .col-md-12{
      margin-bottom: 15px;
    }
</style>
       
      <div class="card animated fadeIn fast" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
          <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Listado de precios Articulos de instalación</strong>
              <br />
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
              <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Configuración</a>>
              <a href="#" class="paginaActiva"></a>
            </small>
          </header>
          <div class="tools">                
          </div>
        </div>

        <div class="card-body">
          <div class="col-md-5">
            <form name="FormUsuario" angular-validator-submit="$ctrl.agregar()" novalidate angular-validator autocomplete="off">
                    
              <div class="col-md-12">
                <label>Clasificación de material</label>
                  <select ng-model="$ctrl.clasificacion" 
                    name="clasificacion"
                    ng-required="true" validate-on="dirty"
                    required-message="'Este campo es obligatorio'"
                    ng-options="v.concepto for v in $ctrl.articulosAcometida track by v.clvtipo"
                    class="form-control" ng-change="$ctrl.CambioClasificacion()">
                    <option value="" > ------- </option>                   
                  </select>
              </div>

              <div class="col-md-12">
                <label>Descripción del artículo</label>
                  <select ng-model="$ctrl.articulo" 
                    ng-required="true" validate-on="dirty"
                    required-message="'Este campo es obligatorio'"
                    name="articulo"
                    ng-options="v.concepto for v in $ctrl.articulos track by v.clave"
                    class="form-control">
                    <option value="" > ------- </option>                        
                  </select>
              </div>

              <div class="col-md-6">
                <label>Precio:</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                      <input type="number"
                        invalid-message="'Cantidad inválida'"
                        ng-required="true" validate-on="dirty"
                        required-message="'Este campo es obligatorio'" 
                        name="precio"
                        class="form-control" ng-model="$ctrl.precio" min="0" >
                  </div>
              </div>

              <div class="col-md-6">
                <br>
                <button class="btn btn-info btn-sm"> <i class="fa fa-plus"></i>Agregar</button>
              </div>

            </form>
          </div>

          <div class="col-md-7">
            <table class="table">
              <thead>
                <th>NoArticulo</th>
                <th>Clave</th>
                <th>Concepto</th>
                <th>Precio</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr dir-paginate="x in $ctrl.lista|itemsPerPage:8">
                  <td>{{x.NoArticulo}}</td>
                  <td>{{x.Clave}}</td>
                  <td>{{x.Concepto}}</td>
                  <td>{{x.Precio | currency}}</td>
                  <td><button class="btn btn-danger btn-xs" ng-click="$ctrl.eliminar(x)"><i class="fa fa-trash"></i> Eliminar</button></td>
                </tr>
              </tbody>
            </table>

            <div style="padding-left: 20px;">
              <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
              </dir-pagination-controls>
            </div>
            
          </div>
          
       </div>
    </div>
        
          