<style type="text/css">
  .scrollDiv {
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
  }
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .form-group>label,
  .form-group .control-label {
    font-size: 12px !important;
    opacity: 0.9;
    margin-bottom: 0 !important;
  }
  .my-drop-zone {
    border: dotted 3px lightgray;
  }
  .nv-file-over {
    border: dotted 3px red;
  }

  /* Default class applied to drop zones on over */
  .another-file-over-class {
    border: dotted 3px green;
  }
  html,
  body {
    height: 100%;
  }
  canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
  }

  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.846153846;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: none;
    opacity: 0.9;
    font-weight: 500;
    text-transform: uppercase;
  }
  .dualmultiselect label {
      margin: 10px;
  }
  .dualmultiselect .btn-info {
      margin: 5px;
  }
  .dualmultiselect .btn-warning {
      margin: 5px;
  }
  .dualmultiselect .pool {
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      padding: 10px;
      margin: 5px;
      height: 200px;
      overflow-y: scroll;
  }
  .dualmultiselect .pool ul {
      list-style: none;
      padding-left: 0px;
  }
  .dualmultiselect .pool ul li {
      width: 100%;
      padding: 4px 8px 4px 4px;
      border-bottom: 1px dotted #CFCFCF;
  }
  .dualmultiselect .pool ul li a:hover {
      text-decoration: none;
  }
</style>

<div class="card animated fadeIn fast" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Generales del Sistema </strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Configuración </a>
        <a href="#" class="paginaActiva"></a>
      </small>
    </header>
    <div class="tools">
    </div>
  </div>

  <div class="card-body">
    <div class="col-md-12">
      <uib-tabset active="activeJustified">

          <uib-tab index="0" heading="">
              <uib-tab-heading>
                <i class="fa fa-picture-o" aria-hidden="true"></i> Logos
              </uib-tab-heading>
              <div class="row">
                <div class="col-md-3">
                  <div class="col-md-12">
                    <h3>Logo Menú</h3>
                    <img src="{{$ctrl.logo1}}" style="width: 100px; height: 100px;" />
                  </div>
                  <div class="col-md-12">
                      <h5>Cambiar Logo:</h5>
                      <button class="btn btn-success btn-sm" ng-click="$ctrl.eligeLogo(1)" title="Elegir Logo">Elegir Logo</button>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12">
                    <h3>Logo login</h3>
                    <img src="{{$ctrl.logo2}}" style="width: 100px; height: 100px;" />
                  </div>
                  <div class="col-md-12">
                      <h5>Cambiar Logo:</h5>
                      <button class="btn btn-success btn-sm" ng-click="$ctrl.eligeLogo(2)" title="Elegir Logo">Elegir Logo</button>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12">
                    <h3>Logo Home</h3>
                    <img src="{{$ctrl.logo3}}" style="width: 100px; height: 100px;" />
                  </div>
                  <div class="col-md-12">
                    <h5>Cambiar Logo:</h5>
                    <button class="btn btn-success btn-sm" ng-click="$ctrl.eligeLogo(3)" title="Elegir Logo">Elegir Logo</button>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12">
                    <h3>Logo Reportes</h3>
                    <img src="{{$ctrl.logo4}}" style="width: 100px; height: 100px;" />
                  </div>
                  <div class="col-md-12">
                    <h5>Cambiar Logo:</h5>
                    <button class="btn btn-success btn-sm" ng-click="$ctrl.eligeLogo(4)" title="Elegir Logo">Elegir Logo</button>
                  </div>
                </div>
              </div>
        </uib-tab>

        <uib-tab index="5" heading=" ">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-calendar"></i> Periodo de Corte
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarperiodo()" name="PeriodoForm" novalidate angular-validator>
            <div class="col-md-12">
              <h4 class="text-danger text-center">Periodo de Corte</h4>
              <div class="col-md-5 col-md-offset-1">
                <div class="col-md-12">
                  <br>
                  <b>Periodo:</b>
                  <select name="periodo" ng-model="$ctrl.Periodo" ng-options="item as item.Descripcion for item in $ctrl.periodos track by item.Clv_periodo"
                    class="form-control input-sm" ng-change="$ctrl.detalleperiodo()">
                    <option value="">Selecciona periodo</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <br>
                  <b>Clientes que Contraten :</b>
                  <br>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Desde el Dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaInicial" name="dia1">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Hasta el dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaFinal" name="dia2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <br>
                <div class="col-md-12">
                  <div class="col-md-8">
                    <b>Proceso de Desconexión :</b>
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaCorte" name="desconexion">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-8">
                    <b>Dias limite para puntos de proto pago:</b>
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diasPPP" name="prontopago">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-8">
                    <b>Dias limite para puntos de antiguedad:</b>
                  </div>
                  <div class="col-md-4">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diasPA" name="prontopagoantiguedad">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit" title="Guardar Periodo">GUARDAR </button>
            </div>
          </form>
        </uib-tab>

        <uib-tab index="1" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-usd"></i> Impuestos
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.GuardarImpuestos()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12" style="padding:30px;">
              <div class="col-md-5 col-md-offset-1">
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <h5>I.V.A %</h5>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control " name="iva" ng-model="$ctrl.impuestos.IVA" ng-percent>
                  </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <h5>I.V.A Fronterizo %</h5>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control " name="iva" ng-model="$ctrl.impuestos.ivaFrontera" ng-percent>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
                      <input type="checkbox" ng-model="$ctrl.impuestos.siIEPS">
                      <span>Habilitar IEPS</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
                      <input type="checkbox" name="ivaieps" ng-model="$ctrl.impuestos.IVAIEPS" checked="">
                      <span>Calcular IVA incluyendo IEPS</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    IEPS %
                    <input type="text" name="ieps" ng-model="$ctrl.impuestos.IEPS" class="form-control " ng-percent>
                  </div>
                  <div class="col-md-6">
                    <br> {{$ctrl.impuestos.IEPS}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button class="btn btn-success btn-sm" type="submit" title="Guardar Impuestos">Guardar</button>
              </div>
            </div>
          </form>
        </uib-tab>

        <uib-tab index="2" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-bell"></i> Cobro de Material
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarcobro()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Configuración de rangos de montos por cobro de material diferido</h4>
              <br><br>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <div class="col-md-12">
                    Rango Inicial
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      min="0" name="rangoinicial" ng-model="$ctrl.rangoinicial">
                  </div>
                  <div class="col-md-12">
                    Rango Final
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      name="rangofinal" ng-model="$ctrl.rangofinal">
                  </div>
                  <div class="col-md-12">
                    Num. max. de pagos diferidos
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      name="pagosdiferidos" ng-model="$ctrl.pagosdiferidos">
                  </div>
                  <div class="col-md-12 text-right">
                    <button class="btn btn-sm btn-success" type="submit" title="Agregar Rango">Agregar</button>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <table class="table">
                  <thead>
                    <th>Rango Inicial</th>
                    <th>Rango Final</th>
                    <th>Número máximo de pagos diferidos</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in $ctrl.rangos">
                      <td>{{x.inicio}}</td>
                      <td>{{x.final}}</td>
                      <td>{{x.maximo}}</td>
                      <td>
                        <button class="btn btn-xs btn-danger" type="button" ng-click="$ctrl.eliminarango(x.id)" type="buttton" title="Eliminar Rango">
                          <i class="fa fa-trash"></i> Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 text-right">
              </div>
            </div>
          </form>
        </uib-tab>

        <!--  <uib-tab index="3" heading="">

          <uib-tab-heading>
            <i class="glyphicon glyphicon-home"></i> Datos de la empresa
          </uib-tab-heading>

          <form angular-validator-submit="$ctrl.Guardarinfoempresa()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Datos generales de la empresa</h4>
              <br>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Empresa</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="empresa" ng-model="$ctrl.GetGeneralesPrincipal.nombre">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Dirección</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="direccion" ng-model="$ctrl.GetGeneralesPrincipal.direccion">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Numero exterior</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="numeroexterior" ng-model="$ctrl.GetGeneralesPrincipal.numexterior">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Numero Interior</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="numeroint" ng-model="$ctrl.GetGeneralesPrincipal.numinterior">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Colonia</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="colonia" ng-model="$ctrl.GetGeneralesPrincipal.colonia">
                  </div>
                </div>


              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Código postal</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="cp" ng-model="$ctrl.GetGeneralesPrincipal.cp">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Ciudad</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="ciudad" ng-model="$ctrl.GetGeneralesPrincipal.ciudad">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Estado</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="estado" ng-model="$ctrl.GetGeneralesPrincipal.estado">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>RFC</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="rfc" ng-model="$ctrl.GetGeneralesPrincipal.rfc">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>
                      <b>Teléfono</b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="telefono" ng-model="$ctrl.GetGeneralesPrincipal.telefonos">
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit">Guardar</button>
            </div>
          </form>

        </uib-tab> -->
        <uib-tab index="6" heading="">
          <uib-tab-heading>
            <i class="fa fa-plus-square"></i> Bonificaciones
          </uib-tab-heading>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <br>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4">
                <b>Bonificacion:</b>
              </div>
            </div>
            <div class="col-md-12">
              <form name="FormBonificacion" angular-validator-submit="$ctrl.SaveBonificacion()" novalidate angular-validator autocomplete="off">
                <div class="col-md-offset-4 col-md-2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input type="number" name="InpBonificacion" class="form-control input-sm" ng-model="$ctrl.Bonificacion" validate-on="dirty" min="0" required required-message="'Obligatorio'" invalid-message="'Invalido'" ng-disabled="!$ctrl.BonificacionDis">
                  </div>
                </div>
                <div class="col-md-2 text-right">
                  <button type="submit" class="btn btn-success btn-xs" title="Guardar Bonificación" ng-disabled="!$ctrl.BonificacionDis"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </form>
            </div>
            <div class="col-md-12">
              <div class="col-md-12">
                <br>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4">
                <b>Tipo Usuario:</b>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-4">
                <select name="SlcTipoUsuario" class="form-control input-sm" ng-model="$ctrl.TipoUsuario" ng-options="TU as TU.Nombre for TU in $ctrl.TipoUsuarioList track by TU.Clv_TipoUsuario">
                  <option value="">Selecciona</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12">
                <br>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-4 col-md-2">
                <button type="button" class="btn btn-success btn-block btn-xs" ng-click="$ctrl.AddGenBonTipoUsuario(1)" title="Agregar Tipo de Usuario a ofrecer bonificación"><i class="fa fa-plus"></i> Ofrece</button>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block btn-xs" ng-click="$ctrl.AddAutBonTipoUsuario(1)" title="Agregar Tipo de Usuario a autorizar bonificación"><i class="fa fa-plus"></i> Autoriza</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12">
                <div class="dualmultiselect">
                  <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                      <h4 class="text-center"><b>Tipos de Usuario Ofrecen Bonificación</b></h4>
                      <div class="pool">
                        <div class="col-md-12" ng-repeat="TUG in $ctrl.TipoBonGenTipoUsuarioList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:12px;">
                          <div class="col-md-10" style="padding-top: 3%;">
                            <b>{{ TUG.Nombre }}</b>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn ink-reaction btn-xs btn-danger" ng-click="$ctrl.AddGenBonTipoUsuario(2, TUG.Clv_TipoUsuario);" title="Remover Tipo de Usuario"><i class="fa fa-trash"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h4 class="text-center"><b>Tipos de Usuario Autoriza Bonificación</b></h4>                
                      <div class="pool">
                        <div class="col-md-12" ng-repeat="TUA in $ctrl.BonAutTipoUsuarioList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:12px;">
                          <div class="col-md-2">
                            <button type="button" class="btn ink-reaction btn-xs btn-danger" ng-click="$ctrl.AddAutBonTipoUsuario(2, TUA.Clv_TipoUsuario);" title="Remover Tipo de Usuario"><i class="fa fa-trash"></i></button> 
                          </div>
                          <div class="col-md-10 text-right" style="padding-top: 3%;">
                            <strong><b>{{ TUA.Nombre }}</b></strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>

        <uib-tab index="4" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-wrench"></i> Preferencias
          </uib-tab-heading>
          <div class="col-md-12" style="margin-top:40px;">
            <div class="col-md-6">
              <div class="col-md-8">
                <label>Nombre del sistema</label>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.nombresistema" name="nombresistema" placeholder="Ingresa el nombre que aparecerá en reportes y sistema">
              </div>
              <div class="col-md-8">
                <label>Titulo de menu</label>
                <input type="text" ng-model="$ctrl.titulomenu" name="titulomenu" class="form-control input-sm" placeholder="Titulo login">
              </div>
              <div class="col-md-8">
                <label>Mensaje de inicio</label>
                <input type="text" ng-model="$ctrl.mensajeinicio" name="mensajeinicio" class="form-control input-sm" placeholder="Este mensaje aparecera en la pantalla inicial">
              </div>
            </div>
          <!--   <div class="col-md-6">
              <div class="col-md-12">
                <div class="col-md-3">
                  <p>Color menu</p>
                </div>
                <div class="col-md-3">
                  <span ng-style="{'background-color':$ctrl.hexPicker.colormenu }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="col-md-3">
                  <input colorpicker ng-model="$ctrl.hexPicker.colormenu" type="text">
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-3">
                  <p>Color letra menu</p>
                </div>
                <div class="col-md-3">
                  <span ng-style="{'background-color':$ctrl.hexPicker.colormenuletra }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="col-md-3">
                  <input colorpicker ng-model="$ctrl.hexPicker.colormenuletra" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <p>Color navegacion</p>
                </div>
                <div class="col-md-3">
                  <span ng-style="{'background-color':$ctrl.hexPicker.colornavegacion }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="col-md-3">
                  <input colorpicker ng-model="$ctrl.hexPicker.colornavegacion" type="text">
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <p>Color fondo</p>
                </div>
                <div class="col-md-3">
                  <span ng-style="{'background-color':$ctrl.hexPicker.colorfondo }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="col-md-3">
                  <input colorpicker ng-model="$ctrl.hexPicker.colorfondo" type="text">
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-3">
                  <p>Color navegacion letra</p>
                </div>
                <div class="col-md-3">
                  <span ng-style="{'background-color':$ctrl.hexPicker.colornavegacionletra }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div class="col-md-3">
                  <input colorpicker ng-model="$ctrl.hexPicker.colornavegacionletra" type="text">
                </div>
              </div>

            </div> -->
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" ng-click="$ctrl.guardarPreferencias()" title="Guardar Preferencias">GUARDAR </button>
            </div>
          </div>
        </uib-tab> 

        <uib-tab index="7" heading="">
          <uib-tab-heading>
              <i class="fa fa-file" aria-hidden="true"></i> Tipo Identificacion
          </uib-tab-heading>
          <form name="FomrTipoIde" angular-validator-submit="$ctrl.SaveIdentificacion()" novalidate angular-validator autocomplete="off">
            <div class="col-md-12">
                <br>
                <h4 class="text-danger text-center">Agregar Tipo de Identificacion</h4>
              <br><br>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <div class="col-md-12">
                    Descripcion de Identificacion
                    <input type="text" name="TipoIdentificacion" class="form-control input-sm " ng-model="$ctrl.TipoIdentificacion" placeholder="Descripcion"
                    validate-on="dirty" required required-message="'Este campo es obligatorio'" ng-required="true">
                  </div>
                  <br><br>
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-success btn-xs" title="Agregar Tipo de IDE" ng-if="!$ctrl.Update"><i class="fa fa-plus"></i> Agregar</button>
                    <button type="submit" class="btn btn-warning btn-xs" title="Guardar Tipo de IDE" ng-if="$ctrl.Update"><i class="fa fa-save"></i> Guardar</button>
                    <button type="submit" class="btn btn-default btn-xs" ng-click="$ctrl.Reset()" title="Cancelar" ng-if="$ctrl.Update"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <thead>
                    <th>Clave</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in $ctrl.lista">
                      <td>{{x.Id}}</td>
                      <td>{{x.TipoIdentificacion}}</td>
                      <td>
                        <button class="btn btn-warning btn-xs" type="button" ng-click="$ctrl.UpdateIdentificacion(x.Id, x.TipoIdentificacion)" type="buttton" title="Editar Identificacion">
                          <i class="fa fa-pencil-square-o"></i> Editar</button>
                        <button class="btn btn-xs btn-danger" type="button" ng-click="$ctrl.DeleteIdentificacion(x.Id)" type="buttton" title="Eliminar Identificacion">
                          <i class="fa fa-trash"></i> Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 text-right">
              </div>
            </div>
          </form>
        </uib-tab>

        <uib-tab index="8" heading="">
          <uib-tab-heading>
              <i class="fa fa-plus-square" aria-hidden="true"></i> Promociones
          </uib-tab-heading>
            <div class="col-md-12">
              <br>
                <h4 class="text-danger text-center">Promociones Activas</h4>
              <br>
              <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <div class="col-md-12" align="center">
                    <p>
                    <label class="checkbox-inline checkbox-styled checkbox-info">
                      <input type="checkbox" ng-model="$ctrl.docexcatorce"><span>12 x 14</span>
                    </label>
                    </p>
                  </div>
                  <div class="col-md-12" align="center">
                      <p>
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                        <input type="checkbox" ng-model="$ctrl.seisxsiete"><span> 6 x 7</span>
                      </label>
                      </p>
                  </div>
                  <div class="col-md-12 text-center" align="center">
                      <br>
                      <button type="submit" class="btn btn-success btn-sm" title="Guardar Promociones" ng-click="$ctrl.SavePromocion()" >
                        <i class="fa fa-save"></i> GUARDAR </button>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
        </uib-tab>

      </uib-tabset>

    </div>

  </div>
</div>

