<div class="modal-header">
  <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
  <h3 class="modal-title">
    <i class="fa fa-edit"></i> Cambiar Logo</h3>
</div>

<div class="modal-body">

  <div class="row text-center">
    <h5>Cambiar Logo:</h5>
    <img id="uploadPreview" style="width: 500px; height: 300px;" />
  </div>

  <div class="row text-center">
    <div class="col-md-4 col-md-offset-3">
      <h5>Elige Logo:</h5>          
      <span class="btn btn-default btn-file">
        <i class="fa fa-image"></i> Buscar Logos <input type="file" id="uploadImage" ame="myPhoto" onchange="PreviewImage();">
      </span>
    </div>     
  </div>
       
</div>

<div class="modal-footer">
  <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.ok()" title="Guardar">
    <i class="fa fa-save"></i> Guardar</button>
  <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>

<script type="text/javascript">
  function PreviewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
    oFReader.onload = function (oFREvent) {
      document.getElementById("uploadPreview").src = oFREvent.target.result;
    };
  };

</script>

<style>
  .btn-file {
      position: relative;
      overflow: hidden;
  }

  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }

</style>
