<style>
.col-md-12{
  margin-bottom: 15px;
}
</style>

<form name="FormUsuario" onSubmit="return validar_pass()" angular-validator-submit="$ctrl.Guardar()" novalidate angular-validator autocomplete="off">
  <div class="card animated fadeIn fast" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Configuración </a>><a href="#" class="paginaActiva"> Usuarios</a>
        </small>
      </header>
      <div class="tools">
        <button title="Guardar Usuario" ng-disabled="$ctrl.blocksave" type="submit" class="btn btn-primary btn-sm"
          permission permission-only="'usuariosAdd'" >
          <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
        <button title="Regresar" class="btn btn-default btn-sm" type="button" ui-sref="home.configuracion.usuarios">
          <i class="glyphicon glyphicon-log-out"></i> Regresar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <fieldset ng-disabled="$ctrl.blockForm">
            <div class="col-md-12">
              <div class="col-md-6">
                <b>Clave</b>
                <input type="text" style="text-transform: uppercase" class="form-control input-sm" name="Clave" required-message="'Este campo es obligatorio'"
                  ng-required="true" validate-on="dirty" ng-model="$ctrl.Clave" placeholder="Clave de 4 letras">
              </div>
              <div class="col-md-6">
                <b>Nombre del Usuario</b>
                <input type="text" class="form-control input-sm" name="Nombre" required-message="'Este campo es obligatorio'" ng-required="true"
                  validate-on="dirty" ng-model="$ctrl.Nombre" placeholder="Nombre del usuario">
              </div>
            </div>
            <div class="col-md-12">   
              <div class="col-md-12">
                  <b>Email</b>
                  <input type="text" class="form-control input-sm" name="email" ng-model="$ctrl.Email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" validate-on="dirty" invalid-message="'Inválido, Ingresa un correo válido'" placeholder="Ingresa tu correo electrónico">
              </div>          
             </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <b>Tipo de Usuario</b>
                <select class="form-control input-sm" ng-options="item as item.Nombre for item in $ctrl.Roles track by item.IdRol" name="rol" ng-model="$ctrl.rol"
                 ng-required="true" validate-on="dirty" required required-message="'Obligatorio'">
                  <option value="">Selecciona</option>
                </select>
              </div>
              <div class="col-md-6">
                <b>Grupo Ventas:</b>
                <select class="form-control input-sm" name="SlcGrupoVenta" ng-model="$ctrl.GrupoVenta" ng-options="GV as GV.Grupo for GV in $ctrl.GrupoVentaList track by GV.Clv_Grupo"
                 validate-on="dirty">
                  <option value="">Selecciona</option>
                </select>
              </div>
            </div>

         <!--    <div class="col-md-12">
              <div class="col-md-6">
                <b>Fecha de Ingreso:</b>
                <input type="text" class="form-control input-sm" name="fechaingreso" required-message="'Este campo es obligatorio'" ng-required="true"
                  validate-on="dirty" ng-model="$ctrl.fechaingreso" placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
              </div>
              <div class="col-md-6">
                <b>Fecha de Baja:</b>
                <input type="text" class="form-control input-sm" name="fechabaja" ng-disabled="$ctrl.activo" validate-on="dirty" ng-model="$ctrl.fechabaja"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
              </div>
            </div>
          -->

          <div class="col-md-12">            
              <div class="col-md-6" ng-show="$ctrl.oculta">                 
                <b>Pasaporte</b>
                <input type="password" class="form-control input-sm" name="pass1" required-message="'Este campo es obligatorio'" ng-required="true"
                  validate-on="dirty" placeholder="Ingresa contraseña" ng-model="$ctrl.pass1" ng-if="$ctrl.oculta">                  
              </div>
              <div class="col-md-6" ng-show="$ctrl.oculta">                  
                <b>Confirma Pasaporte</b>
                <input type="password" class="form-control input-sm" name="pass2" required-message="'Este campo es obligatorio'" ng-required="true"
                validate-on="dirty" placeholder="Confirma contraseña" ng-model="$ctrl.pass2" ng-if="$ctrl.oculta">                  
              </div>
          </div>
          <div class="col-md-12">            
            <div class="col-md-6">              
                <label class="checkbox-inline checkbox-styled checkbox-info">
                  <input type="checkbox" ng-model="$ctrl.usuarioCorporativo" name="recibe" ng-change="$ctrl.departamento=''" >
                  <span>Usuario Corporativo</span>
                </label>              
            </div>
            <div class="col-md-6">
              <b>Area Administrativa</b>
              <select class="form-control input-sm" ng-disabled="!$ctrl.usuarioCorporativo" ng-options="item as item.Descripcion for item in $ctrl.departamentos track by item.IdDpto"
                ng-model="$ctrl.departamento" name="departamento">
                <option value="">Selecciona</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">            
            <div class="col-md-6">                   
              <label class="checkbox-inline checkbox-styled checkbox-info">
                <input type="checkbox" name="activo" ng-model="$ctrl.activo" value="option3" checked="">
                <span>Activo </span>
              </label>                    
            </div>
            <div class="col-md-6">                   
              <label class="checkbox-inline checkbox-styled checkbox-info">
                <input type="checkbox" ng-model="$ctrl.recibemensaje" name="recibe">
                <span>Recibe Mensaje</span>
              </label> 
            </div>
          </div>
          </div>
          </fieldset>

          <div class="col-md-6 card">
            <div class="col-md-12">
              <div class="col-md-12">
                <h4 class="text-danger text-center">Relación Región-Usuario</h4>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-5">
                <b>Empresa:</b>
              </div>
              <div class="col-md-5">
                <b>Regiónes:</b>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-5">
                <select class="form-control input-sm" ng-change="$ctrl.muestraplazas()" ng-options="item as item.Nombre for item in $ctrl.distribuidores track by item.Clv_Plaza"
                  ng-model="$ctrl.distribuidor" name="distribuidor">
                  <option value="">Selecciona</option>
                </select>
              </div>
              <div class="col-md-5">
                <select class="form-control input-sm" name="plaza" ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania"
                  ng-model="$ctrl.plaza">
                  <option value="">Selecciona</option>
                </select>
              </div>
              <div class="col-md-2">
                <button type="button" ng-disabled="$ctrl.IdUser === 0" class="btn btn-success btn-xs" ng-click="$ctrl.agregaRelacion()" title="Agregar Relación Región-Usuario">
                  <i class="fa fa-plus"></i> Agregar</button>
              </div>
            </div>         
            <div class="col-md-12" style="overflow-y:scroll; max-height:300px; font-size:12px;">           
              <table class="table">
                <thead>
                  <th width="40%">Empresa</th>
                  <th width="40%">Región</th>
                  <th width="20%">Opciones</th>
                </thead>
                <tbody>
                  <tr ng-repeat=" x in $ctrl.relaciones">
                    <td>{{x.nombre}}</td>
                    <td>{{x.razon_social}}</td>
                    <td>
                      <button type="button" ng-click="$ctrl.eliminarelacion(x)" class="btn btn-xs btn-danger" title="Eliminar Relación Región-Usuario" ng-disabled="$ctrl.blockdele">
                        <i class="fa fa-trash"></i> Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

      </div>
      <br>
    </div>

  </div>
</form>
