<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Configuración</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">Roles</a>
            </small>
        </header>
        <div class="tools">
            <button type="submit" class="btn btn-primary btn-sm" permission permission-only="'rolesAdd'" title="Crear un Rol nuevo" ng-click="$ctrl.OpenAddRol()">Nuevo Rol</button>
		</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%"><b>Id</b></th>
                                <th width="20%"><b>Nombre de la Rol</b></th>
                                <th width="40%"><b>Descripción</b></th>
                                <th width="20%"><b>Estado</b></th>
                                <th width="10%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="$ctrl.SinRegistros">
                                <td class="text-center" colspan="5">SIN REGISTROS</td>
                            </tr>
                            <tr dir-paginate="X in $ctrl.RolesList|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                                <td>{{ X.IdRol }}</td>
                                <td>{{ X.Nombre }}</td>
                                <td>{{ X.Descripcion }}</td>
                                <td ng-if="X.Estado == true">Activo</td>
                                <td ng-if="X.Estado == false">Inactivo</td>
                                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'rolesUpdate'" ng-click="$ctrl.OpenUpdateRol(X.IdRol)" title="Editar Rol"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.RolesList.length > 0">
                        </dir-pagination-controls>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>