<div class="card animated fadeIn fast" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Usuarios</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración </a>><a href="#" class="paginaActiva"> Usuarios</a></small>
    </header>
    <div class="tools">
      <div class="btn-group">
        <button title="Crear Usuario Nuevo" class="btn btn-primary btn-sm" type="button" ui-sref="home.configuracion.nuevousuario"
          permission permission-only="'usuariosAdd'"><i class="fa fa-plus" aria-hidden="true"></i> Crear Usuario</button>
      </div>
    </div>   
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar Usuarios</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="col-md-3">
                Selecciona la Región
                <select ng-change="$ctrl.op=2" ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania"
                  ng-model="$ctrl.plaza" class="form-control input-sm">
                  <option value="">Selecciona</option>
                </select>
              </div>
              <div class="col-md-1">
                Clave:
                <input type="text" ng-change="$ctrl.op=0" class="input-sm form-control" ng-model="$ctrl.claveusuario" placeholder="Clave User">
              </div>
              <div class="col-md-3">
                Nombre:
                <input type="text" ng-change="$ctrl.op=1" class="input-sm form-control" ng-model="$ctrl.nombreusuario" placeholder="Nombre">
              </div>
              <div class="col-md-1">
                <br>
                <button class="btn btn-info btn-xs" ng-click="$ctrl.GetList()"> <i class="fa fa-search"></i> Buscar</button>
              </div>
            </div>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>

    <div class="col-md-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td><b>Clave</b></td>
            <td><b>Clave Usuario</b> </td>
            <td><b>Nombre</b></td>
            <td><b>Estatus</b></td>
            <td><b>Rol</b></td>
            <td><b>Opciones</b></td>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="x in $ctrl.usuarios|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
            <td>{{x.Clave}}</td>
            <td>{{x.Clv_Usuario}}</td>
            <td>{{x.Nombre}}</td>
            <td ng-if="x.Activo==true" style="color:green;">Activo</td>
            <td ng-if="x.Activo==false" style="color:red;">Sin Acceso</td>
            <td>{{x.RolUsuario.Nombre}}</td>
            <td>
              <button type="button " class="btn btn-info btn-xs" ui-sref="home.configuracion.detalleusuario({ id:x.Clave})" title="Consultar Usuario"><i class="fa fa-eye"></i> Consultar</button>
              <button type="button " permission permission-only="'usuariosUpdate'" ui-sref="home.configuracion.editausuario({ id:x.Clave})" class="btn btn-warning btn-xs" title="Editar Usuario"><i class="fa fa-edit"></i> Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>

  </div>
</div>
