<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de Clusters</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogo de Clusters</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'clustersAdd'" ng-click="$ctrl.AddCluster()" title="Nuevo Cluster "><i class="fa fa-plus"></i> NUEVO CLUSTER</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card" style="padding: 10px;">
          <div class="col-md-12">
            <header>
              <p><b><i class="fa fa-search"></i> Buscar Cluster:</b></p>
            </header>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(2);" title="Buscar por clave "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-4">
              <div class="input-group">
                <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.descripcion" placeholder="Descripción">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(3);" title="Buscar por Descripción "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="10%"><b>Id</b></th>
                <th width="30%"><b>Clave</b></th>
                <th width="30%"><b>Descripcion</b></th>
                <th width="30%" colspan="3"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.clusters|itemsPerPage:7">
                <td>{{ X.Clv_cluster}}</td>
                <td>{{ X.Clv_txt }}</td>
                <td>{{ X.Descripcion }}</td>
                <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.DetalleCluster(X)" title="Consultar Cluster"><i class="fa fa-eye"></i> CONSULTA</button>
                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'clustersUpdate'" ng-click="$ctrl.UpdateCluster(X)" title="Editar Cluster "><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'clustersDelete'" ng-click="$ctrl.EliminaCluster(X)" title="Elimina Cluster "><i class="fa fa-trash"></i> ELIMINAR</button></td></td>
              </tr>
            </tbody>
          </table>
          <br> 
          <div style="margin-top:-40px;"> 
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true"> 
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>