<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de HUB</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogo de Sectores</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'hubAdd'" ng-click="$ctrl.AddHub(1,0)" title="Nuevo HUB "><i class="fa fa-plus"></i> NUEVO HUB</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card" style="padding: 10px;">
          <div class="col-md-12">
            <header>
              <p><b><i class="fa fa-search"></i> Buscar HUB</b></p>
            </header>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" name="InpSearchSector2" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.Gethub(1)" title="Buscar por Descripcion "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-4">
              <div class="input-group">
                <input type="text" name="InpSearchSector2" class="form-control input-sm" ng-model="$ctrl.descripcion" placeholder="Descripción">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.Gethub(2)" title="Buscar por Descripcion "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="10%" style="text-align:center"><b>ID</b></th>
                <th width="30%" style="text-align:center"><b>Clave HUB</b></th>
                <th width="30%" style="text-align:center"><b>Descripcion</b></th>
                <th width="30%" style="text-align:center" colspan="3"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.hubs|itemsPerPage:7">
                <td style="text-align:center">{{ X.Clv_Sector}}</td>
                <td style="text-align:center">{{ X.Clv_txt }}</td>
                <td style="text-align:center">{{ X.Descripcion }}</td>
                <td><button type="button" class="btn btn-info btn-xs"  ng-click="$ctrl.AddHub(3,X.Clv_Sector)" title="Consultar Sector"><i class="fa fa-eye"></i> CONSULTA</button></td>
                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'hubUpdate'" ng-click="$ctrl.AddHub(2,X.Clv_Sector)" title="Editar Sector "><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'hubDelete'" ng-click="$ctrl.Elimina(X)" title="Elimina Sector "><i class="fa fa-trash"></i> ELIMINAR</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>