<style type="text/css">
    .table-scroll {
        height:250px;
        overflow:auto;
    }
</style>
<!--<form name="FormTarjeta" angular-validator-submit="ctrl.SaveTarjeta()" novalidate angular-validator autocomplete="off">-->
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
        <h4 class="modal-title"><i class="fa fa-tags"></i> Catálogo de Tarjetas</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="FormTarjeta" angular-validator-submit="ctrl.SaveTarjeta()" novalidate angular-validator autocomplete="off">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-3">
                        <label><b>Clave:</b></label>
                    </div>
                    <div class="col-md-9">
                        {{ ctrl.Clave }}
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-3">
                        <label><b>Descripción:</b></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="InpDescripcion" class="form-control input-sm" ng-model="ctrl.Descripcion" validate-on="dirty" ng-required="ctrl.Puertos > 0 || ctrl.OP == 2" invalid-message="'Obligatorio2.'" required-message="'Obligatorio'">
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-3">
                        <label><b>No. de Puertos:</b></label>
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="InpPuertos" class="form-control input-sm" ng-model="ctrl.Puertos" min="1" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" ng-required="ctrl.Descripcion != '' || ctrl.OP == 2" invalid-message="'Obligatorio.'" required-message="'Obligatorio'">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-xs" title="Guardar Tarjeta" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                    <div class="col-md-3">
                        <button type="reset" class="btn btn-default btn-xs" ng-click="ctrl.RecetForm()" title="Cancelar" ng-show="!ctrl.InpDes"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%" style="text-align:center"><b>Clave</b></th>
                                <th width="45%" style="text-align:center"><b>Descripción</b></th>
                                <th width="25%" style="text-align:center"><b>Puertos</b></th>
                                <th width="20%" style="text-align:center"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in ctrl.TarjetaOLTList" ng-show="ctrl.ViewList">
                                <td style="text-align:center">{{ X.Calve}}</td>
                                <td style="text-align:center">{{ X.descripcion }}</td>
                                <td style="text-align:center">{{ X.PUERTOS }}</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="ctrl.UpdateTarjetaOLT(X)" title="Editar Tarjeta OLT"><i class="fa fa-pencil-square-o"></i> EDITAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="submit" class="btn btn-primary btn-sm" title="Guardar Banco" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>-->
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
<!--</form>-->