<style type="text/css">
  .scrollDiv {
    height: 230px;
    overflow: auto;
    overflow-x: hidden;
  }
</style>
<form name="FormCluster" angular-validator-submit="ctrl.save()" novalidate angular-validator autocomplete="off">
  <div class="modal-header">
    <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <fieldset ng-disabled="ctrl.blockForm">
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-12">
           <h4 class="text-primary">Datos del Cluster:</h4>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-5">
            <b><small>Clave:</small></b>
          </div>
          <div class="col-md-7">
            <b><small>Descripción:</small></b>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-5">
            <input name="clave" type="text" class="form-control input-sm" ng-model="ctrl.clave" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.DisClv">
          </div>
          <div class="col-md-7">
            <input name="descripcion" type="text" class="form-control input-sm" ng-model="ctrl.descripcion" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.DisClv">
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <br>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-12">
            <h4 class="text-primary">Relación de Sectores:</h4>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-2">
            <b><small>Sector:</small></b>
          </div>
          <div class="col-md-7">
            <select name="SltNombre" class="form-control input-sm" ng-model="ctrl.sector" ng-options="item as item.Descripcion for item in ctrl.sectores track by item.Clv_Sector" ng-disabled="ctrl.blockaddrelacion">
              <option value="">Selecciona</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success btn-xs" type="button" ng-click="ctrl.addrelacion(1)" ng-disabled="ctrl.blockaddrelacion"><i class="fa fa-plus"></i> Agregar</button>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <br>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-12 scrollDiv">
            <table class="table">
              <thead>
                <tr>
                  <th width="20%"><b>Clave Sector</b></th>
                  <th width="55%"><b>Sector</b></th>
                  <th width="25%"><b>Opciones</b></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="X in ctrl.relaciones">
                  <td>{{ X.Clv_Sector }}</td>
                  <td>{{ X.Descripcion }}</td>
                  <td><button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.deleterelacion( X.Clv_Sector)" ><i class="fa fa-trash"></i> Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- -->
  <!--
  <fieldset ng-disabled="ctrl.blockForm">
    <div class="modal-body">
      <div class="col-md-12">
        <p> <b>Datos del Cluster </b></p>
        <div class="col-md-6">
          <b><small>Clave:</small></b>
          <input name="clave" type="text" class="form-control input-sm" ng-model="ctrl.clave" validate-on="dirty" required required-message="'Obligatorio'">
        </div>
        <div class="col-md-6">
          <b><small>Descripcion  :</small></b>
          <input name="descripcion" type="text" class="form-control input-sm" ng-model="ctrl.descripcion" validate-on="dirty">
        </div>
      </div>
      <br>
       <hr>
      <b>Relación de Sectores con  Clusters</b>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-8">
            <select name="SltNombre" class="form-control input-sm" ng-model="ctrl.sector" 
            ng-options="item as item.Descripcion for item in ctrl.sectores track by item.Clv_Sector">
            <option value="">Selecciona un sector</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success btn-xs" type="button" ng-click="ctrl.addrelacion(1)" ng-disabled="ctrl.blockaddrelacion"> Agregar</button>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th style="text-align:center"><b>Clave Sector</b></th>
                <th style="text-align:center"><b>Sector</b></th>
                 <th style="text-align:center"><b>Opciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="X in ctrl.relaciones">
                <td>{{ X.Clv_Sector }}</td>
                <td>{{ X.Descripcion }}</td>
                 <td><button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.deleterelacion( X.Clv_Sector)" ><i class="fa fa-trash"></i> Eliminar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
  -->
  <div class="modal-footer">
    <button ng-disabled="ctrl.blockGuarda" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> guardar</button>
    <button type="button" class="btn btn-default-bright btn-sm" ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i> cancelar</button>
  </div>
</form>