<style type="text/css">
  .scrollDiv {
    height: 230px;
    overflow: auto;
    overflow-x: hidden;
  }
</style>
<form  name="FormOlt" angular-validator-submit="ctrl.AddSector()" novalidate angular-validator autocomplete="off">
  <div class="modal-header">
    <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdSector }}</h4>
  </div>
  <fieldset ng-disabled="ctrl.blockForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-offset-1 col-md-4">
            <b><small>Clave:</small></b>
            <input name="Clv_Txt" type="text" class="form-control input-sm" ng-model="ctrl.Clv_Txt" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.DisClv">
          </div>
          <div class="col-md-6">
            <b><small>Descripción :</small></b>
            <input name="Descripcion" type="text" class="form-control input-sm" ng-model="ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'" ng-disabled="ctrl.DisDesc">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <fieldset ng-disabled="ctrl.blockForm2">
          <div class="col-md-offset-1 col-md-10">
            <div class="col-md-12">
              <h4 class="text-primary">Relación de Colonias</h4>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-10">
            <div class="col-md-2">
                <b><small>Nombre :</small></b>
            </div>
            <div class="col-md-7">
              <select name="SltColonia" class="form-control input-sm" ng-model="ctrl.Colonia" aria-placeholder="Seleccione la colonia" ng-options="item as item.Nombre for item in ctrl.colonias track by item.IdColonia">
                <option value="">Selecciona colonia</option>
              </select>
            </div>
            <div class="col-md-2 text-center">
              <button type="button" class="btn btn-info btn-xs" ng-click="ctrl.NuevaRelacionSecColonia()" title="Agregar Relación"><i class="	glyphicon glyphicon-plus"></i> AGREGAR</button>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-10">
            <br>
          </div>
          <div class="col-md-offset-1 col-md-10">
            <div class="col-md-12 scrollDiv">
              <table class="table">
                <thead>
                  <tr>
                    <th width="70%"><b>Colonia(s)</b></th>
                    <th width="30%"><b>Accion</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="X in ctrl.RelColonias">
                    <td>{{ X.Nombre }}</td>
                    <td><button type="button" ng-disabled="ctrl.blockdelete" class="btn btn-danger btn-xs" ng-click="ctrl.BorrarRelacionSecColonia()" title="Eliminar Relación "><i class="glyphicon glyphicon-trash"></i> ELIMINAR</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <div class="modal-footer">
    <button type="submit" ng-disabled="ctrl.blocksave" class="btn btn-info btn-sm" title="Guardar Registro"><i class="	glyphicon glyphicon-floppy-disk"></i> GUARDAR</button>
    <button type="button" class="btn btn-default-bright btn-sm" ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
  </div>
</form>
