<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de Naps</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Area técnica</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'napAdd'" ng-click="$ctrl.OpenNAPAdd()" title="Nuevo NAP"><i class="fa fa-plus"></i> NUEVO NAP</button>
      <!--<button type="button" class="btn btn-primary btn-sm" ui-sref="home.areatecnica.nuevanap" title="Nuevo NAP"><i class="fa fa-plus"></i> NUEVO NAP</button>-->
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar NAP</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <label><b>Clave Técnica:</b></label> 
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <label><b>HUB:</b></label> 
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <label><b>OLT:</b></label> 
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave Tecnica">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetNAPList(1);" title="Buscar por Clave tecnica "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <div class="input-group">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.hub" placeholder="hub">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetNAPList(2);" title="Buscar por hub "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <div class="input-group">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.olt" placeholder="OLT">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetNAPList(3);" title="Buscar por Cluster "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-12">
                  <br>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <label><b>Colonia:</b></label> 
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <label><b>Calle:</b></label> 
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.colonia" placeholder="Colonia">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetNAPList(4);" title="Buscar por Colonia "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                  <div class="input-group">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.calle" placeholder="Calle">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetNAPList(5);" title="Buscar por Calle "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th><b>Clave Tecnica</b></th>
                <th><b>HUB</b></th>
                <th><b>OLT</b></th>
                <th><b>Colonia</b></th>
                <th><b>Calle</b></th>
                <th colspan="2"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.NAPList|itemsPerPage:7">
                <td>{{ X.Clavetecnica}}</td>
                <td>{{ X.sector }}</td>
                <td>{{ X.poste}}</td>
                <td>{{ X.colonia}}</td>
                <td>{{ X.calle}}</td>
                <td>
                  <button class="btn btn-info btn-xs" ng-click="$ctrl.OpenNAPView(X.IdTap)"><i class="fa fa-eye"></i> Consultar</button>
                </td>
                <td>
                  <button class="btn btn-warning btn-xs" permission permission-only="'napUpdate'" ng-click="$ctrl.OpenNAPUpdate(X.IdTap)"><i class="fa fa-edit"></i> Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
  </div>
</div>