<form name="FormNAP" angular-validator-submit="ctrl.SaveNAP()" novalidate angular-validator autocomplete="off">
  <div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
    <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <fieldset ng-disabled="ctrl.FormDis">
        <div class="col-md-12">
          <div class="col-md-12">
            <h4 class="text-center text-primary">Clave Técnica</h4>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <label><b>Clave Técnica:</b> {{ ctrl.Clavetecnica }}</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <label><b>HUB:</b></label>
          </div>
          <div class="col-md-6">
            <label><b>OLT:</b></label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <select name="SlcHUB" class="form-control input-sm" ng-model="ctrl.HUB" ng-options="H.Descripcion for H in ctrl.HUBList track by H.Clv_Sector" validate-on="dirty" validator="ctrl.HUB.Clv_Sector > 0" required required-message="'Obligatorio'" invalid-message="'Obligatorio'">
            </select>
          </div>
          <div class="col-md-6">
            <select name="SlcOLT" class="form-control input-sm" ng-model="ctrl.OLT" ng-options="O.Descripcion for O in ctrl.OLTList track by O.id" validate-on="dirty" required required-message="'Obligatorio'">
              <option value="">Selecciona</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <br>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">
            <label><b>NAP / Número de NAP:</b></label>
          </div>
          <div class="col-md-4">
            <input type="number" name="InpIngenieria" class="form-control input-sm" ng-model="ctrl.Ingenieria" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
          <div class="col-md-4">
            <input type="number" name="InpSalidas" class="form-control input-sm" ng-model="ctrl.Salidas" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
        </div>
      </fieldset>
    </div>
    <br>
    <div class="row">
      <fieldset ng-disabled="!ctrl.AfterSave">
        <div class="col-md-12">
          <div class="col-md-12">
            <h4 class="text-center text-primary">Datos del NAP</h4>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <label><b>Colonia(s):</b></label>
          </div>
          <div class="col-md-6">
            <label><b>Calle(s):</b></label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <select name="SlcColonia" class="form-control input-sm" ng-model="ctrl.Colonia" ng-options="C.Nombre for C in ctrl.ColoniaList track by C.IdColonia" validate-on="dirty" validator="!ctrl.AfterSave || ctrl.Colonia.IdColonia > 0" invalid-message="'Obligatorio'" ng-change="ctrl.GetCalleList(0)">
            </select>
          </div>
          <div class="col-md-6">
            <select name="SlcCalle" class="form-control input-sm" ng-model="ctrl.Calle" ng-options="CL.Nombre for CL in ctrl.CalleList track by CL.IdCalle" validate-on="dirty" validator="!ctrl.AfterSave || ctrl.Calle.IdCalle > 0" invalid-message="'Obligatorio'">
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <br>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <label><b># de Casas:</b></label>
          </div>
          <div class="col-md-3">
            <input type="number" name="InpNCasas" class="form-control input-sm" ng-model="ctrl.NCasas" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
          <div class="col-md-3">
            <label><b># de Negocios:</b></label>
          </div>
          <div class="col-md-3">
            <input type="number" name="InpNNegocios" class="form-control input-sm" ng-model="ctrl.NNegocios" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <label><b># de Lotes:</b></label>
          </div>
          <div class="col-md-3">
            <input type="number" name="InpNLotes" class="form-control input-sm" ng-model="ctrl.NLotes" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
          <div class="col-md-3">
            <label><b># de Servicios:</b></label>
          </div>
          <div class="col-md-3">
            <input type="number" name="InpNServicios" class="form-control input-sm" ng-model="ctrl.NServicios" min="0" ng-pattern="/^[0-9]{1,10}$/" validate-on="dirty" required-message="'Obligatorio'" invalid-message="'Invalido'">
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <label><b>Frente al Número:</b></label>
          </div>
          <div class="col-md-3">
            <input type="text" name="InpFrenteN" class="form-control input-sm" ng-model="ctrl.FrenteN">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm" ng-if="!ctrl.FormDis" title="Guardar NAP"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> {{ ctrl.BtnClose }}</button>
  </div>
</form>