<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de Sectores</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogo de Sectores</a>
      </small>
    </header>
    <div class="tools">
      <td><button type="button" class="btn btn-primary btn-sm" permission permission-only="'sectoresAdd'" ng-click="$ctrl.AddSector()" title="Nuevo Sector "><i class="fa fa-plus"></i> NUEVO SECTOR</button></td>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="card" style="padding: 10px;">
          <div class="col-md-12">
            <header>
              <p><b><i class="fa fa-search"></i> Buscar Sector</b></p>
            </header>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
               <div class="input-group">
                 <input type="text" name="InpSearchSector1" class="form-control input-sm" ng-model="$ctrl.clv_txt" placeholder="Ejemplo:  A-B">
                 <div class="input-group-btn">
                   <button type="button" class="btn btn-warning btn-xs" ng-click=" $ctrl.buscar(1)" title="Buscar por clave "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                 </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="input-group">
                 <input type="text" name="InpSearchSector2" class="form-control input-sm" ng-model="$ctrl.descripcion" placeholder="Descripcion">
                 <div class="input-group-btn">
                   <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(2)" title="Buscar por Descripcion "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                 </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="input-group">
                 <input type="number" name="InpSearchSector2" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave Sector">
                 <div class="input-group-btn">
                   <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(3)" title="Buscar por Descripcion "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="15%"><b>Clave Sector</b></th>
                <th width="55%"><b>Descripción</b></th>
                <th width="30%" colspan="3"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.sectores|itemsPerPage:7">
                <td>{{ X.Clv_Sector}}</td>
                <td>{{ X.Descripcion }}</td>
                <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.DetalleSector(X.Clv_Sector)" title="Consultar Sector"><i class="fa fa-eye"></i> CONSULTA</button></td>
                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'sectoresUpdate'" ng-click="$ctrl.UpdateSector(X.Clv_Sector)" title="Editar Sector "><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'sectoresDelete'" ng-click="$ctrl.EliminaSector(X)" title="Elimina Sector "><i class="fa fa-trash"></i> ELIMINAR</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>