<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de trabajos</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Area técnica</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" permission permission-only="'serviciosalclienteAdd'" ui-sref="home.areatecnica.nuevoservicio" title="Nuevo Cluster "><i class="fa fa-plus"></i> NUEVO TRABAJO</button>
    </div>
  </div>
  <div class="card-body">
    <div class="card" style="padding: 10px;">
      <div class="col-md-12">
        <div class="col-md-12">
          <header>
            <p><b><i class="fa fa-seach"></i> Buscar Trabajo</b></p>
          </header>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <select class="form-control input-sm" name="servicio" ng-change="$ctrl.obtentrabajos()" ng-options="item as item.Concepto for item in $ctrl.servicios track by item.Clv_TipSerPrincipal" ng-model="$ctrl.servicio">
            <option value="">Seleccionar</option>
          </select>
        </div>
        <div class="col-md-3" style="text-align:right">
            <div class="input-group">

                <input type="text" name="InpSearchBanco" class="form-control input-sm" ng-model="$ctrl.SearchBanco" placeholder="Buscar por trabajo o descripción">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        <div class="col-md-3" style="text-align:right">
          <select class="form-control input-sm" ng-model="$ctrl.tipo" ng-change="$ctrl.ObtenXtipo()" ng-options="item as item.nombre for item in $ctrl.tipos track by item.id">
            <option value="">Selecciona</option>
          </select>
        </div>
        <!-- <div class="col-md-offset-1 col-md-3">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Descripcion" ng-model="$ctrl.descripcion" name="descripcion">
            <div class="input-group-btn">
              <button class="btn btn-info btn-xs"> <i class="fa fa-search"></i> buscar</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="10%"><b>Id</b></th>
                <th width="15%"><b>Clave</b></th>
                <th width="40%"><b>Descripcion</b></th>
                <th width="10%"><b>Tipo</b></th>
                <th width="25%" colspan="3"><b>Acciones</b></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="X in $ctrl.trabajos|filter:$ctrl.SearchBanco|itemsPerPage:7">
                <td>{{ X.clv_trabajo}}</td>
                <td>{{ X.trabajo }}</td>
                <td>{{ X.descripcion }}</td>
                <td>{{ X.tipo }}</td>
                <td>
                  <button type="button" class="btn btn-info btn-xs" ui-sref="home.areatecnica.detalleservicio({ id: X.clv_trabajo})" title="Consultar Cluster"><i class="fa fa-eye"></i> CONSULTA</button>
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-xs" permission permission-only="'serviciosalclienteUpdate'" ui-sref="home.areatecnica.editaservicio({ id: X.clv_trabajo})" title="Editar Cluster "><i class="fa fa-pencil-square-o"></i> EDITAR</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs" permission permission-only="'serviciosalclienteDelete'" ng-click="$ctrl.EliminaCluster(X)" title="Elimina Cluster "><i class="fa fa-trash"></i> ELIMINAR</button>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div style="margin-top:-40px;">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>