<style type="text/css">
  .scrollDiv {
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
  }

</style>
<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo de Taps</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Catálogo de Taps</a>
                </small>
    </header>
    <div class="tools">
      <td><button type="button" class="btn btn-primary btn-sm" permission permission-only="'tapsAdd'" ui-sref="home.areatecnica.Nuevataps" title="Nuevo Taps "><i class="fa fa-plus"></i> NUEVO</button></td>


    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar Tap</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>

        <div id="accordion3-1" class="collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10" style="font-weight:bold;">
                Buscar Taps por:
              </div>
              <div class="col-md-15">

                <div class="col-md-12" style="text-align:right">

                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="Clave Tecnica">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(1);" title="Buscar por Clave tecnica "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>

                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.cluster" placeholder="Cluster">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(7);" title="Buscar por Cluster "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>

                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.sector" placeholder="Sector">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(2);" title="Buscar por Sector "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-15">

                <div class="col-md-12" style="text-align:right">
                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.poste" placeholder="Poste">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(3);" title="Buscar por Cluster "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>

                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.colonia" placeholder="Colonia">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(4);" title="Buscar por Colonia "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>

                  <div class="col-md-2" style="text-align:right">
                    <input type="text" name="InpSearchSucursal2" class="form-control input-sm" ng-model="$ctrl.calle" placeholder="Calle">
                  </div>
                  <div class="col-md-1" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.Obtenlista(5);" title="Buscar por Calle "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>




  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align:center"><b>Clave</b></th>
            <th style="text-align:center"><b>Clave Técnica</b></th>
            <th style="text-align:center"><b>Calle</b></th>
            <th style="text-align:center"><b>cluster</b></th>
            <th style="text-align:center"><b>Colonia</b></th>

            <th colspan="3"><b>Acciones</b></th>
          </tr>
        </thead>
        <tbody>

          <tr dir-paginate="X in $ctrl.lista|itemsPerPage:7">
            <td>{{ X.IdTap}}</td>
            <td>{{ X.Clavetecnica }}</td>
            <td>{{ X.calle}}</td>
            <td>{{ X.cluster }}</td>
            <td>{{ X.colonia}}</td>

            <td>
              <button class="btn btn-info btn-xs" ui-sref="home.areatecnica.detalletap({ id: X.IdTap})"> <i class="fa fa-eye"></i> Consultar</button>

            </td>
            <td>
              <button class="btn btn-warning btn-xs" permission permission-only="'tapsUpdate'" ui-sref="home.areatecnica.editatap({ id: X.IdTap})"> <i class="fa fa-edit"></i> Editar</button>
            </td>
            <td>

            </td>
          </tr>

        </tbody>
      </table>
      <br>
      <div style="margin-top:-40px;">
        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
