<form name="FormLocalidad" angular-validator-submit="ctrl.SaveMSJ()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
        <h4 class="modal-title">Mensaje a Mostrar</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <label><b>Ingresa Mensaje:</b></label>
                    <textarea name="TxaMSJ" class="form-control input-sm" rows="4" ng-model="ctrl.Mensaje" validate-on="dirty" required required-message="'Obligatorio'"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Mensaje"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>