<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Agenda por Tecnico</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Agenda por Tecnico</a>
                </small>
        </header>
        <div class="tools">
        </div>
    </div>
    <div class="card-body">
        <div class="panel-group" id="accordion3">
			<div class="card panel">
                <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
					<header><i class="fa fa-search"></i> Buscar Orden y/o Queja</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
                <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading><i class="md md-content-paste"></i> Contrato</uib-tab-heading>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label><b>Contrato:</b></label>
                                            </div>
                                                <!--<div class="col-md-3"><label><b>Set Up Box:</b></label></div>-->
                                            <div class="col-md-4">
                                                <label><b>Fecha:</b></label>
                                            </div>
                                            <div class="col-md-4">
                                                <label><b>Turno:</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <form name="FormBuscarContrato" angular-validator-submit="$ctrl.GetAgendaList(1);" novalidate angular-validator autocomplete="off">
                                                <div class="col-md-2">
                                                    <input name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Contrato" validate-on="dirty" placeholder="# De contrato ejemplo: (1234-1)"
                                                            ng-pattern="/^[0-9]+([-][0-9]+)?$/" invalid-message="'Formato de contrato inválido'" ng-keyup="$ctrl.EnterContrato($event)">
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="submit" class="btn btn-info btn-xs" ng-click="" title="Buscar por Contrato "><i class="fa fa-search"></i> BUSCAR</button>
                                                </div>
                                            </form>
                                                <!--<div class="col-md-2">
                                                    <input type="text" name="InpSearchSetUpBox" class="form-control input-sm" ng-model="$ctrl.SetUpBox" placeholder="Set Up Box">
                                                </div> 
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetAgendaList(3);" title="Buscar por Contrato "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                                </div>-->
                                            <div class="col-md-offset-1 col-md-2">
                                                <input type="date" name="InpDia" class="form-control input-sm" ng-model="$ctrl.Dia" ng-keyup="$ctrl.EnterFecha($event)">
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetAgendaList(4);" title="Buscar por Dia "><i class="fa fa-search"></i> BUSCAR</button>
                                            </div>
                                            <div class="col-md-offset-1 col-md-2">
                                                <select name="SlcTurno" class="form-control input-sm" ng-model="$ctrl.Turno" ng-options="T as T.TURNO for T in $ctrl.TurnoList track by T.ID">
                                                    <option value="">Selecciona turno</option>    
                                                </select>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetAgendaList(5);" title="Buscar por Turno "><i class="fa fa-search"></i> BUSCAR</button>
                                            </div>
                                        </div>
                                    </div>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading><i class="fa fa-user"></i> Nombre</uib-tab-heading>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label><b>Nombre:</b></label>
                                            </div>
                                            <div class="col-md-offset-1 col-md-3">
                                                <label><b>Apellido Paterno:</b></label>
                                            </div>
                                            <div class="col-md-offset-1 col-md-3">
                                                <label><b>Apellido Materno:</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <input type="text" name="InpSearchNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" placeholder="Nombre del cliente" ng-keyup="$ctrl.EnterNombre($event)">
                                            </div>
                                            <div class="col-md-offset-1 col-md-3">
                                                <input type="text" name="InpSearchApellidoP" class="form-control input-sm" ng-model="$ctrl.Paterno" placeholder="A. Paterno" ng-keyup="$ctrl.EnterNombre($event)">
                                            </div>
                                            <div class="col-md-offset-1 col-md-3">
                                                <input type="text" name="InpSearchApellidoM" class="form-control input-sm" ng-model="$ctrl.Materno" placeholder="A. Materno" ng-keyup="$ctrl.EnterNombre($event)">
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.GetAgendaList(2);" title="Buscar por SetUpBox "><i class="fa fa-search"></i> BUSCAR</button>
                                            </div>
                                        </div>
                                    </div>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading><i class="fa fa-building"></i> Ubicación</uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label><b>Región:</b></label>
                                            <select name="SlcPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" ng-change="$ctrl.GetAgendaList()">
                                                <option value="">Selecciona región</option>                     
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Tecnico:</b></label>
                                            <select name="SltTecnico" class="form-control input-sm" ng-model="$ctrl.Tecnico" aria-placeholder="Seleccione la Tecnico" 
                                                    ng-options="T as T.tecnico for T in $ctrl.TecnicoList track by T.clv_tecnico" ng-change="$ctrl.GetAgendaList()">                           
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Sector:</b></label>
                                            <select name="SltSector" class="form-control input-sm" ng-model="$ctrl.Sector" aria-placeholder="Seleccione la Sector" 
                                                    ng-options="S as S.Descripcion for S in $ctrl.SectorList track by S.Clv_Sector" ng-change="$ctrl.GetAgendaList()">
                                                <option value="" ng-disabled="true">Selecciona sector</option>                            
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b># Orden:</b></label>
                                            <input type="number" class="form-control input-sm" placeholder="# De orden" ng-model="$ctrl.Orden" ng-keyup="$ctrl.EnterRegion($event)">
                                        </div>
                                        <div class="col-md-2">
                                            <label><b># Reporte:</b></label>
                                            <input type="number" class="form-control input-sm" placeholder="# De reporte" ng-model="$ctrl.Reporte" ng-keyup="$ctrl.EnterRegion($event)">
                                        </div>
                                        <div class="col-md-1">
                                            <br>
                                            <button class="btn btn-sm btn-info" ng-click="$ctrl.GetAgendaList()"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <!--
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2" style="text-align:left">
                                    <select name="SlcPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" ng-change="$ctrl.GetAgendaList()">
                                        <option value="">Selecciona Región</option>                     
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align:left">
                                    <select name="SltTecnico" class="form-control input-sm" ng-model="$ctrl.Tecnico" aria-placeholder="Seleccione la Tecnico" ng-options="T as T.tecnico for T in $ctrl.TecnicoList track by T.clv_tecnico" ng-change="$ctrl.GetAgendaList()">
                                        <option value="">Selecciona Tecnico</option>                            
                                    </select>
                                </div>
                                <div class="col-md-2" style="text-align:left">
                                    <select name="SltSector" class="form-control input-sm" ng-model="$ctrl.Sector" aria-placeholder="Seleccione la Sector" ng-options="S as S.Descripcion for S in $ctrl.SectorList track by S.Clv_Sector" ng-change="$ctrl.GetAgendaList()">
                                        <option value="" ng-disabled="true">Selecciona Sector</option>                            
                                    </select>
                                </div>
                                <div class="col-md-1" style="text-align:right">
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetAgendaList(2);" title="Buscar por SetUpBox "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                </div>
                                <form name="FormBuscarContrato" angular-validator-submit="$ctrl.GetAgendaList(1);" novalidate angular-validator autocomplete="off">
                                    <div class="col-md-1" style="text-align:right">
                                        <input name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Contrato" validate-on="dirty" placeholder="Contrato" ng-pattern="/^[0-9]+([-][0-9]+)?$/" invalid-message="'Formato de contrato inválido.'">
                                    </div>
                                    <div class="col-md-1" style="text-align:right">
                                        <button type="submit" class="btn btn-warning btn-xs" ng-click="" title="Buscar por Contrato "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                    </div>
                                </form>
                                <div class="col-md-2" style="text-align:right">
                                    <input type="date" name="InpDia" class="form-control input-sm" ng-model="$ctrl.Dia" placeholder="Dia">
                                </div>
                                <div class="col-md-1" style="text-align:right">
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetAgendaList(4);" title="Buscar por Dia "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <br>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2" style="text-align:right">
                                    <input type="text" name="InpSearchNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" placeholder="Nombre">
                                </div>
                                <div class="col-md-2" style="text-align:right">
                                    <input type="text" name="InpSearchApellidoP" class="form-control input-sm" ng-model="$ctrl.Paterno" placeholder="A. Paterno">
                                </div>
                                <div class="col-md-2" style="text-align:right">
                                    <input type="text" name="InpSearchApellidoM" class="form-control input-sm" ng-model="$ctrl.Materno" placeholder="A. Materno">
                                </div>
                                <div class="col-md-offset-1 col-md-1" style="text-align:right">
                                    <input type="text" name="InpSearchSetUpBox" class="form-control input-sm" ng-model="$ctrl.SetUpBox" placeholder="Set Up Box">
                                </div> 
                                <div class="col-md-1" style="text-align:right">
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetAgendaList(3);" title="Buscar por Contrato "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                </div>
                                <div class="col-md-2" style="text-align:right">
                                    <select name="SlcTurno" class="form-control input-sm" ng-model="$ctrl.Turno" ng-options="T as T.TURNO for T in $ctrl.TurnoList track by T.ID">
                                        <option value="">Selecciona Turno</option>    
                                    </select>
                                </div>
                                <div class="col-md-1" style="text-align:right">
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetAgendaList(5);" title="Buscar por Turno "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
			</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="9%"><b>Tipo</b></th>
                                <th width="9%"><b>Estado</b></th>
                                <th width="9%"><b>Clv Orden</b></th>
                                <th width="9%"><b>Contrato</b></th>
                                <th width="12%"><b>Fecha de Prog.</b></th>
                                <th width="12%"><b>Fecha de Orden</b></th>
                                <th width="10%"><b>Turno</b></th>
                                <th width="6%"><b>Status</b></th>
                                <th width="24%" colspan="3"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="X in $ctrl.AgendaList|itemsPerPage:7" ng-show="$ctrl.ConResultado">
                                <td>{{ X.Tipo}}</td>
                                <td>{{ X.Estado }}</td>
                                <td>{{ X.Clv_OrdRep}}</td>
                                <td>{{ X.Contrato }}</td>
                                <td>{{ X.FECHA}}</td>
                                <td>{{ X.FechaOrdRep }}</td>
                                <td>{{ X.Turno}}</td>
                                <td>{{ X.Status }}</td>
                                <td><button type="button" class="btn btn-info btn-xs" ui-sref="home.procesos.agendaDetalle({ id:X.No_Cita, cliente:X.Contrato })" title="EDITAR">
                                    <i class="fa fa-eye"></i> Cosultar</button></td>
                                <td><button type="button" ng-disabled="X.Status=='E'" class="btn btn-warning btn-xs" permission permission-only="'agendaUpdate'" ui-sref="home.procesos.agendaEditar({ id:X.No_Cita, cliente:X.Contrato })" title="EDITAR" ng-show="X.Estado == 'Sin Agendar'">
                                    <i class="fa fa-pencil-square-o"></i> Editar</button></td>
                                <!--<td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'agendaDelete'" ng-click="$ctrl.OpenDeleteCita(X);" title="ELIMINAR"><i class="fa fa-trash"></i> Eliminar</button></td>-->
                            </tr>
                            <tr ng-show="$ctrl.SinResultado">
                                <td class="text-center" colspan="10">Sin resultados</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>