<!-- <style type="text/css">
  .scrollDiv {
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
  }

  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .form-control {
    height: 37px;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input-yellow {

background-color: rgba(255, 249, 59, 0.71);
animation-name: anim;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}

.input-normal {

background-color: #ffffff;
}


.input-yellow.bezier {
animation-timing-function: cubic-bezier(.8, 0, .2, 1);
}

.input-yellow.steps {
animation-name: anim-half;
animation-timing-function: steps(1, end);
}

@keyframes anim {
to {
  background-color: #ffffff;
}
}

@keyframes anim-half {
50% {
  background-color: #f5ff3b;
}
}
 </style> -->
 <style>
    .input-yellow {
  
      background-color: rgba(255, 249, 59, 0.71);
      animation-name: anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  
    .input-normal {
  
      background-color: #ffffff;
    }
  
  
    .input-yellow.bezier {
      animation-timing-function: cubic-bezier(.8, 0, .2, 1);
    }
  
    .input-yellow.steps {
      animation-name: anim-half;
      animation-timing-function: steps(1, end);
    }
  
    @keyframes anim {
      to {
        background-color: #ffffff;
      }
    }
  
    @keyframes anim-half {
      50% {
        background-color: #f5ff3b;
      }
    }
  
    .wrapper {
      height: 140px;
      overflow: auto;
    }
  
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
      padding: 5px 8px;
      line-height: 1.846153846;
      vertical-align: top;
      border-top: 1px solid rgba(189, 193, 193, 0.2);
    }
  
  </style>
  
  
  <style type="text/css">
    .scrollDiv {
      height: 400px;
      overflow: auto;
      overflow-x: hidden;
    }
  
    .scrollDiv2 {
      height: 120px;
      overflow: auto;
      overflow-x: hidden;
    }
  
    .scrollDiv3 {
      height: 300px;
      overflow: auto;
      overflow-x: hidden;
    }
  </style>


<form name="AtencionForm" novalidate ng-keypress="$ctrl.keyPressOnForm($event)">
 <div class="card" style="margin-top:20px; padding-bottom:30px;">
   <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
         <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
         <br/><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Atención telefónica</a></small>
        </header>
       <div class="tools">
          <button title="Guardar atención telefónica" type="button" class="btn btn-primary btn-sm" ng-show="$ctrl.MostrarGuardar" ng-click="$ctrl.GuardarLlamada()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
          <button title="Guardar cambios" type="button" class="btn btn-primary btn-sm" ng-show="$ctrl.MostrarEditar" ng-disabled="$ctrl.clv_queja >0" ng-click="$ctrl.EditaLlamada()"><i class="glyphicon glyphicon-floppy-disk"></i> Editar llamada</button>
          <button title="Cancelar cambios" type="button" class="btn btn-default-bright btn-sm" ng-show="$ctrl.ShowDetalle" ui-sref="home.procesos.atencion" name="button" ><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
          <button title="Regresar a atenciones telefónicas" type="button" ui-sref="home.procesos.atencion" class="btn btn-default-bright btn-sm" name="button" ng-show="$ctrl.ShowDetalleOnly"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
        </div>
    </div>
      <div class="card-body">
        <div class="card col-md-12 " style="padding: 5px;">

          <div class="col-md-3">
            <div class="form-group">
              <label for="Firstname5" class="col-sm-4">Servicio</label>
                <div class="col-sm-8">
                  <select name='servicio' class="form-control input-sm"
                    ng-class="(AtencionForm.servicio.$valid==false  )?'input-yellow':'input-normal'"
                    ng-model="$ctrl.selectedServicio"
                    ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal"
                    validate-on="dirty" ng-disabled="$ctrl.BloquearElementos"
                    ng-change="$ctrl.CambioServicio($ctrl.selectedServicio)" 
                    ng-required="!$ctrl.blockServicio">
                   <option value="">Seleccione el Servicio</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3" >
              <div class="form-group">

                <div class="input-group">
                  <div class="input-group-content">
                     <label for="Firstname5" style="opacity: 0.5;" class="col-sm-4 ">Contrato</label>
                     <div class="col-sm-8">
                        <input name='contrato' class="form-control input-sm" 
                         ng-class="(AtencionForm.contrato.$valid==false )?'input-yellow':'input-normal'"
                         type="text" ng-disabled="$ctrl.BloquearElementos" ng-model="$ctrl.contratoSelected" 
                         model-view-value="true" validate-on="dirty"
                         placeholder="Ingresa contrato" ng-keyup="$ctrl.EnterContrato($event)"
                         ng-required="!$ctrl.blockContrato">
                      </div>
                    </div>
                     <div class="input-group-btn">
                        <button type="button"  title="Buscar cliente" ng-disabled="$ctrl.BloquearElementos" ng-click="$ctrl.BuscaCliente()"
                          class="btn ink-reaction btn-floating-action btn-sm btn-default"><i class="fa fa-search"></i></button>
                     </div>
                    </div>
               </div>
            </div> 

              <div class="col-md-3">
                <div class="form-group">
                  <label for="Firstname5" class="col-sm-6"><i class="md md-av-timer" ></i> Hora Inicial:</label>
                <div class="col-sm-6">
                 <input type="text" name="hora" ng-model="$ctrl.Hora" class="form-control input-sm"
                   placeholder="HH:MM" ui-mask="99:99" disabled>
              </div>
            </div>
           </div>
          <div class="col-md-3">
              <div class="form-group">
                <label for="Firstname5" class="col-sm-4"><i class="md md-today"></i> Fecha</label>
               <div class="col-sm-8">
                <input type="text" name="fecha" ng-model="$ctrl.Fecha" class="form-control input-sm" disabled="">
               </div>
            </div>
          </div>
        </div>
      </div>   

      <div class="col-md-12 style-warning text-center" style="margin-bottom: 10px;" ng-show="$ctrl.MuestraMensajeQueja">
        <h4>{{$ctrl.MensajeQueja}}</h4>
      </div>

        <div class="col-md-12">
          <div class="col-md-4">
            <div class="col-md-12">
             <div class="col-md-6">
               <h4 class="text-danger" style="margin-top: 10px;"># Llamada: {{$ctrl.NumeroLlamada}}</h4>
             </div>
             <div class="col-md-6">
               <h4 class="text-danger" style="margin-top: 10px;"># Reporte de Falla: {{$ctrl.clv_queja}}</h4>
             </div>
            </div>

            <div class="col-md-12" style="font-size:11px;">
              <p><b>Nombre: </b>{{$ctrl.NombreCliente}}</p>
              <p><b>Dirección : </b>{{$ctrl.Calle}} <b>#:</b>{{$ctrl.Numero}} Col.{{$ctrl.Colonia}} {{$ctrl.Ciudad}}</p>
              <p><b>Teléfono: </b>{{$ctrl.Telefono}}</p>
            </div>

            <div class="col-md-12 text-center" style="font-size:14px; color: #06599a;">
              <b>Servicios</b>
                <div class=" card wrapper text-center" style="background-color: whitesmoke;">
                  <p ng-repeat="x in $ctrl.ServiciosCliente" style="font-size:10px;">{{x.Servicio}}</p>
                </div>
            </div>

            <div class="col-md-12">
              <strong class="" style="margin-top: 10px;">Tipo de atención:</strong>
            </div>
            <div class="col-md-12">
              <label class="radio-inline radio-styled radio-warning">
					      <input type="radio" name="atencion" ng-model="$ctrl.tipoAtencion" ng-disabled="$ctrl.BloquearElementosDetalle" value="T"><span>Vía Telefónica</span>
					    </label>
              <label class="radio-inline radio-styled radio-warning">
					      <input type="radio" name="atencion" ng-model="$ctrl.tipoAtencion" ng-disabled="$ctrl.BloquearElementosDetalle" value="S"><span>En el Sitio</span>
					   </label>
            </div>
          </div>
          
          <div class="col-md-5">
            <div class="row" ng-class="(AtencionForm.reporte.$valid==false  )?'input-yellow':'input-normal'">
              <tr>
                <td> <strong style="margin-top: 10px;">Reporte del Cliente:</strong></td>
                  <td>
                    <textarea type="text" name='reporte' class="form-control input-sm"
                     ng-model="$ctrl.DescripcionProblema" ng-disabled="$ctrl.BloquearElementosDetalle"
                     placeholder="Describe brevemente la problemática del cliente"
                     model-view-value="true" validate-on="dirty" required-message="' La Descripcion es obligatoria.'"
                     ng-required="!$ctrl.blockReporte">
                    </textarea>
                  </td>
                </tr>
            </div>
             <br>
            <div class="row" ng-class="(AtencionForm.clasificacion.$valid==false )?'input-yellow':'input-normal'">
              <strong style="margin-top: 10px;">Clasificación del Problema:</strong>
                <select name='clasificacion' class="form-control input-sm"
                 ng-model="$ctrl.Problema" ng-disabled="$ctrl.BloquearElementosDetalle"
                 required-message="' La clasificación es obligatoria.'"
                 ng-options="item as item.descripcion for item in $ctrl.clasificacionProblemas track by item.clvProblema"
                 model-view-value="true" validate-on="dirty"
                 ng-required="!$ctrl.blockProblema">
					       <option value="">Selecciona</option>
					      </select>
            </div>
            <br>
        
            <div class="row">
              <strong style="margin-top: 10px;">Clasificación de la Solución:</strong>
              <select class="form-control input-sm" name="solucion" ng-model="$ctrl.Trabajo" ng-options="item as item.DESCRIPCION for item in $ctrl.Trabajos track by item.CLV_TRABAJO" ng-disabled="$ctrl.BloquearElementosDetalle">
					     <option value="">Selecciona</option>
				  	  </select>
            </div>
            <br>
            <div class="row">
              <strong style="margin-top: 10px;">Problema Real:</strong>
               <textarea 
               name="problema"
               class="form-control input-sm" placeholder="Describe brevemente la solución del problema" ng-model="$ctrl.DescripcionSolucion" ng-disabled="$ctrl.BloquearElementosDetalle"></textarea>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-md-12">
                <button title="Generar reporte" 
                  ng-disabled="$ctrl.Trabajo!=null||$ctrl.Trabajo !=undefined || $ctrl.clv_queja >0"
                  type="button" style="font-size: 10px;"
                  class="btn btn-danger btn-block" 
                  ng-click="$ctrl.generaReporte()" 
                  ng-show="$ctrl.ShowDetalle">
                 <i class="fa fa-flag"></i> Generar Reporte de Falla
                </button>
               <!--
               <button title="Generar reporte de mantenimiento" 
                 ng-disabled="$ctrl.Trabajo!=null||$ctrl.Trabajo !=undefined || $ctrl.clv_queja >0"
                 type="button" style="font-size: 10px;"
                 class="btn btn-danger btn-block" 
                 ng-click="$ctrl.GetQM()" 
                 ng-show="$ctrl.ShowDetalle">
                 <i class="fa fa-flag"></i> Generar Reporte Mantenimiento
               </button>
               -->
                <button title="Consultar historial de pagos" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block" ng-click="$ctrl.abrirPagos()">
                  <i class="fa fa-money"></i> Historial de Pagos
                </button>
                <button title="Consultar historial de reportes" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block" ng-click="$ctrl.openHistorial()">
                  <i class="fa fa-clock-o"></i> Historial Reportes de Falla
                </button>
                <button title="Consultar detalle de cobro" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block" ng-click="$ctrl.abrirDetalleCobro();">
                  <i class="fa fa-credit-card"></i> Consultar Cobro
                </button>
              </div>
                <div class="col-md-12" ng-show="$ctrl.PanelCaptura">
                  <h3 class="text-danger"><i class="fa fa-flag"></i> Generación Reporte de Falla </h3>
                    <label>Departamento Responsable</label>
                      <select ng-model="$ctrl.Departamento" name="departamento" class="form-control input-sm" ng-options="item as item.Concepto for item in $ctrl.Departamentos track by item.Clave">
                        <option value="">Selecciona </option>
                      </select><br>
                      <label>Tipo de prioridad</label>
                        <select ng-model="$ctrl.Prioridad" name="prioridad" class="form-control input-sm" ng-options="item as item.Descripcion for item in $ctrl.Prioridades track by item.clvPrioridadQueja">
                         <option value="">Selecciona </option>
                        </select><br>
                        <button type="button" class="btn btn-success btn-sm" ng-click="$ctrl.ValidaOrdenQuejas();">Guardar </button>
                        <button  type="button"  class="btn btn-default-bright btn-sm" ng-click="$ctrl.CancelaReporte();">Cancelar</button>   
                 </div>
                 </div>
               </div>
             </div>
            </div>
          </div>
        </div>
      <!--end cardbody-->
    </div>
  <!--end card-->
</form>