<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}

</style>

<div class="card animated fadeIn" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Atención Telefónica</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Atención Telefónica</a></small>
		</header>
		<div class="tools">
			<div class="btn-group">
				<a class="btn btn-primary btn-sm" permission permission-only="'atenciontelefonicaAdd'" ui-sref="home.procesos.atencionNueva"  title="Crear una atención telefónica nueva"> nueva atención</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="panel-group" id="accordion3">
			<div class="card panel">
				<div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
				 aria-expanded="false">
					<header><i class="fa fa-search"></i> Buscar Atención Telefónica</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<uib-tabset active="active">
							<uib-tab index="0">
								<uib-tab-heading><i class="md md-receipt"></i>Contrato Y Detalle</uib-tab-heading>
								<br/>
								<form angular-validator-submit="$ctrl.bucarUsuario() " name="DetalleForm" novalidate angular-validator>
									<div class="col-md-6">
										<div class="col-md-12">
											<div class="col-md-6 ">
												<b>Región:</b>
												<select id="idplaza" ng-change="$ctrl.cambioPlaza()" class="form-control input-sm" 
													  	name="plaza" ng-model="$ctrl.selectedPlaza" 
												  		ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania">
  													<option value="">Selecciona región</option>
  												</select>
											</div>
											<div class="col-md-6 ">
												<b>Tipo de Servicio:</b>
												<select class="form-control input-sm" ng-model="$ctrl.selectedServicio" name="tiposervicio"
												  	ng-change="$ctrl.cambioServicio()" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal">
  													<option value="">Selecciona servicio</option>
  												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-md-6">
												<b>Contrato:</b>
												<input type="text" class="form-control input-sm" name="contrato" ng-model="$ctrl.contrato" placeholder="# De contrato ejemplo: (1234-1)" ng-keyup="$ctrl.EnterContrato($event)">
												<button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.buscarContrato()"><i class="fa fa-search"></i> Buscar</button>
											</div>
											<div class="col-md-6">
												<b># Llamada:</b>
												<input type="number" class="form-control input-sm" ng-model="$ctrl.reporte" name="reporte" placeholder="# De llamada" ng-keyup="$ctrl.EnterLlamada($event)">
												<button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.buscarReporte()"><i class="fa fa-search"></i> Buscar</button>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-10">
												<b>Ver Por:</b><br>
												<label class="checkbox-inline checkbox-styled">
													<input type="checkbox" ng-model="$ctrl.conReporte" name="conreporte" ng-change="$ctrl.cambiaConReporte()" />
													<span>Llamadas que generaron reporte</span>
												</label>
												<br>
												<label class="checkbox-inline checkbox-styled">
													<input type="checkbox" name="sinreporte" ng-model="$ctrl.sinReporte" ng-change="$ctrl.cambiaSinReporte()"/>
													<span>Llamadas sin reporte</span>
												</label>
												<br>
											</div>
										</div>
										<div class="row">
											<div class="col-md-10 ">
												<b>Usuario:</b>
												<select class="form-control input-sm" id="idusuario" ng-model="$ctrl.selectedUsuario" name="usuario"
														ng-change="$ctrl.bucarUsuario()" ng-options="v.NOMBRE for v in $ctrl.usuarios track by v.Clave">
													<option value="">Selecciona usuario</option>
												</select>
											</div>
											<div class="col-md-2">
												<br>
												<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
											</div>
										</div>
									</div>
								</form>
							</uib-tab>
							<uib-tab index="1">
								<uib-tab-heading><i class="fa fa-user"></i> Nombre</uib-tab-heading>
								<br/>
								<form ng-submit="$ctrl.buscarNombres()">
									<div class="col-md-12">
										<div class="col-md-3">
											<b>Nombre:</b>
											<input type="text" class="form-control input-sm" name="nombre" ng-model="$ctrl.nombre" placeholder="Nombre del cliente">
										</div>
										<div class="col-md-3">
											<b>Apellido Paterno:</b>
											<input type="text" class="form-control input-sm" name="apaterno" ng-model="$ctrl.paterno" placeholder="A. paterno">
										</div>
										<div class="col-md-3">
											<b>Apellido Materno:</b>
											<input type="text" class="form-control input-sm" name="materno" ng-model="$ctrl.materno" placeholder="A. materno">
										</div>
										<div class="col-md-3">
											<br>
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</div>
									</div>
								</form>
							</uib-tab>
							<uib-tab index="2">
								<uib-tab-heading><i class="fa fa-home"></i> Ubicación</uib-tab-heading>
								<br/>
								<form ng-submit="$ctrl.buscarColonia()">
									<!--<div class="row">
										<div class="col-md-5 ">
											<strong>Colonia</strong>
											<select class="form-control" 
												ng-model="$ctrl.selectedColonia" 
												ng-options="v.nombre for v in $ctrl.colonias|orderBy:'nombre' track by v.clvColonia">
 												
											</select>
										</div>
									</div>-->
									<div class="col-md-12">
										<div class="col-md-5">
											<b>Calle:</b>
											<input type="text" placeholder="Ingresa el nombre de la calle"
											       name="calle" class="form-control input-sm" ng-model="$ctrl.calle">
										</div>
										<div class="col-md-2">
											<b>Número:</b>
											<input type="number" class="form-control input-sm" name="numero" placeholder="#" ng-model="$ctrl.numero">
										</div>
										<div class=" col-md-2 text-right">
											<br>
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</div>
									</div>
								</form>
							</uib-tab>
						</uib-tabset>
					</div>
					<!-- panel body -->
				</div>
			</div>
			<!--end .panel -->
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th># Llamada</th>
							<th>Fecha</th>
							<th>Contrato</th>
							<th>Nombre</th>
							<th>Domicilio</th>
							<th>No.Reporte</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="9">SIN REGISTROS</td>
						</tr>
						<tr dir-paginate="x in $ctrl.atenciones|itemsPerPage:7" ng-show="$ctrl.conRegistros">
							<td>{{ x.llamada }}</td>
							<td>{{ x.FECHA }}</td>
							<td>{{ x.Contrato }}</td>
							<td>{{ x.NOMBRE }}</td>
							<td>{{ x.CALLE }} #{{ x.NUMERO}}</td>
							<td>{{x.Clv_QUEJA}}</td>
							<td><a title="Consultar atención telefónica" ui-sref="home.procesos.atencionDetalle({ id: x.llamada})" class="btn ink-reaction  btn-xs btn-info"><i class="md md-content-paste"></i> CONSULTAR</a>
								<a title="Editar atención telefónica" permission permission-only="'atenciontelefonicaUpdate'" ui-sref="home.procesos.atencionEditar({ id: x.llamada})" ng-disabled="x.Clv_QUEJA>0" class="btn ink-reaction  btn-xs btn-warning" ng-click="$ctrl.editarEntrada(x.Consecutivo)"><i class="fa fa-edit"></i> Editar</a>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.atenciones.length > 0">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>