<style type="text/css">
  .scrollDiv {
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
  }
  .wrapper {
    height: 140px;
    overflow: auto;
  }
  .form-control {
    height: 37px;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
</style>

<div class="card" style="margin-top:20px; padding-bottom:30px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
      <br />
	  <small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Atención telefónica</a></small>
    </header>
    <div class="tools">
      <button title="Regresar a atenciones telefónicas" type="button" ui-sref="home.procesos.atencion" class="btn btn-default-bright btn-sm" name="button">Salir</button>
    </div>
  </div>
  <div class="card-body">
    <div class="card col-md-12 " style="padding: 5px;">
      <div class="col-md-3">
        <div class="form-group">
          <label for="Firstname5" class="col-sm-4">Servicio</label>
          <div class="col-sm-8">
            <select class="form-control input-sm" ng-model="$ctrl.selectedServicio" ng-change="$ctrl.CambioServicio($ctrl.selectedServicio)"
              ng-disabled="$ctrl.BloquearElementos" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal"></select>
          </div>
        </div>
      </div>
	  
      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-content">
              <label for="Firstname5" style="opacity: 0.5;" class="col-sm-4 ">Contrato</label>
              <div class="col-sm-8">
                <input type="text" ng-disabled="$ctrl.BloquearElementos" ng-model="$ctrl.contratoSelected" class="form-control input-sm"
                  placeholder="Ingresa contrato" ng-keyup="$ctrl.EnterContrato($event)">
              </div>
            </div>
            <div class="input-group-btn">
              <button title="Buscar cliente" ng-disabled="$ctrl.BloquearElementos" ng-click="$ctrl.BuscaCliente()" class="btn ink-reaction btn-floating-action btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Firstname5" class="col-sm-6"><i class="md md-av-timer" ></i> Hora Inicial:</label>
          <div class="col-sm-6">
            <input type="text" ng-model="$ctrl.Hora" class="form-control input-sm" placeholder="HH:MM" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Firstname5" class="col-sm-4"><i class="md md-today"></i> Fecha</label>
          <div class="col-sm-8">
            <input type="text" ng-model="$ctrl.Fecha" class="form-control input-sm" disabled="">
          </div>
        </div>
      </div>



    </div>
    <div class="col-md-12 style-warning text-center" style="margin-bottom: 10px;" ng-show="$ctrl.MuestraMensajeQueja">
        <h4>{{$ctrl.MensajeQueja}}</h4>

    </div>


    <div class="col-md-12">
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-6">
            <h4 class="text-danger" style="margin-top: 10px;">#Llamada: {{$ctrl.NumeroLlamada}}</h4>
            
          </div>
          <div class="col-md-6">
            <h4 class="text-danger" style="margin-top: 10px;"># Reporte: {{$ctrl.clv_queja}}</h4>
            
          </div>
        </div>

        <div class="col-md-12" style="font-size:11px;">
          <p><b>Nombre: </b>{{$ctrl.NombreCliente}}</p>
          <p><b>Direccion : </b>{{$ctrl.Calle}} <b>#:</b>{{$ctrl.Numero}} Col.{{$ctrl.Colonia}} {{$ctrl.Ciudad}}</p>
          <p><b>Teléfono: </b>{{$ctrl.Telefono}}</p>
        </div>

        <div class="col-md-12 text-center" style="font-size:14px; color: #06599a;">
          <b>Servicios</b>
          <div class=" card wrapper text-center" style="background-color: whitesmoke;">
            <p ng-repeat="x in $ctrl.ServiciosCliente" style="font-size:10px;">{{x.Servicio}}</p>
          </div>
        </div>




        <div class="col-md-12">

          <strong class="" style="margin-top: 10px;">Tipo de atención:</strong>
        </div>
        <div class="col-md-12">
          <label class="radio-inline radio-styled radio-warning">
											<input type="radio" name="atencion" ng-model="$ctrl.tipoAtencion" value="T"><span>Via Telefónica</span>
										</label>
          <label class="radio-inline radio-styled radio-warning">
										<input type="radio" name="atencion" ng-model="$ctrl.tipoAtencion" value="S"><span>En el Sitio</span>
									</label>
        </div>
      </div>

      <div class="col-md-5">

        <div class="row">
          <strong style="margin-top: 10px;">Clasificación del Problema:</strong>
          <select class="form-control input-sm" ng-model="$ctrl.Problema" ng-options="item as item.descripcion for item in $ctrl.clasificacionProblemas track by item.clvProblema">
											  <option value=""  ng-disabled="$ctrl.BloquearElementos">selecciona</option>
											  </select>

        </div>
        <br>
        <div class="row">
          <strong>Reporte del Cliente:</strong>
          <textarea class="form-control input-sm" placeholder="Describe brevemente la problematica del cliente " ng-model="$ctrl.DescripcionProblema"></textarea>

        </div>
        <br>
        <div class="row">
          <strong style="margin-top: 10px;">Clasificación de la Solución:</strong>
          <select class="form-control input-sm" ng-model="$ctrl.Trabajo" ng-options="item as item.DESCRIPCION for item in $ctrl.Trabajos track by item.CLV_TRABAJO">
												 <option value=""  disabled="true">selecciona</option>
											  </select>

        </div>
        <br>
        <div class="row">

          <strong style="margin-top: 10px;">Problema Real:</strong>
          <textarea class="form-control input-sm" placeholder="Describe brevemente la solución del problema" ng-model="$ctrl.DescripcionSolucion"></textarea>

        </div>

      </div>



      <div class="col-md-3">
       <div class="col-md-12">
        <button title="Generar reporte" type="button" style="font-size: 10px;" class="btn btn-danger btn-block" ng-click="$ctrl.generaReporte()"><i class="fa fa-flag"></i> Generar Reporte</button>
        <button title="Consultar historial de pagos" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block"
          ng-click="$ctrl.abrirPagos()"><i class="fa fa-money"></i> Historial de Pagos</button>
        <button title="Consultar historial de reportes" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block"
          ng-click="$ctrl.openHistorial()"><i class="fa fa-clock-o
					"></i> Historial Reportes</button>
        <button title="Consultar detalle de cobro" type="button" style="font-size: 10px;" class="btn btn-default-bright btn-block"
          ng-click="$ctrl.abrirDetalleCobro();"><i class="fa fa-credit-card
					"></i> Consultar Cobro</button>
       </div>


        <div class="col-md-12" ng-show="$ctrl.PanelCaptura">
          <h3 class="text-danger"><i class="fa fa-flag"></i> Generación de reporte  </h3>
           
            
              <label>Departamento Responsable</label>
              <select ng-model="$ctrl.Departamento" class="form-control input-sm" ng-options="item as item.Concepto for item in $ctrl.Departamentos track by item.Clave">
									  <option value="">Selecciona </option>
									 </select><br>
              <label>Tipo de prioridad</label>
              <select ng-model="$ctrl.Prioridad" class="form-control input-sm" ng-options="item as item.Descripcion for item in $ctrl.Prioridades track by item.clvPrioridadQueja">
										<option value="">Selecciona </option>
									</select><br>
              <button class="btn btn-success btn-sm" ng-click="$ctrl.ValidaOrdenQuejas();">Guardar </button>
              <button class="btn btn-default-bright btn-sm" ng-click="$ctrl.CancelaReporte();">Cancelar</button>
           

         
        </div>
      </div>
    </div>




  </div>

</div>










</div>
</div>
<!--end cardbody-->
</div>
<!--end card-->
