<style type="text/css">
  .scrollDiv {
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
  }

  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .form-control {
    height: 37px;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .mac {
    font-size: 14px;
    font-weight: bold;
    color: darkslateblue;
  }

  .desc {
    font-size: 12px;
    font-weight: bold;
    color: #252d46;
  }
</style>

<div class="card" style="margin-top:20px; padding-bottom:30px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo cambio de servicio</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
        <a href="#" class="paginaActiva">procesos</a>
      </small>
    </header>
    <div class="tools">
    <button title="Regresar " type="button" ui-sref="home.procesos.cambioservicio" class="btn btn-default-bright btn-sm" name="button"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
  </div>
  </div>
  <div class="card-body">
    <div class="card col-md-12" style="padding: 5px; background-color: #f9f9f9;">
      <div class="col-md-offset-1 col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <b>Servicio: </b>
          </div>
          <div class="col-md-9">
            <select class="form-control input-sm" ng-model="$ctrl.selectedServicio" ng-change="$ctrl.CambioServicio()" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal">
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <b>Contrato:</b>
          </div>
          <div class="col-md-9">
              <div class="input-group">
                <form name="FormBuscar" angular-validator-submit="ctrl.SaveEstado()" novalidate angular-validator autocomplete="off">
                  <input type="text" name="InpcontratoSelected" ng-model="$ctrl.contratoSelected" class="form-control input-sm" placeholder="Ingresa contrato" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty" ng-keyup="$ctrl.EnterContrato($event)" invalid-message="'Ej. (123-456).'">
                </form>
                <div class="input-group-btn">
                  <button type="button" title="Buscar cliente" ng-click="$ctrl.ModalClientes()" class="btn ink-reaction btn-floating-action btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-offset-3 col-md-9 has-error" ng-if="FormBuscar.InpcontratoSelected.$valid && $ctrl.CheckNull == true && ($ctrl.contratoSelected == null || $ctrl.contratoSelected == undefined || $ctrl.contratoSelected == '')">
              <label class="control-label has-error validationMessage" ng-if="FormBuscar.InpcontratoSelected.$valid && $ctrl.CheckNull == true && ($ctrl.contratoSelected == null || $ctrl.contratoSelected == undefined || $ctrl.contratoSelected == '')">
                  Ingresa un Contrato.
              </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="col-md-12">
            <b>Contrato: </b>{{$ctrl.datosCliente.ContratoCom}}
          </div>
          <div class="col-md-12">
            <b>Nombre:</b> {{$ctrl.datosCliente.Nombre}}
          </div>
          <div class="col-md-12">
            <b>Calle y número:</b> {{$ctrl.datosCliente.Calle}} #{{$ctrl.datosCliente.NUMERO}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <b>Colonia:</b> {{$ctrl.datosCliente.Col}}
          </div>
          <div class="col-md-12">
            <b>Ciudad:</b> {{$ctrl.datosCliente.Cd_Mun}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-12"  ng-show="$ctrl.muestraServCliente">
        <h4><b>Servicios actuales del cliente</b></h4>
        <table class="table" style="font-size: 11px; color:#0c0c0c;">
          <thead>
            <tr>
              <td>Servicio</td>
              <td>Aparato</td>
              <td>Fecha Ultimo pago</td>
              <td>Mensualidad sin descuento</td>
              <td>Descuento combo</td>
              <td>Mensualidad con descuento</td>
              <td>Mostrar servicios posibles a cambiar</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in $ctrl.serviciosCliente">
              <td class="text-primary"><b>{{x.servicio}}</b></td>
              <td>{{x.aparato}}</td>
              <td>{{x.fechaUltimoPago}}</td>
              <td>{{x.mensualidad |currency}}</td>
              <td>{{x.descuentoCombo | currency}}</td>
              <td>{{x.mensualidadConDescuento | currency}}</td>
              <td><button ng-click="$ctrl.verOpciones(x)" class="btn btn-primary btn-xs"> servicios posibles a cambiar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12" ng-show="$ctrl.muestraServPosibles">
        <h4>
          <b>Servicios posibles a cambiar</b>
        </h4>
        <table class="table" style="font-size: 12px; color:#0c0c0c; ">
          <thead>
            <tr>
              <td>Servicio</td>
              <td>Mensualidad sin descuento</td>
              <td>Descuento combo</td>
              <td>Mensualidad con descuento</td>
              <td>Cobro</td>
              <td>Cambiar servicio</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in $ctrl.serviciosPosibles"> 
              <td>{{x.servicio}}</td>
              <td>{{x.mensualidad | currency}}</td>
              <td>{{x.descuentoCombo | currency}}</td>
              <td>{{x.mensualidadConDescuento | currency}}</td>
              <td>{{x.cobro | currency}}</td>
              <td><button class="btn btn-success btn-sm" ng-click="$ctrl.CambiarServicio(x)"> <i class="fa fa-exchange" aria-hidden="true"></i> Cambiar servicio</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>