<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.Cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Confirmar Recontratación</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <b><p>¿Está Seguro que quiere recontratar a este cliente?</p></b>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.OK()" title="Recontratar"><i class="fa fa-check"></i> Aceptar</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>