<style type="text/css">
    .scrollDiv {
        height: 500px;
        overflow: auto;
        overflow-x: hidden;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Regresar Aparato a Almacen</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Regresar Aparato a Almacen </a>
            </small>
        </header>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-11" style="font-weight:bold;">
                Buscar Aparato Por:
            </div>

            <br>
            <div class="col-md-15">

                <div class="col-md-12" style="text-align:right">
                    <div class="col-md-2" style="text-align:right">
                        <input type="text" name="InpSearchAparato" class="form-control input-sm" ng-model="$ctrl.clave" placeholder="#Orden" ng-keyup="$ctrl.EnterContrato($event)">
                    </div>
                    <div class="col-md-1" style="text-align:right">
                            <button type="button"  class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(1)" title="Buscar por # Orden"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                    <div class="col-md-2" style="text-align:right">
                        <input type="text" name="InpSearchAparato2" class="form-control input-sm" ng-model="$ctrl.Mac" placeholder="Mac" ng-keyup="$ctrl.EnterMac($event)">
                    </div>
                    <div class="col-md-1" style="text-align:right">
                            <button type="button"  class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(4)" title="Buscar por Mac"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>
                    <!--<div>
                        <div class="col-md-3" style="text-align:left">
                            <select name="SltUsuario" class="form-control input-sm" ng-model="$ctrl.SelUsuario" ng-change="$ctrl.buscar(2)" 
                                ng-options="P.razon_social for P in $ctrl.usuario track by item.id_compania">
                                <option value="">Selecciona al Usuario</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1" style="text-align:right">
                            <button type="button"  class="btn btn-warning btn-xs" ng-click="$ctrl.buscar(2);" title="Buscar por usuario "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        
            <table class="table">
                <thead>
                    <tr>
                        <th><b>#Orden</b></th>
                        <th ><b>Mac</b></th>
                        <th ><b>Proviene</b></th>
                        <th ><b>Usuario que recibio</b></th>
                      <!--  <th class="text-center"><b>Buen Estado</b></th>-->
                        <th ><b>Marca</b></th>                        
                        <th  ><b>Devolver a almacén</b></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr dir-paginate="X in $ctrl.DevolucionList|itemsPerPage:7" >
                        <td>{{X.CLV_ORDEN}}</td>
                        <td>{{X.MACCABLEMODEM}}</td>
                        <td>{{X.PROVIENEDE}}</td>
                        <td>{{X.RECIBIO}}</td>                        
                        <td>{{X.MARCA}}</td>                        
                        <td><button type="button" class="btn btn-primary btn-xs" permission permission-only="'devoluciondeaparatosAdd'" ng-click="$ctrl.RegresaAlmacen(X)" title="Regresar al Almacen caja"><i class="glyphicon glyphicon-backward"></i> Devolver</button></td>      
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="margin-top:-40px;">
                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" >
                </dir-pagination-controls>
            </div>
            <br>
       
    </div>
</div>
</div>