<style type="text/css">
    .span-info{
        color: #2196f3;
    }
    .span-danger{
        color: #f44336;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Fuera de Area</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Proceso</a>
            </small>
        </header>
        <div class="tools">		
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="card" style="padding: 10px;">
                    <form name="FormBuscarContrato" angular-validator-submit="ctrl.SetCliente()" novalidate angular-validator autocomplete="off">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <b>Contrato:</b>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Cliente.ContratoCom" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty" invalid-message="'Ej. (123-456).'" 
                                       placeholder="Ingresa Contrato" ng-keydown="$ctrl.SetCliente($event)">
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted">Buscar cliente por nombre/Domicilio</p>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-default" ng-click="$ctrl.OpenSearchCliente()" title="Buscar Cliente"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-offset-1 col-md-3 has-error" ng-if="FormBuscarContrato.InpContrato.$valid && $ctrl.CheckNull == true && ($ctrl.Cliente.ContratoCom == null || $ctrl.Cliente.ContratoCom == undefined || $ctrl.Cliente.ContratoCom == '')">
                                <label class="control-label has-error validationMessage" ng-if="FormBuscarContrato.InpContrato.$valid && $ctrl.CheckNull == true && ($ctrl.Cliente.ContratoCom == null || $ctrl.Cliente.ContratoCom == undefined || $ctrl.Cliente.ContratoCom == '')">
                                    Ingresa un Contrato.
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary"><i class="fa fa-user"></i> Datos del Cliente:</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <h4><b>Nombre:</b></h4>
                        </div>
                        <div class="col-md-10">
                                <h4><b>{{ $ctrl.Nombre }}</b></h4> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                                <h4><b>Ciudad:</b></h4>
                        
                        </div>
                        <div class="col-md-10">
                                <h4><b>{{ $ctrl.Cliente.Cd_Mun }}</b></h4>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Colonia:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Cliente.Col }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Calle:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Cliente.Calle }} <b> #: </b>{{ $ctrl.Cliente.NUMERO }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Teléfono:</b>
                        </div>
                        <div class="col-md-4">
                            {{ $ctrl.Cliente.TELEFONO }}
                        </div>
                        <div class="col-md-2">
                            <b>Celular:</b>
                        </div>
                        <div class="col-md-4">
                            {{ $ctrl.Cliente.CELULAR }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                     <h4 class="text-center"><b>Servicios Contratados</b></h4>
                    <div class="col-md-12">
                        <table class="table">
                         <thead>
                             <th>Servicio</th>
                             <th>Opciones</th>
                         </thead>
                         <tbody>
                             <tr ng-repeat="x in $ctrl.servicios">
                                <td style="font-size:15px;">{{x.Descripcion}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.AfectarServicio(x)"><i class="fa fa-chain-broken" aria-hidden="true"></i>
                                    Fuera de Area</button></td>
                             </tr>
                         </tbody>
                        </table>
                        <p class="text-muted">Servicios contratados del cliente actualmente y disponibles para cambiar a estatus fuera de area</p>
                    </div>
                </div>
            </div>        
           
        </div>
    </div>
</div>