<!--<form angular-validator-submit="ctrl.guardar()" name="contratoForm" novalidate angular-validator>-->
  <div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Instala Servicios</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <b style="font-size: 14px; color: #06599a;"><i class="glyphicon glyphicon-plus"></i> Asignación de Aparatos</b>
        <br>
        <br>
        <label class="col-md-4 control-label blod">Tipo de Aparato:</label>
        <div class="col-md-8" style="padding-left:-10px;">
          <select class="form-control input-sm" name="TipoAparatos" ng-model="ctrl.TipoAparato" ng-options="item as item.Nombre for item in ctrl.TipoAparatos track by item.IdArticulo" ng-change="ctrl.SeleccionaTipoAparato()">
            <option value="">selecciona</option>
          </select>
        </div>
        <label class="col-md-4 control-label blod">Aparato:</label>
        <div class="col-md-8" style="padding-left:-10px;">
          <select class="form-control input-sm" name="AparatosDisponibles" ng-model="ctrl.AparatoDisponible" ng-options="item as item.Descripcion for item in ctrl.AparatosDisponibles track by item.Clv_Aparato" ng-disabled="ctrl.Detalle">
            <option value="">selecciona</option>
          </select>
        </div>
        <br>
        <label class="col-md-12 control-label blod">Servicios a los que se le instala el aparato:</label>
        <div class="col-md-9" style="padding-left:-10px;">
          <multiple-autocomplete ng-model="ctrl.selectedListServicios"
              object-property="nombre"
              suggestions-arr="ctrl.ServiciosPosibles">
          </multiple-autocomplete>
        </div>
        <div class="col-md-3 tools" align="right">
          <button  title="Guardar orden de servicio" class="btn btn-primary btn-xs" ng-click="ctrl.AgregaAparato()" ng-disabled="ctrl.Detalle"><i class="glyphicon glyphicon-plus" aria-hidden="true" ></i> Agregar</button>    
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12" ng-if="ctrl.SaveTap">
          <div class="col-md-3">
            <label>TAP:</label>
          </div>
          <div class="col-md-9">
            <select name="SlcTap" class="form-control input-sm" ng-model="ctrl.Tap" ng-options="T as T.Clavetecnica for T in ctrl.TapList track by T.IdTap">
            </select>
          </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.SaveNap">
          <div class="col-md-3">
            <label>NAP:</label>
          </div>
          <div class="col-md-9">
            <select name="SlcNap" class="form-control input-sm" ng-model="ctrl.Nap" ng-options="N as N.Clavetecnica for N in ctrl.NapList track by N.IdTap">
            </select>
          </div>
        </div>
      </div>
      <!--Preview de la instalación-->
      <div class="col-md-6">
        <b style="font-size: 14px; color: #06599a;">Aparatos Asignados</b>
        <div class="col-md-12" align="right"> 
          <button type="button" title="Eliminar orden de servicio" ng-disabled="ctrl.Detalle" class="btn btn-danger btn-xs" ng-click="ctrl.Eliminar();"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
        <div class="col-md-12">
        <treecontrol class="tree-light" tree-model="ctrl.treedata" expanded-nodes="ctrl.expandedNodes" on-selection="ctrl.SelecionaNodo(node, $parentNode)">
          <span ng-switch="" on="node.Type">
            <span ng-switch-when="folder" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <span ng-switch-when="pic" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            <span ng-switch-when="doc" class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <span ng-switch-when="file" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            <span ng-switch-when="movie" class="glyphicon glyphicon-film" aria-hidden="true"></span>
            <span ng-switch-when="email" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span ng-switch-when="home" class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <span ng-switch-when="trash" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </span> 
          {{node.Nombre}} ({{node.Detalle}})
          <button ng-click="ctrl.seleccionaMedio(node)" class="btn btn-info btn-xs" ng-if='node.Clv_UnicaNet>0 && node.IdMedio=="0"'>Medio</button>
        </treecontrol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    <button class="btn btn-primary btn-sm" ng-disabled="ctrl.Detalle" ng-click="ctrl.guardar()" ng type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Aceptar</button>
  </div>
<!--</form>-->

