<style>
      .dualmultiselect label {
          margin: 10px;
        }
      .dualmultiselect .btn-info {
          margin: 5px;  }
      .dualmultiselect .btn-warning {
          margin: 5px; }
      .dualmultiselect .pool {
          border: 1px solid #c2c2c2;
          border-radius: 4px;
          padding: 5px;
          margin: 5px;
          height: 300px;
          overflow-y: scroll;
        }
      .dualmultiselect .pool ul {
          list-style: none;
          padding-left: 0px;}
      .dualmultiselect .pool ul li {
          width: 100%;
          padding: 4px 8px 4px 4px;
          border-bottom: 1px dotted #CFCFCF;}
      .dualmultiselect .pool ul li a:hover {
          text-decoration: none;}
  </style>

<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.Close()">×</button>
  <h4 class="modal-title"><i class="fa fa-search"></i> Reporte de Mantenimiento - Área</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
    <uib-tabset active="active">
        <uib-tab index="0">
            <uib-tab-heading>
                Estados
            </uib-tab-heading>
            <br>
            <fieldset ng-disabled="!ctrl.FormEditQM">
            <div class="row">
                <div class="dualmultiselect">
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Estados Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.EstadoDisp" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddEstado(L, 1)">
                                    <b>{{ L.Nombre }}</b>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15%;">
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddAllEstado(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.AddAllEstado(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Estados Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.EstadoInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;" ng-disabled="!ctrl.FormEditQM">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddEstado(LI, 2)">
                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </fieldset>
            <footer>
                <p class="text-right"></p>
            </footer>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                Ciudades
            </uib-tab-heading>
            <br>
             <fieldset ng-disabled="!ctrl.FormEditQM">
            <div class="row">
                <div class="dualmultiselect">
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Ciudades Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.CiudadDisp" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddCiudad(L, 1)">
                                    <b>{{ L.Nombre }}</b>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15%;">
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddAllCiudad(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.AddAllCiudad(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Ciudades Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.CiudadInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddCiudad(LI, 2)">
                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </fieldset>
            <footer>
                <p class="text-right"></p>
            </footer>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                Localidades
            </uib-tab-heading>
            <br>
             <fieldset ng-disabled="!ctrl.FormEditQM">
            <div class="row">
                <div class="dualmultiselect">
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Localidades Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.LocalidadDisp" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddLocalidad(L, 1)">
                                    <b>{{ L.Nombre }}</b>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15%;">
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddAllLocalidad(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.AddAllLocalidad(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Localidades Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.LocalidadInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddLocalidad(LI, 2)">
                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </fieldset>
            <footer>
                <p class="text-right"></p>
            </footer>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                Colonias
            </uib-tab-heading>
            <br>
             <fieldset ng-disabled="!ctrl.FormEditQM">
            <div class="row">
                <div class="dualmultiselect">
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Colonias Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.ColoniaDisp" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddColonia(L, 1)">
                                    <b>{{ L.Nombre }}</b>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15%;">
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddAllColonia(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.AddAllColonia(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Colonias Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.ColoniaInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddColonia(LI, 2)">
                                    <strong><b>{{ LI.Nombre }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </fieldset>
            <footer>
                <p class="text-right"></p>
            </footer>
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                Calles
            </uib-tab-heading>
            <br>
             <fieldset ng-disabled="!ctrl.FormEditQM">
            <div class="row">
                <div class="dualmultiselect">
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Calles Disponibles</b></h4>
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="L in ctrl.CalleDisp" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddCalle(L, 1)">
                                    <b>{{ L.NOMBRE }}</b>
                                </div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15%;">
                        <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddAllCalle(1);" title="Agregar todos">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                        <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.AddAllCalle(2);" title="Quitar todos"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-center"><b>Calles Incluidos</b></h4>                
                        <div class="pool">
                            <div class="col-md-12" ng-repeat="LI in ctrl.CalleInc" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                <div class="col-md-12 text-right" style="padding-top: 3%; cursor:pointer;" ng-click="ctrl.AddCalle(LI, 2)">
                                    <strong><b>{{ LI.NOMBRE }}</b></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <fieldset ng-disabled="!ctrl.FormEditQM">
            <footer>
                <p class="text-right"></p>
            </footer>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-primary btn-sm" ng-disabled="ctrl.ListInc.length == 0" title="Siguiente" ng-click="ctrl.Next()"><i class="glyphicon glyphicon-floppy-disk"></i> Siguiente</button>-->
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.Close()" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cerrar</button>
</div>