<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()" >×</button>
    <h4  class="modal-title"><i class="fa fa-thumb-tack"></i> Eliminar Cambio de servicio </h4>
</div>
<div class="modal-body" style="font-size: 11px;">
  <h4>{{$ctrl.message}}</h4>
</div>
<div class="modal-footer">  
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="$ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
  <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.ok()"><i class="fa fa-trash"></i> Eliminar</button>
</div>