<div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()" >×</button>
        <h4  class="modal-title"><i class="fa fa-thumb-tack"></i>Atención </h4>
        
      </div>
      <div class="modal-body" style="font-size: 11px;">
      
      <h3><b>{{$ctrl.mensaje}}</b></h3>
      
      <div class="modal-footer">  
          <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.ok()">Salir de ejecución</button>
        <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.cancel()">Mantenerme en ejecución</button>
      
      </div>
      