<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.Close()">×</button>
  <h4 class="modal-title">Buscar Cliente Por Contrato</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="panel-group" id="accordion3">
    <div class="card panel">
      <div class="card-head card-head-xs collapsed " data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
        <header><i class="fa fa-search"></i> Buscar Cliente</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <uib-tabset active="active">
            <uib-tab index="1">
              <uib-tab-heading>
                <i class="md md-home"></i> Dirección
              </uib-tab-heading>
                  <br>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="col-md-4">
                        <b>Estados:</b>
                        <select name="SlcEstado" class="form-control input-sm" ng-model="ctrl.Estado" ng-options="E as E.Nombre for E in ctrl.EstadoList track by E.Clv_Estado" ng-change="ctrl.GetCiudadList()" >
                          <option value="">Selecciona Estado</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <b>Cuidades:</b>
                        <select name="SlcCiudad" class="form-control input-sm" ng-model="ctrl.Cuidad" ng-options="C as C.Nombre for C in ctrl.CiudadList track by C.Clv_Ciudad" ng-change="ctrl.GetLocalidadList()">
                          <option value="">Selecciona Cuidad</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <b>Localidades:</b>
                        <select name="SlcLocalidad" class="form-control input-sm" ng-model="ctrl.Localidad" ng-options="L as L.Nombre for L in ctrl.LocalidadList track by L.Clv_Localidad" ng-change="ctrl.GetColoniaList()">
                          <option value="">Selecciona Localidad</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <b>Colonias:</b>
                        <select name="SlcColonia" class="form-control input-sm" ng-model="ctrl.Colonia" ng-options="Col as Col.Nombre for Col in ctrl.ColoniaList track by Col.clv_colonia" ng-change="ctrl.GetCalleList()">
                          <option value="">Selecciona Colonia</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <b>Calles:</b>
                        <select name="SlcCalle" class="form-control input-sm" ng-model="ctrl.Calle" ng-options="Cal as Cal.NOMBRE for Cal in ctrl.CalleList track by Cal.Clv_Calle" ng-change="ctrl.GetClienteList()">
                          <option value="">Selecciona Calle</option>
                        </select>
                      </div>
                      <div class="col-md-4" ng-if="ctrl.FormEditQM">
                        <br>
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="ChkConQM" ng-model="ctrl.ConQM" ng-change="ctrl.GetClienteList()"><span><small><b>Incluidos</b></small></span>
                        </label>
                      </div>
                    </div>
                  </div>
              </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table class="table" style="    font-size: 10px;">
      <thead>
        <tr>
          <th>Contrato</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Domicilio</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!ctrl.ShowList">
				  <td class="text-center" colspan="9">SIN REGISTROS</td>
				</tr>
        <tr dir-paginate="x in ctrl.ClienteList|itemsPerPage:8" ng-show="ctrl.ShowList">
          <td>{{ x.ContratoCom }}</td>
          <td>{{ x.Nombre }} {{ x.SegundoNombre }}</td>
          <td>{{ x.Apellido_Paterno }}</td>
          <td>{{ x.Apellido_Materno }}</td>
          <td>{{ x.Calle }} #{{ x.NUMERO}}</td>
          <td>
            <button class="btn btn-danger btn-xs" ng-click="ctrl.Seleccionar(x, 2)" ng-if="x.Selection" title="Seleccionar Cliente" ng-disabled="!ctrl.FormEditQM"><i class="fa fa-trash"></i></button>
            <button class="btn btn-warning btn-xs" ng-click="ctrl.Seleccionar(x, 1)" ng-if="!x.Selection" title="Seleccionar Cliente" ng-disabled="!ctrl.FormEditQM"><i class="fa fa-check"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin-top:-40px;">
      <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="ctrl.ClienteList.length > 0">
      </dir-pagination-controls>
    </div>
    </div>
  </div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" title="Asignar" ng-click="ctrl.Save()" ng-disabled="ctrl.ListInc.length == 0" ng-if="ctrl.BtnSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
  <button class="btn btn-default btn-sm" type="button" ng-disabled="ctrl.ListInc.length == 0" ng-click="ctrl.Close()"><i class="glyphicon glyphicon-log-out"></i> Cerrar</button>
</div>