<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()" >×</button>
    <h4  class="modal-title"><i class="fa fa-thumb-tack"></i>Atención </h4>
    
  </div>
  <div class="modal-body" style="font-size: 11px;">
  
  <h3><b>{{$ctrl.mensaje}}</b></h3>
  
  <div class="modal-footer">  
      <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.ok()"><i class="fa fa-check"></i>Ejecutar</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.cancel()"><i class="fa fa-logout"></i>Salir</button>
  
  </div>
  