<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title"><i class="fa fa-thumb-tack"></i> Datos para la agenda</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="row">
    <!--
    <div class="col-md-12">
      <label>Técnico</label>
      <br/>
      <select class="form-control" ng-model="ctrl.TecnicoAgenda" ng-options="v.Nombre for v in ctrl.Tecnicos track by v.clv_Tecnico">
    <option value="">selecciona</option>
      </select>
    </div>-->
    <div class="col-md-12">
      <label>Fecha</label>
      <br/>
      <input type="date" class="form-control" ng-model="ctrl.FechaAgenda">
    </div>
    <div class="col-md-12">
      <label>Turno</label>
      <br/>
      <select class="form-control" ng-model="ctrl.TurnoAgenda" ng-options="v.TURNO for v in ctrl.Turnos track by v.ID">
      <option value="">Selecciona</option>
      </select>
    </div>
    <div class="col-md-12">
      <label>Comentario</label>
      <br/>
      <input type="text" class="form-control" ng-model="ctrl.ComentarioAgenda">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
</div>
