
<form angular-validator-submit="ctrl.ok()" novalidate angular-validator>
    <div class="modal-header">
            <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
            <h4 class="modal-title">Cancelación de Extensiones Adicionales </h4>
        </div>
        <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <label> Número de extensiones </label>
                                <input type="number" 
                                ng-disabled="true"                    
                                class="form-control" ng-model="ctrl.extensiones">   
                        </div>
                                           
                    </div>                     
                    <div class="row">
                        <div class="col-md-12">.
                                <label> Número de extensiones por cancelar </label>
                                <input type="number"
                                ng-disabled="ctrl.block"
                                validate-on="dirty" invalid-message="'Inválido.'"
                                required required-message="'Requerido'"
                                ng-disabled="true"                    
                                class="form-control" ng-model="ctrl.extensionesCan"> 

                        </div>
                            
                     </div>
                  

                            
        </div>
        <div class="modal-footer">
            <button  class="btn btn-success btn-sm"  ng-disabled="ctrl.block" type="submit">Guardar</button>
            <button  class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
        </div>
</form>
