
<form angular-validator-submit="ctrl.ok()" novalidate angular-validator>
        <div class="modal-header">
                <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
                <h4 class="modal-title">Extensiones Adicionales </h4>
            </div>
            <div class="modal-body">
               
                        <label> Número de extensiones por instalar</label>
                        <input type="number" 
                        ng-disabled="ctrl.block"
                        validate-on="dirty" invalid-message="'Inválido.'"
                        required required-message="'Requerido'"
                        class="form-control" ng-model="ctrl.numero" min=0>
           
               
            </div>
            <div class="modal-footer">
                <button  class="btn btn-success btn-sm"  ng-disabled="ctrl.block" type="submit">Guardar</button>
                <button  class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
            </div>
</form>
