<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.Cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-check-square-o"></i> Seleccionar Cliente</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion3">
                <div class="card panel">
                    <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
                        <header><i class="fa fa-search"></i> Filtros</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <uib-tabset active="active">
                                <uib-tab index="0">
                                    <uib-tab-heading>
                                        <i class="md md-content-paste"></i> Contrato
                                    </uib-tab-heading>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-4">
                                            <form name="FormBuscarContrato" angular-validator-submit="ctrl.GetClienteList(1)" novalidate angular-validator autocomplete="off">
                                                <div class="col-md-12">
                                                    <b>Contrato:</b>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" name="InpContrato" class="form-control input-sm" ng-model="ctrl.Contrato" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty"
                                                               placeholder="# Contrato" invalid-message="'Inválido, ej. (123-456).'">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-search"></i> Buscar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-offset-2 col-md-4">
                                            <form name="FormBuscarSetUpBox" angular-validator-submit="ctrl.GetClienteList(2)" novalidate angular-validator autocomplete="off">
                                                <div class="col-md-12">
                                                    <b>Set Up Box:</b>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" name="InpSetUpBox" class="form-control input-sm" ng-model="ctrl.SetUpBox" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                               placeholder="Setup Box" invalid-message="'Inválido.'">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-search"></i> Buscar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <footer>
                                        <p class="text-right"></p>
                                    </footer>
                                </uib-tab>
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        <i class="fa fa-user"></i> Nombre
                                    </uib-tab-heading>
                                    <br>
                                    <div class="row">
                                        <form name="FormBuscarNombre" angular-validator-submit="ctrl.GetClienteList(3)" novalidate angular-validator autocomplete="off">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <b>Nombre:</b>
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Apellido Paterno:</b>
                                                </div>
                                                <div class="col-md-3">
                                                    <b>Apellido Materno:</b>
                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <input type="text" name="InpNombre" class="form-control input-sm" ng-model="ctrl.Nombre" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                           placeholder="Nombre Cliente" invalid-message="'Inválido'">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="InpApellidoP" class="form-control input-sm" ng-model="ctrl.ApellidoP" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                           placeholder="A. Paterno" invalid-message="'Inválido'">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" name="InpApellidoM" class="form-control input-sm" ng-model="ctrl.ApellidoM" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                           placeholder="A. Materno" invalid-message="'Inválido'">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-search"></i> Buscar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <footer>
                                        <p class="text-right"></p>
                                    </footer>
                                </uib-tab>
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        <i class="fa fa-home"></i> Dirección
                                    </uib-tab-heading>
                                    <br>
                                    <div class="row">
                                        <form name="FormBuscarDireccion" angular-validator-submit="ctrl.GetClienteList(4)" novalidate angular-validator autocomplete="off">
                                             <div class="col-md-12">
                                                <div class="col-md-3"> 
                                                            <b>Ciudad:</b>
                                                        <input type="text" name="InpCiudad" class="form-control input-sm" ng-model="ctrl.Ciudad" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                               placeholder="Ciudad" invalid-message="'Inválido'">
                                                </div>
                                                <div class="col-md-3"> 
                                                            <b>Colonia</b>
                                                        <select name="SlcColonia" class="form-control input-sm" ng-model="ctrl.Colonia" ng-options="C.Nombre for C in ctrl.ColoniaList track by C.Clv_Colonia" ng-change="ctrl.GetClienteList(0)">
                                                        </select>
                                                </div>
                                                <div class="col-md-3"> 
                                                        <b>Calle:</b>
                                                    <input type="text" name="InpCalle" class="form-control input-sm" ng-model="ctrl.Calle"  ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                           placeholder="Calle" invalid-message="'Inválido.'">
                                                </div>
                                                <div class="col-md-3"> 
                                                        <b>Número:</b>
                                                    <input type="text" name="InpNumero" class="form-control input-sm" ng-model="ctrl.Numero"  ng-pattern="/^[a-zA-Z0-9 ._-]+$/" validate-on="dirty"
                                                           placeholder="#" invalid-message="'Inválido.'">
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-12 text-right">
                                                    <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-search"></i> Buscar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <footer>
                                        <p class="text-right"></p>
                                    </footer>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b><small>Contrato</small></b></th>
                            <th><b><small>Nombre</small></b></th>
                            <th><b><small>Apellido Paterno</small></b></th>
                            <th><b><small>Apellido Materno</small></b></th>
                            <th><b><small>Calle</small></b></th>
                            <th><b><small>Número</small></b></th>
                            <th><b><small>Colonia</small></b></th>
                            <th><b><small>Ciudad</small></b></th>
                            <!-- <th><b><small>Solo Internet</small></b></th>
                            <th><b><small>Es Hotel</small></b></th> -->
                            <th><b><small></small></b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!ctrl.ViewList">
                            <td class="text-center" colspan="11">SIN REGISTROS</td>
                        </tr>
                        <tr dir-paginate="X in ctrl.ClienteList|itemsPerPage:7" ng-show="ctrl.ViewList" style="font-size:10px;">
                            <td><small>{{ X.ContratoCom }}</small></td>
                            <td><small>{{ X.Nombre + ' ' + X.SegundoNombre }}</small></td>
                            <td><small>{{ X.Apellido_Paterno }}</small></td>
                            <td><small>{{ X.Apellido_Materno }}</small></td>
                            <td><small>{{ X.Calle }}</small></td>
                            <td><small>{{ X.NUMERO }}</small></td>
                            <td><small>{{ X.Col }}</small></td>
                            <td><small>{{ X.Cd_Mun }}</small></td>
                            <!-- <td>
                                <label class="checkbox-inline checkbox-styled">
                                    <input type="checkbox" name="CbxSoloInt" ng-model="X.SoloInternet" ng-disabled="true"><span></span>
                                </label>
                            </td>
                            <td>
                                <label class="checkbox-inline checkbox-styled">
                                    <input type="checkbox" name="CbxEsHotel" ng-model="X.eshotel" ng-disabled="true"><span></span>
                                </label>
                            </td> -->
                            <td><button type="button" class="btn btn-warning btn-xs" title="Seleccionar Cliente" ng-click="ctrl.SetCliente(X.CONTRATO)"><i class="fa fa-check"></i> Seleccionar</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
                    <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="ctrl.ClienteList.length > 0"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>