<style>
  .input-yellow {
    background-color: rgba(255, 249, 59, 0.71);
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .input-normal {
    background-color: #ffffff;
  }

  .input-yellow.bezier {
    animation-timing-function: cubic-bezier(.8, 0, .2, 1);
  }

  .input-yellow.steps {
    animation-name: anim-half;
    animation-timing-function: steps(1, end);
  }

  @keyframes anim {
    to {
      background-color: #ffffff;
    }
  }

  @keyframes anim-half {
    50% {
      background-color: #f5ff3b;
    }
  }

  .wrapper {
    height: 180px;
    overflow: auto;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    padding: 5px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
  }

</style>

<style type="text/css">
  .scrollDiv {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
  }

  .scrollDiv2 {
    height: 180px;
    overflow: auto;
    overflow-x: hidden;
  }

  .scrollDiv3 {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
  }
</style>

<form angular-validator-submit="$ctrl.Guardar(true)" name="QuejaForm" novalidate angular-validator>
  <div class="card animated fadeIn fast" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Procesos ></a><a href="#" class="paginaActiva">
        {{$ctrl.titulo}}</a></small>
      </header>
      <div class="tools">
        <button type="submit" title="Guardar orden de servicio" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
        <button type="button" title="Eliminar orden de servicio" ng-if="$ctrl.soyEjecucion==true" class="btn btn-danger btn-sm" ng-click="$ctrl.Eliminar();"><i class="fa fa-trash"></i> Eliminar</button>
        <button style="margin-left:20px;" type="button" title="Cancelar cambios" ng-click="$ctrl.Cancelar()" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="col-md-12">
            <div class="col-md-2">
              <small><b># Orden:</b></small>
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="# Orden" name="numeroorden" class="form-control input-sm" ng-model="$ctrl.clv_orden" disabled>
            </div>
            <div class="col-md-4">
              <input type="text" placeholder="No. contrato" class="form-control input-sm" ng-model="$ctrl.contrato" name="contrato" validate-on="dirty"
                ng-disabled="$ctrl.block" ng-pattern="/^[0-9]+([-][0-9]+)?$/" ng-keydown="$ctrl.buscarContrato($event)" required-message="'Este campo es obligatorio.'"
                invalid-message="'Formato de contrato inválido.'">
            </div>
            <div class="col-md-3" style="margin-left: -20px;">
              <div>
                <button title="Buscar cliente" type="button" ng-click="$ctrl.buscarCliente()" 
                name="buscarcliente"
                class="btn ink-reaction btn-floating-action btn-sm btn-default"
                  ng-disabled="$ctrl.block"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control input-sm"
            name="foliobitacora"
            placeholder="# Folio de bitácora" ng-model="$ctrl.bitacora" disabled>
        </div>
        <div class="col-md-5">
          <div class="col-md-12">
            <div class="col-md-3">
              <small><b>Status:</small></b>
              </p>
            </div>
            <div class="col-md-3">
              <label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" value="P" ng-model="$ctrl.status" ng-disabled="$ctrl.blockPendiente"><span>Pendiente</span>
					</label>
            </div>
            <div class="col-md-3">
              <label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" value="E" ng-model="$ctrl.status" ng-disabled="$ctrl.blockEjecutada" ng-change="$ctrl.fechas()"><span>Ejecutada</span>
					</label>
            </div>
            <div class="col-md-3">
              <label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" value="V" ng-model="$ctrl.status" ng-disabled="$ctrl.blockVista" ng-change="$ctrl.fechas()"><span>Visita</span>
					</label>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="col-md-12">
            <b style="font-size: 14px;
            color: #06599a;"><i class="md md-perm-identity"></i> Información del Cliente</b><br>
            <strong>Empresa:</strong> {{$ctrl.datosCli.Compania}}<br>
            <p><strong>Nombre:</strong> {{$ctrl.datosCli.NOMBRE}}<br>
              <strong>Dirección:</strong> {{$ctrl.datosCli.CALLE +' '+ $ctrl.datosCli.NUMERO +' '+ $ctrl.datosCli.COLONIA
              +' '+ $ctrl.datosCli.CIUDAD}}<br>
              <br>
            </p>
          </div>
          <div class="col-md-12">
            <b style="font-size: 14px;
              color: #06599a;"><i class="md md-settings-remote"></i> Servicios asignados</b><br>
            <div class="card wrapper scrollDiv2" style="background: #DDEAE9">
              <p style="font-size: 10px;" class="text-center"><span ng-repeat="x in $ctrl.servicios">{{ x.Servicio }} <br></span></p>
            </div>
            <label class="text-left radio-inline radio-styled"><input name="tipocliente" type="radio" ng-checked="$ctrl.datosCli.ESHOTEL"  ng-disabled="true" >
					<span>Es Hotel</span>
				</label>
            <label class="text-left radio-inline radio-styled"><input type="radio" name="tipocliente"  ng-checked="$ctrl.datosCli.SOLOINTERNET" ng-disabled="true" >
					<span>Solo Internet</span>
				</label>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <b style="font-size: 14px;
             color: #06599a;"><i class="md md-access-time"></i> Fechas de:</b><br><br>
          <table class="table" id="tfechas">
            <tr>
              <td> <label for="regular13" class=" control-label">Solicitud</label></td>
              <td>
                <input type="text" class="form-control input-sm" 
                ng-model="$ctrl.Fec_Sol" style="font-size:12px;" name="fsolicitud" ng-disabled="$ctrl.blockSolicitud"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
              </td>
            </tr>
            <tr ng-class="(QuejaForm.fejecucion.$valid==false  )?'input-yellow':'input-normal'">
              <td> <label for="regular13" class=" control-label">Ejecución</label></td>
              <td>
                <input type="text" name='fejecucion' class="form-control input-sm"
                 ng-model="$ctrl.Fec_Eje" style="font-size:12px;" ng-disabled="$ctrl.blockEjecucion"
                  placeholder="" ui-mask="99/99/9999" ng-required="!$ctrl.blockEjecucion" 
                  model-view-value="true" validate-on="dirty"
                  required-message="' La Fecha es obligatoria.'">
              </td>
            </tr>
            <tr ng-class="(QuejaForm.fechavisita1.$valid==false  )?'input-yellow':'input-normal'">
              <td>
                <label for="regular13" class="control-label">Visita 1</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="fechavisita1" ng-model="$ctrl.Visita1" style="font-size:12px;"
                  ng-disabled="$ctrl.blockVista1" placeholder="" ui-mask="99/99/9999" ng-required="!$ctrl.blockVista1" validate-on="dirty"
                  required-message="'La fecha es obligatoria.'" model-view-value="true">
              </td>
            </tr>
            <tr ng-class="(QuejaForm.fechavisita2.$valid==false  )?'input-yellow':'input-normal'">
              <td>
                <label for="regular13" class=" control-label">Visita 2</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.Visita2"
                
                 model-view-value="true" style="font-size:12px;"
                  ng-disabled="$ctrl.blockVista2" placeholder="" ui-mask="99/99/9999" name="fechavisita2" ng-required="!$ctrl.blockVista2"
                  validate-on="dirty" required-message="'La fecha es obligatoria.'">
              </td>
            </tr>
          
            <tr>
              <td >
                <label for="regular13" class=" control-label">Ejecución real</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" 
                  ng-model="$ctrl.datosOrden.FechaEjecucionReal" style="font-size:12px;"
                  name="ejecucionreal"
                  ng-disabled="$ctrl.blockEjecucionReal"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
              </td>
            </tr>
            <tr ng-class="(QuejaForm.HoraInicio.$valid==false  )?'input-yellow':'input-normal'">
                <td><b>Hora inicio</b></td>
                <td>
                    <input type="text" class="form-control input-sm" 
                    name="HoraInicio"
                    validate-on="dirty"
                    ng-disabled="$ctrl.blockHoraInicio"
                    ng-required="!$ctrl.blockHoraInicio"                     
                    ng-model="$ctrl.HoraInicio" placeholder="HH:MM" ui-mask="99:99"
                    model-view-value="true">
                </td>
              </tr>
              <tr ng-class="(QuejaForm.HoraFin.$valid==false)?'input-yellow':'input-normal'">
                  <td><b>Hora fin</b></td>
                  <td>
                      <input type="text" class="form-control input-sm" 
                      name="HoraFin"
                      validate-on="dirty"
                      ng-disabled="$ctrl.blockHoraFin"
                      ng-required="!$ctrl.blockHoraFin" 
                      ng-model="$ctrl.HoraFin" placeholder="HH:MM" ui-mask="99:99"
                      model-view-value="true" >
                  </td>
                </tr>
          </table>

          <!-- <div class="form-horizontal" role="form">
            <div class="form-group">
              <label for="regular13" class="col-sm-4 control-label">Solicitud</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.Fec_Sol" style="font-size:12px;" ng-disabled="$ctrl.blockSolicitud"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
                <div class="form-control-line"></div>
              </div>
            </div>
            <div class="form-group ">
              <label for="regular13" class="col-sm-4 control-label">Ejecución</label>
              <div class="col-sm-8">
                <input type="text" name='fejecucion' class="form-control input-sm" ng-model="$ctrl.Fec_Eje" style="font-size:12px;" ng-disabled="$ctrl.blockEjecucion"
                  placeholder="" ui-mask="99/99/9999" ng-required="!$ctrl.blockEjecucion" model-view-value="true" validate-on="dirty"
                  required-message="' La Fecha es obligatoria.'">
                <div class="form-control-line"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="regular13" class="col-sm-4 control-label">Visita 1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-sm" name="fechavisita1" ng-model="$ctrl.Visita1" style="font-size:12px;" model-view-value="true"
                  ng-disabled="$ctrl.blockVista1" placeholder="" ui-mask="99/99/9999" ng-required="!$ctrl.blockVista1" validate-on="dirty"
                  required-message="'La fecha es obligatoria.'" model-view-value="true">
                <div class="form-control-line"></div>
              </div>
            </div>

          </div>-->
          <!--  <div class="form-horizontal" role="form">
            <div class="form-group">
              <label for="regular13" class="col-sm-4 control-label">Visita 2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.Visita2" model-view-value="true" style="font-size:12px;"
                  ng-disabled="$ctrl.blockVista2" placeholder="" ui-mask="99/99/9999" name="fechavisita2" ng-required="!$ctrl.blockVista2"
                  validate-on="dirty" required-message="'La fecha es obligatoria.'">
                <div class="form-control-line"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="regular13" class="col-sm-4 control-label">Ejecución real</label>
              <div class="col-sm-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.datosOrden.FechaEjecucionReal" style="font-size:12px;" ng-disabled="$ctrl.blockEjecucionReal"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
                <div class="form-control-line"></div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-4">
              <button title="Consultar agenda" type="button" class="btn btn-info  btn-sm" ng-click="$ctrl.MuestraAgenda()"><i class="fa fa-calendar"></i> Agenda</button>
            </div>
            <div class="col-md-8">
              <button title="Realizar descarga de material" type="button" class="btn  btn-default btn-sm" ng-if="$ctrl.soyEjecucion==true"
                ng-click="$ctrl.ValidarDescargaMaterialOrden()"><i class="fa fa-wrench"></i> Descarga de material</button>
            </div>
          </div>
        </div>

        <div class="col-md-6">            
          <div class="col-md-6">
            <small><b>Técnico con material:</b></small>
            <select name="tecnico"
             ng-class="(QuejaForm.tecnico.$valid==false  )?'input-yellow':'input-normal'"            
             class="form-control input-sm"
              ng-model="$ctrl.selectedTecnico" 
              ng-options="v.NOMBRE for v in $ctrl.tecnico track by v.CLV_TECNICO"
              validate-on="dirty" required-message="'Error!, Este campo es obligatorio.'"
               ng-required="!$ctrl.blockTecnico"
               ng-disabled="$ctrl.blockTecnico">
					    <option value=""  selected>Seleccione el técnico</option>
		         </select>
            </div>
            <div class="col-md-6">
                <small><b>Técnico 2:</b></small>
                <select name="tecnico2"                             
                  class="form-control input-sm"
                  ng-model="$ctrl.TecnicoCuadrilla" 
                  ng-options="v.NOMBRE for v in $ctrl.tecnico track by v.CLV_TECNICO"                
                  ng-disabled="$ctrl.blockTecnicoTecnicoCuadrilla">
                  <option value=""  selected>Seleccione el técnico</option>
                 </select>
                </div>
          <div class="col-md-12">
            <small><b>Observaciones:</b></small>
            <textarea type="text" name="observaciones" class="form-control input-sm" ng-model="$ctrl.observaciones"></textarea>
          </div>
          <div class="col-md-12">
            <button title="Agregar un servicio nuevo" type="button" class="btn btn-success btn-xs" ng-click="$ctrl.agregar()" ng-disabled="$ctrl.block">Agregar servicio</button>
          </div>
          <div class="col-md-12">
            <table class="table" style="font-size:11px;">
              <thead>
                <th>Descripción</th>
                <th>Acción</th>
                <th>Observaciones</th>
                <th>Recibí</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <tr ng-repeat="x in $ctrl.trabajosTabla">
                  <td>{{ x.Descripcion }}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-if="x.Accion != null && x.Accion != 'Ya asignado'" ng-click="$ctrl.detalleTrabajo(x.Accion,x)">{{ x.Accion }}</button>
                    <button type="button" class="btn btn-success btn-xs" ng-if="x.Accion != null && x.Accion === 'Ya asignado'" ng-click="$ctrl.detalleTrabajo(x.Accion,x)">{{ x.Accion }}</button>
                    <button type="button" class="btn btn-default btn-xs" ng-if="x.Accion == null">-----</button>
                  </td>
                  <td>{{ x.Obs }}</td>
                  <td>
                    <label class="col-md-6 col-md-offset-2 checkbox-inline checkbox-styled">
								<input type="checkbox" name="inlineRadioOptions" ng-model="x.recibi"><span></span>
							</label>
                  </td>
                  <td>
                    <button type="button" class="btn ink-reaction btn-xs btn-floating-action btn-danger" data-toggle="tooltip" data-placement="top"
                      title="" data-original-title="Elimina servicio" ng-click="$ctrl.EliminaQueja(x);" ng-disabled="$ctrl.block"><i class="md md-delete"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
           </div>
          </div>
      </div>
    </div>
  </div>
</form>
