<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<style>
        /* Specify styling for tooltip contents */
        .tooltip.customClass .tooltip-inner {
          width: 700px;
		  /*color: #880000;
          background-color: #ffff66;*/
          /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        }

		.resumen{
			background: #f3f07d;
			padding: 15px;
			font-size: 14px;
		}
        /* Hide arrow */
        /*.tooltip.customClass .tooltip-arrow {
          display: none;
        }*/
</style>
	  
<div class="card animated fadeIn" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Ordenes de Servicio</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Ordenes de Servicio</a></small>
		</header>
		<div class="tools">
			<div class="btn-group">
				<a title="Crear una orden de servicio nueva" permission permission-only="'ordenesservicioAdd'" class="btn btn-primary btn-sm"  ui-sref="home.procesos.ordenNueva">CREAR NUEVA ORDEN </a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="panel-group" id="accordion3">
			<div class="card panel" style= "font-size: 12px;">
				<div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
					<header><i class="fa fa-search"></i> Buscar Orden</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<uib-tabset active="active">
							<uib-tab index="0">
								<uib-tab-heading><i class="md md-receipt"></i> Contrato y Status</uib-tab-heading>
								<br>
								<div class="col-md-3">
									<b>Región:</b>
									<select id="idplaza" ng-change="$ctrl.cambioPlaza()" class="form-control input-sm" ng-model="$ctrl.selectedPlaza"
											ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania">
											<option value="">Selecciona región</option>
									</select>
								</div>
								<div class="col-md-4">
									<b>Ver por Status</b><br>
									<div class="col-md-12">
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
												<input type="radio" name="inlineRadioOptions" ng-value="1" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()">
												<span>Pendientes</span>
                                            </label>
										</div>
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
												<input type="radio" name="inlineRadioOptions" ng-value="2" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()">
												<span>Ejecutadas</span>
                                            </label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
												<input type="radio" name="inlineRadioOptions" ng-value="3" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()">
												<span>Con visita</span>
                                            </label>
										</div>
										<div class="col-md-6">
											<label class="checkbox-inline checkbox-styled">
												<input type="checkbox" name="inlineRadioOptions" ng-value="1" ng-change="$ctrl.buscarStatus()" ng-model="$ctrl.auto">
												<span>Proceso Automático</span>
                                            </label>
										</div>
										<!-- <div class="col-md-6">
											<label class="radio-inline radio-styled">
												<input type="radio" name="inlineRadioOptions" ng-value="1" ng-change="$ctrl.buscarStatus()" ng-model="$ctrl.auto"><span>Proceso Automático</span>
											</label>
										</div> -->
									</div>
								</div>
								<div class="col-md-5">
									<div class="col-md-6 form-group">
										<b># Orden:</b>
										<input type="number" class="form-control input-sm" step="1" min="0" ng-model="$ctrl.orden" ng-change="$ctrl.cambioReporte(1)"
											   placeholder="# Orden" ng-keyup="$ctrl.EnterOrden($event)">
										<button class="btn btn-xs btn-info" ng-click="$ctrl.buscarOrden()"><i class="fa fa-search"></i> Buscar</button>
									</div>
									<div class="col-md-6 form-group">
										<b># Contrato:</b>
										<input type="text" class="form-control input-sm" ng-model="$ctrl.contrato" ng-change="$ctrl.cambioReporte(2)"
											   placeholder="# De contrato ejemplo: (1234-1)" ng-keyup="$ctrl.EnterOrden($event)">
										<button class="btn btn-xs btn-info" ng-click="$ctrl.buscarOrden()"><i class="fa fa-search"></i> Buscar</button>
									</div>
								</div>	
							</uib-tab>
							<uib-tab index="1">
								<uib-tab-heading><i class="fa fa-user"></i> Nombre</uib-tab-heading>
								<br>
								<form ng-submit="$ctrl.buscarNombres()">
									<div class="row">
										<div class="col-md-3 ">
											<b>Nombre:</b>
											<input type="text" class="form-control input-sm" ng-model="$ctrl.nombre" placeholder="Nombre del cliente" ng-keyup="$ctrl.EnterNombres($event)">
										</div>
										<div class="col-md-3">
											<b>Apellido Paterno:</b>
											<input type="text" class="form-control input-sm" ng-model="$ctrl.paterno" placeholder="A. paterno" ng-keyup="$ctrl.EnterNombres($event)">
										</div>
										<div class="col-md-3">
											<b>Apellido Materno:</b>
											<input type="text" class="form-control input-sm" ng-model="$ctrl.materno" placeholder="A. materno" ng-keyup="$ctrl.EnterNombres($event)">
										</div>
										<br>
										<div class="col-md-3">
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</div>
									</div>	
								</form>
							</uib-tab>
							<uib-tab index="2">
								<uib-tab-heading><i class="fa fa-home"></i> Ubicación</uib-tab-heading>
								<br/>
								<form ng-submit="$ctrl.buscarColonia()">
									<div class="row">
										<div class="col-md-3">
											<b>Plaza:</b>
											<select id="idplaza" ng-change="$ctrl.cambioPlaza()" class="form-control input-sm" ng-model="$ctrl.selectedPlaza"
													ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania">
													<option value="">Selecciona plaza</option>
											</select>
										</div>
										<div class="col-md-3">
											<b>Colonia:</b>
											<select class="form-control input-sm" ng-model="$ctrl.selectedColonia" ng-options="v.nombre for v in $ctrl.colonias|orderBy:'nombre' track by v.clvColonia">
 												<option value="">Selecciona colonia</option>
											</select>
										</div>
										<div class="col-md-3">
											<b>Calle:</b>
											<input type="text" class="form-control input-sm" ng-model="$ctrl.calle" placeholder="Ingresa el nombre de la calle" ng-keyup="$ctrl.EnterColonia($event)">
										</div>
										<div class="col-md-1">
											<b>Número:</b>
											<input type="text" class="form-control input-sm" ng-model="$ctrl.numero" placeholder="#"  ng-keyup="$ctrl.EnterColonia($event)">
										</div>
										<div class="col-md-2">
											<br>
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</div>
									</div>								
								</form>
							</uib-tab>
							<!--<uib-tab index="4">
								<uib-tab-heading><i></i> Set Up Box</uib-tab-heading>
								<br>
								<form ng-submit="$ctrl.buscarSetup()">
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Setup Box</label>
											<input type="text" class="form-control" ng-model="$ctrl.setupbox">
										</div>
									</div>
									<footer>
										<p class="text-right">
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</p>
									</footer>
								</form>
							</uib-tab>-->
						</uib-tabset>
					</div>
					<!-- panel body -->
				</div>
			</div>
			<!--end .panel -->
		</div>
		<div class="col-md-12 resumen">
		  	<div class="col-md-3"><b>Resumen de ordenes</b></div>
		  		<div class="col-md-3"><b>Pendientes:</b> {{$ctrl.resumen.Pendientes}}</div>
			</div>
		<div class="col-md-12 ">
			<div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
				<table class="table">
					<thead>
						<tr>
							<th># Orden</th>
							<th>Status</th>
							<th>Contrato</th>
							<th>Nombre</th>
							<th>Calle</th>
							<th>Número</th>
							<th colspan="3">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="10">SIN REGISTROS</td>
						</tr>
						<tr dir-paginate="x in $ctrl.ordenes|itemsPerPage:7" ng-show="$ctrl.conRegistros">
							<td>{{ x.Clv_Orden }}</td>
							<td>{{ x.STATUS }}</td>
							<td>{{ x.Contrato }}</td>
							<td>{{ x.Nombre }} {{ x.Apellido_Paterno }} {{ x.Apellido_Materno }}</td>
							<td>{{ x.CALLE }}</td>
							<td>#{{ x.NUMERO}}</td>
							<td>
								<button ui-sref="home.procesos.ordendetalle({ id: x.Clv_Orden})" title="Consultar orden de servicio" class="btn ink-reaction btn-xs btn-info">
									<i class="md md-content-paste"></i> Consultar</button>
							</td>
							<td>
								<a title="Ejecutar orden de servicio" permission permission-only="'ordenesservicioAdd'" ng-if="x.STATUS !='E'" ng-click="$ctrl.ejecuta(x.Clv_Orden)" class="btn ink-reaction btn-xs btn-warning">
									<i class="md md-launch"></i> Ejecutar</a>
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.PreviewTrabajos(x.Clv_Orden)" tooltip-trigger="'focus'" uib-tooltip-template="'myTooltipTemplate.html'" tooltip-class="customClass" tooltip-placement="left">
									<i class="fa fa-eye"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ordenes.length > 0">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myTooltipTemplate.html">
    <span>
        <p style="font-size:10px;" ng-repeat="X in $ctrl.trabajosTabla ">
            {{X.Descripcion}} {{X.Accion}}
        </p>
    </span>
</script>