<style type="text/css">
  .scrollDiv {
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
  }

  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .form-control {
    height: 37px;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .mac {
    font-size: 14px;
    font-weight: bold;
    color: darkslateblue;
  }

  .desc {
    font-size: 12px;
    font-weight: bold;
    color: #252d46;
  }

</style>

<div class="card" style="margin-top:20px; padding-bottom:30px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
      <br />
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
        <a href="#" class="paginaActiva">procesos</a>
      </small>

    </header>
    <div class="tools">
    </div>
  </div>
  <div class="card-body">
    <div class="card col-md-offset-1 col-md-10">
      <br>
      <div class="col-md-5">
        <div class="form-group-content">
          <label for="Firstname5" class="col-md-4"><b>Servicio</b></label>
          <div class="col-md-8">
            <select class="form-control input-sm" ng-model="$ctrl.selectedServicio" ng-change="$ctrl.CambioServicio($ctrl.selectedServicio)" ng-disabled="$ctrl.BloquearElementos" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal">
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-content">
              <label for="Firstname5"  class="col-sm-4 "><b>Contrato</b></label>
              <div class="col-sm-8">
                <input type="text" ng-model="$ctrl.contratoSelected" class="form-control input-sm" placeholder="Ingresa contrato" ng-keyup="$ctrl.EnterContrato($event)">
              </div>
            </div>
            <div class="input-group-btn">
              <button title="Buscar cliente" ng-click="$ctrl.ModalClientes()" class="btn ink-reaction btn-floating-action btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-1" ng-if="$ctrl.GlobalContrato">
        <div class="col-md-12" style="font-size:12px;">
          <p>
            <b>Nombre: </b>{{$ctrl.NombreCliente}}</p>
          <p>
            <b>Dirección : </b>{{$ctrl.Calle}}
            <b>#:</b>{{$ctrl.Numero}} Col.{{$ctrl.Colonia}} {{$ctrl.Ciudad}}</p>
          <p>
            <b>Teléfono: </b>{{$ctrl.Telefono}}</p>
        </div>

        <div class="col-md-12 text-center" style="font-size:14px; color: #06599a;">
          <b>Servicios</b>
          <div class=" card wrapper text-center" style="background-color: whitesmoke;">
            <p ng-repeat="x in $ctrl.ServiciosCliente" style="font-size:10px;">{{x.Servicio}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-if="$ctrl.aparatos.length > 0">
        <div class="row">
          <table class="table">
            <thead>
              <th>Cablemodem</th>
              <th>Servicio Actual</th>
              <th>seleccion</th>
            </thead>
            <tbody>
              <tr ng-repeat="x in $ctrl.aparatos">
                <td class="mac">{{x.maccablemodem}}</td>
                <td class="desc">{{x.descripcion}}</td>
                <td>
                  <button class="btn btn-sm btn-default" permission permission-only="'pruebadeinternetAdd'" ng-click="$ctrl.aplicar(x)"> Aplicar <i class="fa fa-angle-double-right" aria-hidden="true"></i> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-if="$ctrl.Aparatoprueba">
          <div class="row">      
            <p>Selecciona servicio de prueba</p>
            <div class="col-md-12">
              <select class="form-control" 
              validate-on="dirty" required required-message="'Este campo es obligatorio.'"
              ng-options="v.Descripcion for v in $ctrl.serviciosPrueba track by v.Clv_Servicio" ng-model="$ctrl.servicioPrueba"
                name="servicioPrueba">
                <option value="">selecciona</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Fecha Inicial:</label>
              <div class="input-group" moment-picker="$ctrl.fechainicial" format="YYYY-MM-DD">
                <span class="input-group-addon">
                  <i class="octicon octicon-calendar"></i>
                </span>
                <input name="fechainicio" required class="form-control input-sm" validate-on="dirty" required required-message="'Este campo es obligatorio.'" placeholder="Fecha inicial"
                  ng-model="$ctrl.fechainicial" ng-model-options="{ updateOn: 'blur' }">
              </div>
            </div>
            <div class="col-md-4">
              <label>Fecha Final:</label>
              <div class="input-group" moment-picker="$ctrl.fechafin" format="YYYY-MM-DD">
                <span class="input-group-addon">
                  <i class="octicon octicon-calendar"></i>
                </span>
                <input 
                name="fechafin"
                class="form-control required input-sm" validate-on="dirty" required required-message="'Este campo es obligatorio.'" placeholder="Fecha final"
                  ng-model="$ctrl.fechafin" ng-model-options="{ updateOn: 'blur' }">
              </div>
            </div>
            <div class="col-md-4">
              <br>
              <button type="button" ng-click="$ctrl.aplicarPrueba()" permission permission-only="'pruebadeinternetAdd'" class="btn btn-success btn-sm" >Aplicar prueba </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" ng-if="$ctrl.aparatos.length == 0">
        <br>
        <br>
        <br>
        <h3 class="text-center text-danger"> <i class="fa fa-bell" aria-hidden="true"></i> No hay aparatos para procesar, ingrese un contrato y servicio válido</h3>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--end cardbody-->
</div>
<!--end card-->
