<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Reportes de Mantenimiento</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> ><a href="#" class="paginaActiva"> Procesos </a></small>
    </header>
    <div class="tools">
      <div class="btn-group">
          <a class="btn btn-primary btn-sm" ui-sref="home.procesos.reportesmasivosnuevo" permission permission-only="'reportesdemantenimientoAdd'" title="Agregar Reporte de Mantenimiento"><i class="fa fa-plus" aria-hidden="true"></i>  REPORTE DE Mantenimiento</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed " data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar Reporte</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
              <uib-tabset active="active">
                  <uib-tab index="0">
                      <uib-tab-heading>
                          <i class="md md-receipt"></i> Reporte
                      </uib-tab-heading>
                      <br>
                       <div class="col-md-12">
                         <div class="col-md-2">
                            <label>Reporte</label>
                            <input type="number" name="Reporte" class="form-control input-sm" ng-model="$ctrl.Reporte" placeholder="# Reporte" ng-keyup="$ctrl.EnterReporte($event)">
                          </div>
                          <div class="col-md-2">
                            <br>
                            <button type="button" class="btn btn-info btn-sm" ng-click="$ctrl.GetQMList(2)"><i class="fa fa-search"></i> Buscar</button>
                          </div>
                          <div class="col-md-2">
                              <br>
                              <label class="radio-inline radio-styled" width="100px">
                                  <input type="radio" name="RdoStatusOrdSer" ng-model="$ctrl.Status" value="P" style="width:40px; height:40px;" ng-change="$ctrl.GetQMList(1)"><span><small>Pendiente</small></span>
                              </label>
                          </div>
                          <div class="col-md-2">
                              <br>
                              <label class="radio-inline radio-styled" width="100px">
                                  <input type="radio" name="RdoStatusOrdSer" ng-model="$ctrl.Status" value="S" style="width:40px; height:40px;" ng-change="$ctrl.GetQMList(1)"><span><small>Proceso</small></span>
                              </label>
                          </div>
                          <div class="col-md-2">
                              <br>
                              <label class="radio-inline radio-styled" width="100px">
                                  <input type="radio" name="RdoStatusOrdSer" ng-model="$ctrl.Status" value="E" style="width:40px; height:40px;" ng-change="$ctrl.GetQMList(1)"><span><small>Ejecutado</small></span>
                              </label>
                          </div>
                       </div>
                  </uib-tab>
                  <uib-tab index="1">
                    <uib-tab-heading>
                        <i class="md md-home"></i> Dirección
                    </uib-tab-heading>
                    <br>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="col-md-3">
                          <b>Estados:</b>
                          <select name="SlcEstado" class="form-control input-sm" ng-model="$ctrl.Estado" ng-options="E as E.Nombre for E in $ctrl.EstadoList track by E.Clv_Estado" ng-change="$ctrl.GetCiudadList()" >
                            <option value="">Selecciona Estado</option>
                          </select>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                          <b>Cuidades:</b>
                          <select name="SlcCiudad" class="form-control input-sm" ng-model="$ctrl.Cuidad" ng-options="C as C.Nombre for C in $ctrl.CiudadList track by C.Clv_Ciudad" ng-change="$ctrl.GetLocalidadList()">
                            <option value="">Selecciona Cuidad</option>
                          </select>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                          <b>Localidades:</b>
                          <select name="SlcLocalidad" class="form-control input-sm" ng-model="$ctrl.Localidad" ng-options="L as L.Nombre for L in $ctrl.LocalidadList track by L.Clv_Localidad" ng-change="$ctrl.GetColoniaList()">
                            <option value="">Selecciona Localidad</option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <b>Colonias:</b>
                          <select name="SlcColonia" class="form-control input-sm" ng-model="$ctrl.Colonia" ng-options="Col as Col.Nombre for Col in $ctrl.ColoniaList track by Col.clv_colonia" ng-change="$ctrl.GetCalleList()">
                            <option value="">Selecciona Colonia</option>
                          </select>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                          <b>Calles:</b>
                          <select name="SlcCalle" class="form-control input-sm" ng-model="$ctrl.Calle" ng-options="Cal as Cal.NOMBRE for Cal in $ctrl.CalleList track by Cal.Clv_Calle" ng-change="$ctrl.GetQMList(11)">
                            <option value="">Selecciona Calle</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </uib-tab>
                </uib-tabset>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>

    <div class="row">
      <div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
        <table class="table">
          <thead>
            <tr>
              <th># Reporte</th>
              <th>Fecha Soliciutud</th>
              <th>Fecha Ejecución</th>
              <th>Status</th>
              <th>Tipo</th>
              
             
              <!-- <th>Bonificar</th> -->
              <th>Ejecutar</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="!$ctrl.ViewList">
							<td class="text-center" colspan="9">SIN REGISTROS</td>
						</tr>
            <tr dir-paginate="x in $ctrl.QMList|itemsPerPage:7" ng-show="$ctrl.ViewList">
              <td>{{x.Clv_Queja}}</td>
              <td>{{x.Fecha_Soliciutud}}</td>
              <td>{{x.Fecha_Ejecucion}}</td>
              <td>{{x.Status}}</td>
              <td>{{x.Tipo}}</td>
              
              <!-- <td>
                <button class="btn btn-info btn-xs" ng-click="$ctrl.abrirBonificacion(x)"><i class="fa fa-money"></i> Bonifica</button>
              </td> -->
              <td>
                <a class="btn ink-reaction btn-xs btn-success" ui-sref="home.procesos.ejecutaquejamasiva({ id: x.Clv_Queja })"  permission permission-only="'reportesdemantenimientoUpdate'" title="Ejecutar reporte" ng-if="x.Status!='E'"><i class="md md-launch"></i> Ejecutar</a>
              </td>
              <td>
                <a class="btn ink-reaction btn-xs btn-info" ui-sref="home.procesos.quejamasivaconsulta({ id: x.Clv_Queja })"  permission permission-only="'reportesdemantenimientoSelect'" title="Consultar reporte"><i class="md md-launch"></i> Consultar</a>
                <!--<a title="Consultar reporte" type="button" class="btn ink-reaction btn-xs  btn-info" data-toggle="tooltip"
                   data-placement="top" ui-sref="home.procesos.detallequeja({ id: x.Clv_Queja, contrato: x.Contrato, servicio: x.Clv_TipSer })"
                   data-original-title="Detalle de queja"><i class="md md-content-paste"></i> Consultar</a>-->
                <!-- <button title="Eliminar reporte"  ng-if="x.Status!='E'" type="button" class="btn ink-reaction btn-xs  btn-danger"
                             data-toggle="tooltip" data-placement="top" title="" data-original-title="Elimina queja" ng-click="$ctrl.EliminaQueja(x);"><i class="md md-delete"></i> Eliminar</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div style="margin-top:-40px;">
          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.QMList.length > 0">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
