<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.Titulo}}</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes Área Técnica</a></small>
    </header>
    <div class="tools">
      <div class="btn-group">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed " data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar Reporte</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <uib-tabset active="active">
              <uib-tab index="0">
                <uib-tab-heading><i class="md md-receipt"></i> Contrato Y Detalle</uib-tab-heading>
                <br/>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="col-md-4">
                      <b>Región:</b>
                      <select class="form-control input-sm" ng-options=" item.razon_social for item in $ctrl.Plazas track by item.id_compania" ng-model="$ctrl.Plaza" ng-change="$ctrl.CambioPlaza($ctrl.Plaza);">
                          <option value="">Selecciona región</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <b>Servicio:</b>
                      <select class="form-control input-sm" ng-model="$ctrl.Servicio" ng-change="$ctrl.CambioServicio();" ng-options=" item.Concepto for item in $ctrl.Servicios track by item.Clv_TipSerPrincipal">
                           <option value="">Selecciona servicio</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                      <b>Status:</b>
                      <select class="form-control input-sm" ng-model="$ctrl.Status" ng-change="$ctrl.CambioStatus();" ng-options=" item.Nombre for item in $ctrl.LosStatus track by item.Clave">
                        <option value="">Selecciona status</option>
                      </select>
                    </div>
                <!--    <div class="col-md-4">
                      <br>
                      <label class="checkbox-inline checkbox-styled checkbox-info">
                        <input ng-model="$ctrl.Nivel2.isChecked" type="checkbox" value="option3" checked="" ng-change="$ctrl.CambioNivel()"><span>solo nivel 2</span>
                        </label>
                    </div>-->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" placeholder="# Reporte" ng-model="$ctrl.Reporte" ng-keyup="$ctrl.EnterReporte($event)">
                    <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaReporte()"><i class="fa fa-search"></i> Buscar</button>
                    <br>
                  </div>
                  <div class="col-md-6">
                    <form angular-validator-submit="$ctrl.BuscaContrato()" name="contratoForm" novalidate angular-validator>
                      <input class="form-control input-sm" ng-model="$ctrl.Contrato" placeholder="# Contrato" type="text"
                             autocomplete="off" name="contrato" validate-on="dirty" ng-pattern="/^[0-9]+([-][0-9]+)?$/" invalid-message="'Formato de contrato inválido.'">
                      <button class="btn btn-info btn-xs text-left" type="submit"><i class="fa fa-search"></i> Buscar</button>
                    </form>
                    <br>
                  </div>
              <!--    <div class="col-md-6">
                    <input type="number" class="form-control input-sm" placeholder="Serie de Aparato" ng-model="$ctrl.STB">
                    <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaporSTB()">Buscar</button>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control input-sm" type="number" placeholder="# de ticket" ng-model="$ctrl.Ticket">
                    <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaporTicket()">Buscar</button>
                  </div>-->
                </div>
              </uib-tab>
              <uib-tab index="1">
                <uib-tab-heading><i class="fa fa-user"></i> Nombre</uib-tab-heading>
                  <br/>
                <div class="row">
                  <div class="col-md-3">
                    <b>Nombre:</b>
                    <input class="form-control input-sm" placeholder="Nombre del cliente" ng-model="$ctrl.Nombre" ng-keyup="$ctrl.EnterNombre($event)">
                  </div>
                  <div class="col-md-3">
                    <b>Apellido Paterno:</b>
                    <input class="form-control input-sm" placeholder="A. paterno" ng-model="$ctrl.APaterno" ng-keyup="$ctrl.EnterNombre($event)">
                  </div>
                  <div class="col-md-3">
                    <b>Apellido Materno:</b>
                    <input class="form-control input-sm" placeholder="A. materno" ng-model="$ctrl.AMaterno" ng-keyup="$ctrl.EnterNombre($event)">
                  </div>
                  <div class="col-md-3">
                    <br>
                    <button class="btn btn-sm btn-info" ng-click="$ctrl.BuscaporNombre()"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                </div>
              </uib-tab>
              <uib-tab index="2">
                <uib-tab-heading><i class="fa fa-home"></i> Dirección</uib-tab-heading>
                <br>
                <div class="col-md-12">
                  <div class="col-md-3">
                      <b>Región:</b>
                      <select class="form-control input-sm" ng-options=" item.razon_social for item in $ctrl.Plazas track by item.id_compania" ng-model="$ctrl.Plaza" ng-change="$ctrl.CambioPlaza($ctrl.Plaza);">
                        <option value="">Selecciona región</option>
                          </select>
                  </div>
                  <div class="col-md-3">
                    <b>Colonia</b>
                    <select class="form-control input-sm" ng-model="$ctrl.Colonia" ng-options=" item.nombre for item in $ctrl.Colonias track by item.clvColonia">
                      <option value="">Selecciona colonia</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <b>Calle:</b>
                    <input class="form-control input-sm" placeholder="Ingresa el nombre de la calle" ng-model="$ctrl.Calle" ng-keyup="$ctrl.EnterDireccion($event)">
                  </div>
                  <div class="col-md-2">
                    <b> Número:</b>
                    <input type="number" class="form-control input-sm" placeholder="#" ng-model="$ctrl.Numero" ng-keyup="$ctrl.EnterDireccion($event)">
                  </div>
                  <div class="col-md-2">
                    <br>
                    <button class="btn btn-sm btn-info" ng-click="$ctrl.BuscaporDireccion()"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>
    <div class="row">
      	<div class="col-md-12" style="background: #f3f07d;padding: 15px;font-size: 14px;">
            <div class="col-md-3"><b>Resumen de ordenes</b></div>
            <div class="col-md-3"><b>Pendientes:</b> {{$ctrl.resumen.Pendientes}}</div>
          </div>
      <div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
        <p class="text-right" style="margin-top: 10px;">
          <!-- <a class="btn btn-success" ui-sref="home.procesos.atencionNueva"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a> -->
        </p>
        <table class="table">
          <thead>
            <tr>
              <th># Reporte</th>
              <th>Contrato</th>
              <th>Status</th>
              <th>Nombre</th>
              <th>Calle</th>
              <th>Número</th>
              <th>Bonificar</th>
              <th>Ejecutar</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="9">SIN REGISTROS</td>
						</tr>
            <tr dir-paginate="x in $ctrl.ListaQuejas|itemsPerPage:7" ng-show="$ctrl.conRegistros">
              <td>{{x.Clv_Queja}}</td>
              <td>{{x.Contrato}}</td>
              <td>{{x.Status}}</td>
              <td>{{x.NOMBRE}}</td>
              <td>{{x.CALLE}}</td>
              <td>{{x.NUMERO}}</td>
              <td>
                <!-- <button class="btn btn-info btn-xs" permission permission-only="'reportesAdd'" ng-click="$ctrl.abrirBonificacion(x)"><i class="fa fa-money"></i> Bonifica</button> -->
              </td>
              <td>
                <a title="Ejecutar reporte" ng-if="x.Status!='E'" permission permission-only="'reportesdefallasAdd'" ng-click="$ctrl.EjecutaQueja(x.Clv_Queja,x.Contrato,x.Clv_TipSer)" permission permission-only="'reportesdefallasSelect'" class="btn ink-reaction btn-xs btn-success">
                  <i class="md md-launch"></i> Ejecutar</a>
              </td>
              <td>
                <a title="Consultar reporte" type="button" class="btn ink-reaction btn-xs  btn-info" data-toggle="tooltip" data-placement="top" ui-sref="home.procesos.detallequeja({ id: x.Clv_Queja, contrato: x.Contrato, servicio: x.Clv_TipSer })" data-original-title="Detalle de queja">
                  <i class="md md-content-paste"></i> Consultar</a>
                <button title="Eliminar reporte" permission permission-only="'reportesdefallasDelete'" ng-if="x.Status!='E'" type="button" class="btn ink-reaction btn-xs  btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elimina queja" ng-click="$ctrl.EliminaQueja(x);">
                  <i class="md md-delete"></i> Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="margin-top:-40px;">
          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ListaQuejas.length > 0">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
