<style>
  .input-yellow {

    background-color: rgba(255, 249, 59, 0.71);
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .input-normal {
    background-color: #ffffff;
  }


  .input-yellow.bezier {
    animation-timing-function: cubic-bezier(.8, 0, .2, 1);
  }

  .input-yellow.steps {
    animation-name: anim-half;
    animation-timing-function: steps(1, end);
  }

  @keyframes anim {
    to {
      background-color: #ffffff;
    }
  }

  @keyframes anim-half {
    50% {
      background-color: #f5ff3b;
    }
  }

  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    padding: 5px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
  }
</style>

<style type="text/css">
  .scrollDiv {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
  }

  .scrollDiv2 {
    height: 120px;
    overflow: auto;
    overflow-x: hidden;
  }

  .scrollDiv3 {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
  }

</style>

<form angular-validator-submit="$ctrl.SaveQM()" name="QuejaForm" novalidate angular-validator>
  <div class="card" style="margin-top:20px; padding-bottom:30px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio</a> >
          <a href="#" class="paginaActiva"> Procesos > Reportes Masivos</a>
        </small>
      </header>
      <div class="tools">
        <button title="Guardar Reporte Masivo" class="btn btn-primary btn-sm" ng-if="$ctrl.BtnSave">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button title="Cancelar" class="btn btn-default-bright btn-sm" type="button" ui-sref="home.procesos.reportesmasivos">
          <i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
    </div>
    <!--<fieldset ng-disabled="!$ctrl.Form1">-->
    <div class="card-body">
      <div class="card col-md-12 " style="padding: 5px;">
        <div class="col-md-4">
          <div class="form-group">
            <label for="Firstname5" class="col-sm-4"> # Reporte:</label>
            <div class="col-sm-5">
              <input type="text" placeholder="# Orden" name="clv_queja" class="form-control input-sm" ng-model="$ctrl.clv_queja" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <label style="opacity: 0.5;">Buscar por:</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-content">
                <select name='tipoBusqueda' class="form-control input-sm" ng-model="$ctrl.TipoBusqueda" ng-options="TB as TB.Desc for TB in $ctrl.TipoBuscar track by TB.Id"
                  ng-change="$ctrl.SetTipoQM()" ng-disabled="$ctrl.Dis1">
                </select>
              </div>
              <div class="input-group-btn">
                <button type="button" title="Buscar" ng-click="$ctrl.OpenBuscar()" class="btn ink-reaction btn-floating-action btn-sm btn-default"
                  ng-if="!$ctrl.Dis1">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="input-group-btn">
                <button type="button" title="Ver" ng-click="$ctrl.OpenConsulta()" class="btn ink-reaction btn-floating-action btn-sm btn-default"
                  ng-if="$ctrl.Dis1">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" ng-if="$ctrl.View1">
          <div class="col-md-4">
            <label for="Firstname5" class="col-sm-4"> Status:</label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="S" ng-model="$ctrl.Estatus" ng-disabled="!$ctrl.Form1" ng-change="$ctrl.CambiaEstatus()">
              <span>Proceso</span>
            </label>
          </div>
          <div class="col-md-4">
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="E" ng-model="$ctrl.Estatus" ng-disabled="!$ctrl.Form1" ng-change="$ctrl.CambiaEstatus()">
              <span>Ejecutada</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!--</fieldset>-->

    <fieldset ng-disabled="!$ctrl.Form2">
      <div class="col-md-12">
        <div class="row">        
          <div class="col-md-5 col-md-offset-1" style="font-size:12px;">
            <b style="font-size: 14px; color: #06599a;">
              <i class="md md-access-time"></i> Fechas de:</b>
            <br>

            <table class="table">
              <tr>
                <td>
                  <label>Solicitud</label>
                </td>
                <td>
                  <input type="text" class="form-control input-sm" name="fechasolicitud" ng-model="$ctrl.FechaSolicitud" ng-disabled="true"
                    placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
                </td>
                <td>
                  <input type="text" class="form-control input-sm" name="horasolicitud" ng-model="$ctrl.HoraSolicitud" ng-disabled="true" placeholder="hh:mm AA"
                    ui-mask="hh:mm:ss">
                </td>
              </tr>
              <tr ng-class="((QuejaForm.FechaEjecucion.$valid==false || QuejaForm.horaEjecucion.$valid==false) && $ctrl.FormEdit == true)?'input-yellow':'input-normal'">
                <td>
                  <label class="control-label">Ejecución</label>
                </td>
                <td>
                  <input type="text" name="FechaEjecucion" class="form-control input-sm" ng-model="$ctrl.FechaEjecucion" model-view-value="true"
                    ng-disabled="$ctrl.DFE" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" validate-on="dirty" ng-required="$ctrl.Estatus == 'E'"
                    required-message="'Requerido'">
                </td>
                <td>
                  <input type="text" name="horaEjecucion" class="form-control input-sm" ng-model="$ctrl.HoraEjecucion" model-view-value="true"
                    ng-disabled="$ctrl.DFE" placeholder="hh:mm AA" ui-mask="99:99 AA" validate-on="dirty" ng-required="$ctrl.Estatus == 'E'"
                    required-message="'Requerido'">
                </td>
              </tr>

              <tr ng-class="((QuejaForm.Fechaproceso.$valid==false || QuejaForm.horaproceso.$valid==false) && $ctrl.FormEdit == true)?'input-yellow':'input-normal'">
                <td>
                  <label>En proceso</label>
                </td>
                <td>
                  <input type="text" name="Fechaproceso" class="form-control input-sm" ng-model="$ctrl.FechaProceso" model-view-value="true"
                    ng-disabled="$ctrl.DFP" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" validate-on="dirty" ng-required="$ctrl.Estatus == 'S'"
                    required-message="'Requerido'">
                </td>
                <td>
                  <input type="text" name="horaproceso" class="form-control input-sm" ng-model="$ctrl.HoraProceso" model-view-value="true"
                    ng-disabled="$ctrl.DFP" placeholder="hh:mm AA" ui-mask="99:99 AA" validate-on="dirty" ng-required="$ctrl.Estatus == 'S'"
                    required-message="'Requerido'">
                </td>
                <tr>
                  <td>
                    <label>Ejecución real</label>
                  </td>
                  <td>
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.FechaEjecucuionReal" name="FechaEjecucuionReal" placeholder="DD/MM/YYYY"
                      ui-mask="99/99/9999" model-view-value="true" ng-disabled="true">
                  </td>
                  <td>
                    <input type="text" class="form-control input-sm" name="HoraEjecucuionReal" ng-model="$ctrl.HoraEjecucuionReal" placeholder="hh:mm AA"
                      ui-mask="99:99 AA" model-view-value="true" ng-disabled="true">
                  </td>
                </tr>
            </table>


            <div class="col-md-12">
              <b>Técnico Principal:</b> {{$ctrl.Departamento}}
            </div>
            <div class="col-md-12">
              <select class="form-control input-sm" ng-class="(QuejaForm.Tecnico.$valid==false)?'input-yellow':'input-normal'" name="Tecnico"
                validate-on="dirty" validator="(($ctrl.Tecnico != null && $ctrl.Tecnico != undefined && $ctrl.Estatus != 'P') || ($ctrl.Estatus == 'P'))"
                ng-model="$ctrl.Tecnico" ng-disabled="$ctrl.BlockTecnico" ng-options="item as item.tecnico for item in $ctrl.Tecnicos track by item.clv_tecnico"
                required-message="'Este campo es obligatorio.'" invalid-message="'Este campo es obligatorio.'">
                <option value="">Selecciona Técnico</option>
              </select>
            </div>
            <br>
            <div class="col-md-12">
              <b>Técnico Secundario:</b>
            </div>
            <div class="col-md-12">
              <select class="form-control input-sm" ng-class="(QuejaForm.Tecnico2.$valid==false)?'input-yellow':'input-normal'" name="Tecnico2"
                required-message="'Este campo es obligatorio.'" validate-on="dirty" validator="(($ctrl.Tecnico2 != null && $ctrl.Tecnico2 != undefined && $ctrl.Estatus != 'P') || ($ctrl.Estatus == 'P'))"
                ng-model="$ctrl.Tecnico2" ng-disabled="$ctrl.BlockTecnico2" ng-options="item as item.tecnico for item in $ctrl.Tecnicos2 track by item.clv_tecnico"
                invalid-message="'Este campo es obligatorio.'">
                <option value="">Selecciona Técnico Secundario</option>
              </select>
            </div>
            <div class="col-md-12">
              <br>
           <!--    <div class="col-md-6">
                    <button title="Consultar agenda" type="button" class="btn btn-block btn-xs btn-info" ng-click="$ctrl.MuestraAgenda()"><i class="fa fa-calendar"></i> Agenda</button>
                </div>  -->
              <div class="col-md-6">
                <button title="Realizar descarga de material" type="button" class=" btn-block btn btn-xs btn-warning" ng-click="$ctrl.DescargaMaterial()"
                  ng-disabled="$ctrl.BtnDescM">
                  <i class="fa fa-wrench"></i> Descar. Material</button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="col-md-12">
              <div class="col-md-6 ">
                <b class="text-danger">Generó: </b> {{$ctrl.UsuarioGenero}}
              </div>
              <div class="col-md-6 ">
                <b class="text-danger">Ejecutó: </b>{{$ctrl.UsuarioEjecuto}}
              </div>
              <hr>
            </div>
            <div class="col-md-12">
              <div class="col-md-5">
                <b>Clasificación del problema:</b>
              </div>
              <div class="col-md-7">
                <select class="form-control input-sm" ng-model="$ctrl.Problema" ng-options="item as item.descripcion for item in $ctrl.Problemas track by item.clvProblema"
                  name="problema" required-message="'Este campo es obligatorio.'" required validate-on="dirty">
                </select>
              </div>
              <!-- <div class="col-md-6">
                <b> Prioridad</b>
                <select class="form-control input-sm" name="Prioridad" required-message="'Este campo es obligatorio.'" required validate-on="dirty"
                        ng-disabled="$ctrl.Iprioridad" ng-model="$ctrl.Prioridad" ng-options="item as item.Descripcion for item in $ctrl.Prioridades track by item.clvPrioridadQueja">
                    <option value="">selecciona</option>
                </select>
              </div> -->
              <div class="col-md-12">
                <b>Explicación del Problema:</b>
                <textarea class="form-control input-sm" name="reportecliente" ng-model="$ctrl.DetalleProblema" ng-disabled="$ctrl.Dis1" required-message="'Este campo es obligatorio.'"
                  required validate-on="dirty"></textarea>
              </div>
              <div class="col-md-12">
                <b>Mensaje:</b>
                <textarea class="form-control input-sm" name="TxaMensaje" ng-model="$ctrl.Mensaje" rows="1" ng-disabled="$ctrl.Dis1" required-message="'Este campo es obligatorio.'"
                  required validate-on="dirty"></textarea>
              </div>
              <div class="col-md-12">
                <b>Observaciones:</b>
                <textarea class="form-control input-sm" name="observaciones" ng-model="$ctrl.Observaciones" ng-disabled="true"></textarea>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-5">
                <b>Trabajo a realizar:</b>
              </div>
              <div class="col-md-7">
                <select ng-class="(QuejaForm.solucion.$valid==false)?'input-yellow':'input-normal'" class="form-control input-sm" name="solucion"
                  required-message="'Este campo es obligatorio.'" ng-required="$ctrl.Estatus=='E'" validate-on="dirty" ng-model="$ctrl.Trabajo"
                  ng-options="item as item.DESCRIPCION for item in $ctrl.Trabajos track by item.CLV_TRABAJO" ng-disabled="$ctrl.BloqElemnt">
                  <option value="">Selecciona</option>
                </select>
              </div>
              <div class="col-md-12">
                <b> Problema real:</b>
                <textarea class="form-control input-sm" name="Problema" ng-class="(QuejaForm.Problema.$valid==false)?'input-yellow':'input-normal'"
                  required-message="'Este campo es obligatorio.'" ng-required="$ctrl.Estatus=='E'" validate-on="dirty" ng-disabled="$ctrl.Iprobreal"
                  ng-model="$ctrl.ProblemaReal">
                </textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </div>
  <!--end cardbody-->
  </div>
  <!--end card-->
</form>
