<style>
  .input-yellow {

    background-color: rgba(255, 249, 59, 0.71);
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .input-normal {

    background-color: #ffffff;
  }


  .input-yellow.bezier {
    animation-timing-function: cubic-bezier(.8, 0, .2, 1);
  }

  .input-yellow.steps {
    animation-name: anim-half;
    animation-timing-function: steps(1, end);
  }

  @keyframes anim {
    to {
      background-color: #ffffff;

    }
  }

  @keyframes anim-half {
    50% {
      background-color: #f5ff3b;

    }
  }



  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    padding: 1px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
  }

</style>


<div class="card" style="margin-top:20px;">
  <form angular-validator-submit="$ctrl.Ejecutaqueja()" name="QuejaForm" novalidate angular-validator>
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo}} #{{ $ctrl.clv_queja }}</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Procesos</a>>
          <a href="#" class="paginaActiva">Reporte #{{ $ctrl.clv_queja }}</a>
        </small>

      </header>
      <div class="tools">
        <button title="Guardar cambios" type="submit" class="btn btn-primary btn-sm" ng-show="$ctrl.ShowEje">Guardar</button>
        <button title="Cancelar cambios" type="button" ui-sref="home.procesos.reportes" class="btn btn-default-bright btn-sm" name="button"
          ng-show="$ctrl.ShowEje">Cancelar</button>
        <button ng-if="!$ctrl.ReturnCli" title="Regresar a reportes" type="button" ui-sref="home.procesos.reportes" class="btn btn-default-bright btn-sm"
          name="button" ng-show="$ctrl.ShowDet">Salir</button>
        <button ng-if="$ctrl.ReturnCli && $ctrl.opR == 2" title="Regresar al Cliente" type="button" ui-sref="home.catalogos.cliente_editar({ id: $ctrl.GlobalContrato })"
          class="btn btn-default-bright btn-sm" name="button" ng-show="$ctrl.ShowDet">Salir</button>
        <button ng-if="$ctrl.ReturnCli && $ctrl.opR == 0" title="Regresar al Cliente" type="button" ui-sref="home.catalogos.cliente_detalle({ id: $ctrl.GlobalContrato })"
          class="btn btn-default-bright btn-sm" name="button" ng-show="$ctrl.ShowDet">Salir</button>
      </div>
    </div>


    <div class="card-body">



      <div class="row">
        <div class="col-md-5">
          <div class="col-md-12">
            <div class="col-md-3">
              <small>
                <b># Reporte:</b>
              </small>
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="# Orden" name="clv_queja" class="form-control input-sm" ng-model="$ctrl.clv_queja" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-4">
            <b>
              <small>Servicio</small>
            </b>
          </div>
          <div class="col-md-8">
            <select class="form-control input-sm" name="servicio" ng-model="$ctrl.Servicio" ng-options="item as item.Concepto for item in $ctrl.Servicios track by item.Clv_TipSerPrincipal"
              ng-disabled="true">
              <option value="">Selecciona</option>
            </select>

          </div>



        </div>

        <div class="col-md-4">
          <div class="col-md-12">
            <div class="col-md-3">


              <small>
                <b>Status:</small>
              </b>
              </p>
            </div>
            <div class="col-md-3">
              <label class="radio-inline radio-styled">
                <input type="radio" name="inlineRadioOptions" value="S" ng-model="$ctrl.Estatus" ng-disabled="$ctrl.BloqElemnt" ng-change="$ctrl.CambiaEstatus()">
                <span>Proceso</span>
              </label>
            </div>
            <div class="col-md-3">
              <label class="radio-inline radio-styled">
                <input type="radio" name="inlineRadioOptions" value="E" ng-model="$ctrl.Estatus" ng-disabled="$ctrl.BloqElemnt" ng-change="$ctrl.CambiaEstatus()">
                <span>Ejecutada</span>
              </label>
            </div>
            <!-- <div class="col-md-3">
              <label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" value="V" ng-model="$ctrl.Estatus" ng-disabled="$ctrl.BloqElemnt" ng-change="$ctrl.CambiaEstatus()"><span>Visita</span>
					</label>
            </div> -->
          </div>
        </div>
      </div>

      <hr>
      <div class="row">

        <div class="col-md-3">
          <div class="col-md-12">
            <b style="font-size: 14px;
    color: #06599a;">
              <i class="md md-perm-identity"></i> Información del Cliente</b>
            <br>
            <strong>Empresa:</strong> {{$ctrl.datosCli.Compania}}
            <br>
            <p>
              <strong>Nombre:</strong> {{$ctrl.NombreCliente}}
              <br>
              <strong>Dirección:</strong> {{$ctrl.Calle +' '+ $ctrl.Numero +' '+ $ctrl.Colonia +' '+ $ctrl.Ciudad}}
              <br>
              <br>
            </p>
          </div>
          <div class="col-md-12">
            <b style="font-size: 14px;color: #06599a;">
              <i class="md md-settings-remote"></i> Servicios asignados</b>
            <br>
            <div class="card wrapper scrollDiv2" style="background: #DDEAE9">
              <p style="font-size: 10px;" class="text-center">
                <span ng-repeat="x in $ctrl.servicioscli">{{ x.Servicio }}
                  <br>
                </span>
              </p>
            </div>
            <label class="text-left radio-inline radio-styled">
              <input name="eshotel" type="radio" ng-checked="$ctrl.datosCli.ESHOTEL" disabled>
              <span>Es Hotel</span>
            </label>
            <label class="text-left radio-inline radio-styled">
              <input name="solointernet" type="radio" ng-checked="$ctrl.datosCli.SOLOINTERNET" disabled>
              <span>Solo Internet</span>
            </label>
          </div>
        </div>

        <div class="col-md-4 " style="font-size:12px;">


          <b style="font-size: 14px; color: #06599a;">
            <i class="md md-access-time"></i> Fechas de:</b>
          <br>
          <table class="table">
            <tr>
              <td>
                <label>Solicitud</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="fechasolicitud" ng-model="$ctrl.FechaSolicitud" ng-disabled="true"
                  placeholder="DD/MM/YYYY" ui-mask="99/99/9999">
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="horasolicitud" ng-model="$ctrl.HoraSolicitud" ng-disabled="true" placeholder="hh:mm AA"
                  ui-mask="99:99 AA">

              </td>

            </tr>
            <tr ng-class="(QuejaForm.FechaEjecucion.$valid==false || QuejaForm.horaEjecucion.$valid==false  )?'input-yellow':'input-normal'">
              <td>
                <label class="control-label">Ejecución</label>
              </td>
              <td>

                <input type="text" class="form-control input-sm" ng-model="$ctrl.FechaEjecucion" placeholder="DD/MM/YYYY" name="FechaEjecucion"
                  required-message="'Requerido'" ng-required="!$ctrl.FEjecucion" validate-on="dirty" ui-mask="99/99/9999" model-view-value="true"
                  ng-disabled="$ctrl.FEjecucion">
              </td>
              <td>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.HoraEjecucion" placeholder="hh:mm AA" name="horaEjecucion"
                  required-message="'Requerido'" ng-required="!$ctrl.FEjecucion" validate-on="dirty" ui-mask="99:99 AA" model-view-value="true"
                  ng-disabled="$ctrl.FEjecucion">
              </td>

            </tr>
            <tr ng-class="(QuejaForm.Fechaproceso.$valid==false || QuejaForm.horaproceso.$valid==false  )?'input-yellow':'input-normal'">
              <td>
                <label>En proceso</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.FechaProceso" placeholder="DD/MM/YYYY" ui-mask="99/99/9999"
                  model-view-value="true" ng-disabled="$ctrl.FProceso" name="Fechaproceso" required-message="'Requerido'" ng-required="!$ctrl.FProceso"
                  validate-on="dirty">
              </td>
              <td>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.HoraProceso" placeholder="hh:mm AA" ui-mask="99:99 AA" model-view-value="true"
                  ng-disabled="$ctrl.FProceso" name="horaproceso" required-message="'Requerido'" ng-required="!$ctrl.FProceso"
                  validate-on="dirty">
              </td>
            </tr>
            <tr>
              <td>
                <label>Ejecución real</label>
              </td>
              <td>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.FechaEjecucuionReal" name="FechaEjecucuionReal" placeholder="DD/MM/YYYY"
                  ui-mask="99/99/9999" model-view-value="true" ng-disabled="true">
              </td>
              <td>
                <input type="text" class="form-control input-sm" name="HoraEjecucuionReal" ng-model="$ctrl.HoraEjecucuionReal" placeholder="hh:mm AA"
                  ui-mask="99:99 AA" model-view-value="true" ng-disabled="true">
              </td>
            </tr>


          </table>



          <div class="col-md-12">

            <b>Departamento Responsable:</b> {{$ctrl.Departamento}}

          </div>
          <div class="col-md-12">

            <select class="form-control input-sm" ng-class="(QuejaForm.Tecnico.$valid==false)?'input-yellow':'input-normal'" name="Tecnico"
              required-message="'Este campo es obligatorio.'" required validate-on="dirty" ng-model="$ctrl.Tecnico" ng-disabled="$ctrl.BlockTecnico"
              ng-options="item as item.Nombre for item in $ctrl.Tecnicos track by item.clv_Tecnico">
              <option value="">Selecciona Técnico</option>
            </select>
          </div>
          <div class="col-md-12">
            <br>
            <div class="col-md-6">
              <button title="Consultar agenda" type="button" class="btn btn-block btn-xs btn-info" ng-click="$ctrl.MuestraAgenda()">
                <i class="fa fa-calendar"></i> Agenda</button>
            </div>
            <div class="col-md-6">
              <button title="Realizar descarga de material" type="button" class=" btn-block btn btn-xs btn-warning" ng-click="$ctrl.DescargaMaterial()">
                <i class="fa fa-wrench"></i> Descar. Material</button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="col-md-12">
            <div class="col-md-6 ">
              <b class="text-danger">Generó: </b> {{$ctrl.UsuarioGenero}}
            </div>
            <div class="col-md-6 ">
              <b class="text-danger">Ejecutó: </b>{{$ctrl.UsuarioEjecuto}}
            </div>
            <br>
            <hr>
          </div>

          <div class="col-md-12">
            <div class="col-md-6">
              <b>Clasificación del problema</b>
              <select class="form-control input-sm" ng-model="$ctrl.Problema" ng-options="item as item.descripcion for item in $ctrl.Problemas track by item.clvProblema"
                name="problema" required-message="'Este campo es obligatorio.'" required validate-on="dirty" ng-disabled="$ctrl.BloqElemnt">
              </select>
            </div>
            <div class="col-md-6">
              <b> Prioridad</b>
              <select class="form-control input-sm" name="Prioridad" required-message="'Este campo es obligatorio.'" required validate-on="dirty"
                ng-disabled="$ctrl.Iprioridad" ng-model="$ctrl.Prioridad" ng-options="item as item.Descripcion for item in $ctrl.Prioridades track by item.clvPrioridadQueja">
                <option value="">selecciona</option>
              </select>
            </div>
            <div class="col-md-12">
              <b>Reporte del cliente</b>
              <textarea class="form-control input-sm" ng-disabled="$ctrl.IDetProblema" name="reportecliente" ng-model="$ctrl.DetalleProblema">
              </textarea>
            </div>
            <div class="col-md-12">
              <b> Observaciones</b>
              <textarea class="form-control input-sm" name="observaciones" ng-model="$ctrl.Observaciones" ng-disabled="$ctrl.Iobser">

              </textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <b>Tipo solución</b>
              <select ng-class="(QuejaForm.solucion.$valid==false)?'input-yellow':'input-normal'" class="form-control input-sm" name="solucion"
                required-message="'Este campo es obligatorio.'" ng-required="$ctrl.Estatus=='E'" validate-on="dirty" ng-model="$ctrl.Trabajo"
                ng-options="item as item.DESCRIPCION for item in $ctrl.Trabajos track by item.CLV_TRABAJO" ng-disabled="$ctrl.BloqElemnt">
                <option value="">Selecciona</option>
              </select>
            </div>
            <!--<div class="col-md-4">
              <label class="checkbox-inline checkbox-styled checkbox-success">
                                      <input type="checkbox" ng-model="$ctrl.Visita" value="option3" ng-checked=""><span>Requirió visita</span>
                                    </label> </div>-->
            <div class="col-md-12">
              <b> Problema real:</b>
              <textarea class="form-control input-sm" name="Problema" ng-class="(QuejaForm.Problema.$valid==false)?'input-yellow':'input-normal'"
                required-message="'Este campo es obligatorio.'" ng-required="$ctrl.Estatus=='E'" validate-on="dirty" ng-disabled="$ctrl.Iprobreal"
                ng-model="$ctrl.ProblemaReal" placeholder="Redacta brevemente el problema real que derivo la queja">

              </textarea>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
</form>
</div>
