<style type="text/css">
    .span-info{
        color: #2196f3;
    }
    .span-danger{
        color: #f44336;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Recontratación</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Recontratación</a>
            </small>
        </header>
        <div class="tools">
			<button type="button" permission permission-only="'recontratacionAdd'" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenConfirmar();" title="Recontratar"><i class="glyphicon glyphicon-floppy-disk"></i> Recontratar</button>
            <button type="button" class="btn btn-default-bright btn-sm" ng-click="$ctrl.ResetMod();" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="card" style="padding: 10px;">
                    <form name="FormBuscarContrato" angular-validator-submit="ctrl.SetCliente()" novalidate angular-validator autocomplete="off">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <b>Contrato:</b>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Cliente.ContratoCom" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty" invalid-message="'Ej. (123-456).'" 
                                       placeholder="# Contrato" ng-keydown="$ctrl.SetCliente($event)">
                            </div>
                            <div class="col-md-offset-1 col-md-1">
                                <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-default" ng-click="$ctrl.OpenSearchCliente()" title="Buscar Cliente"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-offset-1 col-md-3 has-error" ng-if="FormBuscarContrato.InpContrato.$valid && $ctrl.CheckNull == true && ($ctrl.Cliente.ContratoCom == null || $ctrl.Cliente.ContratoCom == undefined || $ctrl.Cliente.ContratoCom == '')">
                                <label class="control-label has-error validationMessage" ng-if="FormBuscarContrato.InpContrato.$valid && $ctrl.CheckNull == true && ($ctrl.Cliente.ContratoCom == null || $ctrl.Cliente.ContratoCom == undefined || $ctrl.Cliente.ContratoCom == '')">
                                    Ingresa un Contrato.
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary"><i class="fa fa-user"></i> Datos del Cliente:</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Nombre:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Nombre }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Ciudad:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Cliente.Cd_Mun }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Colonia:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Cliente.Col }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Calle:</b>
                        </div>
                        <div class="col-md-10">
                            {{ $ctrl.Cliente.Calle }} <b> #: </b>{{ $ctrl.Cliente.NUMERO }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <b>Teléfono:</b>
                        </div>
                        <div class="col-md-4">
                            {{ $ctrl.Cliente.TELEFONO }}
                        </div>
                        <div class="col-md-2">
                            <b>Celular:</b>
                        </div>
                        <div class="col-md-4">
                            {{ $ctrl.Cliente.CELULAR }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary"><i class="fa fa-money"></i> Costos:</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label><b>Adeudo:</b></label>
                        </div>
                        <div class="col-md-8 text-right">
                            {{ $ctrl.CobroAdeudo | currency }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label><b>Recontratación:</b></label>
                        </div>
                        <div class="col-md-8 text-right">
                            {{ $ctrl.CostoRecontratacion | currency }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label><b>Contratación:</b></label>
                        </div>
                        <div class="col-md-8 text-right">
                            {{ $ctrl.CostoContratacion | currency }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4" style="font-size:16px">
                            <label><b>Total:</b></label>
                        </div>
                        <div class="col-md-8 text-right" style="font-size:16px">
                            <b>{{ $ctrl.Total | currency }}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <br>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-primary"><i class="fa fa-list-ol"></i> Servicios:</h4>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="$ctrl.ShowServicios">
                        <div class="col-md-8">
                            <h5 class="text-primary">Asignados</h5>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success btn-xs" permission permission-only="'recontratacionAdd'" ng-click="$ctrl.OpenAddServicioRecontratacion()" title="Agregar Servicio" ng-if="$ctrl.ShowServicios"><i class="fa fa-plus"></i> AGREGAR</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <treecontrol class="tree-light" tree-model="$ctrl.ServicioList" expanded-nodes="$ctrl.expandedNodes" on-selection="$ctrl.GetDetalleRecon(node)"> 
                                <span ng-switch="" on="node.Type">
                                    <span style="color:#2196f3" ng-switch-when="folder" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                    <span style="color:#2196f3" ng-switch-when="pic" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                    <span style="color:#2196f3" ng-switch-when="doc" class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                    <span ng-class="(node.Status != 'B')?'span-info':'span-danger'" ng-switch-when="file" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                    <span style="color:#2196f3" ng-switch-when="movie" class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                    <span style="color:#2196f3" ng-switch-when="email" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    <span ng-class="(node.Status != 'B')?'span-info':'span-danger'" ng-switch-when="home" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    <span style="color:#2196f3" ng-switch-when="trash" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    <span ng-class="(node.Status != 'B')?'span-info':'span-danger'" ng-switch-when="Paquete" class="fa fa-desktop" aria-hidden="true"></span>
                                </span>
                                <a ng-class="(node.Status != 'B')?'text-info':'text-danger'" style="font-size:12px" ng-if="node.Tipo == 'A'">{{node.Nombre}} ({{node.Detalle}})</a>
                                <a ng-class="(node.Status != 'B')?'text-info':'text-danger'" style="font-size:12px" ng-if="node.Tipo == 'P'">{{node.Nombre}}</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'C' && node.Tipo == 'S'">{{node.Nombre}} (Contratado)</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'I' && node.Tipo == 'S'">{{node.Nombre}} (Instalado)</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'D' && node.Tipo == 'S'">{{node.Nombre}} (Desconectado)</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'S' && node.Tipo == 'S'">{{node.Nombre}} (Suspendido)</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'T' && node.Tipo == 'S'">{{node.Nombre}} (Suspención Temporal)</a>
                                <a class="text-info" style="font-size:12px" ng-if="node.Status == 'F' && node.Tipo == 'S'">{{node.Nombre}} (Fuera de Area)</a>
                                <a class="text-danger" style="font-size:12px" ng-if="node.Status == 'B' && node.Tipo == 'S'">{{node.Nombre}} (Baja)</a>
                                <button type="button" class="btn btn-primary btn-xs" permission permission-only="'recontratacionAdd'" title="Agregar Paquete Adicional" ng-click="$ctrl.OpenAddServicioAdicionalRecontratacion(node.IdRecon, node.Clv_UnicaNet)" ng-if="node.Clv_TipSer == 3 && node.Tipo == 'S'"><i class="fa fa-plus"></i></button>
                            </treecontrol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-if="$ctrl.ShowDetSer">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4 class="text-primary"> Detalle Servicio:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-danger"> {{$ctrl.ReServicio}}</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label><b>Status:</b></label>
                        </div>
                        <div class="col-md-4">
                            {{$ctrl.ReStatus}}
                        </div>
                        <div class="col-md-2">
                            <label><b>Medio:</b></label>
                        </div>
                        <div class="col-md-4">
                            {{$ctrl.ReMedio}}
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="$ctrl.Clv_TipSer == 1">
                        <div class="col-md-6">
                            <label><b>Tv. Adicionales Sin Pago:</b></label>
                        </div>
                        <div class="col-md-2">
                            {{$ctrl.ReTvSonPago}}
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="$ctrl.Clv_TipSer == 1">
                        <div class="col-md-6">
                            <label><b>Tv. Adicionales Con Pago:</b></label>
                        </div>
                        <div class="col-md-2">
                            {{$ctrl.ReTvConPago}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>