<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Reporte de Mantenimiento</h4>
</div>
<div class="modal-body">
  <div class="row" style="padding-left:10px; padding-right: 10px;">
  		<iframe ng-src="{{ ctrl.FileName }}" style="width: 100%; height: 800px;"></iframe>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">cerrar</button>
</div>