<style type="text/css">
    .scrollDiv {
      height: 100px;
      overflow: auto;
      overflow-x: hidden;
    }
  
    .wrapper {
      height: 140px;
      overflow: auto;
    }
  
    .form-control {
      height: 37px;
      border-bottom-color: rgba(12, 12, 12, 0.12);
      background: transparent;
      color: #0c0c0c;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .mac{
        font-size: 18px;
        font-weight: bold;
        color:  darkslateblue;
    }
  
  </style>
  
  <div class="card" style="margin-top:20px; padding-bottom:30px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">procesos</a></small>
  
      </header>
      <div class="tools">     
      
      </div>
    </div>
    <div class="card-body">
      <div class="card col-md-12 " style="padding: 5px;">
        <div class="col-md-3">
          <div class="form-group">
            <label for="Firstname5" class="col-sm-4">Servicio</label>
            <div class="col-sm-8">
              <select class="form-control input-sm" ng-model="$ctrl.selectedServicio" ng-change="$ctrl.CambioServicio($ctrl.selectedServicio)"
                ng-disabled="$ctrl.BloquearElementos" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal"></select>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="form-group">
  
            <div class="input-group">
              <div class="input-group-content">
                <label for="Firstname5" style="opacity: 0.5;" class="col-sm-4 ">Contrato</label>
                <div class="col-sm-8">
                  <input type="text"  ng-model="$ctrl.contratoSelected" class="form-control input-sm"
                    placeholder="Ingresa contrato" ng-keyup="$ctrl.EnterContrato($event)">
                </div>
              </div>
              <div class="input-group-btn">
                <button title="Buscar cliente"  ng-click="$ctrl.ModalClientes()" class="btn ink-reaction btn-floating-action btn-sm btn-default">...</button>
              </div>
            </div>
          </div> 
        </div>       
      </div>
  
      
  
      <div class="col-md-12">
        <div class="col-md-4" ng-if="$ctrl.GlobalContrato">         
          <div class="col-md-12" style="font-size:14px;">
              <div class="col-md-12 text-center" style="font-size:14px; color: #06599a;">
              <b>Información de Cliente</b>
              </div>
              <div class="col-md-12">
                  <p><b>Nombre: </b>{{$ctrl.NombreCliente}}</p>
                  <p><b>Dirección : </b>{{$ctrl.Calle}} <b>#:</b>{{$ctrl.Numero}} Col.{{$ctrl.Colonia}} {{$ctrl.Ciudad}}</p>
                  <p><b>Teléfono: </b>{{$ctrl.Telefono}}</p>
              </div>
            
          </div>             
        </div> 
        <div class="col-md-4">
          <div class="col-md-12 text-center" style="font-size:14px; color: #06599a;">
            <b>Servicios</b>
            <div class=" card wrapper text-center" style="background-color: whitesmoke;">
              <p ng-repeat="x in $ctrl.ServiciosCliente" style="font-size:10px;">{{x.Servicio}}</p>
            </div>
          </div>   
        </div>
        <div class="col-md-4" ng-if="$ctrl.aparatosReset.length > 0">
            <table class="table">
              <thead>
                  <th>Aparato</th>
                  <th></th>
              </thead>
              <tbody>
                  <tr ng-repeat="x in $ctrl.aparatosReset">
                      <td class="mac">{{x.MACCABLEMODEM}}</td>
                      <td ><button class="btn btn-sm btn-info" ng-if="x.CLV_CABLEMODEM > 0 " permission permission-only="'resetdeaparatosAdd'" ng-click="$ctrl.Reset(x)" ><i class="fa fa-repeat" aria-hidden="true"></i> Reset</button></td>
                  </tr>
              </tbody>
            </table>
        </div>
        <div class="col-md-4" ng-if="$ctrl.aparatosReset.length == 0">
            <br> <br> <br>
              <h3 class="text-center text-danger"> <i class="fa fa-bell" aria-hidden="true"></i> No hay aparatos para procesar, ingrese un contrato y servicio válido</h3>   

        </div>
        
      </div>
    </div>
  </div>
  </div>
  </div>
  <!--end cardbody-->
  </div>
  <!--end card-->
  