<style>
  .login-page {
    width: 320px;
    height:380px;
    padding: 40px 0 0;
    margin: auto;
    
  }

  .form {
    position: relative;
    z-index: 1;
  background:white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f0ad4e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #E99929;
  }

  .form .message {
    margin: 15px 0 0;
    color: #2b2828;
    font-size: 12px;
  }

  .form .message a {
    color: #e98c0a;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #EF3B3A;
  }

  body {  
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #eaeaea);
  }


  .form-control {
    padding: 0;
    height: 37px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #003771;
    
    font-size: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}


.fadeIn {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
<div class="login-page fadeIn">
  <div class="form">
    <img src="{{$ctrl.logo2}}" style="width:200px;">
    <form class="login-form" angular-validator-submit="$ctrl.login()" name="myForm" novalidate angular-validator>
      <div class="form-group">
        <input type="text" style="text-transform:uppercase" placeholder="Usuario" name="nombre" ng-model="$ctrl.user" validate-on="dirty" ng-model="form.dirty" class="form-control" required-message="'El usuario es obligatorio.'" required/>
      </div>
      <div class="form-group">
        <input type="password" placeholder="contraseña" name="password" ng-model="$ctrl.password" validate-on="dirty" ng-model="form.dirty" class="form-control" required-message="'La contraseña es obligatoria.'" required/>
      </div>
      <button type="submit">login</button>
      <p class="message">¿No estas registrado? <a href="">Contacta al Administrador</a></p>
      <p><b> Version 1.0.06082018</b></p>
    </form>
  </div>
</div>
