<style media="screen">
	html, body {
	  height: 100%;
	  background-color: white;
	}

.page-row-expanded { height: 100%; }
</style>
<section class="section-account">
	<div class="card contain-xs style-transparent">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="{{$ctrl.logo3}}" width="350">
					
                    <hr>
					<h2 class="text-light">¡BIENVENIDO!</h2>
				</div><!--end .col -->
			</div><!--end .row -->
		</div><!--end .card-body -->
	</div><!--end .card -->
</section>
