<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Comisiones por Servicio</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>><a href="#" class="paginaActiva"> Catalogos > Ventas</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-offset-1 col-md-9">
                    <div class="col-md-4">
                        <b>Empresa:</b>
                    </div>
                    <div class="col-md-8">
                        <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" ng-change="$ctrl.GetTipoServicioList()">
                            <option value="">Selecciona Empresa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <div class="col-md-4">
                        <b>Tipo de Servicio:</b>
                    </div>
                    <div class="col-md-8">
                        <select name="SlcTipoServicio" class="form-control input-sm" ng-model="$ctrl.TipoServicio" ng-options="TS.Servicio for TS in $ctrl.TipoServicioList track by TS.Clv_TipServ" ng-change="$ctrl.GetServicoList()">
                            <option value="">Selecciona Tipo de Servicio</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <div class="col-md-4">
                        <b>Servicio:</b>
                    </div>
                    <div class="col-md-8">
                        <select name="SlcServicio" class="form-control input-sm" ng-model="$ctrl.Servicio" ng-options="S.Descripcion for S in $ctrl.ServicioList track by S.CLV_SERVICIO" ng-change="$ctrl.GetRangoList()">
                            <option value="">Selecciona Servicio</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <div class="col-md-4">
                        <b>Rango:</b>
                    </div>
                    <div class="col-md-8">
                        <select name="SlcRango" class="form-control input-sm" ng-model="$ctrl.Rango" ng-options="R.Rango for R in $ctrl.RangoList track by R.CLV_RANGO" ng-change="$ctrl.GetComisionList()">
                            <option value="">Selecciona Rango</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <br>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger btn-xs" permission permission-only="'comisionesporservicioDelete'" ng-click="$ctrl.DeleteComision();" title="Eliminar Comisiones" ng-if="$ctrl.ViewList"><i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <form name="FormGrupo" novalidate angular-validator autocomplete="off">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%"><b>Grupo</b></th>
                                    <th width="35%"><b>Comisión</b></th>
                                    <th width="25%"><b>Acciones</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!$ctrl.ViewList">
                                    <td colspan="4" class="text-center">SIN REGISTROS</td>
                                </tr>
                                <tr dir-paginate="X in $ctrl.ComisionList|itemsPerPage:7" ng-show="$ctrl.ViewList">
                                    <td>{{ X.Grupo }}</td>
                                    <td><div class="input-group"><span class="input-group-addon"><i class="fa fa-usd fa-lg"></i></span>
                                        <input type="number" name="InpCom{{X.CLV_COMISION}}" class="form-control input-sm" ng-model="X.COMISION" min="0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Invalido.'"></div></td>
                                    <td><button type="button" class="btn btn-success btn-xs" permission permission-only="'comisionesporservicioAdd'" title="Guardar Comisión" ng-click="$ctrl.SaveComision(X)" ng-disabled="FormGrupo.InpCom{{X.CLV_COMISION}}.$invalid"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button></td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                        <div style="margin-top:-40px;">
                            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ComisionList.length > 0">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>