<style type="text/css">
	.table-scroll {
        height: 450px;
        overflow:auto;  
        margin-top: 20px;
    }
</style>

<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Evidencias de Folios Cancelados</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Evidencias de Folios Cancelados</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.ventas.series" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input name="InpBusqueda" class="form-control input-sm" ng-model="$ctrl.Busqueda" placeholder="Buscar Por">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetFolioCanceladoList(1)" title="Buscar"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 table-scroll">
                    <table class="table">

                        <thead>
                            <tr>
                                <th><b><small>Folio</small></b></th>
                                <th><b><small>Serie</small></b></th>
                                <th><b><small>Vendedor</small></b></th>
                                <th><b><small>Evidencia</small></b></th>
                                <th><b><small></small></b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!$ctrl.ViewList">
                                <td class="text-center" colspan="4">SIN REGISTROS</td>
                            </tr>
                            <tr ng-repeat="X in $ctrl.FolioCanceladoList | orderBy:'id_referencia'" ng-show="$ctrl.ViewList">
                                <td><small>{{ X.folio }}</small></td>
                                <td><small>{{ X.serie }}</small></td>
                                <td><small>{{ X.nombre }}</small></td>
                                <td ng-if="X.tieneEvidencia == true"><small>Si</small></td>
                                <td ng-if="X.tieneEvidencia == false"><small>No</small></td>
                                <td><button class="btn btn-success btn-xs" title="Ver Evidencia" ng-click="$ctrl.GetEvidencia(X)" ng-if="X.tieneEvidencia == true"><i class="fa fa-eye"></i> Ver</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-12">
                    <b>Documento seleccionado: {{ $ctrl.TituloDoc }}</b>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <iframe ng-src="{{ $ctrl.FileName }}" style="width: 100%; height: 450px;" ng-show="$ctrl.FileName != null"></iframe>
                    <iframe ng-src="" style="width: 100%; height: 450px;" ng-show="$ctrl.FileName == null"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>