<form name="FormRango" angular-validator-submit="ctrl.SaveRango()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.CveRango }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-3">
                        <b>Región:</b>
                    </div>
                    <div class="col-md-7">
                        <select name="SlcPlaza" class="form-control input-sm" ng-model="ctrl.Plaza" ng-options="P.razon_social for P in ctrl.PlazaList track by P.id_compania" ng-change="ctrl.GetRangoList()" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="">Selecciona Región</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-3">
                        <b>Rango Inferior:</b>
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="RangoInferior" class="form-control input-sm" ng-model="ctrl.RangoInferior" validate-on="dirty" min="0" validator="ctrl.RangoInferior < ctrl.RangoSuperior" required required-message="'Obligatorio.'" invalid-message="'Invalido.'">
                    </div>
                    <div class="col-md-3">
                        <b>Rango Superior:</b>
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="RangoSuperior" class="form-control input-sm" ng-model="ctrl.RangoSuperior"  validate-on="dirty" min="0" validator="ctrl.RangoSuperior > ctrl.RangoInferior" required required-message="'Obligatorio.'" invalid-message="'Invalido.'">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Rango" ng-show="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>