<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar Vendedor</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar al Vendedor?</b></p>
    <p><b>Clave:</b> {{ ctrl.Clv_Vendedor }}</p>
    <p><b>Nombre:</b> {{ ctrl.Nombre }}</p>
    <p><b>Fecha de Ingreso:</b> {{ ctrl.FechaIngreso }}</p>
    <p><b>Fecha de Salida:</b> {{ ctrl.FechaSalida }}</p>
    <p><b>Activo:</b> {{ ctrl.Activo }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteVendedor()" title="Eliminar Vendedor"><i class="fa fa-trash"></i> Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>