<form name="FormFoliosFaltantes" angular-validator-submit="ctrl.FoliosFaltantes()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Reporte de Folios</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Vendedor:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcVendedor" class="form-control input-sm" ng-model="ctrl.Vendedor" ng-options="V.Nombre for V in ctrl.VendedorList track by V.Clv_Vendedor" ng-change="ctrl.GetSerieList();" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="" ng-disabled="true">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Serie:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcSerie" class="form-control input-sm" ng-model="ctrl.Serie" ng-options="S.SERIE for S in ctrl.SerieList track by S.SERIE" ng-change="ctrl.GetFolioDisponible();" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="" ng-disabled="true">Selecciona</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Aceptar" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="fa fa-check"></i> Imprimir</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>