<style>
    .dualmultiselect label {
        margin: 10px;
    }
    .dualmultiselect .btn-info {
        margin: 5px;
    }
    .dualmultiselect .btn-warning {
        margin: 5px;
    }
    .dualmultiselect .pool {
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        height: 240px;
        overflow-y: scroll;
    }
    .dualmultiselect .pool ul {
        list-style: none;
        padding-left: 0px;
    }
    .dualmultiselect .pool ul li {
        width: 100%;
        padding: 4px 8px 4px 4px;
        border-bottom: 1px dotted #CFCFCF;
    }
    .dualmultiselect .pool ul li a:hover {
        text-decoration: none;
    }
</style>
<form name="FormSerie" angular-validator-submit="ctrl.GetReporte()" novalidate angular-validator autocomplete="off">-->
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Folios Cancelados</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-3">
                        <label><b>Fecha Inicial:</b></label>
                        <input type="date" name="FechaInicial" class="form-control input-sm" ng-model="ctrl.FechaInicial" validate-on="dirty" required required-message="'Obligatorio.'" invalid-message="'Invalido.'">
                    </div>
                    <div class="col-md-3">
                        <label><b>Fecha Final:</b></label>
                        <input type="date" name="FechaFinal" class="form-control input-sm" ng-model="ctrl.FechaFinal" validate-on="dirty" required required-message="'Obligatorio.'" invalid-message="'Invalido.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="dualmultiselect">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <h4 class="text-center"><b>Vendedores Disponibles</b></h4>
                                    <div class="pool">
                                        <div class="col-md-12" ng-repeat="VP in ctrl.VendedorProList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                            <div class="col-md-9" style="padding-top: 3%;">
                                                <b>{{ VP.Nombre }}</b>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn ink-reaction btn-xs btn-info" ng-click="ctrl.AddVendedor(0, VP.Clv_Vendedor);" title="Agregar Medio"><i class="md-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-success btn-xs btn-block" ng-click="ctrl.AddVendedor(1, 0);" title="Agregar todos los Medios" ng-disabled="$ctrl.BlockMedioDis">Agregar Todos <i class="fa fa-angle-double-right"></i></button>
                                    <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.DeleteVendedor(1, 0);" title="Quitar todos los Medios" ng-disabled="$ctrl.BlockMedioInc"><i class="fa fa-angle-double-left"></i> Quitar Todos</button>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <h4 class="text-center"><b>Vendedores Seleccionados</b></h4>                
                                    <div class="pool">
                                        <div class="col-md-12" ng-repeat="VT in ctrl.VendedorTmpList" style="border-bottom: dashed #c2c2c2 0.5px; font-size:11px;">
                                            <div class="col-md-3">
                                                <button type="button" class="btn ink-reaction btn-xs btn-warning" ng-click="ctrl.DeleteVendedor(0, VT.Clv_Vendedor);" title="Quitar Medio"><i class="md-chevron-left"></i></button> 
                                            </div>
                                            <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                <strong><b>{{ VT.Nombre }}</b></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Aceptar" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="fa fa-check"></i> Aceptar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>