<form name="FormImprimirFolio" angular-validator-submit="ctrl.ImprimirFolio()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Imprimir Folios</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Serie:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcSerie" class="form-control input-sm" ng-model="ctrl.Serie" ng-options="S.Serie disable when S.Clave == 0 for S in ctrl.SerieList track by S.Clave" ng-change="ctrl.ValidaFolios();" validate-on="dirty" validator="ctrl.Serie.Clave > 0" required required-message="'Obligatorio'" invalid-message="'Invalido, selecciona una Serie.'">
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>¿Cuantos folios deseas imprimir?</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input type="number" name="CantidadFolio" class="form-control input-sm" ng-model="ctrl.CantidadFolio" min="1" max="{{ctrl.CantidadFolioDisp}}" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Solo tienes disponible {{ ctrl.CantidadFolioDisp }} folios, para imprimir.'" ng-disabled="ctrl.DisCantidadFolio">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Imprimir Folios" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="fa fa-check"></i> Imprimir</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>