<style type="text/css">
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>

<form name="FormCancelarFolio" angular-validator-submit="ctrl.CancelarFolio()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Cancelación de Folios Impresos</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Vendedor:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <select name="SlcVendedor" class="form-control input-sm" ng-model="ctrl.Vendedor" ng-options="V.Nombre for V in ctrl.VendedorList track by V.Clv_Vendedor" ng-change="ctrl.GetSerieList();" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="" ng-disabled="true">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Serie:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <select name="SlcSerie" class="form-control input-sm" ng-model="ctrl.Serie" ng-options="S.SERIE for S in ctrl.SerieList track by S.SERIE" ng-change="ctrl.GetFolioDisponible();" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="" ng-disabled="true">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Folio:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <select name="SlcFolioDisponible" class="form-control input-sm" ng-model="ctrl.FolioDisponible" ng-options="S.Folio for S in ctrl.FolioDisponibleList track by S.Folio" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="" ng-disabled="true">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <br>
                    <b>Evidencia</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Comentario:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <textarea name="TxaComentario" class="form-control input-sm" rows="2" ng-model="ctrl.Comentario" validate-on="dirty" required required-message="'Obligatorio'"></textarea>
                </div>
            </div>
            <!--
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Archivo:</b>
                </div>
            </div>
            -->
        </div>
        </fieldset>
        <!--
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="fileUpload btn btn-success btn-xs btn-block">
                        <span><i class="fa fa-file"></i> Buscar</span>
                        <input type="file" name="InpEvidencia" class="upload" accept=".png, .jpg, .bmp, .tif, .gif, .pdf" ng-model="ctrl.File" file-model="ctrl.Evidencia">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="reset" class="btn btn-danger btn-xs btn-block" ng-click="ctrl.ResetEvidencia()" ng-disabled="(ctrl.Evidencia == null || ctrl.Evidencia == undefined) || (ctrl.FilePath != null || ctrl.FilePath != undefined)" title="Quitar archivo"><i class="fa fa-ban"></i> Quitar</button>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Aceptar" ng-disabled="ctrl.ShowAdd"><i class="fa fa-check"></i> Aceptar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Cancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>