<style type="text/css">
	.btn-P {
		position: absolute;
		margin-top: 7%;
		margin-left: 90%;
		z-index: 1;
		text-align: center;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Series</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>><a href="#" class="paginaActiva"> Catálogos > Ventas</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenSerieAdd();" title="Crear un Serie Nueva"><i class="fa fa-plus"></i> NUEVA SERIE</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <pageslide ps-open="$ctrl.OpenReporte" ps-size="95%" width="100%" height="100%" style="padding-top:5%">
            <button type="button" class="btn btn-default btn-md btn-P" ng-click="$ctrl.OpenReporte = false" title="Salir del reporte"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
            <iframe src="{{$ctrl.FileName}}" width="100%" height="100%" ps-zindex="9999"></iframe>
        </pageslide>
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Buscar por:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1">
                        <label><b>Empresa:</b></label>
                    </div>
                    <div class="col-md-4">
                        <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="D.Nombre for D in $ctrl.DistribuidorList track by D.Clv_Plaza" ng-change="$ctrl.GetSerieList(4);">
                            <option value="" ng-disabled="true">Selecciona Empresa</option>
                        </select>
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <label><b>Tipo:</b></label>
                    </div>
                    <div class="col-md-4">
                        <select name="SlcTipo" class="form-control input-sm" ng-model="$ctrl.Tipo" ng-options="T.Tipo for T in $ctrl.TipoList track by T.Clv_Tipo" ng-change="$ctrl.GetSerieList(4);">
                            <option value="" ng-disabled="true">Selecciona Tipo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <form name="FormSearchSerie" angular-validator-submit="$ctrl.GetSerieList(1);" novalidate angular-validator autocomplete="off">
                            <div class="input-group">
                                <input name="InpSerie" class="form-control input-sm" ng-model="$ctrl.Serie" placeholder="Serie" validate-on="dirty" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" invalid-message="'Inválido.'">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning btn-xs" title="Buscar por Serie"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-md-offset-1">    
                        <form name="FormSearchClaveVendedor" angular-validator-submit="$ctrl.GetSerieList(2);" novalidate angular-validator autocomplete="off">
                            <div class="input-group">
                                <input type="number" name="Clv_Vendedor" class="form-control input-sm" ng-model="$ctrl.Clv_Vendedor" placeholder="Clave Vendedor" validate-on="dirty" invalid-message="'Inválido.'">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning btn-xs" title="Buscar por Clave de Vendedor"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <form name="FormSearchNombreVendedor" angular-validator-submit="$ctrl.GetSerieList(3);" novalidate angular-validator autocomplete="off">
                            <div class="input-group">
                                <input name="InpNombreVendedor" class="form-control input-sm" ng-model="$ctrl.NombreVendedor" placeholder="Nombre del Vendedor" validate-on="dirty" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" invalid-message="'Inválido.'">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning btn-xs" title="Buscar por Nombre del Vendedor"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="10%"><b>Serie</b></th>
                                    <th width="25%"><b>Clave Vendedor</b></th>
                                    <th width="40%"><b>Nombre Vendedor</b></th>
                                    <th width="25%" colspan="3"><b>Acciones</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!$ctrl.ViewList">
                                    <td class="text-center" colspan="6">SIN REGISTROS</td>
                                </tr>
                                <tr dir-paginate="X in $ctrl.SerieList|itemsPerPage:7" ng-show="$ctrl.ViewList">
                                    <td>{{ X.Serie }}</td>
                                    <td>{{ X.Clv_Vendedor }}</td>
                                    <td>{{ X.NOMBRE }}</td>
                                    <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenSerieView(X.Clave);" title="Consultar Serie"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                                    <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'seriesUpdate'" ng-click="$ctrl.OpenSerieUpdate(X.Clave);" title="Editar Serie"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                    <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'seriesDelete'" ng-click="$ctrl.OpenSerieDelete(X.Clave);" title="Eliminar Serie"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <div style="margin-top:-40px;">
                            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.SerieList.length > 0">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <br>
                <div class="col-md-12" style="padding-top: 3%;">
                    <!--
                        fa fa-ban
                        fa fa-print
                        fa fa-file-text-o
                    -->
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenCancelarFolios();">Cancelar Folios</button>
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenImprimirFolios();">Imprimir Folios</button>
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenReimprimirFolios();">Reimprimir Folios</button>
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenFoliosFaltantes();">Folios Faltantes</button>
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ng-click="$ctrl.OpenFoliosCancelados();">Folios Cancelados</button>
                    <!--
                    <button type="button" class="btn btn-default btn-md btn-block" style="font-size:12px" permission permission-only="'seriesAdd'" ui-sref="home.ventas.evidencia_folios_cancelados">Evidencias de Folios<br>Cancelados</button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>