<style type="text/css">
    .input-sm {
        font-size: 11px;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Vendedores</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>><a href="#" class="paginaActiva"> Catálogos > Ventas</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" permission permission-only="'vendedoresAdd'" ng-click="$ctrl.OpenVendedorAdd();" title="Crear un Vendedor Nuevo"><i class="fa fa-plus"></i> NUEVO VENDEDOR</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <b><h4><i class="fa fa-search"></i> Buscar Vendedor:</h4></b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Empresa</b>
                </div>
                <div class="col-md-3">
                    <b>Clave</b>
                </div>
                <div class="col-md-3">
                    <b>Nombre</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="D.Nombre for D in $ctrl.DistribuidorList track by D.Clv_Plaza" ng-change="$ctrl.GetVendedorList(3)">
                        <option value="" ng-disabled="true">Selecciona Empresa</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <form name="FormVendedor" angular-validator-submit="$ctrl.GetVendedorList(0);" novalidate angular-validator autocomplete="off">
                        <div class="input-group">
                            <input type="number" name="InpClave" class="form-control input-sm" ng-model="$ctrl.Clave" placeholder="Clave" min="0" validate-on="dirty" invalid-message="'Inválido'">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-xs" title="Buscar por Clave"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input name="InpNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" placeholder="Nombre">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetVendedorList(1);" title="Buscar por Nombre"><i class="fa fa-search"></i> Buscar</button>
                        </span>
                    </div>
                </div>
			</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="8%"><b>Clave</b></th>
                                <th width="25%"><b>Nombre</b></th>
                                <th width="17%"><b>Fecha Ingreo</b></th>
                                <th width="17%"><b>Fecha Salida</b></th>
                                <th width="8%"><b>Activo</b></th>
                                <th width="25%" colspan="3"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!$ctrl.ViewList">
                                <td class="text-center" colspan="8">SIN REGISTROS</td>
                            </tr>
                            <tr dir-paginate="X in $ctrl.VendedorList|itemsPerPage:7" ng-show="$ctrl.ViewList">
                                <td>{{ X.Clv_Vendedor }}</td>
                                <td>{{ X.Nombre }}</td>
                                <td>{{ X.FechaIngreso }}</td>
                                <td>{{ X.FechaSalida }}</td>
                                <td ng-if="X.Activo == true"> Si </td>
                                <td ng-if="X.Activo == false"> No </td>
                                <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenVendedorView(X.Clv_Vendedor);" title="Consultar Vendedor"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                                <td><button type="button" class="btn btn-warning btn-xs" permission permission-only="'vendedoresUpdate'" ng-click="$ctrl.OpenVendedorUpdate(X.Clv_Vendedor);" title="Editar Vendedor"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                <td><button type="button" class="btn btn-danger btn-xs" permission permission-only="'vendedoresDelete'" ng-click="$ctrl.OpenVendedorDelete(X.Clv_Vendedor);" title="Eliminar Vendedor"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="margin-top:-40px;">
                        <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.VendedorList.length > 0">
                        </dir-pagination-controls>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>