<style type="text/css">
	.table-scroll {
        height:280px;
        overflow:auto;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Documentos del vendedor</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Documentos del vendedor</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.ventas.vendedores" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form name="FormDocumentoVendedor" angular-validator-submit="$ctrl.SaveDocumento()" novalidate angular-validator autocomplete="off">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Subir archivos</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcDocumento" class="form-control input-sm" ng-model="$ctrl.DocumentoVendedor" ng-options="D.Documento for D in $ctrl.DocumentoList track by D.IdDocumento" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="">Selecciona Documento</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 has-error" ng-if="FormDocumentoVendedor.InpEvidencia.$invalid && $ctrl.TouchFile == true">
                        <label class="control-label has-error validationMessage" ng-if="FormDocumentoVendedor.InpEvidencia.$invalid && $ctrl.TouchFile == true">
                            Aun no has seleccionado algún archivo.
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="fileUpload btn btn-success btn-xs btn-block">
                            <span><i class="fa fa-file"></i> Buscar</span>
                            <input type="file" name="InpEvidencia" class="upload" accept=".pdf" ng-model="$ctrl.File" file-model="$ctrl.Evidencia" validate-on="dirty" validator="$ctrl.Evidencia != undefined && $ctrl.Evidencia != null" required-message="''" invalid-message="''">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-xs btn-block" ng-click="$ctrl.SetTouch()" title="Guardar Documento"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="reset" class="btn btn-danger btn-xs btn-block" ng-click="$ctrl.ResetEvidencia()" ng-disabled="($ctrl.Evidencia == null || $ctrl.Evidencia == undefined) || ($ctrl.FilePath != null || $ctrl.FilePath != undefined)" title="Quitar archivo"><i class="fa fa-ban"></i> Quitar</button>
                    </div>
                </div>
                </form>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Archivos existentes</b>
                    </div>
                </div>
                <div class="col-md-12 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="70%"><b><small>Nombre</small></b></th>
                                <th width="10%"><b><small>Existe</small></b></th>
                                <th width="20%"><b><small></small></b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!$ctrl.ViewList">
                                <td class="text-center" colspan="3">SIN REGISTROS</td>
                            </tr>
                            <tr ng-repeat="X in $ctrl.DocumentoVendedorList" ng-show="$ctrl.ViewList">
                                <td><small>{{ X.Documento }}</small></td>
                                <td ng-if="X.Existe == true"><small>Si</small></td>
                                <td ng-if="X.Existe == false"><small>No</small></td>
                                <td><button class="btn btn-success btn-xs" title="Ver Documento" ng-click="$ctrl.GetDocumentoVendedor(X)" ng-if="X.Existe == true"><i class="fa fa-eye"></i> Ver</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <b>Documento seleccionado: {{ $ctrl.TituloDoc }}</b>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <iframe ng-src="{{ $ctrl.FileName }}" style="width: 100%; height: 450px;" ng-show="$ctrl.FileName != null"></iframe>
                    <iframe ng-src="" style="width: 100%; height: 450px;" ng-show="$ctrl.FileName == null"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>