<style type="text/css">
    .table-scroll {
        height: 150px;
        overflow: auto;
    }
    .table-scroll-detfac {
        height: 250px;
        overflow: auto;
    }
    .esmeralda {
        background-color: #ccc6c0;
    }
    .contenedor {
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }
</style>



<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Cargos Automáticos</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Cargos
                    Automáticos
                </a>
            </small>
        </header>
        <div class="tools">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="padding: 10px; background-color: #e3e3e3;">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label><b>Empresa: </b> {{ $ctrl.NameEmpresa}} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Caja: </b> {{ $ctrl.NameCaja}} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Cajero: </b> {{ $ctrl.NameUser }} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Fecha: </b> {{ $ctrl.NameFecha}} </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label><b>Sistema: </b> {{ $ctrl.NameSistema}} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Sucursal: </b> {{ $ctrl.Sucursal }} </label>
                        </div>
                        <div class="col-md-3">
                            <label><b> </b></label>
                        </div>
                        <div class="col-md-3">
                            <label><b>Versión: </b> 0.0.0.0 </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-3" style="background-color: #f5f3f3;">
                    <h4 class="text-info">Cargos Recurrente del:</h4>
                </div>
                <div class="col-md-9" style="background-color: #f5f3f3; text-align: left;">
                    <h4 class="text-danger">{{ $ctrl.Periodo.Descripcion }}</h4>
                </div>
                <br><br>
                <div class="col-md-12">
                    <h4>Listados Preliminares Generados</h4>
                </div>
                <div class="col-md-12 table-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="10%" style="text-align: center;"><b>Status</b></th>
                                <th width="10%" style="text-align: center;"><b>No.Proceso</b></th>
                                <th width="10%" style="text-align: center;"><b>Fecha</b></th>
                                <th width="10%" style="text-align: center;"><b>Importe Total</b></th>
                                <th width="10%" style="text-align: center;"><b>Afectado</b></th>
                                <th width="10%" style="text-align: center;"><b>Sucursal</b></th>
                                <th width="10%" style="text-align: center;"><b>Caja</b></th>
                                <th width="10%" style="text-align: center;"><b>Cajera</b></th>
                                <th width="10%" style="text-align: center;" class="ng-hide"><b>ProcesoCandelado</b></th>
                                <!-- <th width="10%" style="text-align: center; visibility: hidden;"><b>Cajera</b></th> table-scroll
                                <th width="10%" style="text-align: center; visibility: hidden;"><b>Sucursal</b></th>
                                <th width="10%" style="text-align: center; visibility: hidden;"><b>Caja</b></th>
                                <th width="10%" style="text-align: center; visibility: hidden;"><b>Descripcion</b></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in $ctrl.ConPreliminarBancosList" ng-click="$ctrl.SelectConPreliminar(X, $index)" ng-class="X.Clv_SessionBancos == $ctrl.ClvSession ? 'esmeralda':''" style="font-size:10px">
                                <td style="text-align: center;">{{ X.Estado }}</td>
                                <td style="text-align: center;">{{ X.Clv_SessionBancos }}</td>
                                <td style="text-align: center;">{{ X.fecha }}</td>
                                <td style="text-align: center;">{{ X.importe | currency }}</td>
                                <td style="text-align: center;">
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" name="Realizado" disabled ng-model="X.Realizado"><span><small></small></span>
                                    </label>
                                </td>
                                <td style="text-align: center;">{{ X.NomSucursal }}</td>
                                <td style="text-align: center;">{{ X.NomCaja }}</td>
                                <td style="text-align: center;">{{ X.NomCajera }}</td>
                                <td style="text-align: center;" class="ng-hide">{{ X.Proceso_Cancelado }}</td>
                                <!-- <td style="text-align: center; visibility: hidden;">{{ X.cajera }}</td>
                                <td style="text-align: center; visibility: hidden;">{{ X.sucursal }}</td>
                                <td style="text-align: center; visibility: hidden;">{{ X.Caja }}</td>
                                <td style="text-align: center; visibility: hidden;">{{ X.Descripcion_Proceso }}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-sm btn-block contenedor" ng-click="$ctrl.SetFecha();"  style="font-size: 9px;" title="Generar Listado">Generar
                    Listado Preliminar</button>
                <button type="button" class="btn btn-default btn-sm btn-block contenedor" ng-click="$ctrl.BtnAfectarListado();" style="font-size: 9px;"
                    title="Afectar Listado">Afectar Listado Preliminar</button>
                <button type="button" class="btn btn-default btn-sm btn-block contenedor" ng-click="$ctrl.BtnCancelarListado();"  style="font-size: 9px;"
                    title="Cancelar Listado">Cancelar Listado Preliminar</button>
                <button type="button" class="btn btn-default btn-sm btn-block contenedor" ng-click="$ctrl.SaveDocumentotxt();"  style="font-size: 9px;" title="Afectar Archivo">Afectar Archivo Resultados <br>Bancomer</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Detalle del Listado Preliminar</h4>
                </div>
                <div class="col-md-12 text-right">
                    <div class="col-md-12 text-right">
                        <button type="button" name="a1" class="btn btn-default btn-sm tools" ng-click="$ctrl.GetTicket(); "
                            ng-disabled="$ctrl.B1" title="Imprimir Ticket"><i class="fa fa-print"></i> Imprimir Ticket</button>
                        <button type="button" name="a2" class="btn btn-default btn-sm tools" ng-click="$ctrl.BtnImprimirDetalle();"
                            ng-disabled="$ctrl.B2" title="Imprimir Detalle"><i class="fa fa-print"></i> Imprimir
                            Detalle</button>
                        <button type="button" name="a3" class="btn btn-default btn-sm tools" ng-click="$ctrl.BtnGeneraPROSA();"
                            ng-disabled="$ctrl.B3" title="Archivo Prosa"><i class="fa fa-file-o"></i> Generar Archivo
                            para PROSA</button>
                        <button type="button" name="a4" class="btn btn-default btn-sm tools" ng-click="$ctrl.BtnGuardarDetalle();"
                            ng-disabled="$ctrl.B4" title="Guardar Detalle"><i class="fa fa-floppy-o"></i> Guardar
                            Detalle</button>
                            <a id='dwnldLnk' style="display:none;"></a>
                        <!-- <button type="button" class="btn btn-default btn-sm tools" ng-click="$ctrl.GetListPre();" title="Deshacer Cambio"><i
                                class="fa fa-undo"></i> Deshacer Cambio</button> -->
                    </div>
                </div>
                <br><br><br><br>
                <div class="col-md-12 table-responsive table-scroll-detfac">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;"><b>No.</b></th>
                                <th style="text-align: center;"><b>Clv_Id</b></th>
                                <th style="text-align: center;"><b>Contrato</b></th>
                                <th style="text-align: center;" class="w-10"><b>Nombre</b></th>
                                <th style="text-align: center;"><b>Cuenta</b></th>
                                <th style="text-align: center;"><b>Importe</b></th>
                                <th style="text-align: center;"><b>Afectado</b></th>
                                <th style="text-align: center;"><b>Cancelado</b></th>
                                <th style="text-align: center;"><b>Autorizado</b></th>
                                <th style="text-align: center;"><b>Tipo Cuenta</b></th>
                                <th style="text-align: center;"><b>Teléfono</b></th>
                                <!--
                                <th style="text-align: center;"><b>Vencimiento</b></th>
                                <th style="text-align: center;"><b>Cód. Seguridad</b></th>
                                -->
                                <th style="text-align: center;"><b>Importe Total</b></th>
                                <th style="text-align: center;"><b>NomTarjeta</b></th>
                                <th style="text-align: center;"><b>Banco</b></th>
                                <th style="text-align: center;"><b>Proceso Cancelado</b></th>
                                <th style="text-align: center;"><b>Mensaje Error</b></th>
                                <th style="text-align: center;"><b>Fecha Gral.</b></th>
                                <th style="text-align: center;"><b>Sucursal</b></th>
                                <th style="text-align: center;"><b>Cajera</b></th>
                                <th style="text-align: center;"><b>Caja</b></th>
                                <th tyle="text-align: center;"><b>Fecha</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in $ctrl.ConDetFacturasList" ng-click="$ctrl.SelectConDetFacturas(X, $index)"
                                class="m-0" ng-class="X.Clv_Id == $ctrl.Clv_Id ? 'esmeralda':''" style="font-size:10px">
                                <td style="text-align: center;">{{ X.Clv_SessionBancos }}</td>
                                <td style="text-align: center;">{{ X.Clv_Id }}</td>
                                <td style="text-align: center;">{{ X.CONTRATO }}</td>
                                <td style="text-align: center;">{{ X.NOMBRE }}</td>
                                <td style="text-align: center;">{{ X.CUENTA_BANCO }}</td>
                                <td style="text-align: center;">{{ X.IMPORTE | currency }}</td>
                                <td style="text-align: center;">
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" name="Afectado" ng-model="X.REALIZADO" ng-disabled="$ctrl.BlckChecKPre || X.REALIZADO"><span><small></small></span>
                                    </label>
                                </td>
                                <td style="text-align: center;">
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" name="Cancelado" ng-model="X.CANCELADA" ng-disabled="$ctrl.BlckChecKPre || X.REALIZADO"><span><small></small></span>
                                    </label>
                                </td>
                                <td style="text-align: center;">
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" name="Autorizado" ng-model="X.PAGADO" ng-disabled="$ctrl.BlckChecKPre || X.REALIZADO"><span><small></small></span>
                                    </label>
                                </td>
                                <td style="text-align: center;">{{ X.TIPO_CUENTA }}</td>
                                <td style="text-align: center;">{{ X.TELEFONO }}</td>
                                <!--
                                <td style="text-align: center;">{{ X.VENCIMIENTO }}</td>
                                <td style="text-align: center;">{{ X.CODIGOSEGURIDAD }}</td>
                                -->
                                <td style="text-align: center;">{{ X.IMPORTE_TOTAL | currency }}</td>
                                <td style="text-align: center;">{{ X.NOMTARJETA }}</td>
                                <td style="text-align: center;">{{ X.BANCO }}</td>
                                <td style="text-align: center;">{{ X.PROCESO_CANCELADO }}</td>
                                <td style="text-align: center;">{{ X.Error }}</td>
                                <td style="text-align: center;">{{ X.FECHA_GRAL }}</td>
                                <td style="text-align: center;">{{ X.SUCURSAL }}</td>
                                <td style="text-align: center;">{{ X.CAJERA }}</td>
                                <td style="text-align: center;">{{ X.CAJA }}</td>
                                <td style="text-align: center;">{{ X.FECHA }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>