<div class="card animated fadeIn" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Desglose De Moneda</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación>Desglose De Moneda</small>
		</header>
		<div class="tools">
			<div class="btn-group">
				<a class="btn btn-success btn-sm" permission permission-only="'desglosedemonedaAdd'" ng-click="$ctrl.nuevo()"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a>
			</div>
		</div>
	</div>
	<div class="section-body">
		<div ng-show="$ctrl.showPanel">
			<div class="row">
				<div class="col-md-3" style="padding-left: 45px; padding-top: 10px;">
					<div align="center">
						<h4>Buscar el desglose de monada por:</h4>
					</div>
					<div class="col-sm-12">
						<label style="font-size: 13px;">Fecha:</label>
						<input style="font-size: 13px;" type="date" class="form-control" required="" ng-model="$ctrl.fechaBusqueda">
						<br>
						<div align="right">
							<p>
								<button class="btn btn-block btn-warning" ng-click="$ctrl.buscarPorFecha($ctrl.fechaBusqueda)"><i class="fa fa-search" aria-hidden="true"></i> BUSCAR</button>
								<button class="btn btn-block ink-reaction btn-flat btn-default" ng-click="$ctrl.verTodo()"><i class="fa fa-eye" aria-hidden="true"></i> VER TODO</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="table-responsive" style="padding-top: 10px;">
						<table class="table">
							<thead>
								<tr>
									<th>Consecutivo</th>
									<th>Fecha</th>
									<th>NomCajera</th>
									<th>Total</th>
									<th>Accion</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="$ctrl.sinDatos">
									<td colspan="5" class="text-center">No se encontraron datos</td>
								</tr>
								<tr dir-paginate="x in $ctrl.desglose | itemsPerPage:5">
									<td>{{ x.Consecutivo }}</td>
									<td>{{ x.Fecha }}</td>
									<td>{{ x.NomCajera }}</td>
									<td>{{ x.Total | currency }}</td>
									<td>
										<button class="btn ink-reaction btn-floating-action btn-xs btn-info" style="border-radius: 60px;" ng-click="$ctrl.detalleDesglose(x.Consecutivo)"><i class="fa fa-eye" aria-hidden="true"></i></button>
										<button class="btn ink-reaction btn-floating-action btn-xs btn-warning" style="border-radius: 60px;" ng-click="$ctrl.editarDesglose(x.Consecutivo)" permission permission-only="'desglosedemonedaUpdate'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
										<button class="btn ink-reaction btn-floating-action btn-xs btn-danger" ng-click="$ctrl.eliminarDesglose(x.Consecutivo)" permission permission-only="'desglosedemonedaDelete'"><i class="fa fa-trash" aria-hidden="true"></i></button>
										<button class="btn ink-reaction btn-floating-action btn-xs btn-default" ng-click="$ctrl.printDesglose(x.Consecutivo)"><i class="fa fa-print" aria-hidden="true"></i></button></td>
								</tr>
							</tbody>
						</table>
						<div style="padding-left: 20px;" ng-show="$ctrl.showPaginator">
							<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
							</dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
