<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Editar Entrega Parcial</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación>Entregas Parciales>Editar</small>
    </header>
    <div class="tools">
      <button class="btn btn-default btn-sm" type="button" ui-sref="home.facturacion.entregas">Cancelar</button>
      <button class="btn btn-primary btn-sm" type="button" ng-show="$ctrl.showGuardar" ng-click="$ctrl.guardarEntrega()" ng-show="$ctrl.showGuardar"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
    </div>
  </div>
  <div style="padding-top:20px;">
    <div ng-show="$ctrl.showDatosInit">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-5 control-label">Clave Entrega:</label>
              <div class="col-md-7">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.clvEntrega" ng-disabled="$ctrl.showClave">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-4 control-label">Fecha:</label>
              <div class="col-md-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.fechaEntrada" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-4 control-label">Hora:</label>
              <div class="col-md-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.horaEntrada" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-4 control-label">Recibo:</label>
              <div class="col-md-8">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.recibo" ng-disabled="$ctrl.showRecibo">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-2 control-label">Cajero(a):</label>
              <div class="col-md-10">
                <select class="form-control input-sm" ng-model="$ctrl.selectedCajero" ng-disabled="$ctrl.showCajero" ng-options="v.Nombre for v in $ctrl.cajeros track by v.Clv_Usuario"></select>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label class="col-md-2 control-label">Referencia:</label>
              <div class="col-md-9">
                <input type="text" class="form-control input-sm" ng-model="$ctrl.referencia" ng-disabled="$ctrl.showReferencia">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="col-md-10 col-md-offset-2">Billetes:</h4>
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B1000:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm " ng-model="$ctrl.entrega.b1000" ng-disabled="$ctrl.showb1000" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B500:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.b500" ng-disabled="$ctrl.showb5000" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B200:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.b200" ng-disabled="$ctrl.showb200" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B100:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.b100" ng-disabled="$ctrl.showb100" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B50:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.b50" ng-disabled="$ctrl.showb50" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label">B20:</label>
                <div class="col-md-7">
                  <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.b20" ng-disabled="$ctrl.showb20" ng-change="$ctrl.changeImportes()">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Monedas:</h4>
          <div class="row">
            <div class="col-md-5">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M100:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m100" ng-disabled="$ctrl.showm100" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M50:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m50" ng-disabled="$ctrl.showm50" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M20:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m20" ng-disabled="$ctrl.showm20" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M10:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m10" ng-disabled="$ctrl.showm10" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M5:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m5" ng-disabled="$ctrl.showm5" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M2:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m2" ng-disabled="$ctrl.showm2" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M1:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m1" ng-disabled="$ctrl.showm1" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M050:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m050" ng-disabled="$ctrl.showm050" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M020:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m020" ng-disabled="$ctrl.showm020" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M010:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m010" ng-disabled="$ctrl.showm010" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div>
        <!--       <div class="col-md-12">
                <div class="form-group">
                  <label class="col-md-2 control-label">M050:</label>
                  <div class="col-md-7">
                    <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" ng-model="$ctrl.entrega.m005" ng-disabled="$ctrl.showm005" ng-change="$ctrl.changeImportes()">
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="text-right control-label" style="padding-right:30px; padding-bottom:20px;">Importe En Pesos: <strong> {{ $ctrl.importe | currency }}</strong></h4>
      </div>
    </div>
  </div>
</div>
</div>
