<form name="FormEntregaEfectivo" angular-validator-submit="ctrl.SaveEntrega()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.Close()">x</button>
        <h4 class="modal-title"><i class="fa fa-dollar"></i> Entrega de Efectivo</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.ShowSave2">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label><b>Empresa:</b></label>
                    </div>
                    <div class="col-md-6">
                        <label><b>Sucursal:</b></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <select name="SlcDistribuidor" class="form-control input-sm" ng-model="ctrl.Distribuidor" ng-options="D.Nombre for D in ctrl.DistribuidoresList track by D.Clv_Plaza" ng-change="ctrl.GetSucursalList()" validate-on="dirty" required required-message="'Obligatorio.'" ng-disabled="ctrl.ShowSave1">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="SlcSucursal" class="form-control input-sm" ng-model="ctrl.Sucursal" ng-options="S.Nombre for S in ctrl.SucursalList track by S.Clv_Sucursal" ng-change="ctrl.GetEfectivo()" validate-on="dirty" required required-message="'Obligatorio.'" ng-disabled="ctrl.ShowSave1">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label><b>Fecha:</b></label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="InpFecha" class="form-control input-sm" ng-model="ctrl.Fecha" ng-change="ctrl.GetEfectivo()" validate-on="dirty" required required-message="'Obligatorio.'" invalid-message="'Fecha invalida.'" ng-disabled="ctrl.ShowSave1">
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Efectivo disponible:</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <input type="number" name="InpEfeDis" class="form-control input-sm" ng-model="ctrl.EfeDis" ng-disabled="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Cometra:</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <input type="number" name="InpCometra" class="form-control input-sm" ng-model="ctrl.Cometra" validate-on="dirty" min="0" validator="(ctrl.Cometra >= 0 && ctrl.Diferencia >= 0)" invalid-message="'Cantidad invalida.'">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="InpCometraF" class="form-control input-sm" ng-model="ctrl.CometraF" validate-on="dirty" required required-message="'Obligatorio.'" invalid-message="'Fecha invalida.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Depósito Bancario:</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <input type="number" name="InpDepBanc" class="form-control input-sm" ng-model="ctrl.DepBanc" validate-on="dirty" min="0" validator="(ctrl.DepBanc >= 0 && ctrl.Diferencia >= 0)" invalid-message="'Cantidad invalida.'">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="InpDepBancF" class="form-control input-sm" ng-model="ctrl.DepBancF" validate-on="dirty" required required-message="'Obligatorio.'" invalid-message="'Fecha invalida.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Corporativo:</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <input type="number" name="InpCoriporativo" class="form-control input-sm" ng-model="ctrl.Coriporativo" validate-on="dirty" min="0" validator="(ctrl.Coriporativo >= 0 && ctrl.Diferencia >= 0)" invalid-message="'Cantidad invalida.'">
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Fecha Inicial:</b></label>
                    </div>
                    <div class="col-md-4">
                         <input type="date" name="InpCoriporativoF" class="form-control input-sm" ng-model="ctrl.CoriporativoF" validate-on="dirty" validator="ctrl.FechaCorporativoFin.getTime() >= ctrl.CoriporativoF.getTime()" required required-message="'Obligatorio.'" invalid-message="'Fecha invalida.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Fecha Final:</b></label>
                    </div>
                    <div class="col-md-4">
                         <input type="date" name="InpFechaCorporativoFin" class="form-control input-sm" ng-model="ctrl.FechaCorporativoFin" validate-on="dirty" validator="ctrl.FechaCorporativoFin.getTime() >= ctrl.CoriporativoF.getTime()" required required-message="'Obligatorio.'" invalid-message="'Fecha invalida.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Recibió en Corporativo:</b></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="InpRecibeCorporativo" class="form-control input-sm" ng-model="ctrl.RecibeCorporativo" validate-on="dirty" ng-required="ctrl.Coriporativo > 0" validator="(ctrl.Coriporativo >= 0 && ctrl.Diferencia >= 0)" invalid-message="'Obligatorio.'" required-message="'Obligatorio.'">
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4" style="font-size:14px">
                        <label><b>Diferencia:</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            <input type="number" name="InpDiferencia" class="form-control input-sm" ng-model="ctrl.Diferencia = ctrl.EfeDis - (ctrl.Cometra + ctrl.Coriporativo + ctrl.DepBanc)" validate-on="dirty" min="0" ng-disabled="true" invalid-message="'Cantidad invalida.'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar departamento" ng-disabled="ctrl.EfeDis <= 0" ng-if="!ctrl.ShowSave2"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Close()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> {{ ctrl.BtnCanTitulo }}</button>
    </div>
</form>