<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Entrega de Efectivo</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Facturación</a> > <a href="#" class="paginaActiva">Entrega de Efectivo</a>
      </small>
    </header>
    <div class="tools">
      <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenEntregaEfectivoAdd()" title="Nueva Entrega de Efectivo"><i class="fa fa-plus"></i> Nueva Entrega de Efectivo</button>
    </div>
  </div>
  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar Entrega de Efectivo</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <label><b>Empresa:</b></label> 
                </div>
                <div class="col-md-3">
                  <label><b>Sucursal:</b></label> 
                </div>
                <div class="col-md-2 col-offset-md-1">
                  <label><b>Fecha Inicio:</b></label> 
                </div>
                <div class="col-md-2">
                  <label><b>Fecha Fin:</b></label> 
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="D.Nombre for D in $ctrl.DistribuidoresList track by D.Clv_Plaza" ng-change="$ctrl.GetSucursalList()">
                      <option value="">Selecciona</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select name="SlcSucursal" class="form-control input-sm" ng-model="$ctrl.Sucursal" ng-options="S.Nombre for S in $ctrl.SucursalList track by S.Clv_Sucursal"  ng-change="$ctrl.GetEntregaEfeList(1)">
                      <option value="">Selecciona</option>
                  </select>
                </div>
                <div class="col-md-2 col-offset-md-1">
                  <input type="date" name="InpFecha" class="form-control input-sm" ng-model="$ctrl.Fecha">
                </div>
                <div class="col-md-2">
                  <input type="date" name="InpFechaFin" class="form-control input-sm" ng-model="$ctrl.FechaFin">
                </div>
                <div class="col-md-2 text-right">
                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.GetEntregaEfeList(3);" title="Buscar por Colonia "><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><b>Id</b></th>
                        <th><b>Fecha</b></th>
                        <th><b>Sucursal</b></th>
                        <th><b>Efectivo Disponible</b></th>
                        <th><b>Diferencia</b></th>
                        <th colspan="2"><b>Acciones</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="X in $ctrl.EntregaEfeList|itemsPerPage:7">
                        <td>{{ X.IdEntrega}}</td>
                        <td>{{ X.Fecha }}</td>
                        <td>{{ X.Sucursal}}</td>
                        <td>{{ X.EfectivoDisponible | currency}}</td>
                        <td>{{ X.Diferencia | currency}}</td>
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="$ctrl.OpenEntregaEfectivoView(X.IdEntrega)" title="Consultar Entrega"><i class="fa fa-eye"></i> Consultar</button>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="$ctrl.OpenEntregaEfectivoUpdate(X.IdEntrega)" title="Editar Entrega"><i class="fa fa-edit"></i> Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="margin-top:-40px;">
                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
            </div>
        </div>
    </div>
</div>