<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Facturación Global</strong>
            <br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a> > <a href="#" class="paginaActiva">Facturación
                    Global</a>
            </small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.SetTipoFac();" title="Crear Nueva Factura Global"><i class="fa fa-plus"></i> nuevo</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4><b><i class="fa fa-search"></i> Filtros de búsqueda:</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-1">
                    <b>Distribuidor:</b>
                </div>
                <div class="col-md-3">
                    <select name="SlcDistribuidor" class="form-control input-sm" ng-model="$ctrl.Distribuidor" ng-options="item as item.razon_social for item in $ctrl.DistribuidorList track by item.id_compania" ng-change="$ctrl.GetFacGloList(4)">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <b>Serie:</b>
                </div>
                <div class="col-md-2">
                    <input type="text" name="InpSearchSerie" class="form-control input-sm" ng-model="$ctrl.Serie" placeholder="Serie">
                </div>
                <div class="col-md-1">
                    <b>Folio:</b>
                </div>
                <div class="col-md-2">
                    <input type="number" name="InpSearchFolio" class="form-control input-sm" ng-model="$ctrl.Folio" placeholder="Folio">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetFacGloList(0)" title="Buscar por folio"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="col-md-1">
                    <b>Fecha:</b>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="date" name="InpSearchFecha" class="form-control input-sm" ng-model="$ctrl.Fecha">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetFacGloList(1);" title="Buscar por fecha"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <b>Sucursal:</b>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="InpSearchSucursal" class="form-control input-sm" ng-model="$ctrl.Sucursal" placeholder="Sucursal">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.GetFacGloList(2);" title="Buscar por sucursal"><i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br><br>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>IdFactura</b></th>
                            <th><b>Serie</b></th>
                            <th><b>Factura</b></th>
                            <th><b>Fecha</b></th>
                            <th><b>Importe</b></th>
                            <th><b>Distribuidor</b></th>
                            <th><b>Cajera(o)</b></th>
                            <th><b>Cancelada</b></th>
                            <th colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!$ctrl.ViewList">
                            <td class="text-center" colspan="10">SIN REGISTROS</td>
                        </tr>
                        <tr dir-paginate="X in $ctrl.FacGloList|itemsPerPage:7" ng-show="$ctrl.ViewList">
                            <td>{{ X.IdFactura}}</td>
                            <td>{{ X.Serie }}</td>
                            <td>{{ X.factura }}</td>
                            <td>{{ X.fechai }}</td>
                            <td class="text-right">{{ X.importe | currency }}</td>
                            <td>{{ X.Nombre }}</td>
                            <td>{{ X.cajera }}</td>
                            <td>{{ X.cancelada }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.OpenFacGloView(X)" title="Consultar Factura"><i class="fa fa-eye"></i> CONSULTAR</button></td>
                            <!--
                            <td><button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.OpenFacGloReFacturar(X)" title="Refacturar Factura"><i class="fa fa-pencil-square-o"></i> REFACTURAR</button></td>
                            -->
                            <td><button type="button" class="btn btn-success  btn-xs" ng-click="$ctrl.Reimprimir(X.IdFactura)" title="Reimprimir Factura"><i class="fa fa-print"></i> REIMPRIMIR</button></td>
                            <!--
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.OpenFacGloCancelar(X)" title="Cancelar Factura"><i class="fa fa-ban"></i> CANCELAR</button></td>
                            -->
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
                    <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.FacGloList.length > 0">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
</div>