<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
     <h4 class="modal-title">Detalle Reporte de Falla</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
	<div class="row" style="padding-left:10px; padding-right: 10px;">
  		<iframe  id="reporteURL" style="width: 100%; height: 800px;"></iframe>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
</div>
