<style>
	.form-group .control-label {
    font-size: 12px;
     opacity: 1;
    margin-bottom: 0;
}
</style>
<form name="FormDatosPersonales" angular-validator-submit="ctrl.ok()" novalidate angular-validator autocomplete="off">
	<div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">X</button>
        <h4 class="modal-title"><strong>Importe total a pagar: {{ ctrl.monto | currency }}</strong></h4>
    </div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="textinput">Pago en Efectivo</label>
				<div class="col-md-4">
					<input type="number" name="Inpefectivo" step="any" class="form-control input-sm" ng-model="ctrl.efectivo" ng-change="ctrl.cambioEfectivo()">
					<br>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="textinput">Pago en Cheque</label>
				<div class="col-md-4">
					<input type="number" name="InpdineroCheque" step="any" min="0" class="form-control input-sm" ng-change="ctrl.cambioCheque()" ng-model="ctrl.dineroCheque">
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-5 control-label text-right">Banco</div>
				<div class="col-md-4" >
					<select name="SlcBancoCheque" class="form-control input-sm" ng-model="ctrl.selectedBancoCheque" ng-options="v.nombre for v in ctrl.bancos track by v.Clave" validate-on="dirty" validator="(ctrl.CaseCheque == true && ctrl.selectedBancoCheque.Clave > 0) || (ctrl.CaseCheque == false)" invalid-message="'Obligatorio'">
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Número de Cheque</label>
				<div class="col-md-4" >
					<input name="InpnumeroCheque" type="number" class="form-control input-sm" ng-model="ctrl.numeroCheque" min="1" validate-on="dirty" ng-required="ctrl.CaseCheque == true" required-message="'Obligatorio'" invalid-message="'Inválido.'">
					<br>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Pago con tarjeta</label>
				<div class="col-md-4">
					<input name="InpdineroTransferencia" type="number" step="any" min="0" ng-model="ctrl.dineroTransferencia" ng-change="ctrl.cambioTransferencia()" class="form-control input-sm">
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Tarjeta</label>
				<div class="col-md-4" >
					<select name="SlcTarjeta" class="form-control input-sm" ng-model="ctrl.selectTarjeta" validate-on="dirty" validator="(ctrl.CaseTransferencia == true && ctrl.selectTarjeta != '') || (ctrl.CaseTransferencia == false)" invalid-message="'Obligatorio.'">
						<option value="">-------</option>
						<option value="1">Debito</option>
						<option value="0">Crédito</option>
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Banco</label>
				<div class="col-md-4" >
					<select name="SlcBancoTransferencia" class="form-control input-sm" ng-model="ctrl.selectedBancoTransferencia" ng-options="v.nombre for v in ctrl.bancos track by v.Clave" validate-on="dirty" validator="(ctrl.CaseTransferencia == true && ctrl.selectedBancoTransferencia.Clave > 0) || (ctrl.CaseTransferencia == false)" invalid-message="'Obligatorio.'">
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Número de Cuenta</label>
				<div class="col-md-4" >
					<input type="text"
					name="cuentaTransferencia" 
					ng-model="ctrl.cuentaTransferencia"
					ui-mask="9999"  
					ui-mask-placeholder-char=" "
					class="form-control input-sm"
					validate-on="dirty" ng-required="ctrl.CaseTransferencia == true" required-message="'Obligatorio'"
					invalid-message="'Inválido.'">
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Autorización</label>
				<div class="col-md-4" >
					<input type="text"
					name="autorizacionTransferencia"
					ui-mask-placeholder-char=" "
					ui-mask="9999?9"
					ng-model="ctrl.autorizacionTransferencia" class="form-control input-sm"
					validate-on="dirty" ng-required="ctrl.CaseTransferencia == true" required-message="'Obligatorio'"
					invalid-message="'Inválido.'">
					<br>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">No. Nota de Crédito</label>
				<div class="col-md-4">
					<input name="InpdineroCredito" type="number" step="any" ng-model="ctrl.dineroCredito" ng-keyup="ctrl.cambioCredito()" class="form-control input-sm">
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Pago en Nota de Crédito</label>
				<div class="col-md-4" >
					<input name="InppagoNota" type="number" step="any" ng-model="ctrl.pagoNota" disabled class="form-control input-sm">
					<br>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Pago con Transferencia Bancaria:</label>
				<div class="col-md-4">
					<input type="number" name="InpGLOTRANSFERENCIA" class="form-control input-sm" ng-model="ctrl.GLOTRANSFERENCIA" step="any" min="0" ng-change="ctrl.cambioTransBancaria()" >
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Banco</label>
				<div class="col-md-4" >
					<select name="SlcBancoTRANSFERENCIA" class="form-control input-sm" ng-model="ctrl.BancoTRANSFERENCIA" ng-options="TB.nombre for TB in ctrl.bancos track by TB.Clave" validate-on="dirty" validator="(ctrl.CaseTransBancaria == true && ctrl.BancoTRANSFERENCIA.Clave > 0) || (ctrl.CaseTransBancaria == false)" invalid-message="'Obligatorio.'">
					</select>
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Número de Cuenta</label>
				<div class="col-md-4" >
					<input type="text" name="InpNumeroTransferencia" class="form-control input-sm" ng-model="ctrl.NumeroTransferencia" validate-on="dirty" ui-mask-placeholder-char=" " validate-on="dirty" ui-mask="9999" ng-required="ctrl.CaseTransBancaria == true" required-message="'Obligatorio'" invalid-message="'Inválido.'">
				</div>
			</div>
			<div class="col-md-12">
				<label class="col-md-5 control-label text-right" for="">Autorización</label>
				<div class="col-md-4" >
					<input name="InpAutorizacionTRANSFERENCIA" type="number" class="form-control input-sm" ng-model="ctrl.AutorizacionTRANSFERENCIA" min="1" validate-on="dirty" ng-required="ctrl.CaseTransBancaria == true" required-message="'Obligatorio'" invalid-message="'Inválido.'">
					<br>
				</div>
			</div>



			<div class="col-md-6" style="padding-left: 50px;">
				<h4><strong>Cambio: {{ ctrl.cambio | currency }}</strong></h4>
			</div>
			<div class="col-md-6" style="padding-right:50px;">
				<p class="text-right">Total a Abonado: {{ ctrl.TotalAbonado  | currency }}<br/>
				Saldo: {{ ctrl.monto | currency }}</p>
			</div>
		</div>
		<!--
			<legend></legend>
			<div class="row">					
			<label class="col-md-5 control-label" for="">Tarjeta Bancaria </label>
				<div class="col-md-5">
					<select class="form-control input-sm" ng-model="ctrl.selectTarjeta" 
						ng-change="ctrl.cambioTarjeta()">
						<option value="">-------</option>
						<option value="1">Debito</option>
						<option value="0">Crédito</option>
					</select>
				</div>
			</div>
			<div class="row">					
				<label class="col-md-5 control-label" for="">Pago con tarjeta </label>
				<div class="col-md-5">
					<input type="number" step="any" class="form-control input-sm" ng-model="ctrl.montoTarjeta" ng-change="ctrl.cambioTarjeta()">	
				</div>
			</div> -->
	</div>
	<div class="modal-footer">
		<button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
		<button class="btn btn-primary btn-sm" type="submit">Aceptar</button>
		<!--<button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>-->
	</div>
</form>