<form name="FormTipoFacGlobal" angular-validator-submit="ctrl.NewFactura()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title"><i></i> Tipo de Factura Global</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label><b>Selecciona el tipo de Factura Global:</b></label>
                <select name="SlcTipoFacGlo" class="form-control input-sm" ng-model="ctrl.TipoFacGlo" ng-options="item as item.nombre for item in ctrl.TipoFacGloList track by item.clv" validate-on="dirty" required required-message="'Obligatorio'">
                    <option value="">Selecciona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Aceptar" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i> Aceptar</button>
        <button type="button" class="btn btn-default btn-sm" title="Guardar Periodo" ng-click="ctrl.Cancel()" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>