<style>
    table tr{
       height: 20px;
    }
    table tr td{
       padding:5px !important;
    }
    </style>
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title">Selecciona el tipo de Nota de Crédito</h4>
    </div>
    <div class="modal-body">
        <button class="btn btn-default " type="button" ng-click="$ctrl.ok(0)">Nota de Crédito en Efectivo</button>
        <button class="btn btn-default " type="button" ng-click="$ctrl.ok(1)">Nota de Crédito por Contrato</button>        
    </div>
    <div class="modal-footer">
        
    </div>
    