<form name="FormLocalidad" angular-validator-submit="ctrl.save()" novalidate angular-validator autocomplete="off">
        <div class="modal-header">
            <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
            <h4 class="modal-title">Autorización de Bonificación</h4>
        </div>
        <div class="modal-body">
            <h5 class="text-danger text-center">{{ctrl.mensaje}}</h5>
           <div class="row">
               <div class="col-md-12">
                   <label>Usuario</label>
                    <input type="text" class="form-control" required-message="Requerido" validate-on="dirty" required  ng-model="ctrl.usuario">
              </div>
              <div class="col-md-12">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" required-message="Requerido" validate-on="dirty" required  ng-model="ctrl.password">
                </div>
            
           </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm"  title="Guardar" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
        </div>
    </form>