<form name="FormPeriodoFecha" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title"><i></i> Proceso de Bancos</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label><b>Selecciona el último mes pagado:</b></label>
                <br><br>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label><b>Mes:</b></label>
                    </div>
                    <div class="col-md-4">
                        <select name="SlcFecha" class="form-control input-sm" id="Mes" ng-model="ctrl.Mes" validate-on="dirty" required-message="'Obligatorio'" required>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label><b>Año:</b></label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="InpAno" min="1990" maxlength="4" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" class="form-control" ng-model="ctrl.Ano" validate-on="dirty" required-message="'Obligatorio'" required> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Fecha" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i>
            Aceptar</button>
        <button type="button" class="btn btn-default-bright btn-sm" ng-click="ctrl.cancel();" title="Cancelar cambios"><i
                class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>