<form angular-validator-submit="ctrl.ok()" name="myForm" class="form-horizontal" novalidate angular-validator>
    <div class="modal-header">
        <a type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h3 class="modal-title" id="modal-title">Cambio de Domicilio</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12" style="padding-left:30px;">
                <div class="row">
                    <div class="col-md-6">
                        <label>Ciudad</label>
                        <select name="SlcCiudad" class="form-control input-sm"  ng-disabled="ctrl.Detalle" name="ciudad" validate-on="dirty" ng-change="ctrl.changeCiudad()" ng-model="ctrl.selectedCiudad" ng-options="v.nombre for v in ctrl.ciudades track by v.Clv_Ciudad" required-message="'Este campo es obligatorio.'" required="" >
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <label>Localidad</label>
                        <select class="form-control input-sm"
                            ng-change="ctrl.changeLocalidad()"
                            ng-model="ctrl.selectedLocalidad"
                            validate-on="dirty" required-message="'Este campo es obligatorio.'" required=""
                            name="localidad"
                            ng-disabled="ctrl.Detalle"
                            ng-options="v.Nombre for v in ctrl.localidades track by v.Clv_Localidad">
                            <option value="">Selecciona</option>
                         </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Colonia</label>
                        <select class="form-control input-sm"
                            name="colonia" 
                            validate-on="dirty"
                            required-message="'Este campo es obligatorio.'" 
                            required=""  ng-change="ctrl.changeColonia()"
                            ng-model="ctrl.selectedColonia" 
                            ng-options="v.COLONIA for v in ctrl.colonias track by v.CLV_COLONIA"
                            ng-disabled="ctrl.Detalle">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Calle</label>
                        <select class="form-control input-sm"  ng-disabled="ctrl.Detalle" name="calles" validate-on="dirty" required-message="'Este campo es obligatorio.'" required="" ng-model="ctrl.selectedCalle" ng-options="v.Nombre for v in ctrl.calles track by v.Clv_calle" ng-change="ctrl.ResetEntreCalles()">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Número</label>
                        <input type="text" name="numint" ng-disabled="ctrl.Detalle" validate-on="dirty" 
                        required-message="'Este campo es obligatorio.'"
                         required="" class="form-control input-sm" ng-model="ctrl.numero" />
                    </div>
                    <div class="col-md-4">
                        <label>Número Interior</label>
                        <input type="text" 
                        name="InpNumExt"
                        class="form-control input-sm"
                        ng-disabled="ctrl.Detalle"
                        ng-model="ctrl.numeroInterior" />
                    </div>
                    <div class="col-md-4">
                        <label>Teléfono</label>
                        <input type="text"
                        name="InpTelefono"
                        required-message="'Este campo es obligatorio.'" 
                        required="" name="telefono" validate-on="dirty"
                        invalid-message="'Número de telefono no válido.'" 
                        ui-mask="(999) 999-9999" minlength="10" class="form-control input-sm" 
                        ng-disabled="ctrl.Detalle"
                        ng-model="ctrl.telefono" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>Entre calles</label>
                        <div class="input-group">
                            <input type="text" name="InpEntreCalles" class="form-control input-sm" ng-model="ctrl.entreCalles" validate-on="dirty" required required-message="'Este campo es obligatorio.'" ng-disabled="true">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="ctrl.OpenEntreCalles()" title="Buscar" ng-disabled="ctrl.selectedCalle == null && ctrl.selectedCalle == undefined"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                        <!--
                        <input type="text" 
                        name="entreCalles"
                        class="form-control"
                        required-message="'Este campo es obligatorio.'"
                        validate-on="dirty"
                        required=""
                        ng-disabled="ctrl.Detalle"
                        ng-model="ctrl.entreCalles" />
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" ng-click="ctrl.cancel()">Cancelar</a>
        <button class="btn btn-primary btn-sm" ng-disabled="ctrl.Detalle" type="submit">Aceptar</button>
    </div>
</form>