<div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title">{{ctrl.title}}</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="padding-left:10px; padding-right: 10px;">
            
        <table class="table">
            <thead>
                    <th>Artículo</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in ctrl.lista">
                    <td>{{x.Articulo}}</td>
                    <td>{{x.cantidad}}</td>
                    <td>{{x.monto | currency}}</td>
                </tr>
            </tbody>
          
        </table>
      </div>
      <div class="row">
          <div class="col-md-4">
              <button class="btn btn-default btn-sm" ng-click="ctrl.MuestraConvenio()"><i class="fa fa-money"></i> Realizar Convenio</button>
          </div>
          <div class="col-md-4 col-md-offset-4">
              <h4 class="text-danger">Total: {{ctrl.total| currency}}</h4>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">cerrar</button>
    </div>