 
    <div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Atención</h4>
    </div>
    <div class="modal-body">
           <h2>¿Deseas revertir el proceso que genero el ticket al que se esta aplicando la nota de crédito?</h2>
    </div>
    <div class="modal-footer">
            <button class="btn btn-warning " type="button" ng-click="$ctrl.ok()">Si, revertir</button>
            <button class="btn btn-default" type="button" ng-click="$ctrl.Cancel()">No revertir</button> 
    </div>
