<form name="FormModalFacGlobal" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title"><i></i> {{ ctrl.Title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <fieldset ng-disabled="ctrl.ViewForm">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label><b>Fecha:</b></label>
                    <input type="date" name="InpSearchFechaI" class="form-control input-sm" ng-model="ctrl.FechaI" validate-on="dirty" required required-message="'Obligatorio'" ng-change="ctrl.GetInporteFacGlo()">
                </div>
                <div class="col-md-6" ng-if="ctrl.TipoFacGlo == 1">
                    <label><b>Fecha Final:</b></label>
                    <input type="date" name="InpSearchFechaF" class="form-control input-sm" ng-model="ctrl.FechaF" validate-on="dirty" required required-message="'Obligatorio'" ng-change="ctrl.GetInporteFacGlo()">
                </div>
            </div>
            <br><br><br><br>
            <div class="col-md-12">
                <div class="card" style="padding: 10px; background-color: #e3e3e3;">
                    <b>Factura Global</b>
                    <br><br>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-sm-6" style="text-align: center;">
                                <label><b>Cajero(a):</b></label>
                            </div>
                            <div class="col-sm-6" style="text-align: center;">
                                <label><b>Importe:</b></label>
                            </div>
                            <div class="col-sm-6" style="text-align: center;">
                                <input type="text" name="InpCajero" class="form-control input-sm" ng-model="ctrl.CajaNombre" disabled>
                            </div>
                            <div class="col-sm-6" style="text-align: center;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="number" name="InpImporte" class="form-control input-sm" ng-model="ctrl.Total" min="1" validate-on="dirty" required invalid-message="'Inválido, el importe debe ser mayor a 0.'" required-message="'Obligatorio'" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Periodo" ng-show="!ctrl.ViewForm"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" title="Guardar Periodo" ng-click="ctrl.cancel()" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>