<form name="FormLocalidad" angular-validator-submit="ctrl.Guarda()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Bonificaciones</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label><b>Servico a Bonificar:</b></label>
                </div>
                <div class="col-md-8">
                    <label><b>{{ctrl.descripcion}}</b></label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-8">
                    <label><b>Importe:</b></label>
                </div>
                <div class="col-md-4">
                        <span class="input-group-addon" style="position: absolute;padding-left: 0;
                            padding-right: 0px;margin-right: 50px;"><i class="fa fa-usd fa-lg"></i></span>
                            <div class="input-group" style="margin-left: 15px;
                            position: relative; display: table;
                            border-collapse: separate;">
                            <input type="number" name="importe" validate-on="dirty"  invalid-message="'Cantidad incorrecta'" min="0" max={{ctrl.totalConcepto}} value="importeBonificar"  ng-model="importeBonificar" class="form-control input-sm" >
                            </div>
                </div>
                <div class="col-md-8">
                    <label><b>Numero de Días a bonificar:</b></label>
                </div>
                <div class="col-md-4">
                        <input type="number" name="diasbonificar"  validate-on="dirty"  invalid-message="'Cantidad incorrecta'" min="0" max="{{ctrl.dias}}" value="value" ng-model="value" class="form-control input-sm" >
                </div>
                <div class="col-md-8">
                        <label><b>Importe máximo a bonificar:</b></label>
                    </div>
                    <div class="col-md-4">
                           <h5 class="text-danger"> {{ctrl.totalConcepto | currency}}</h5>
                    </div>
                <div class="col-md-8">
                    <label><b>Importe Bonificado:</b></label>
                </div>

                <div class="col-md-4">
                    <span class="input-group-addon" style="    
                    position: absolute;
                    padding-left: 0;
                    padding-right: 0px;
                    margin-right: 50px;"><i class="fa fa-usd fa-lg"></i></span>
                        <div class="input-group" style="margin-left: 15px;
                        position: relative;
                        display: table;
                        border-collapse: separate;">                                                  
                        <input type="text" name="InpImporteBon" ng-disabled="true" class="form-control input-sm" ng-model="ctrl.totalABonificar">
                                </div>
                </div>

            </div>
            <div class="col-md-5">
                <label><b>Motivo de Bonificacion:</b></label>
                <textarea name="TxaMotivo"  validate-on="dirty" required class="form-control input-sm" ng-model="ctrl.Motivo" rows="5"></textarea>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!ctrl.totalABonificar > 0" title="Guardar" ng-show="!ctrl.ShowSave"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>