<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Historial de Reportes de Fallas</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" ng-model="ctrl.selectServicio" ng-change="ctrl.changeSelect()" ng-options="v.Concepto for v in ctrl.serviciosCliente track by v.Clv_TipSerPrincipal"></select>
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-model="ctrl.selectStatus" ng-change="ctrl.changeSelect()">
                <option value="E">Ejecutadas</option>
                <option value="P">Pendientes</option>
                <option value="V">Visita</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Búsqueda por no. reporte" ng-model="ctrl.search">
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <td><b># Reporte</b></td>
                <td><b>Status</b></td>
                <td><b>Contrato</b></td>
                <td><b>Nombre</b> </td>
                <td><b>Calle</b></td>
                <td><b>Consultar</b></td>
                <td><b>Agenda</b></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="ctrl.sinDatos">
                <td colspan="6"><p class="text-center">El cliente no cuenta con reportes</p></td>
            </tr>
            <tr  dir-paginate="x in ctrl.reportes|orderBy:ctrl.sortKey:reverse|filter:ctrl.search|itemsPerPage:5">
                <td>{{ x.Clv_Queja }}</td>
                <td>{{ x.Status }}</td>
                <td>{{ x.Nombre }}</td>
                <td>{{ x.CALLE }}</td>
                <td>{{ x.NUMERO }}</td>
                <td class="text-center"><button class="btn btn-default btn-sm" ng-click="ctrl.singleQueja(x.Clv_Queja)"><i class="fa fa-eye" aria-hidden="true"></i> Ver</button></td>
                <td class="text-center"><button title="Consultar Agenda" type="button" class="btn btn-info btn-sm" ng-if="x.Agenda" ng-click="ctrl.MuestraAgenda(x.Clv_Queja)"><i class="fa fa-calendar"></i> Agenda</button></td>
            </tr>
        </tbody>
    </table>
    <div style="padding-left: 20px;">
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
</div>
