<form name="FormPeriodo" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title"><i></i> Periodo</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label><b>Selecciona Periodo:</b></label>
                <select name="SlcPeriodo" class="form-control input-sm" ng-model="ctrl.Periodo" ng-options="item as item.Descripcion for item in ctrl.PeriodoList track by item.Clv_Periodo" validate-on="dirty" required required-message="'Obligatorio'">
                    <option value="">Selecciona Periodo</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Periodo" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" title="Guardar Periodo" ng-click="ctrl.Cancel()" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>