<form name="FormPägosRealizados" angular-validator-submit="ctrl.Save()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title"><i></i> Pagos Realizados con esta Nota de Crédito</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="10%" style="text-align: center;"><b>Ticket</b></th>
                            <th width="10%" style="text-align: center;"><b>Monto</b></th>
                            <th width="10%" style="text-align: center;"><b>Fecha de Generación</b></th>
                            <th width="10%" style="text-align: center;"><b>Folio Nota de Crédito</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">{{ X.Estado }}</td>
                            <td style="text-align: center;">{{ X.Clv_SessionBancos }}</td>
                            <td style="text-align: center;">{{ X.fecha }}</td>
                            <td style="text-align: center;">{{ X.fecha }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Periodo" ng-show="!ctrl.InpDes"><i class="glyphicon glyphicon-floppy-disk"></i>
            Guardar</button>
        <button type="button" class="btn btn-default btn-sm" title="Guardar Periodo" ng-click="ctrl.Cancel()" ng-show="!ctrl.InpDes"><i
                class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div> -->
</form>