    <div class="modal-header">
      <button class="close" aria-label="Close" type="button"  ng-click="ctrl.cancel()">×</button>
      <h4 class="modal-title"><i class="fa fa-thumb-tack"></i> Factura  </h4>
    </div>
    <div class="modal-body" >
        <iframe src="{{ctrl.urlReal}}" width="850" height="500"></iframe>
  </div>
  <div class="modal-footer">
   
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">cerrar</button>
  </div>
