<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <a href="" ng-click="ctrl.printDiv('printTicket')" style="color:#2196f3;" ng-show="ctrl.mostrarImprimir"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
	<h4 class="modal-title"> Listado de Clientes con Cargo Automático</h4>  
</div>
<div class="modal-body" >
	<iframe ng-src="{{ ctrl.FileName }}" style="width: 100%; height: 550px;" ng-disabled="true"></iframe>

</div>
