<div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title">Convenio de Material</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="padding-left:10px; padding-right: 10px;">   
          <label>Contrato</label>
          <input type="text" disabled ng-model="ctrl.contrato" class="form-control">
          <label>Importe Total</label>
          <input type="text" disabled ng-model="ctrl.importe" class="form-control">    
          <label>No.Pagos</label>
          <input type="number"  ng-model="ctrl.numPagos" class="form-control">         
          <label>Importe por Mes</label>
          <input type="number"  ng-model="ctrl.importeMes" class="form-control">   
      </div>      
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" type="button" ng-click="ctrl.aceptar()">Guardar</button>
        <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">cerrar</button>
    </div>