<div class="modal-header">
    <h4 class="modal-title"><i></i> Cancelar Factura Globlal</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <b><p>¿Esta seguro de que deseas refacturar la Factrua Global {{ ctrl.IdFactura }}?</p></b>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success btn-sm" title="Refacturar Factura Global" ng-click="ctrl.ReFacturar()"><i class="fa fa-pencil-square-o"></i> Refacturar</button>
    <button type="button" class="btn btn-default btn-sm" title="Salir" ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i> Salir</button>
</div>