<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }
</style>
<form name="FormDocumento" angular-validator-submit="ctrl.SaveDocument()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <a href="" ng-click="ctrl.printDiv('printTicket')" style="color:#2196f3;" ng-show="ctrl.mostrarImprimir"><i
                class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
        <h4 class="modal-title"> Seleccionar archivo a afectar</h4>
    </div>
    <div class="modal-body">

        <div class="col-md-12 has-error" ng-if="FormDocumento.InpEvidencia.$invalid && ctrl.TouchFile == true">
            <label class="control-label has-error validationMessage" ng-if="FormDocumento.InpEvidencia.$invalid && ctrl.TouchFile == true">
                Aun no has seleccionado algún archivo.
            </label>
        </div>
        <div class="fileUpload btn btn-default btn-sm btn-block">
            <span><i class="fa fa-file"></i> Buscar</span>
            <input type="file" name="InpEvidencia" class="upload" accept=".txt" ng-model="ctrl.File" file-model="ctrl.Evidencia"
                validate-on="dirty" validator="ctrl.Evidencia != undefined && ctrl.Evidencia != null" required-message="''"
                invalid-message="''">
        </div>
    </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-sm" ng-click="ctrl.TouchFile=true"><i class="fa fa-save"></i>
            Aceptar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()"><i class="glyphicon glyphicon-log-out"></i>
            Cancelar</button>
    </div>

</form>