<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Notas de Crédito</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio</a> >
        <a href="#" class="paginaActiva">Notas de Crédito</a>
      </small>
    </header>
    <div class="tools">
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm" permission permission-only="'clientesAdd'" ui-sref="home.catalogos.notacredito_nuevo"
          title="Crear una nota de crédito">
          <i class="fa fa-plus"></i> nuevo</button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header>
            <i class="fa fa-search"></i> Buscar</header>
          <div class="tools">
            <a class="btn btn-icon-toggle">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>

        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-1">
                <b>Plaza:</b>
              </div>
              <div class="col-md-3">

                <select name="SlcPlaza" class="form-control input-sm" ng-change="$ctrl.getSucursales();$ctrl.buscaNotas(10)" ng-model="$ctrl.plaza"
                  ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania">
                  <option value="">Selecciona</option>
                </select>

              </div>

              <div class="col-md-1">
                <b>Sucursal:</b>
              </div>
              <div class="col-md-3">

                <select name="SlcSucursal" class="form-control input-sm" ng-model="$ctrl.sucursal" ng-change="$ctrl.buscaNotas(4)" ng-options="item as item.Nombre for item in $ctrl.sucursales track by item.Clv_Sucursal">
                  <option value="">Selecciona</option>
                </select>

              </div>

            </div>
            <br>
            <div class="row">

              <div class="col-md-1">
                <b>No.Nota:</b>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="number" name="clv_nota" class="form-control input-sm" ng-model="$ctrl.clv_nota" placeholder="Nota de Crédito">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.buscaNotas(1)" title="Buscar por nota de crédito">
                      <i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </span>
                </div>
              </div>

              <div class="col-md-1">
                <b>Fecha:</b>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="date" name="InpSearchFecha" class="form-control input-sm" ng-model="$ctrl.Fecha" placeholder="Fecha">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-xs"
                    ng-click="$ctrl.buscaNotas(2)"
                    title="Buscar por fecha">
                      <i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </span>
                </div>
              </div>

              <div class="col-md-1">
                <b>Contrato:</b>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="text" name="InpSearchCpntrto" class="form-control input-sm" ng-model="$ctrl.contrato" placeholder="Contrato">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-xs" ng-click="$ctrl.buscaNotas(3);" title="Buscar por contrato">
                      <i class="glyphicon glyphicon-search"></i> BUSCAR</button>
                  </span>
                </div>
              </div>

            </div>

          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->
    </div>



    <div class="row">

      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                <b>Folio Nota de Crédito</b>
              </th>
              <th>
                <b>Contrato</b>
              </th>
              <th>
                <b>Fecha</b>
              </th>
              <th>
                <b>Monto</b>
              </th>
              <th>
                <b>Saldo</b>
              </th>
              <th>
                <b>Status</b>
              </th>
              <th>
                <b>Ticket</b>
              </th>
              <th >
                <b>Acciones</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <!--
                        <tr dir-paginate="X in $ctrl.MotivoReimpresionFList|itemsPerPage:7">
                        -->
            <tr dir-paginate="X in $ctrl.notas|itemsPerPage:7" >
              <td>{{ X.Clv_NotadeCredito}}</td>
              <td>{{X.ContratoComp}}</td>
              <td>{{ X.FechaGeneracion }}</td>
              <td>{{ X.Monto | currency }}</td>
              <td>{{ X.Saldo | currency }}</td>
              <td>{{ X.Status }}</td>
              <td>{{ X.SerieFolio }}</td>

              <td>
                <button type="button" class="btn btn-info btn-xs"
                ui-sref="home.catalogos.notacreditoDetalle({ id:  X.Clv_NotadeCredito})"
                  title="Consultar Nota de Crédito">
                  <i class="fa fa-eye"></i> CONSULTAR</button>
                  <button type="button" class="btn btn-success  btn-xs" ng-click="$ctrl.reimprime(X)"
                  title="Reimprimir Nota de Crédito">
                  <i class="fa fa-print"></i> REIMPRIMIR</button>
              </td>
              <!-- <td>
                <button type="button" class="btn btn-success btn-xs" permission permission-only="'motivosreimpresionfacturaUpdate'" ng-click="$ctrl.UpdateMotivoReimpFact(X.Clv_motivo)"
                  title="Refacturar Nota de Crédito">
                  <i class="fa fa-pencil-square-o"></i> REFACTURAR</button>
              </td>
              <td>
                
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-xs" permission permission-only="'motivosreimpresionfacturaUpdate'" ng-click="$ctrl.UpdateMotivoReimpFact(X.Clv_motivo)"
                  title="Cancelar Nota de Crédito">
                  <i class="fa fa-ban"></i> CANCELAR</button>
              </td> -->
            </tr>
          </tbody>
        </table>
        <br>
        <div style="margin-top:-40px;">
          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ClienteList.length > 0">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
