<style type="text/css">
  .table-scroll {
    height: 150px;
    overflow: auto;
  }

  .esmeralda {
    background-color: #DDEAE9;
  }

  .contenedor {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }

  .scrollDiv2 {
    height: 180px;
    overflow: auto;
    overflow-x: hidden;
  }

</style>

<form angular-validator-submit="$ctrl.GuardaNota()" name="PregumntaForm" novalidate angular-validator>

  <div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Nueva Nota de Crédito</strong>
        <br>
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>>
          <a href="#" class="paginaActiva">Notas de Crédito
          </a>
        </small>
      </header>
      <div class="tools">

        <button type="submit"
        
        class="btn btn-success btn-sm" ng-disabled="$ctrl.detalle" >
          <i class="fa fa-check"></i> Guardar</button>       
        <button type="button" class="btn btn-default-bright btn-sm"  onclick="window.history.back();" title="Cancelar cambios">
          <i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
      </div>
      <div class="tools">
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="padding: 10px; background-color: #ffffff;">
            <div class="col-md-12">
              <div class="col-md-3">
                <h4 style="color: #f44336;font-weight:bold;" ng-if="$ctrl.tipoNota == 0"><b>Nota de Credito en Efectivo</b></h4>
                <h4 style="color: #f44336;font-weight:bold;" ng-if="$ctrl.tipoNota == 1"><b>Nota de Credito por Contrato</b></h4>
               <!--  <label>
                  <b>Empresa:</b>
                </label>
                <br>
                <label>
                  <b>Region:</b>
                </label> -->
              </div>
              <div class="col-md-3" style="text-align: center;">
                <div class="form-group">

                  <div class="input-group">
                    <div class="input-group-content">
                      <label for="Firstname5" style="opacity: 0.5;" class="col-sm-4 ">Contrato</label>
                      <div class="col-sm-8">
                        <input name="contrato" class="form-control input-sm" type="text" ng-model="$ctrl.contrato" model-view-value="true" validate-on="dirty"
                          placeholder="Ingresa contrato" ng-keyup="$ctrl.buscarContrato($event)" ng-required="!$ctrl.blockContrato" >
                      </div>
                    </div>
                    <div class="input-group-btn">
                      <button type="button" title="Buscar cliente" ng-click="$ctrl.ModalClientes()" class="btn ink-reaction btn-floating-action btn-sm btn-default">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3" >
                  <div class="col-md-12">
                        <div class="col-md-6">
                                <b>Nota de Crédito:</b>
                          </div>
                          <div class="col-md-6">                              
                                {{ $ctrl.Clv_NotadeCredito }}
                          </select>
                      </div>
                  </div>                    
              </div>
              <div class="col-md-3">
                  <div class="col-md-6">
                      <b>Status:</b>
                </div>
                <div class="col-md-6">
                      <select disabled class="form-control input-sm"                             
                      ng-model="$ctrl.estatus" name="status" 
                      ng-options="item as item.Status for item in $ctrl.estatusNota track by item.Clv_Status">
                      <option value="">Selecciona</option>                              
                </select>
                </div>

              </div>
            </div>
          </div>

          <div class="card" style="padding: 10px; background-color: #e3e3e3;">
              <div class="col-md-3">
                <div class="col-md-12" style="font-size:12px;">
                  <h4><b>Contrato: </b> {{$ctrl.contrato}}</h4>
                  <h4>
                    <b>Nombre: </b>
                    <b>{{$ctrl.datosCli.NOMBRE}}</b>
                  </h4>
                  <p>
                    <b>Dirección : </b>{{$ctrl.datosCli.CALLE}}
                    <b>#:</b>{{$ctrl.datosCli.NUMERO}} Col.{{$ctrl.datosCli.COLONIA}} {{$ctrl.datosCli.CIUDAD}}</p>
                  <p>
                    <b>Solo Internet: </b>
                    <input type="checkbox" name="SoloInt"> &nbsp; &nbsp; &nbsp;
                    <b>Es Hotel: </b>
                    <input type="checkbox" name="EsHotel">
                  </p>
                </div>
                <div class="col-md-12 text-center" style="font-size:14px; color: black;">
                  <b>Servicios Asignados:</b>
                  <div class=" card wrapper scrollDiv2 text-center" style="background-color: rgb(255, 255, 255);">
                    servicios.
                    <p ng-repeat="x in $ctrl.ServiciosCliente" style="font-size:10px;">{{x.Servicio}}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="col-md-12 text-center">
                  <h4>Selecciona Ticket</h4>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Ticket: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <select ng-change="$ctrl.GetObtieneDatosTicket()"
                     class="form-control input-sm" 
                     ng-model="$ctrl.factura"
                     ng-disabled="$ctrl.detalle"
                      name="factura" required-message="'Este campo es obligatorio'"
                      ng-required="true" validate-on="dirty" ng-options="item as item.Serie for item in $ctrl.facturas track by item.Clv_factura">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Sucursal donde se aplica la Nota de Crédito: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <select name="sucursal" 
                    ng-disabled="$ctrl.detalle"
                    required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      ng-model="$ctrl.sucursal" ng-change="$ctrl.obtieneCajas()" ng-options="item as item.Nombre for item in $ctrl.sucursales track by item.Clv_Sucursal">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Caja: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <select name="caja"
                    ng-disabled="$ctrl.detalle"
                    required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      ng-model="$ctrl.caja" ng-options="item as item.Descripcion for item in $ctrl.cajas track by item.Clave">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                </div>
              <!--   <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Cajero: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <select name="cajero" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      ng-model="$ctrl.cajero" ng-options="item as item.Nombre for item in $ctrl.cajeros track by item.Clave">
                      <option value="">Selecciona</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Fecha de generación: </b>
                    </label>

                  </div>
                  <div class="col-md-6">
                    <label>{{$ctrl.fechaGeneracion}}</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Fecha Caducidad: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <input type="date"
                    ng-disabled="$ctrl.detalle"
                    required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" name="fechacaducidad"
                      class="form-control input-sm" ng-model="$ctrl.fechaCaducidad" placeholder="Fecha">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Usuario que realiza Nota de Crédito: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <b>{{$ctrl.usuarioRealiza}}</b>
                    <!--   <select name="SlcPlaza" class="form-control input-sm" ng-model="$ctrl.servicio" ng-options="item as item.descripcion for item in $ctrl.TrabajoList track by item.clv_trabajo">
                                                    <option value="">Selecciona</option>
                                                </select> -->
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>Observaciones: </b>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <textarea class="form-control" 
                    ng-disabled="$ctrl.detalle"
                    name="observaciones" rows="3" ng-model="$ctrl.Observaciones" id="comment"></textarea>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="col-md-12 text-center">
                  <h4>Detalle del Ticket</h4>
                </div>

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th width="60%" style="text-align: center;">
                        <b>DESCRIPCIÓN</b>
                      </th>
                      <th width="20%" style="text-align: center;">
                        <b>IMPORTE PAGADO</b>
                      </th>
                      <th width="20%" style="text-align: center;" ng-show="!$ctrl.detalle">
                        <b>IMPORTE NOTA</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in $ctrl.conceptos">
                      <td style="text-align: left;">{{ x.Descripcion }}</td>
                      <td style="text-align: right;">{{ x.Importe | currency }}</td>
                      <td ng-show="!$ctrl.detalle" style="    text-align: center;
                                                    display: flex;
                                                    flex-direction: row;
                                                    justify-content: inherit;
                                                    align-items: baseline;">
                        <label>
                          <b>$</b>
                        </label>
                        <input type="number" ng-model="x.ImporteNota" ng-change="$ctrl.cambiaImporteNota(x)" ng-keyup="$ctrl.cambiaImporteNota(x)"
                          class="form-control input-sm"> </td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <h4>
                      <b>MONTO: </b>{{ $ctrl.MONTO | currency}}</h4>
                  </div>
                </div>
              <!--   <div class="col-md-12">
                  <div class="col-md-6 text-right">
                    <label>
                      <b>SALDO: </b>{{ $ctrl.SALDO}}</label>
                  </div>
                </div> -->

              </div>
            
          </div>
        </div>



      </div>
    </div>
  </div>

</form>
