<form angular-validator-submit="$ctrl.ok()" name="contratoForm" novalidate angular-validator>
  <div class="modal-header">
    <button class="close" aria-label="Close" type="button">×</button>
    <h4 class="modal-title"><i class="fa fa-thumb-tack"></i> Conceptos de Factura #{{$ctrl.clave}} </h4>
  </div>
  <div class="modal-body" style="overflow-y: scroll; max-height: 500px;">

    <table class="table" style="font-size:12px;">
      <thead>

        <th style="vertical-align: middle;" colspan="3">Concepto</th>
        <th style="vertical-align: middle;">Importe</th>

        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="x in $ctrl.conceptos">
          <td colspan="3"><input type="text" ng-model="x.Descripcion" required class="form-control input-sm"></td>
          <td>
            <ng-form class="form-group" name="urlForm">
              <label class="col-sm-2 control-label">$</label>
              <div class="col-sm-10">
                <input type="number" name="cant" style="width: 50%" ng-model="x.Importe" class="form-control input-sm" ng-change="$ctrl.calcularmonto()"
                  required min="0" validate-on="dirty">
                <span class="alert error text-danger" ng-show="urlForm.cant.$error.required">campo requerido</span>

              </div>
            </ng-form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <h4 class="text-danger text-left ">Total: {{$ctrl.total | currency}}</h4>
    <button class="btn btn-success btn-sm" ng-disabled="$ctrl.total===0" ng-if="$ctrl.status!=='En espera'" type="submit" ng-click="$ctrl.opcion=1">Guardar conceptos</button>
    <button class="btn btn-danger btn-sm" ng-disabled="$ctrl.total===0" ng-if="$ctrl.status==='Por Facturar' && $ctrl.status!=='En espera'"
      type="submit" ng-click="$ctrl.opcion=2">facturar</button>
    <button class="btn btn-danger btn-sm" ng-disabled="$ctrl.total===0" ng-if="$ctrl.status==='Facturada' && $ctrl.status!=='En espera'"
      type="submit" ng-click="$ctrl.opcion=3">Refacturar</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.cancel()">cerrar</button>
  </div>
</form>
