<div class="row" style="margin-top:10px;">

  <div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Detalle de pago </strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Pago Contratos Maestros</small>
      </header>
      <div class="tools">
        <button class="btn btn-default btn-sm" type="button" ui-sref="home.corporativa.pago">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>
      </div>
    </div>



    <div class="card-body">

      <div class="row" style="padding-left:10px;" ng-style="{'background-color': $ctrl.color}">
        <div class="col-md-3">
          <p class="text-center" style="color:red;" ng-show="$ctrl.showFiscales">EL CLIENTE CUENTA CON DATOS FISCALES</p>
          <p class="text-primary">
            <b>
              <i class="md md-account-box"></i> Detalles del contrato maestro</b>
          </p>
          <p style="font-size: 12px;">
            <b>Contrato: </b>{{ $ctrl.Contratos.IdContratoMaestro }}
            <br/>
            <b>Nombre Comercial: </b>{{ $ctrl.Contratos.NombreComercial }}
            <br/>
            <b>Razón Social: </b>{{ $ctrl.Contratos.RazonSocial }}
          </p>

          <p style="font-size: 12px;">
            <b>Calle: </b>{{ $ctrl.Contratos.CalleDes }}
            <b># Ext: </b>{{ $ctrl.Contratos.NumExt }}
            <b># Int: </b>{{ $ctrl.Contratos.NumInt }}
            <br/>
            <b>Colonia: </b>{{ $ctrl.Contratos.ColoniaDes }}
            <br/>
            <b>Codigo Postal: </b>{{$ctrl.Contratos.CodigoPostal}}
            <br/>
            <b>Estado: </b>{{ $ctrl.Contratos.EstadoDes }}
            <b>Ciudad: </b>{{ $ctrl.Contratos.CiudadDes }}
            <br/>
          </p>
        </div>
        <div class="col-md-5">
          <uib-tabset active="active">
            <uib-tab index="0" heading="Contratos">
              <div class="table-responsive">

                <table st-safe-src="$ctrl.detallePago" st-table="$ctrl.displayCollection" class="table table-bordered">
                  <thead>
                    <tr style="background-color: #B5B6B6;">
                      <th st-sort="ContratoCompuesto" style="font-size: 10px;">Contrato</th>
                      <th st-sort="Nombre" style="font-size: 10px;">Nombre</th>
                      <th st-sort="Importe" style="font-size: 10px;">Monto</th>
                      <th style="font-size: 10px;">Detalle</th>
                    </tr>
                    <tr>
                      <th style="font-size: 10px;">
                        <input st-search="ContratoCompuesto" placeholder="Contrato" class="input-sm form-control" type="search" />
                      </th>
                      <th style="font-size: 10px;">
                        <input st-search="Nombre" placeholder="Nombre" class="input-sm form-control" type="search" />
                      </th>
                      <th style="font-size: 10px;">
                        <input st-search="Importe" placeholder="Monto" class="input-sm form-control" type="search" />
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--      ng-if="x.Importe!=null"-->
                    <tr dir-paginate="x in $ctrl.displayCollection|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:5">
                      <td style="font-size: 9px;">{{ x.ContratoCompuesto }}</td>
                      <td style="font-size: 9px;">{{ x.Nombre }}</td>
                      <td style="font-size: 9px;">{{ x.Importe |currency }}</td>
                      <td style="font-size: 9px;">
                        <button class="btn ink-reaction btn-floating-action btn-xs btn-warning" ng-click="$ctrl.abrirDetalle(x)" data-toggle="tooltip"
                          data-placement="top" title="Detalle" data-original-title="Detalle">
                          <i class="fa fa-list"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="padding-left: 20px;">
                  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                  </dir-pagination-controls>
                </div>
              </div>

            </uib-tab>
            <uib-tab index="1" heading="Detalle">
              <div class="table-responsive" style="overflow-y: scroll; max-height: 350px;">

                <table class="table table-bordered">
                  <thead>
                    <tr style="background-color: #B5B6B6;">
                      <th style="font-size: 10px;">Concepto</th>
                      <th style="font-size: 10px;">Importe</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in $ctrl.detalleFactura">
                      <td style="font-size: 9px;">{{ x.Descripcion }}</td>
                      <td style="font-size: 9px;">{{ x.Importe |currency }}</td>

                    </tr>
                  </tbody>
                </table>

              </div>

            </uib-tab>

          </uib-tabset>
          <p class="btn-group text-right" style="padding-right: 10px;">
            <button class="btn btn-danger btn-sm" ng-click="$ctrl.agregarListaGeneral()">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar a la lista</button>
          </p>
        </div>
        <div class="col-md-4  text-center vertical-center">
          <div class="row">
            <label class="text-primary">
              <b>Conceptos</b>
            </label>
          </div>
          <br>
          <table class="table">
            <tr ng-repeat="x in $ctrl.sumaPagos">
              <td style="font-size: 11px;" ng-if="!$last">
                <strong>{{ x.Descripcion }}</strong>
              </td>
              <td style="font-size: 15px;" ng-if="$last">
                <strong>{{ x.Descripcion }}</strong>
              </td>
              <td style="font-size: 11px;" ng-if="!$last"> {{ x.Total | currency }} </td>
              <td style="font-size: 15px;" ng-if="$last">
                <strong>{{ x.Total | currency }}</strong>
              </td>
            </tr>
          </table>
          <p class="btn-group text-right" style="padding-right: 10px;">
            <button class="btn btn-danger btn-sm" ng-click="$ctrl.PagarCredito($ctrl.saldo, $ctrl.sumaPagos, $ctrl.Contratos,'pagos')"
              ng-disabled="$ctrl.blockPagar">
              <i class="fa fa-money" aria-hidden="true"></i> generar factura</button>
            <button class="btn btn-default-bright btn-sm" ng-disabled="$ctrl.blockedocta" ng-click="$ctrl.edocta()">
              <i class="fa fa-eye" aria-hidden="true"></i> ver estado de cuenta</button>
          </p>
        </div>
      </div>


      <div>

        <div class="row" style="padding-left: 30px; padding-right: 30px;">
          <div class="panel-group" id="datosCliente">
            <div class="card panel" ng-style="{'background-color': $ctrl.color}">

              <div id="datosCliente-1" class="collapse datosCliente" aria-expanded="false">

              </div>
            </div>
          </div>
          <!--end .panel -->
        </div>

      </div>

    </div>

  </div>


</div>
