<div class="card animated fadeIn" style="margin-top:20px;">

  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Facturas preliminares fiscales</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Facturas preliminares fiscales</small>
    </header>
    <div class="tools">

    </div>
  </div>

  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar factura</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="row">

              <div class="col-md-2">
                <p>No.ticket :</p>
                <input type="text" class="form-control input-sm" ng-model="$ctrl.factura">

              </div>
              <div class="col-md-1">
                <br>
                <button class="btn btn-info btn-xs" ng-click="$ctrl.buscar(2);"><i class="fa fa-search"></i> Buscar</button>
              </div>
              <div class="col-md-2">

                <p>No.Contrato:
                  <p>
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.contrato">

              </div>
              <div class="col-md-2">
                <br>
                <button class="btn btn-info btn-xs" ng-click="$ctrl.buscar(4);"><i class="fa fa-search"></i> Buscar</button>

              </div>
              <div class="col-md-2">
                <p>Fecha :</p>
                <input type="date" class="form-control input-sm" ng-model="$ctrl.fecha">

              </div>
              <div class="col-md-1">
                <br>
                <button class="btn btn-info btn-xs" ng-click="$ctrl.buscar(3);"><i class="fa fa-search"></i> Buscar</button>

              </div>
              <div class="col-md-2">
                <br>
                <label class="checkbox-inline checkbox-styled checkbox-danger">
														<input type="checkbox"ng-model="$ctrl.todas" ng-change="$ctrl.buscar(1)"><span>Todos</span>
													</label>


              </div>

            </div>
          </div>
        </div>
        <!-- panel body -->
      </div>
    </div>
    <!--end .panel -->


    <div class="col-md-12">

      <table class="table" style="font-size:13px;">
        <thead>
          <tr>
            <th>No.Factura</th>
            <th>Contrato Maestro</th>
            <th>Fecha generación</th>
            <th>Status</th>
            <th>Ticket</th>
            <th>Importe</th>
            <th>Total abonado</th>
            <th>opciones</th>
          </tr>
        </thead>
        <tbody>

          <tr dir-paginate="x in $ctrl.facturas|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
            <td>{{x.Clv_FacturaMaestro}}</td>
            <td>{{x.ContratoMaestro}}</td>
            <td>{{x.Fecha}}</td>
            <td>{{x.EstatusFactura}}</td>
            <td>{{x.Ticket}}</td>
            <td>{{x.Importe | currency}}</td>
            <td>{{x.TotalAbonado | currency}}</td>
            <td>

              <button ng-if="x.EstatusFactura==='Por Facturar'|| x.EstatusFactura=== 'Facturada'" class="btn ink-reaction btn-floating-action btn-xs btn-warning"
                data-toggle="tooltip" data-placement="top" title="Editar conceptos de factura" data-original-title="Tooltip on top"
                ng-click="$ctrl.Conceptos(x.Clv_FacturaMaestro,x.EstatusFactura);"><i class=" fa fa-edit
"></i></button>



          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>

  </div>

</div>
