<style>

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}

</style>

<div class="row animated fadeIn fast" style="margin-top:10px;">
    <div class="card" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">Reporte Servicios Por Instalar</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa > Reporte Servicios Por Instalar</small>
            </header>
        </div>

        <div class="card-body">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <p>Contrato Maestro</p>
                        <input type="number" class="form-control input-sm" ng-model="$ctrl.ContratoMaestro" ng-keypress="$ctrl.enterContrato($event, 3)">
                    </div>
                    <div class="col-md-1">
                        <br>
                        <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato()">Buscar</button>
                    </div>
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar tabla</button>
                        <ul class="dropdown-menu primary" role="menu">
                            <li><a class="btn btn-sm " ng-click="$ctrl.createPdfTodo('todo')"  style="white-space: normal"><img src="images/pdf.png" width="24px"> PDF</a></li>
                            <li><a class="btn btn-sm" ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"><img src="images/xls.png" width="24px"> CSV</a></li>
                        </ul>
                    </div>
                </div>
                 <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="General">
                        <div class='row'>
                            <div class="col-md-12  table-responsive" style="padding-left: 25px; padding-right: 25px; font-size:10px;">
                                <table st-safe-src="$ctrl.contratos" st-table="$ctrl.displayCollection" class="table table-striped table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th st-sort="Contrato">Contrato</th>
                                            <th st-sort="Servicio">Servicio</th>
                                            <th st-sort="Direccion">Dirección</th>
                                            <th st-sort="OrdenGenerada">Orden Generada</th>
                                            <th st-sort="FechaOrden">Fecha Orden</th>
                                            <th st-sort="Clv_Orden"># Orden</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input st-search="Contrato" placeholder="Contrato" class="input-sm form-control" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="Servicio" placeholder="Fecha Instalación" class="input-sm form-control" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="Direccion" placeholder="Fecha Desconexión" class="input-sm form-control" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="OrdenGenerada" placeholder="Fecha Baja" class="input-sm form-control" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="FechaOrden" placeholder="Servicio" class="input-sm form-control" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="Clv_Orden" placeholder="Status" class="input-sm form-control" type="search" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in $ctrl.displayCollection|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:10">
                                            <td>{{x.Contrato}}</td>
                                            <td>{{x.Servicio}}</td>
                                            <td>{{x.Direccion}}</td>
                                            <td>{{x.OrdenGenerada}}</td>
                                            <td>{{x.FechaOrden}}</td>
                                            <td>{{x.Clv_Orden}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="padding-left: 20px;">
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Resumen">
                        <div class='row'>
                            <div class="col-md-6  table-responsive" style="padding-left: 25px; padding-right: 25px; font-size:10px;">
                                <table st-safe-src="$ctrl.resumen" st-table="$ctrl.displayCollection2" class="table table-striped table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th st-sort="Status">Status</th>
                                            <th st-sort="Numero">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="$ctrl.resumen.length>0" dir-paginate="x in $ctrl.displayCollection2|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:10">
                                            <td>{{x.Status}}</td>
                                            <td>{{x.Total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="padding-left: 20px;">
                                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
                    <div class="col-sm-3">
                        <button class="btn btn-csv btn-sm " ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal;display:none;"> Exportar todo <br/> como CSV </button>
                    </div>
                    <button class="btn btn-default" style="display:none;" id="csvDos" ng-hide="$ctrl.csvDosHide" csv-column-order="$ctrl.predicates"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true">
                        esconder botón visible data as csv
                    </button>
            </div>
        </div>
    </div>
</div>