<style>

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}

</style>

<div class="row animated fadeIn fast" style="margin-top:10px;">
    <div class="card" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">Reporte Servicios Por Instalar</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa > Reporte Servicios Por Instalar</small>
            </header>
        </div>

        <div class="card-body">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <p>Fecha</p>
                        <input type="date" class="form-control input-sm" ng-model="$ctrl.Fecha">
                    </div>
                    <div class="col-md-2" style="margin-top:10px">
                        <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox" ng-model="$ctrl.Vencidas"><span>Facturas Vencidas</span>
                        </label>
                    </div>
                    <div class="col-md-2" style="margin-top:10px">
                        <label class="checkbox-inline checkbox-styled checkbox-info">
                            <input type="checkbox" ng-model="$ctrl.PorVencer"><span>Facturas por Vencer</span>
                        </label>
                    </div>
                    <div class="col-md-1">
                        <br>
                        <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato()">Buscar</button>
                    </div>
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar tabla</button>
                        <ul class="dropdown-menu primary" role="menu">
                            <li><a class="btn btn-sm " ng-click="$ctrl.createPdfTodo('todo')"  style="white-space: normal"><img src="images/pdf.png" width="24px"> PDF</a></li>
                            <li><a class="btn btn-sm" ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"><img src="images/xls.png" width="24px"> CSV</a></li>
                        </ul>
                    </div>
                </div>
                 
                <div class='row'>
                    <div class="col-md-12  table-responsive" style="padding-left: 25px; padding-right: 25px; font-size:10px;">
                        <table st-safe-src="$ctrl.contratos" st-table="$ctrl.displayCollection" class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th st-sort="Contacto">Nombre Comercial</th>
                                    <th st-sort="Telefono">Teléfono</th>
                                    <th st-sort="SaldoVencido">Saldo Vencido</th>
                                    <th st-sort="FechaVencimiento">Fecha Vencimiento</th>
                                    <th st-sort="FechaEmision">Fecha Emisión</th>
                                    <th st-sort="DiasCredito">Días de Crédito</th>
                                    <th st-sort="ImporteFactura">Importe Factura</th>
                                    <th st-sort="TotalAbonado">Total Abonado</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="Contacto" placeholder="Nombre Comercial" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Telefono" placeholder="Teléfono" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="SaldoVencido" placeholder="Saldo Vencido" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="FechaVencimiento" placeholder="Fecha Vencimiento" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="FechaEmision" placeholder="Fecha Emisión" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="DiasCredito" placeholder="Días de Crédito" class="input-sm form-control" type="search" />
                                    </th>
                                    <th>
                                        <input st-search="ImporteFactura" placeholder="Importe Factura" class="input-sm form-control" type="search" />
                                    </th>
                                    <th>
                                        <input st-search="TotalAbonado" placeholder="Total Abonado" class="input-sm form-control" type="search" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="x in $ctrl.displayCollection|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:10">
                                    <td>{{x.Contacto}}</td>
                                    <td>{{x.Telefono}}</td>
                                    <td>{{x.SaldoVencido|currency}}</td>
                                    <td>{{x.FechaVencimiento}}</td>
                                    <td>{{x.FechaEmision}}</td>
                                    <td>{{x.DiasCredito}}</td>
                                    <td>{{x.ImporteFactura|currency}}</td>
                                    <td>{{x.TotalAbonado|currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="padding-left: 20px;">
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
                    <div class="col-sm-3">
                        <button class="btn btn-csv btn-sm " ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal;display:none;"> Exportar todo <br/> como CSV </button>
                    </div>
                    <button class="btn btn-default" id="csvDos" ng-hide="$ctrl.csvDosHide" style="display:none;" csv-column-order="$ctrl.predicates"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true">
                        esconder botón visible data as csv
                    </button>
            </div>
        </div>
    </div>
</div>