<style>

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
}

</style>

<div class="row animated fadeIn fast" style="margin-top:10px;">
    <div class="card" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">Reporte Recepción de Pagos</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa > Reportes</small>
            </header>
        </div>

        <div class="card-body">
            <div class="panel-group" id="accordion3">
                <div class="card panel">
                    <div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
                        aria-expanded="false">
                        <header><i class="fa fa-search"></i> Buscar contrato</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <p>Contrato Maestro</p>
                                    <input type="number" class="form-control input-sm" ng-model="$ctrl.ContratoMaestro" ng-keypress="$ctrl.enterContrato($event, 3)">
                                </div>
                                <div class="col-md-1">
                                    <br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(3)">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <p>Factura</p>
                                    <input type="text" ng-model="$ctrl.Ticket" class="form-control input-sm" ng-keypress="$ctrl.enterContrato($event, 2)">
                                </div>
                                <div class="col-md-1">
                                    <br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(2)">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <p>Nombre Comercial</p>
                                    <input type="text" class="form-control input-sm " ng-model="$ctrl.Cliente" ng-keypress="$ctrl.enterContrato($event, 4)">
                                </div>
                                <div class="col-md-1">
                                    </br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(4)">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <p>Contrato Cliente</p>
                                    <input type="text" class="form-control input-sm " ng-model="$ctrl.ContratoCliente" ng-keypress="$ctrl.enterContrato($event, 7)">
                                </div>
                                <div class="col-md-1">
                                    </br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(7)">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <p>Fecha de Facturación</p>
                                    <input type="date" ng-model="$ctrl.Fecha" class="form-control input-sm" ng-keypress="$ctrl.enterContrato($event, 1)">
                                </div>
                                <div class="col-md-1">
                                    <br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(1)">Buscar</button>
                                </div>
                                <br>
                                <div class="col-md-2">
                                    <p>Fecha de Pago</p>
                                    <input type="date" ng-model="$ctrl.FechaPago" class="form-control input-sm" ng-keypress="$ctrl.enterContrato($event, 6)">
                                </div>
                                <div class="col-md-1">
                                    <br>
                                    <button class="btn btn-info btn-xs" ng-click="$ctrl.buscaContrato(6)">Buscar</button>
                                </div>
                                <br>
                                <div class="col-md-2">
                                    <div>
                                        <div class="col-md-12">
                                            <label class="radio-inline radio-styled">
                                                <input type="radio" name="inlineRadioOptions" ng-value="1" ng-model="$ctrl.pendientes" ng-change="$ctrl.saldadas()"><span>Saldadas</span>
                                            </label>
                                        </div>
                                        <br/>
                                        <div class="col-md-12">
                                            <label class="radio-inline radio-styled">
                                                <input type="radio" name="inlineRadioOptions" ng-value="2" ng-model="$ctrl.pendientes" ng-change="$ctrl.saldadas()"><span>Pendientes</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel body -->
                    </div>
                </div>
                <!--end .panel -->
            </div>

            <div class="col-md-12">
              
                   
                

                <div class="row">
                    <div class="btn-group">
                        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar tabla</button>
                        <ul class="dropdown-menu primary" role="menu">
                            <li><a class="btn btn-sm " ng-click="$ctrl.createPdfTodo('todo')"  style="white-space: normal"><img src="images/pdf.png" width="24px"> PDF</a></li>
                            <li><a class="btn btn-sm" ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"><img src="images/xls.png" width="24px"> CSV</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12  card scroll  table-responsive" style="padding-left: 25px; padding-right: 25px; font-size:10px; overflow-y:scroll; max-height:300px;">
                        <table st-safe-src="$ctrl.pagos" st-table="$ctrl.displayCollection" class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th st-sort="ContratoMaestro">Contrato maestro</th>
                                    <th st-sort="Ticket">Factura</th>
                                    <th st-sort="Cliente">Nombre Comercial</th>
                                    <th st-sort="Tipo">Tipo</th>
                                    <th st-sort="FechaFacturacion">Fecha de Facturación</th>
                                    <th st-sort="ImporteFactura">Importe</th>
                                    <th st-sort="PagoInicial">Pago Inicial</th>
                                    <th st-sort="ACuantosPagos">Pagos</th>
                                    <th st-sort="TotalAbonado">Total Abonado</th>
                                    <th st-sort="pendiente">Saldo Pendiente</th>
                                    <th st-sort="Sucursal">Sucursal</th>
                                    <th st-sort="Cajera">Cajera</th>
                                    <th st-sort="Caja">Caja</th>
                                    <th st-sort="MedioPago">Medio Pago</th>
                                    <th st-sort="ImportePago">Importe</th>
                                    <th st-sort="FechaPago">Fecha</th>
                                    <th st-sort="FechaPago">Contrato</th>
                                    <th st-sort="ImporteFacCliente">Importe</th>
                                    <th st-sort="MontoAbono">Monto</th>
                                    <th st-sort="PorPagar">Saldo Pendiente</th>
                                    <th st-sort="Saldada2">Saldada</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="ContratoMaestro" placeholder="Contrato maestro" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Ticket" placeholder="Factura" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Cliente" placeholder="Nombre Comercial" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Tipo" placeholder="Tipo" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="FechaFacturacion" placeholder="Fecha de Facturación" class="input-sm form-control media" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="ImporteFactura" placeholder="Importe" class="input-sm form-control media" type="search" />
                                    </th>
                                    <th>
                                        <input st-search="PagoInicial" placeholder="Pago Inicial" class="input-sm form-control" type="search"/ >
                                    </th>
                                    <th>
                                        <input st-search="ACuantosPagos" placeholder="Pagos" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="TotalAbonado" placeholder="Total Abonado" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="pendiente" placeholder="Saldo Pendiente" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Sucursal" placeholder="Sucursal" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Cajera" placeholder="Cajera" class="input-sm form-control media" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Caja" placeholder="Caja" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="MedioPago" placeholder="Medio Pago" class="input-sm form-control media" type="search" />
                                    </th>
                                    <th>
                                        <input st-search="ImportePago" placeholder="Importe" class="input-sm form-control" type="search"/ >
                                    </th>
                                    <th>
                                        <input st-search="FechaPago" placeholder="Fecha" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Contrato" placeholder="Contrato" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="ImporteFacCliente" placeholder="Importe" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="MontoAbono" placeholder="Monto" class="input-sm form-control" type="search"/>
                                    </th>
                                     <th>
                                        <input st-search="PorPagar" placeholder="Saldo Pendiente" class="input-sm form-control" type="search"/>
                                    </th>
                                    <th>
                                        <input st-search="Saldada2" placeholder="Saldada" class="input-sm form-control" type="search"/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="$ctrl.pagos.length>0" ng-repeat="x in $ctrl.displayCollection">
                                    <td>{{x.ContratoMaestro}}</td>
                                    <td>{{x.Ticket}}</td>
                                    <td>{{x.Cliente}}</td>
                                    <td>{{x.Tipo}}</td>
                                    <td>{{x.FechaFacturacion}}</td>
                                    <td>{{x.ImporteFactura | currency}}</td>
                                    <td>{{x.PagoInicial | currency}}</td>
                                    <td>{{x.ACuantosPagos}}</td>
                                    <td>{{x.TotalAbonado | currency}}</td>
                                    <td>{{x.ImporteFactura - x.TotalAbonado | currency}}</td>
                                    <td>{{x.Sucursal}}</td>
                                    <td>{{x.Cajera}}</td>
                                    <td>{{x.Caja}}</td>
                                    <td>{{x.MedioPago}}</td>
                                    <td>{{x.ImportePago | currency}}</td>
                                    <td>{{x.FechaPago}}</td>
                                    <td>{{x.Contrato}}</td>
                                    <td>{{x.ImporteFacCliente | currency}}</td>
                                    <td>{{x.MontoAbono | currency}}</td>
                                    <td>{{x.PorPagar | currency}}</td>
                                    <td><input type="checkbox" name="" ng-checked="{{x.Saldada2}}" ng-disabled="true"></td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                    <!--<div class="col-sm-3">
                        <button class="btn btn-csv btn-sm " ng-hide="$ctrl.todoAsCsv" ng-click="$ctrl.crearTodoAsCsv()"  style="white-space: normal"> Exportar todo <br/> como CSV </button>
                    </div>-->
                    <button class="btn btn-default" id="csvDos" ng-hide="$ctrl.csvDosHide" csv-column-order="$ctrl.predicates"  ng-csv="$ctrl.arrayReporte" filename="{{ $ctrl.filename }}.csv" field-separator="," decimal-separator="."  add-bom="true">
                        esconder botón visible data as csv
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>