<style type="text/css">
  .scrollDiv {
    height: 450px;
    overflow: auto;
    overflow-x: hidden;
  }

</style>
<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Cancelación y Reimpresión de facturas</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Facturas</small>

    </header>
  </div>

  <div class="card-body">
    <div class="panel-group" id="accordion3">
      <div class="card panel">
        <div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
          aria-expanded="false">
          <header><i class="fa fa-search"></i> Buscar factura</header>
          <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">

            <div class="row">
              <br/>
              <div class="col-md-2">


                <input type="text" class="form-control input-sm" placeholder="Serie y Folio" ng-model="$ctrl.folio">


              </div>
              <div class="col-md-1">

                <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(2);"><i class="fa fa-search"></i> Buscar</button>
              </div>

              <div class="col-md-1">

                <input type="number" placeholder="Contrato" class="form-control input-sm" ng-model="$ctrl.contrato">
              </div>
              <div class="col-md-1">

                <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(3);"><i class="fa fa-search"></i> Buscar</button>
              </div>

              <div class="col-md-2">
                <input type="text" class="form-control input-sm" placeholder="nombre" ng-model="$ctrl.cliente">
              </div>
              <div class="col-md-1">

                <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(4);"><i class="fa fa-search"></i> Buscar</button>
              </div>
              <div class="col-md-2">
                <input type="date" class="form-control input-sm" ng-model="$ctrl.fecha">
              </div>
              <div class="col-md-1">
                <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(1);"><i class="fa fa-search"></i> Buscar</button>

              </div>
            </div>
          </div>
        </div>
        <!-- panel body -->
      </div>
    </div>
    <!--end .panel -->
  </div>



  <div class="col-md-12 table-responsive">

    <table class="table" style="font-size:13px;">
      <thead>
        <tr>
          <th>Contrato Maestro</th>

          <th>Factura original</th>
          <th>Status</th>
          <th>Fecha</th>
          <th>Importe</th>
          <th>Nombre comercial</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr dir-paginate="x in $ctrl.Tickets|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
          <td>{{x.ContratoMaestro}}</td>

          <td>{{x.Ticket}}</td>
          <td>{{x.Status}}</td>
          <td>{{x.Fecha}}</td>

          <td>{{x.Importe | currency}}</td>
          <td>{{x.Cliente}}</td>
          <td>
            <button class="btn ink-reaction btn-floating-action btn-xs btn-default-bright" ng-click="$ctrl.opcionTicket(1,x);"><i class="fa fa-print"></i></button>
            <button class="btn ink-reaction btn-floating-action btn-xs btn-default-bright" ng-click="$ctrl.opcionTicket(3,x);"><i class="fa fa-envelope-o"></i></button>
            <button class="btn ink-reaction btn-floating-action btn-xs btn-danger" ng-if="x.Status!='Cancelada'" ng-click="$ctrl.opcionTicket(2,x);"><i class="fa fa-ban"></i></button>
            

        </tr>
      </tbody>
    </table>
    <div style="padding-left: 20px;">
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
      </dir-pagination-controls>
    </div>
  </div>

</div>
</div>
